.main-inner {
    max-width:  988px;
    width:  100%;
    margin: 55px auto 100px;
}

.btn-back {
    font-size: 12px;
    font-weight: bold;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    letter-spacing: 1px;

    .ico-chevron--blue {
        display:  inline-block;
        transform: rotate(180deg);
        margin-right: 10px;
        background-size:  contain;
        width: 8px;
        height: 8px;
    }
}


.main-heading {
    font-size: 26px;
    font-weight: 500;
    font-family: 'sigvar';
    color: #00266b;
}

.text-info {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 1px;
}

.ico-delete {
    display: block;
}

.ico-delete:before {
    content: "\E617";
    font-family: 'sia';
    font-weight: bold;
    color: #555555;
    font-style: normal;
}

.ico-alert {
    display: block;
}

    .ico-alert:before{
        content: "\e602";
        font-family: "sia";
        font-style: normal;
        font-weight: normal;
        display: block;
        width: 22px;
        text-align: center;
        color: #666666;
    }

.validation_container {
    display: block;
    color: #e20000;
    padding: 5px;
}

.hidden {
    display: none;
}

.form-group {
    position: relative;
}

.ico-clear {
    font-size: 12px;
    font-family: 'sia';
    color: #000;
    display: none;
}

.ico-clear:before {
    content: "\e60d"; 
}

.input-wrap .ico-clear {
    position:  absolute;
    right: 10px;
    top: 15px;
}

[class^="ico-"]:before, [class*=" ico-"]:before {
    font-family: "sia";
}

/*FLIGHT INFO*/
.itinerary-top {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom:  10px;
    margin-bottom: 15px;

    .flight-info-title {
        font-size: 16px;
        color: #00266b;
        font-weight:  600;
        margin: 0;
        display: inline-block;
        width: 60%;
    }

    .flight-type {
        width: 40%;
        float: right;
        text-align:  right;
        text-transform: uppercase;
        color: #1c5d49;
        font-weight: 700;
    }
}

.itinerary-inner {
    padding: 0 25px;

    span {
        line-height: 1.4;
    }

    .stop-time {
        font-size: 12px;
        font-weight: bold;
        color: #000;
    }

    .flight-station-info {
        margin: 10px 0;

        span {
            display:  block;
            line-height: 1.4;
            color: #000000;
            font-size: 12px;
        }

        .flight-start {
            display:  inline-block;
            vertical-align: top;
            width: 14%;
        }

        .flight-stop {
            display:  inline-block;
            vertical-align: top;
            width: 28%;
            margin-right: 2%;

            .flight-stop-detail {
                position:  relative;
                width:  100%;
                height:  100%;
                display:  block;
                margin-top: 15px;

                .ico-flight {
                    font-size: 24px;
                    color: #00266B;
                    z-index: 1;
                    position: absolute;
                    left: 50%;
                    top: 12%;
                    width: 35px;
                    height: 35px;
                    display:  block;
                    background-size: contain;
                    margin-top: -17.5px;
                    margin-left: -17.5px;
                }
            }

            .flight-duration {
                text-align:  center;
                display:  block;
                color: #555555;
                font-weight: normal;
                font-size: 12px;
                margin-top: 15px;
            }

        }

        .flight-return {
            display:  inline-block;
            vertical-align: top;
            width: 14%;
        }

        .airline-info {
            display:  inline-block;
            vertical-align: top;
            width: 30%;
            margin-left: 10%;

            span {
                color: #000000;
                font-weight: normal;
                font-size: 12px;
                line-height:  1.4;
            }

            .airline-detail {
                display:  block;

                img {
                    width: 25px;
                    height: 29px;
                    position: relative;
                    display:  inline-block;
                    vertical-align: bottom;
                }

                .name {
                    color: #222222;
                    font-weight: normal;
                    font-size: 14px;
                    display: inline-block;

                    strong {
                        font-size:  14px;
                    }

                    span {
                        font-size:  12px;
                        display: inline-block;
                    }
                }
            }

            .name-plane {
                display:  block;
            }

            .economy {
                color: #1c5d49;
                font-weight: bold;
            }
        }

        .flight-hour {
            color: #222222;
            font-weight: bold;
            font-size: 22px;
        }

        .flight-country {
            font-weight: 700;
        }

        .flight-date {
            font-weight: 600;
        }

        .flight-place {
            color: #666666;
            white-space:  nowrap;
        }
    }
}

/*END OF FLIGHT INFO*/

/*FARE SUMMARY*/
.fare-summary-title {
    font-size: 16px;
    color: #00266b;
    font-weight: 600;
    margin: 0;
}

.fare-title-wrap, .fare-name-amount, .taxes-name-amount, .subtotal-name-amount {
    margin-bottom: 10px;
    color: #222222;
    font-size: 14px;
}

.fare-name-amount {
    padding-left:  15px;
}

.fare-title-wrap span {
    font-weight:  700;
    text-transform:  uppercase;
}

.subtotal-name-amount span {
    font-weight:  700;
}

.amount-title, .fare-amount, .taxes-amount, .subtotal-amount {
    float:  right;
}

/*END OF FARE SUMMARY*/







