<div class="payment-component">
	<component-loader ref="header" :components="headerComponent"></component-loader>
    <div class="main-inner">
    	<a href="#" class="btn-back">
	        <span class="ico-chevron--blue"></span>BACK			
	    </a>
	    <div class="heading-wrapper">
	    	<h2 class="main-heading">Review your booking</h2>
	    	<p class="text-info">Review your booking and complete your payment and authentication within [number] minutes, or this booking session may expire.</p>
	    </div>

	    <!-- ACCORDION COMPONENT -->
	    <payment-accordion-component :bookingsummarydata="pageData.bookingData"></payment-accordion-component>
	    <!-- END OF ACCORDION COMPONENT -->

	    <div class="heading-wrapper promo-heading">
	    	<h2 class="main-heading">Select Payment Method</h2>
	    	<div class="sub-title">
				<a href="#"><span class="text">Currency conversion fees </span></a>may be charged for bookings made with a credit or debit card.
	        </div>
	    </div>

	    <!-- PROMO CODE COMPONENT -->
	    <promo-code-component></promo-code-component>
	    <!-- END OF PROMOCODE COMPONENT -->

	     <!-- PAY WITH MILES COMPONENT -->
	     <form id="payments-form" method="post" action="#" novalidate="novalidate">
	     <pay-miles-component></pay-miles-component>	   
	    <!-- END OF PAY WITH MILES COMPONENT -->

		<!-- PAYMENT METHOD -->
		<payment-method-component :paymentinfo="pageData.paymentData" :bookinginfo="pageData.bookingData" :cardinfo="pageData.cardData"></payment-method-component>
		<!-- END OF PAYMENT METHOD -->

		<!-- ADD ON UPSELL COMPONENT -->
	    <addon-upsell-component :upsellinfo="pageData.bookingData.bookingSummary"></addon-upsell-component>
	    <!-- END OF ADD ON UPSELL COMPONENT -->

	    <!-- TERMS AND CONDITIONS COMPONENT -->
		<terms-conditions-component></terms-conditions-component>
		<!-- TERMS AND CONDITIONS COMPONENT -->
		</form>

    </div>

    <footer-component :footerdata="pageData.footerData"></footer-component>
</div>