/*  Typography

    - Page header
    - Sub header
    - Section header
    - Link

*/

/* Globals
*/
$global-font-size:                  16px !default;
$global-line-height:                1.250em !default;

/* Page header
*/
$page-header-size:                  1.625em !default;
$page-header-color:                 $primary-color;


/* Intro copy
 */
$intro-copy-size:                   1.375em !default;
$intro-copy-color:                  $primary-darkgray;


/* Section header level 1
*/
$section-header-size--lv1:       1.250em !default;
$section-header-color--lv1:      $primary-color;

/* Section header level 2
*/
$section-header-size--lv2:       1.000em !default;
$section-header-color--lv2:      $primary-color;

/* Sub header level 1
*/
$sub-header-size:                   1.125em !default;
$sub-header-color:                  $primary-darkgray;

/* Body copy
*/
$body-copy-size:                    0.875em !default;
$body-copy-color:                   $primary-darkgray;;

/* Anchor link
 */

$link-color:                        #0254EC;
