@import "_typography_variables";

/* Headings
*/
.heading {
    
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    font-style: normal;

    h1, &-1 {
        font-size: 1.500em;
    }
    h2, &-2 {
        font-size: 1.250em;
    }
    h3, &-3 {
        font-size: 1.125em;
    }
    h4, &-4 {
        font-size: 1em;
    }
}

.subheader {

    font-family: "proxima-nova";
    font-weight: 600;
    font-style: normal;
    &-1 {
        font-size: 1em;
    }
    &-2 {
        font-size: 0.875em;
    }
}


.small {

    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;

    &-1 {
        font-size: 0.75em;
    }

    &-2 {
        font-size: 0.625em;
    }
}

.page_header {
	font-family: 'sigvar', serif;
	font-size: $page-header-size;
    color: $page-header-color;
    font-weight: 400;
}

.intro_copy {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: $intro-copy-size;
    font-weight: 300;
    font-style: normal;
    color: $intro-copy-color;
    line-height: 1.375em; 
}

.page_subheader {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    font-style: normal;
	font-size: $sub-header-size;
    color: $sub-header-color;
}

.section_header {
	&--lv1 {
        font-family: 'sigvar', serif;
		font-size: $section-header-size--lv1;
		color: $section-header-color--lv1;
	}
	&--lv2 {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-weight: bold;
        font-style: normal;
		font-size: $section-header-size--lv2;
		color: $section-header-color--lv2;
	}
}

/* Inline elements
 */

a, 
a.link,
.link {
    color: $link-color;
    transition: color 400ms ease 0s;
    text-decoration: none;
}

span, 
.span, 
span.span {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
}

strong,
.strong,
.text-bold {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    font-style: normal;
}

em, 
.emphasis, 
em.em {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 0.875em;
}

small,
.fineprint {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 0.750em;
    font-weight: 400;
}


/* Body copy
 */

h1, h2, h3, h4 {
    line-height: 1em;
    font-weight: 700;
}

p {
	font-size: 1rem;
	line-height: 1.5em;
}

p a {
	text-decoration: none;
	text-shadow: 0.05em 0 0 #fff, -0.05em 0 0 #fff, 0 0.05em 0 #fff, 0 -0.05em 0 #fff, 0.01em 0 0 #fff, -0.01em 0 0 #fff, 0 0.1em 0 #fff, 0 -0.01em #fff;
	background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
	background-repeat: repeat-x;
	background-position: bottom 0.05em center;
	background-size: 100% 0.05em;
}

p a:focus {
	outline: none;
    background-color: #0254EC;
    color: white;
}

a.link__action {
    font-size: 0.85rem;
}

// List
ul, ol {
    font-size: 1em;
    line-height: 1.5em;
}

ol li {
    list-style: decimal;
}