@import './src/assets/styles/atoms/import/_color_palette';
@import './src/assets/styles/atoms/import/_color_theme';
@import './src/assets/styles/atoms/typography/_typography';
@import './src/assets/styles/atoms/mixins/_icon';


%ticker_base_styles {
	color: #fff;
    text-transform: uppercase;
    background: #444;
    border-radius: 2px;
    font-weight: 600;
    position: relative;
    width: 40px;
    text-align: center;
    font-size: 1rem;
    padding: 1px 5px;
}

%input_icon_base_style {
	background-position: 95% center;
	background-repeat: no-repeat;
}

.passenger-selection {
    position: relative;
    
    .passenger-label {
        width: 100%;
    }

    .passenger-list {
        position: absolute;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 999;
    }

    .pax-list .control {
        float: right;
    }
}

/* Extend suggestions */
.children_count__class {
	.input_wrapper.open {
		@include render-icon('icon-chevron-up');
		@extend %input_icon_base_style;
	}
	.suggestions {
		width: 100%;

		.suggest-item.selected {
			@include render-icon('icon-tick-orange');
			@extend %input_icon_base_style;
		}

		.suggest-item {
			&:hover {
				background-color: $util-neutral-2;
			}
			padding: 10px 15px;
			font-size: 0.875rem;
		}

	}
}

.room_accommodation_remove-edit {
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 15px;
    margin-bottom: 17px;
}

.room_accommodation_remove-edit h4 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 13px;
}

.room_accomodation_info-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.remove-edit-info {
    text-align: right;
}

.room_accomodation--adult {
    font-size: 12px;
}

.room_accomodation--children {
    font-size: 12px;
}

.remove_info {
    position: relative;
    top: -4px;
    font-size: 14px;
}

.edit_info {
    position: relative;
    top: -4px;
    font-size: 14px;
    margin-left: 10px;
}

.dropdown__controls--footer-action {
}

.dropdown__controls--footer-action .secondary_action {
    flex: 3;
}

.dropdown__controls--footer-action .primary_action .btn-primary {
    height: 2.7rem;
}

.remove-edit-info .edit_info:before {
    display: block;
    content: '';
    width: 1px;
    height: 10px;
    position: absolute;
    left: -7px;
    top: 6px;
    border-left: solid 1px #E5E9F0;
}
