<div class="passenger-selection" v-on-clickaway="closeState">
    <slot name="passenger-count-input" :state="state" :openState="openState" :countLabel="getPassengerCountLabel">
        <input type="text" @focus="openState" class="passenger-label">
    </slot>

    <div class="passenger-list" v-if="state">
        <div class="passenger__count">
            <div class="room__accommodation">
                <div class="room__accommodation_count">
                    <div class="dropdown__entry room__accommodation--entry room__accommodation--adult">
                        <div class="room__accommodation_count--adult-count">
                            <div class="dropdown__label"><strong>Adult</strong> <span class="room__accommodation--age-range">12 years
                                    and above</span></div>
                            <div class="dropdown__control room__accommodation--number-ticker">
                                <div class="input__number--ticker">
                                    <div class="input__number--ticker-control">
                                        <button :disabled="isDisabledMinus('adult') ? 'disabled' : false" @click="passengerRemove(value, 'adult')" type="button" class="btn--image_icon input__number--ticker-minus minimum_number"></button>
                                    </div>
                                    <div class="input__number--ticker-number">{{ value.adult }}</div>
                                    <div class="input__number--ticker-control">
                                        <button :disabled="isDisabled('adult') ? 'disabled' : false" @click="passengerAdd(value, 'adult')" type="button" class="btn--image_icon input__number--ticker-plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown__entry room__accommodation--children">
                        <div class="room__accommodation--children-count">
                            <div class="dropdown__label"><strong>Children</strong> <span class="room__accommodation--age-range">2-17
                                    years at time of travel</span></div>
                            <div class="dropdown__control room__accommodation--number-ticker">
                                <div class="input__number--ticker">
                                    <div class="input__number--ticker-control">
                                        <button :disabled="isDisabledMinus('children') ? 'disabled' : false" @click="passengerRemove(value, 'children')" type="button" class="btn--image_icon input__number--ticker-minus"></button>
                                    </div>
                                    <div class="input__number--ticker-number">{{ value.children }}</div>
                                    <div class="input__number--ticker-control">
                                        <button :disabled="isDisabled('children') ? 'disabled' : false" @click="passengerAdd(value, 'children')" type="button" class="btn--image_icon input__number--ticker-plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown__entry room__accommodation--entry room__accommodation--infant">
                        <div class="room__accommodation_count--infant-count">
                            <div class="dropdown__label"><strong>Infant</strong> <span class="room__accommodation--age-range">0-23
                                    months at time of travel</span></div>
                            <div class="dropdown__control room__accommodation--number-ticker">
                                <div class="input__number--ticker">
                                    <div class="input__number--ticker-control">
                                        <button :disabled="isDisabledMinus('infant') ? 'disabled' : false" @click="passengerRemove(value, 'infant')" type="button" class="btn--image_icon input__number--ticker-minus"></button>
                                    </div>
                                    <div class="input__number--ticker-number">{{ value.infant }}</div>
                                    <div class="input__number--ticker-control">
                                        <button :disabled="isDisabled('infant') ? 'disabled' : false" @click="passengerAdd(value, 'infant')" type="button" class="btn--image_icon input__number--ticker-plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>