@import "../atoms/block";

.toggle-to-top__mobile{
    display: none;
}

.hidden-dt{
    display: none;
}
.footer {
    background: #fff;
    // background: url(/assets/images/footer-img-bg.png)  #fff no-repeat bottom left;
}

.footer_content {
    position: relative;
    // margin: 0 auto;
    // max-width: 61.75rem;
}

.footer_wrap {
    position: relative;
    &:before {
        content: '';
        background: url(/assets/images/footer-img-bg.png) no-repeat;
        position: absolute;
        // z-index: 2;
        width: 100%;
        height: 124%;
        // bottom: 0;
        // left: 0;
        top: 10%;
        left: 11%;
        transform: translateX(-30%);
        background-size: auto 180%;
        z-index: 0;
    }

    &:after {
        z-index: 1;
        content: '';
        width: 100%;
        height: 73%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    }
}

.footer_inner {
    display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));

    padding-bottom: 2.5rem;
    padding-top: 3rem;
    z-index: 2;

    * {
        z-index: 2;
    }
}

.footer_inner-top_block_ico-svg-chevron{
    background: url('/assets/images/svg/icons/chevron-blue.svg') center center transparent no-repeat; 
}

.footer_inner-top_block_inner_heading {
    // font-size: 0.875rem;
    // border-bottom: 0.0625rem solid #e2e2e2;
    color: #222;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    // padding-bottom: 0.9375rem;

    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    font-size: 0.75rem;
    padding-bottom: 0.625rem;
}

.footer_inner-top_ul {
    -webkit-padding-start: 0;
}

.footer_inner-top_list {
    color: #666;
    list-style-type: none;
    font-size: 0.875rem;
    font-weight: 100;
    overflow: hidden;

    padding-bottom: 0.625rem;

    a {
        color: #666;
        cursor: pointer;

        &:hover {
            color: #222;
        }
    }

    // &:hover {
    //     color: #222;
    // }
}

.footer_inner-social {
    // border-bottom: 0.0625rem solid #E5E9F0;
    padding-bottom: 2.5rem;
    // display: flex;
    width: 100%;
    z-index: 2;

    display: grid;
    grid-template-columns: 76.5% 23.5%;

    * {
        z-index: 2;
    }
}

.footer_inner-social_icons {
    // display: flex;
    // width: 100%;
}

.footer-social-followup-text {
    font-size: 0.75rem;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    // padding-right: 0.5rem;

    display: block;
    letter-spacing: 1.5px;
    padding-bottom: 1.25rem;
}

.footer_inner_ul {
    display: flex;
    list-style-type: none;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.footer_inner_list {
    flex-wrap: wrap;
    // padding: 0 0.375rem;
    padding-right: 1.1rem;

    // &:last-child {
    //     padding-right: 1.25rem;
    // }

    img {
        height: 1rem;
    }
}

.footer_bottom-copyright {
    font-weight: 100;
    font-size: 0.875rem;
    color: #666;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    padding: 2.5rem 0 2.25rem;
}

.footer_inner-bottom {
    border-top: 2px solid #E5E9F0;
    position: relative;
    z-index: 2;

    * {
        z-index: 2;
    }
}

.footer_inner-bottom_singapore-air-group {
    margin-top: 2rem;
    // padding-bottom: 0.9375rem;

    a {
        padding-right: 1.25rem;

        &:last-child {
            float: right;
        }
    }

    * {
        z-index: 2;
    }
}

.footer_inner-bottom_singapore-air-group_text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.625rem;
    font-weight: 600;
    color: #666;
    letter-spacing: 1px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    padding-right: 1.125rem;
}

.footer_inner-bottom_singapore-air-group_image {
    height: 1.75rem;
}

.footer_inner-social_images-content {
    flex-grow: 1;
}

.footer_inner-social_images-content_img {
    height: 3rem;
    padding-right: 1.90625rem;
    // vertical-align: bottom;

    margin-top: 0.5rem;

    &:first-child {
        vertical-align: bottom;
    }

}

.footer_inner-social_wrap {
    // width: 100%;
    padding-left: 1.25rem;
    border-left: 0.125rem solid #E5E9F0;
}

.footer-inner-social_block {
    display: flex;
}

.footer-inner-social_right {
    position: absolute;
    right: 0;

    img {
        height: 1.25rem;
        // width: 1.0625rem;
        width: 0.6875rem;
    }
}

.footer-inner-social_text {
    font-weight: 100;
    vertical-align: top;
    font-size: 0.875rem;
    color: #666;
    padding-left: 0.125rem;
}

.footer_inner-top_block-1_subscribe {
    background: #f2fbf3;
    border: 1px solid #05B410;
    border-radius: 0.25rem;
}

.footer_inner-top_block-1_subscribe_ico-wrap {
    // display: flex;
    // text-align: center;
    margin: 17px auto;

    .ico-success {
        // width: 8px;
        // height: 6px;
        padding: 0.5625rem;
        // background: url(/assets/images/svg/icons/round-check-blue.svg) no-repeat transparent 50%;
        background: url(/assets/images/tick.png) no-repeat;
        // vertical-align: sub;
    }
}

.footer_inner-top_block-1_subscribe_wrap {
    display: grid;
    grid-template-columns: 14% 87%;
}

.footer_inner-top_block-1_subscribe_text {
    font-size: 0.8125rem;
    padding-right: 0.625rem;
    -webkit-margin-before: 0.5rem;
    -webkit-margin-after: 0.5rem;
}

.footer_inner-top_email-input {
    font-size: 0.9375rem;
    color: #222;
    outline: none;
}

.footer_inner-top_email-input-wrap {
    // display: flex;
    border-bottom: 1px solid #00266b;
    padding-bottom: 0.875rem;
    display: grid;
    grid-template-columns: 94% 6%;
    outline: none;

    // .ico-chevron--blue {
    //     width: 0.625rem;
    //     height: 0.875rem;
    //     background-size: contain;
    //     margin-top: 0.3125rem;
    // }
}

.footer_inner-top_block_ico-svg-chevron {
    svg {
        height: 0.75rem;
        width: 0.75rem;
    }

    rect {
        fill: #00266b;
    }
}

.footer_inner-bottom_airline-groups-mobile {
    display: none;
}

// Extra Small devices (320px up)
@media (min-width: $breakpoint-extra-small-devices) and (max-width: 767px){
    .hidden-mb{
        display: none;
    }

    .footer{
        position:relative;
    }
    .toggle-to-top__mobile{
        display: block;
        height: 60px;
        width: 60px;
        background: url('/assets/images/svg/icons/chevron-circle-grey.svg')  center center transparent no-repeat;
        position: absolute;
        right: 0;
        // z-index: 999999;
        z-index: 2;
        margin-top: -25px;
        display: block;
    }
    .footer_content{
        overflow: hidden;
        margin-top: 50px;
    }
    .footer_wrap{

        &:before {
            width: 135%;
            height: 57%;
            top: unset;
            left: 0;
            transform: translateX(-27%);
            background-size: auto 160%;
            z-index: 0;
            bottom: 0px;
        }

        &:after{
            display: none;
        }

        &.container-center{
            position: unset;
            margin-top: 150px;
            border-top: 1px solid #ccc;
        }
    }
    .footer_inner{
        display: inline;
        .footer_inner-top_list{
            display: none;
        }
    }
    .footer_inner-bottom_airline-groups-mobile{
        display: grid;
        grid-template-columns: 58% 14% 14% 14%;
        margin-top: 30px;
        padding: 0 10px;

        p{
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.625rem;
            font-weight: 600;
            color: #000;
            letter-spacing: 1px;
            text-align: center;
        }

        a{
            text-align: center;
        }
    }
    .footer_inner-bottom_singapore-air-group{
        display: none;
        a:last-child{
            display: none;
        }
    }
    .footer_bottom-copyright{
        text-align: center;
        font-size: 12px;
        padding: 0;
        margin: 20px 10px 40px;
        color: #000;
    }
    .footer_inner-social_images-content_wrap-2{
        position: absolute;
        bottom: 10%;
        display: block;
        text-align: center;
        width: 100%;
        margin-left: -20px;
    }
    .footer_inner-social_icons{
        position: absolute;
        width: 100%;
        left: 0;
    }
    .footer_inner_ul{
        border-top: 1px solid #e5e9f0;
        border-bottom: 1px solid #e5e9f0;

        li.footer_inner_list{
            display: grid;
            border-right: 1px solid #e5e9f0;
            text-align: center;
            padding: 5px 10px;
            width: calc(100%/7);

            &:last-child{
                border-right: 0;
            }

            img{
                margin-top: 8px;
            }
        }
    }
    .footer-social-followup-text{
        display: none;
    }
    .footer_inner-top_email-input-wrap{
        margin-top: 20px;
        border-bottom: 1px solid #000000;
    }
    .footer_inner-top_block-1{
        &.media-rule{
            position: absolute;
            top: 0;
            margin-left: 20px;
            width: 90%;
            margin-right: 20px;
            margin-top: 20px;
            .footer_inner-top_block_inner_heading{
                padding: 0;
            }
        }
    }
    .footer_inner-top_block_inner_heading{
        padding: 10px 20px;
        color: #6e6e6e;
    }
    .footer_inner-social{
        grid-template-columns: 100%;
        margin-top: 0;
        height: 220px;
        margin-bottom: 0;
        position: relative;
        /* padding: 20px; */
        display: block;
        padding: 0 20px;

        .footer_inner-social_images-content_wrap{
            position: absolute;
            bottom: 35%;
            display: grid;
            /* top: 0; */
            grid-template-columns: 50% 50%;
            padding: 10px;
            /* margin-left: 0; */
            margin-right: 20px;
        }
        .footer_inner-social_images-content_img{
            height: unset;
            width: 100%;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices) and (max-width:767px){ 
    .footer_inner-social{
        height: 270px;  
    }
    .footer_inner-bottom_airline-groups-mobile{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) and (max-width: 991px) {
    .footer_inner-bottom_airline-groups-mobile {
        display: none;
    }
    .hidden-tb{
        display: none;
    }
    .footer_content{
        overflow: hidden;
    }
    .footer_inner-social_right-image{
        margin-top: 20px;
    }

    .footer_inner-social{
        grid-template-columns: 60% 20% 20%;
    }
    .footer_inner-social_icons{
        position: absolute;
        bottom: 35%;
        right: 5%;
        width: 42%;
    }
    .footer_inner-star_alliance{
        position: absolute;
        right: 5%;
        bottom: 18%;
    }
    .footer_wrap{
        padding: 25px;

        &:before{
            transform: translateX(-7%);
            top: 22%;
            height: 130%;
            left: 0;
        }

        &:after{
            display: none;
        }
    }
    .footer_inner{
        display: inline-block;
    }
    .footer_inner-top_list{
        display: none;
    }
    .footer_inner-top_block-1{
        position: absolute;
        top: 17%;
        right: 5%;
        width: 42%;
    }
    .footer_inner_ul{
        border: 1px solid #e5e9f0;
    }

    .footer_inner_list{
        border-right: 1px solid #e5e9f0;
        width: 40px;
        height: 40px;
        padding: 0 10px;
        flex-wrap: wrap;
        margin: 0 auto;
        text-align: center;

        img{
            vertical-align: middle;
            margin-top: 50%;
        }

        &:last-child{
            border-right: 0;
        }
    }

    .footer_inner-bottom_singapore-air-group{
        text-align:center;
        a{
            &:last-child{
                display: none;
            }
        }
    }
    .footer_bottom-copyright{
        text-align: center;
    }
    
}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) and (max-width: 1199px){
    .container-center{
        max-width: 57.500rem;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) { 

 }