.vue-simple-suggest.designed {
    position: relative;

    .search-field {
      width: 100%;
    }

    .suggestions {
        display: block;
        max-height: 192px;
        overflow: auto;
    }
}

.vue-simple-suggest.designed,
.vue-simple-suggest.designed * {
    box-sizing: border-box;
}

.vue-simple-suggest.designed .suggestions {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 3px;
    border: 1px solid #aaa;
    background-color: #fff;
    opacity: 1;
    z-index: 1000;
}

.vue-simple-suggest.designed .suggestions .suggest-item {
    cursor: pointer;
    user-select: none;
}
/*
.vue-simple-suggest.designed .suggestions .suggest-item.hover {
    background-color: #2874D5;
    color: #fff;
}

.vue-simple-suggest.designed .suggestions .suggest-item.selected {
    background-color: #2832D5;
    color: #fff;
}
*/