<vue-simple-suggest
    ref="autocomplete"
    :max-suggestions="max"
    v-model="item"
    :list="items"
    :debounce="debounce"
    :filter-by-query="!disabled"
    :filter="customFiltering"
    :min-length="0"
    :value-attribute="valueAttribute"
    :display-attribute="displayAttribute"
    mode="select"
    @focus="onFocus"
    @blur="onBlur"
    @select="onSelect"
    @hide-list="onHideSelect">
    <slot name="autocomplete-field" :item="item" :selected="hadSelected">
        <input v-model="item" class="search-field ref--searchinput">
    </slot>

    <div slot="suggestion-item" slot-scope="{ suggestion, query }">
        <slot name="autocomplete-suggestion" :suggestion="suggestion" :query="query">
            <span>{{ suggestion }}</span>
        </slot>
    </div>

    <template slot="misc-item-above" slot-scope="{ suggestions, query }">
        <div class="misc-item" v-if="!suggestions.length">
            <span>No results</span>
        </div>
    </template>
</vue-simple-suggest>
