/*PROMO CODE*/
.promo-heading {
    margin: 50px 0 20px;

    .main-heading {
        margin-bottom: 5px;
    }
}

.mp-block {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-bottom:  20px;
}

.title-blue {
    font-weight: 600;
    font-size: 18px;
    color: #00266b;
    margin: 5px 0 0;
}

.payment-form-group {
    width: 100%;
    position:  relative;
    margin-bottom: 10px;

    input[type=text] {
        color: #000;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-weight: 400;
        border: 1px solid #cecece;
        position: relative;
        -webkit-font-smoothing: antialiased;
        background-color: #fff;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        padding: 7px 30px 7px 13px;

        &:focus {
            border: 1px solid #2e77fd;
            outline: 0;
        }
    }

}

.has-error{
    input[type=text] {
        border: 1px solid #e20000;
        color: #e20000;

        &::placeholder{
            color: #e20000;
        }
    }

    .ico-clear {
        display:  none;
    }
}

.promo-code-wrapper .payment-form-group {
    display: inline-block;
    vertical-align: top;

    &:first-child {
        max-width:  380px;
        width: 41%;
    }

    &:last-child {
        margin-left: 15px;
        width: 22%;
    }

    .btn-primary {
        height: 40px;
        padding: 11px 30px;
        width:  100%;
        transition: all 400ms ease 0s;
        -webkit-transition: all 400ms ease 0s;
        -moz-transition: all 400ms ease 0s;
        -ms-transition: all 400ms ease 0s;
        -o-transition: all 400ms ease 0s;
        cursor: pointer;
    }
}


/*END OF PROMO CODE*/