<div class="promo-code-wrapper mp-block">
    <form id="payments-promo-code">
        <h3 class="title-blue">Enter promo code</h3>
        <p>If you have a promo code for a discount, upgrade or any other offer, enter it here.</p>
        <div class="fieldset">
            <div class="payment-form-group">
                <div ref="promoCodeReferenceRef" class="input-wrap">
                    <input v-model="promoCodeReference" v-required-model="promoCodeReference" @blur="onValidationBlur($event)" @focus="onPromoCodeReferenceFocus" v-on:keyup="checkForm" type="text" name="promoCodeReference" id="promoCodeReferenceField"
                        placeholder="Enter promo code" class="form_field form_input--text validate pristine">
                    <a href="#clear" class="ico-clear" @click="resetForm()"></a>
                    <small ref="promoCodeErrorRef" class="validation_container hidden">
                        <span class="error">Enter promo code.</span>
                    </small>
                </div>                
            </div>
            <div class="payment-form-group">
                <input @click="onPromoCodeReferenceBlur()" type="button" name="submit-promo-code" id="submit-promo-code" value="Apply" class="btn-primary">
            </div>
        </div>
    </form>
</div>