// @import "../atoms/block";
@import "../../assets/styles/atoms/import/_breakpoints";

.progress-bar-wrapper {
    display: grid;
    grid-template-columns: 1fr 61.75rem 1fr;
    background-color: #f2f2f2;
    position: relative;
    
    .progress-bar-inner{
        grid-column: 2;
        grid-row: 1;
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0;
        li{
            list-style-type: none;
            text-align: center;
        }
    }
}

.progress-bar-bg-left {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
}

.progress-bar-item_info {
    display: block;
    padding-top: 0.875em;
    padding-bottom: 0.875em;
    position: relative;
    .number{
        border: none;
        background-color: #FF9F00;
        color: #FFFFFF;
        position: inherit;
        border: 0;
        display: inline-block;
        width: 1.4375em;
        height: 1.4375em;
        clear: both;
        line-height: 1.4375em;
        border-radius: 50%;
        text-align: center;
        margin-right: 0.3125em;
        z-index: 10;
        em{
            font-weight: 700;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-style: unset;
            margin-top: 0;
            display: block;
            font-size: 0.75em;
        }
    }
    .text{
        font-weight: 700;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 0.75em;
        color: #00266B;
        letter-spacing: 0.0625em;
    }
    .arrow{
        display: none;
    }
    &.active{
        background-color: #ffffff;

        .arrow{
            display: none;
        }
    }
    &.last-active{
        background-color: #ffffff;
        .arrow {
            display: block;
            position: absolute;
            right: -1.1875em;
            background-color: #fff;
            height: 2.3125em;
            width: 2.3125em;
            top: 0.5em;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            z-index: 1;
        }
    }
}

// Extra Small devices (portrait phones, max 576px)
@media (min-width: $breakpoint-extra-small-devices)  and (max-width:575px) {
    .progress-bar-wrapper {
        display: block;
        grid-template-columns: unset;
    }
    .progress-bar-item_info {
        .text {
            display: none;
        }
    }

    .bsp-main_heading-wrap {
        padding: 0.625rem 1.25rem;
    }

    .bsp-main_details_content-total-fare {
        padding-left: 1.25rem;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices) and (max-width: 767px){ 
    .progress-bar-wrapper {
        grid-template-columns: 1fr 33.75rem 1fr;
    }
    
    .progress-bar-item_info {
        .text {
            display: none;
        }
    }

    .bsp-main_heading-wrap {
        padding: 0.625rem 1.25rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) and (max-width: 991px){ 
    .progress-bar-wrapper{
        grid-template-columns: 1fr 45rem 1fr;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) and (max-width: 1199px){ 
    .progress-bar-wrapper{
        grid-template-columns: 1fr 57.5rem 1fr;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices){ 
}