<div class="progress-bar">
    <div class="progress-bar-wrapper">
        <div class="progress-bar-bg-left"></div>
        <ul class="progress-bar-inner">
            <li v-for="(item, key) in items" class="progress-bar-item_info" :class="item.status">
                <span class="number"><em>{{ key+1 }}</em></span>
                <span class="text">{{ item.label }}</span>
                <span class="arrow"></span>
            </li>
        </ul>
    </div>
</div>