<div class="passenger-selection" v-on-clickaway="closeState">
    <slot name="passenger-count-input" :state="state" :openState="openState" :countLabel="getPassengerCountLabel">
        <input type="text" @focus="openState" class="passenger-label">
    </slot>

    <div class="passenger-list" v-if="state">
        <div class="passenger__count">
            <div class="room__accommodation" v-for="(room, roomIndex) in roomCount.room">
                <h4 class="heading-4">Room {{roomIndex + 1}}</h4>
                <div class="room_accommodation_remove-edit">
                    <div class="room_accomodation_info-wrapper" v-if="!getIfRoomIsExpanded(roomIndex)">
                        <div class="room_accomodation_info">
                            <span class="room_accomodation--adult">
                                <span class="count_label">1 </span><span class="passenger_label">Adult</span>,
                            </span>
                            <span class="room_accomodation--children">
                                <span class="count_label">2 </span><span clas="passenger_label">Children</span>
                            </span>
                        </div>
                        <div class="remove-edit-info">
                            <a class="remove_info" @click="removeRoom(roomIndex)" v-if="roomIndex != 0">Remove</a>
                            <a class="edit_info" @click="expandRoomDetails(roomIndex)">Edit</a>
                        </div>
                    </div>
                    <div class="room__accommodation_count" v-if="getIfRoomIsExpanded(roomIndex)">
                        <div class="dropdown__entry room__accommodation--entry room__accommodation--adult">
                            <div class="room__accommodation_count--adult-count">
                                <div class="dropdown__label"><strong>Adult</strong> <span class="room__accommodation--age-range">12
                                        years and above</span></div>
                                <div class="dropdown__control room__accommodation--number-ticker">
                                    <div class="input__number--ticker">
                                        <div class="input__number--ticker-control">
                                            <button :disabled="isDisabledMinus('adult') ? 'disabled' : false" @click="passengerRemove(room, 'adult')" type="button"
                                                class="btn--image_icon input__number--ticker-minus minimum_number"></button>
                                        </div>
                                        <div class="input__number--ticker-number">{{ room.adult }}</div>
                                        <div class="input__number--ticker-control">
                                            <button :disabled="isDisabled('adult') ? 'disabled' : false" @click="passengerAdd(room, 'adult')" type="button" class="btn--image_icon input__number--ticker-plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown__entry room__accommodation--children">
                            <div class="room__accommodation--children-count">
                                <div class="dropdown__label"><strong>Children</strong> <span class="room__accommodation--age-range">2-17
                                        years at time of travel</span></div>
                                <div class="dropdown__control room__accommodation--number-ticker">
                                    <div class="input__number--ticker">
                                        <div class="input__number--ticker-control">
                                            <button :disabled="isDisabledHotelMinus('children', room) ? 'disabled' : false" @click="passengerRemoveChildren(room)" type="button"
                                                class="btn--image_icon input__number--ticker-minus"></button>
                                        </div>
                                        <div class="input__number--ticker-number">{{ room.children.length }}</div>
                                        <div class="input__number--ticker-control">
                                            <button :disabled="isDisabledHotelMinus('children', room) ? 'disabled' : false" @click="passengerAddChildren(room)" type="button" class="btn--image_icon input__number--ticker-plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="room__accommodation--child-count">
                                <div v-for="(child, childIdx) in room.children" id="dropdown__entry_1" class="dropdown__entry">
                                    <div class="dropdown__label"><strong>Child {{ childIdx + 1 }}</strong></div>
                                    <div class="dropdown__control room__accommodation--number-ticker">
                                        <div class="form_field_wrapper children_count__class has-float-label">
                                            <div class="form_control">
                                                <v-autocomplete v-model="child.childAge" :items="getRange(16, 2)">
                                                    <template slot="autocomplete-field" slot-scope="{item}">
                                                        <input readonly v-model="item" type="text" name="childAge" id="childAge" class="form_field form_input--text ref--searchinput">
                                                        <label for="childAge" class="form_label" v-if="item.length <= 0">Child's
                                                            Age
                                                        </label>
                                                    </template>
                                                    <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                        <span>{{ suggestion }}</span>
                                                    </template>
                                                </v-autocomplete>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown__entry room__accommodation--entry room__accommodation--infant">
                            <div class="room__accommodation_count--infant-count">
                                <div class="dropdown__label"><strong>Infant</strong> <span class="room__accommodation--age-range">0-23
                                        months at time of travel</span></div>
                                <div class="dropdown__control room__accommodation--number-ticker">
                                    <div class="input__number--ticker">
                                        <div class="input__number--ticker-control">
                                            <button :disabled="isDisabledMinus('infant') ? 'disabled' : false" @click="passengerRemove(room, 'infant')" type="button"
                                                class="btn--image_icon input__number--ticker-minus"></button>
                                        </div>
                                        <div class="input__number--ticker-number">{{ room.infant }}</div>
                                        <div class="input__number--ticker-control">
                                            <button :disabled="isDisabled('infant') ? 'disabled' : false" @click="passengerAdd(room, 'infant')" type="button" class="btn--image_icon input__number--ticker-plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown__controls--footer-action">
                <div class="secondary_action"><a class="link__action" type="button" @click="addRoom" v-if="roomCount.room.length < 3">+ Add another room</a></div>
                <div class="primary_action"><button class="btn-primary" type="button" @click="doneAddingBookHotelDetails">DONE</button></div>
            </div>
        </div>
    </div>
</div>