<section class="flight-addon-container">
    <!-- FLIGHT ADDON COMPONENT -->
    <div class="accordion-content">
        <div class="hide-on-mobile flight-title-amount">
          <span>NZD</span>
        </div>
        <div class="passenger-addons-group">
            <div class="passenger-addon-item" v-for="addon in flightaddoninfo.bookingSummary.passengerFlightAddOns">
                <div class="passenger-person"><span>{{addon.passengerName}}</span></div>
                <div class="passenger-details-wrap">
                    <div class="passenger-details-item" v-for="segmentAddon in addon.segmentAddonDetails">
                        <span class="passenger-country">{{segmentAddon.originAirportCode + " - " + segmentAddon.destinationAirportCode}}</span>
                        <div class="passenger-deal-amount">
                            <template v-for="legAddon in segmentAddon.legAddonDetails">
                                <template v-for="addon in legAddon.legAddons">
                                    <span class="passenger-deal">{{addon.type}}</span>
                                    <span class="passenger-amount">{{addon.amount}} <a class="remove-deal" href="#" @click.stop.prevent="openModal('4')"><em class="ico-delete"></em></a></span>
                                </template>
                            </template>
                        </div>
                    </div>
                    
                    <div class="passenger-subtotal">
                        <span class="passenger-subtotal-title">Sub-total</span>
                        <span class="passenger-subtotal-amount">{{}}</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>  
    <!-- END OF FLIGHT ADDON COMPONENT -->

    <!-- REMOVE DEAL LIGHTBOX -->
    <light-box-component class="remove-deal-lightbox" :id="'4'" :active="showRemoveDeal" v-on:lightbox-closed="closeModal()">
        <div slot="body" @click.stop="">
            <button class="close-btn icon-round-close" type="button" @click="showRemoveDeal = '0'"></button>
            <h1 class="page_header">Remove deal</h1>
            <p class="deal-info">Are you sure you want to remove this deal for <span class="name">Mr Adult Pax</span> from <span class="depart">Auckland</span> to <span class="arrival">Bangkok</span>?</p>

            <div class="seat-baggage-info">
                <div class="remove-seat remove-deal-info">
                    <span class="icon">
                        <em class="ico-change-seat"></em>
                    </span>
                    <ul class="deal-details">
                        <li class="deal-label">Extra Legroom Seat</li>
                        <li class="flight-info">
                            <span class="depart">AKL</span> -
                            <span class="arrival">SIN</span>
                            <span class="number">(SQ 282)</span>
                        </li>
                        <li class="flight-info">
                            <span class="depart">SIN</span> -
                            <span class="arrival">BKK</span>
                            <span class="number">(SQ 972)</span>
                        </li>
                    </ul>
                </div>
                <div class="remove-baggage remove-deal-info">
                    <span class="icon">
                        <em class="ico-business-1"></em>
                    </span>
                    <ul clas="deal-details">
                        <li class="deal-label">Additional Baggage</li>
                        <li class="baggage-qty">10 kg</li>
                        <li class="flight-info">
                            <span class="depart">AKL</span> -
                            <span class="arrival">BKK</span>
                        </li>
                    </ul>
                </div>
            </div>

            <p class="remove-deal-note">
                <span class="note">Your Extra Legroom Seat from Auckland to Bangkok will be deselected if you remove this deal.</span>
                <span>You may reselect your seats at Manage Booking after booking is complete</span>
            </p>

            <div class="btn">
                <input type="submit" value="Remove" class="btn-primary remove-btn">
                <input type="submit" value="Do not remove" class="btn-primary close-button" @click="showRemoveDeal = '0'">
            </div>

        </div>
    </light-box-component>

    <!-- END OF REMOVE DEAL LIGHTBOX -->
</section>