/*ADD ON TABLE*/
.flight-title-amount {
    text-align:  right;
    font-weight: 700;
    padding-right: 30px;
}

.flight-addons-group span {
    font-size: 14px;
    color: #222222;
}

.passenger-addon-item {
    padding: 10px 0;
    border-top: 1px solid #F2F2F2;
}

.passenger-addon-item:first-child {
    border-top: none;
}

.passenger-person {
    display:  inline-block;
    vertical-align:  top;
    width: 24%;
}

    .passenger-person span {
        font-weight: bold;
        color: #00266B;
    }

.passenger-details-wrap {
    display:  inline-block;
    vertical-align:  top;
    width: 75%;
    padding-right: 20px;
}

.passenger-details-item {
    margin-bottom: 5px;
}

.passenger-country {
    display:  inline-block;
    vertical-align: top;
    width: 25%;
}

.passenger-deal-amount {
    display:  inline-block;
    vertical-align:  top;
    width: 74%;
}

.passenger-deal {
    display:  inline-block;
    vertical-align: top;
    width: 65%;
}

.passenger-amount {
    display:  inline-block;
    vertical-align:  top;
    width:  34%;
    text-align:  right;
    position:  relative;
}

.passenger-amount .remove-deal {
    width: 16px;
    height:  16px;
    position:  absolute;
    right: -30px;
    top: 50%;
    margin-top:  -8px;

    .ico-delete {
        display: block;

        &:before {
            content: "\e617";
            font-family: 'sia';
            font-weight: bold;
            color: #555555;
            font-style: normal;
        }
    }
}

.passenger-subtotal {
    font-weight: 700;
}

.passenger-subtotal-title {
    display:  inline-block;
    vertical-align:  top;
    width: 25%;
}

.passenger-subtotal-amount {
    display:  inline-block;
    vertical-align: top;
    width:  73.5%;
    text-align:  right;
}
/*END OF ADD ON TABLE*/

/*REMOVE DEAL LIGHTBOX*/
.remove-deal-lightbox {
    color: #222222;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: normal;
    display: block;

    .remove-deal-note {
        font-size: 14px;
    }

    .deal-info {
        font-size: 16px;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

        span {
            font-weight: bold;
        }
    }

    .seat-baggage-info {
        background-color: #E5E9F0;
        padding: 40px 30px 40px 30px;
        display: flex;
    }

    .remove-deal-info {
        display: inline-block;

        .icon {
            display: inline-block;
            margin-top: 7px;
            vertical-align: top;
        }

        em {
            font-family: "sia";
            font-style: normal;
            font-weight: normal;
            display: inline-block;
            width: 1em;
            margin-right: 0.2em;
            margin-left: 0.2em;
            text-align: center;
            vertical-align: middle;
            color: #00266B;
            font-size: 23px;
            position: relative;
            top: -10px;
        }

        .ico-change-seat:before {
            content: "\e60e";
        }

        .ico-business-1:before {
            content: "\e60a";
        }

        ul {
            display: inline-block;
            list-style:  none;
            margin: 0;
            padding: 0;
            color: #222222;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-size: 14px;
            font-weight: normal;

            .flight-info {
                font-weight: bold;
            }

            .baggage-qty {
                color: #1C5D49;
                font-weight: bold;
            }
            
        }

    }

    .remove-seat {
        width: 35%;
    }

    .remove-baggage {
        width: 64%;
    }

    .btn {
        display: block;
        width: 100%;
        margin: 20px 0 0 auto;
        text-align: right;

        .remove-btn {
            margin-right: 10px;
        }

        .btn-primary {
            min-width: 140px;
            font-weight: normal;
        }
    }

}

/*END OF REMOVE DEAL LIGHTBOX*/