<div class="booktrip_suggestions cabin-class mobile">
    <div class="class-title">
        <span>Class</span>
    </div>
    <div v-for="cabin in cabins" :class="{selected: cabin.cabinId == selected.cabinId}" class="booking-suggest-item" @click="selectedCabin(cabin)">
        <div>
            <span>{{ cabin.cabinDescription }}</span>
        </div>
    </div>
</div>