<light-box-component :id="'1'" :active="showHotel" :lightBoxWidth="'750px'" class="popup-hotel">
  <div slot="body">
    <button class="tool-tip-content_close icon-round-close" @click="openModal('0')"></button>

    <form action="#" method="POST" autocomplete="off" class="form" style="background-color: inherit;">
      <div class="form_fields_container flight_iterinary">
        <div class="form_field_wrapper flight_od">
          <div class="form_controls">
            <div class="control_group">
              <div class="form_control has-float-label">
                <div class="vue-simple-suggest designed">
                  <div class="input_wrapper">
                    <input type="text" name="flightOrigin" id="flightOrigin" placeholder=" " class="form_field form_input--text ref--searchinput validate pristine">
                    <label for="flightOrigin" class="form_label">From</label>
                    <div class="flight__ticker"><span class="flight__origin_Text">Singapore</span> <span class="country__ticker">SIN</span></div>
                    <span class="icon icon--location"></span> <span class="icon icon--close"></span> <span class="icon icon--plane od_field__icon"></span>
                    <small class="validation_container hidden"><span class="error">Please select city</span></small>
                  </div>
                  <!---->
                </div>
              </div>
              <div class="form_control has-float-label">
                <div class="vue-simple-suggest designed">
                  <div class="input_wrapper"><input type="text" name="flightDestination" id="flightDestination"
                      placeholder=" " class="form_field form_input--text ref--searchinput validate pristine"> <label
                      for="flightDestination" class="form_label">To</label>
                    <!----> <span class="icon icon--location"></span>
                    <!----> <small class="validation_container hidden"><span class="error">Please select city</span></small></div>
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form_field_wrapper flight_date">
          <div class="form_controls">
            <div class="control_group has-float-label">
              <div class="calendar-root">
                <div class="control_group">
                  <div class="form_control">
                    <div class="input_wrapper"><input type="text" name="departDate" id="departDate" placeholder=" "
                        class="form_field form_input--text ref--start validate">
                      <label for="departDate" class="form_label">Depart Date</label> <span class="icon icon--calendar"></span>
                      <small class="validation_container hidden"><span class="error">Please select date</span></small></div>
                  </div>
                  <div class="form_control">
                    <div class="input_wrapper"><input type="text" name="returnDate" id="returnDate" placeholder=" "
                        class="form_field form_input--text ref--end validate pristine">
                      <label for="returnDate" class="form_label">Return Date</label> <span class="icon icon--calendar"></span></div>
                  </div>
                </div>
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form_fields_container flight_boarding_details">
        <div class="form_field_wrapper cabin__class">
          <div class="form_control has-float-label">
            <div class="vue-simple-suggest designed">
              <div class="input_wrapper"><input readonly="readonly" type="text" name="flightClass" id="flightClass"
                  class="form_field form_input--text ref--searchinput">
                <label for="flightClass" class="form_label">Class</label> <small class="validation_container hidden"><span
                    class="error">Class needed</span></small></div>
              <!---->
            </div>
          </div>
        </div>
        <div class="form_field_wrapper">
          <div class="form_control has-float-label">
            <div class="passenger-selection">
              <div class="input_wrapper"><input readonly="readonly" type="text" name="flightPassengers" id="flightPassengers"
                  placeholder=" " class="form_field form_input--text"> <label for="flightPassengers" class="form_label">Passengers</label></div>
              <small class="validation_container hidden"><span class="error">Validation error</span></small>
              <!---->
            </div>
          </div>
        </div>
        <div class="form_field_wrapper">
          <div class="form_control"><button type="button" class="btn btn-primary">Search</button></div>
        </div>
      </div>
    </form>
  </div>
</light-box-component>