<div class="wrapper-app">
    <component-loader ref="header" :components="headerComponent"></component-loader>
    <!-- <progress-bar-component :items="pageData.progressData"></progress-bar-component> -->
    <bsp-component></bsp-component>
    <div class="main">
        <div class="passenger-us-bound">
            <div class="container-center">
                <div class="passenger-us-bound-header">
                    <h1 class="passenger-us-bound-header-title">Passenger details</h1>
                    <p class="passenger-us-bound-paragraph">Each passenger must hold a valid passport (and visa(s), If required)
                        to be allowed entry into each destination on the flight itinerary. Singapore Airlines cannot be held
                        responsible if a passenger is denied entry and/or deported by any local authority.</p>
                </div>
                <inline-kf-login-component></inline-kf-login-component>
                <div class="passenger-us-bound-content">
                    <sticky-pax-tabs-component v-model="jsonData"></sticky-pax-tabs-component>
                    <section>
                        <form action="">
                            <fieldset v-for="(passenger, index) in jsonData.passengers">
                                <div class="passenger-adult-form">
                                    <div class="us-bound-passenger-blk-heading">
                                        <h2 class="us-bound-passenger-blk-heading-title">PASSENGER {{index+1}} - ADULT</h2>
                                        <p class="us-bound-passenger-blk-heading-paragraph">Please complete all the fields
                                            marked with</p>
                                    </div>
                                    <div class="passenger-us-bound-passenger-details">
                                        <h3 class="passenger-us-bound-passenger-details-title">Your details</h3>
                                        <div class="your-deatils">
                                            <div>
                                                <div class="passenger-details-title-wrapper">
                                                    <label for="" class="passenger-us-bound-label">Title*</label>
                                                    <div class="form_field_wrapper cabin__class">
                                                        <div class="form_control has-float-label">
                                                            <v-autocomplete v-model="paxDetails.title" value-attribute="cabinId" :items="personTitles.Title">
                                                                <template slot="autocomplete-field" slot-scope="{item}">
                                                                    <input readonly type="text" name="flightClass" id="flightClass" class="form_field form_input--text ref--searchinput" v-model="item.value">
                                                                    <em class="ico-dropdown"></em>
                                                                    <small class="validation_container hidden">
                                                                        <span class="error">Class needed</span>
                                                                    </small>
                                                                </template>
                                                                <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                                    <span>{{ suggestion.value }}</span>
                                                                </template>
                                                            </v-autocomplete>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row">
                                                <div class="grid-row--position">
                                                    <label for="" class="passenger-us-bound-label">First / Given name (as
                                                        in passport)*</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="text" placeholder=" " v-model="passenger.firstName" class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="custom-checkbox custom-checkbox--1 passenger-1">
                                                            <input name="checkbox-name-first" id="checkbox-name-first" type="checkbox">
                                                            <label for="checkbox-name-first">This passenger does not have
                                                                a first/given name in the passport.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-row--position grid-row--position--right">
                                                    <label for="" class="passenger-us-bound-label">Last / Family name (as
                                                        in passport)*</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="text" placeholder=" " v-model="passenger.lastName" class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                            <!---->
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="custom-checkbox custom-checkbox--1 passenger-1">
                                                            <input name="checkbox-name-last" id="checkbox-name-last" type="checkbox">
                                                            <label for="checkbox-name-last">This passenger is under 18 years
                                                                old.
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="passenger-us-bound-gender grid-row">
                                                <label for="" class="passenger-us-bound-label">Gender*</label>
                                                <div class="radio-group--left">
                                                    <div class="custom-radio custom-radio--1">
                                                        <input name="gender-sex-last" id="gender-male-last" type="radio" :checked="passenger.gender.toUpperCase() == 'M'" value="male">
                                                        <label for="gender-male-last">Male</label>
                                                    </div>
                                                    <div class="custom-radio custom-radio--1">
                                                        <input name="gender-sex-last" id="gender-female-last" type="radio" :checked="passenger.gender.toUpperCase() == 'F'" value="female">
                                                        <label for="gender-female-last">Female</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row">
                                                <div class="grid-row--position">
                                                    <label for="" class="passenger-us-bound-label">Nationality*</label>
                                                    <div class="form_field_wrapper cabin__class">
                                                        <div class="form_control has-float-label">
                                                            <v-autocomplete v-model="paxDetails.nationality" value-attribute="cabinId" :items="countryList">
                                                                <template slot="autocomplete-field" slot-scope="{item}">
                                                                    <input readonly type="text" name="flightClass" id="flightClass" class="form_field form_input--text ref--searchinput" v-model="item.countryCode">
                                                                    <em class="ico-dropdown"></em>
                                                                    <small class="validation_container hidden">
                                                                        <span class="error">Class needed</span>
                                                                    </small>
                                                                </template>
                                                                <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                                    <span>{{ suggestion.countryName }}</span>
                                                                </template>
                                                            </v-autocomplete>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-row--position grid-row--position--right">
                                                    <label for="" class="passenger-us-bound-label">Passport number*</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="text" placeholder=" " v-model="passenger.passportNumber" class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row">
                                                <div class="grid-row--position">
                                                    <label for="" class="passenger-us-bound-label">Passport place of issue</label>
                                                    <div class="form_field_wrapper cabin__class">
                                                        <div class="form_control has-float-label">
                                                            <v-autocomplete v-model="paxDetails.countryOfResidence" value-attribute="cabinId" :items="countryList">
                                                                <template slot="autocomplete-field" slot-scope="{item}">
                                                                    <input readonly type="text" name="flightClass" id="flightClass" class="form_field form_input--text ref--searchinput" v-model="item.countryCode">
                                                                    <em class="ico-dropdown"></em>
                                                                    <small class="validation_container hidden">
                                                                        <span class="error">Class needed</span>
                                                                    </small>
                                                                </template>
                                                                <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                                    <span>{{ suggestion.countryName }}</span>
                                                                </template>
                                                            </v-autocomplete>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-row--position grid-row--position--float">
                                                    <label class="passenger-us-bound-label" for="passportExpDate">Passport
                                                        expiry date*</label>
                                                    <span class="input-1 capitalize-input" style="position: relative;">
                                                        <input type="text" id="passportExpDate" name="passportExpDate" v-model="passenger.passportExpiryDate" data-rule-required="true"
                                                            style="color: transparent;" class="default valid" aria-required="true"
                                                            aria-invalid="false">
                                                        <div data-datepicker="" style="position: absolute;top: 0px;left: 5px;height: 40px;width: 100%;">
                                                            <input type="text" placeholder="DD" data-day="" :value="getDatePart(1,passenger.passportExpiryDate)" style="padding-left: 8px;background-color:transparent;width: 31px;border: none;text-align: left;height:100%;color: black;"
                                                                maxlength="2" class="valid" aria-invalid="false">
                                                            <span style="color: #999999;">/</span>
                                                            <input type="text" placeholder="MM" data-month="" :value="getDatePart(0,passenger.passportExpiryDate)" style="padding-left: 5px;background-color:transparent;width: 31px;border: none;text-align: left;height:100%;color: black;"
                                                                maxlength="2" class="valid" aria-invalid="false">
                                                            <span style="color: #999999;">/</span>
                                                            <input type="text" placeholder="YYYY " data-year="" :value="getDatePart(2,passenger.passportExpiryDate)" style="padding-left: 5px;background-color:transparent;width: 52px;border: none;text-align: left;height:100%;color: black;"
                                                                maxlength="4" class="valid" aria-invalid="false">
                                                        </div>
                                                        <p class="gigya-error-msg"></p>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="frequent-flyer-details">
                                        <div class="grid-row grid-row--percent">
                                            <h3 class="pps-kf-heading-title">Frequent flyer details</h3>
                                            <p class="pps-kf-heading-paragraph">Enter your frequent flyer details below to
                                                earn miles with your flight.</p>
                                            <div class="pps-kf-details-wrapper">
                                                <div class="travel-thumbs"></div>
                                                <p class="pps-kf-details-paragraph">PPS Club / KrisFlyer members will also
                                                    enjoy exclusive privileges and offers on Singapore Airlines and SilkAir.</p>
                                            </div>
                                        </div>
                                        <div class="grid-row">
                                            <div class="grid-row--position">
                                                <label for="" class="passenger-us-bound-label">Programme</label>
                                                <div class="form_field_wrapper cabin__class">
                                                    <div class="form_control has-float-label">
                                                        <v-autocomplete v-model="paxDetails.title" value-attribute="cabinId" :items="royalty.memberShipList">
                                                            <template slot="autocomplete-field" slot-scope="{item}">
                                                                <input readonly type="text" name="flightClass" id="flightClass" class="form_field form_input--text ref--searchinput" v-model="item.membershipTran">
                                                                <em class="ico-dropdown"></em>
                                                                <small class="validation_container hidden">
                                                                    <span class="error">Class needed</span>
                                                                </small>
                                                            </template>
                                                            <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                                <span>{{ suggestion.membershipTran }}</span>
                                                            </template>
                                                        </v-autocomplete>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row--position grid-row--position--right">
                                                <label for="" class="passenger-us-bound-label">Membership number</label>
                                                <div class="form_control">
                                                    <div class="vue-simple-suggest designed">
                                                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                            <input type="text" placeholder=" " v-model="passenger.kfNumber" class="form_field form_input--text form_input--size">

                                                            <span class="icon icon--close"></span>
                                                            <small class="validation_container hidden">
                                                                <span class="error"></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <apis-information-component v-model="jsonData"></apis-information-component>
                                </div>
                                <div class="passenger-contact-details-form">
                                    <div class="us-bound-passenger-blk-heading">
                                        <h2 class="us-bound-passenger-contact-details-head-title">Contact details</h2>
                                        <p class="us-bound-passenger-blk-heading-paragraph">Please complete all the fields
                                            marked with *.</p>
                                    </div>

                                    <div class="passenger-us-bound-passenger-details">
                                        <h3 class="passenger-us-bound-passenger-details-title">Your details</h3>
                                        <div class="grid-row">
                                            <div class="grid-row-email-address">
                                                <label for="email-address">Email address*</label>
                                                <div class="form_control">
                                                    <div class="vue-simple-suggest designed">
                                                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                            <input type="text" placeholder=" " v-model="passenger.email" class="form_field form_input--text form_input--size">
                                                            <span class="icon icon--close"></span>
                                                            <small class="validation_container hidden">
                                                                <span class="error"></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="custom-checkbox custom-checkbox--1 passenger-1">
                                                    <input name="checkbox-name-first" id="checkbox-name-first" type="checkbox">
                                                    <label for="checkbox-name-email">I would like to receive news and promotional
                                                        fares..
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid-row ">
                                        <div class="grid-row-wrapper">
                                            <label for="" class="passenger-mobile-number">Mobile number
                                                <span>Let us send you notifications through your mobile number if there are
                                                    updates to your flights</span>
                                            </label>
                                            <div class="grid-row-wrapper-country-area-code">
                                                <div class="form_control form_control--grid form_control-country">
                                                    <div class="vue-simple-suggest designed">
                                                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                            <input type="text" placeholder="Country" v-model="passenger.phoneNumber.countryCode" class="form_field form_input--text form_input--size">
                                                            <em class="ico-dropdown"></em>
                                                            <label for="country-name-1-label" class="hidden">&nbsp;
                                                                <select class="country-choices" v-model="passenger.phoneNumber.countryCode" id="country-name-1-label" data-city-group="false">
                                                                    <option value="1" data-text="Afghanistan (+93)">Afghanistan
                                                                        (+93)
                                                                    </option>
                                                                    <option value="2" data-text="Albania (+355)">Albania
                                                                        (+355)
                                                                    </option>
                                                                    <option value="3" data-text="Algeria (+213)">Algeria
                                                                        (+213)
                                                                    </option>
                                                                    <option value="4" data-text="American Samoa (+684)">American
                                                                        Samoa (+684)</option>
                                                                    <option value="5" data-text="Andorra (+376)">Andorra
                                                                        (+376)
                                                                    </option>
                                                                    <option value="6" data-text="Angola (+244)">Angola (+244)</option>
                                                                    <option value="7" data-text="Antigua And Barbuda (+1268)">Antigua
                                                                        And Barbuda (+1268)</option>
                                                                    <option value="8" data-text="Argentina (+54)">Argentina
                                                                        (+54)
                                                                    </option>
                                                                    <option value="9" data-text="Armenia (+374)">Armenia
                                                                        (+374)
                                                                    </option>
                                                                    <option value="10" data-text="Aruba (+297)">Aruba (+297)</option>
                                                                    <option value="11" data-text="Australia (+61)">Australia
                                                                        (+61)
                                                                    </option>
                                                                    <option value="12" data-text="Austria (+43)">Austria
                                                                        (+43)
                                                                    </option>
                                                                    <option value="13" data-text="Azerbaijan Republic (+994)">Azerbaijan
                                                                        Republic (+994)</option>
                                                                    <option value="14" data-text="Bahamas (+1242)">Bahamas
                                                                        (+1242)
                                                                    </option>
                                                                    <option value="15" data-text="Bahrain (+973)">Bahrain
                                                                        (+973)
                                                                    </option>
                                                                    <option value="16" data-text="Bangladesh (+880)">Bangladesh
                                                                        (+880)
                                                                    </option>
                                                                    <option value="17" data-text="Barbados (+1246)">Barbados
                                                                        (+1246)
                                                                    </option>
                                                                    <option value="18" data-text="Belarus (+375)">Belarus
                                                                        (+375)
                                                                    </option>
                                                                    <option value="19" data-text="Belgium (+32)">Belgium
                                                                        (+32)
                                                                    </option>
                                                                    <option value="20" data-text="Belize (+501)">Belize (+501)</option>
                                                                    <option value="21" data-text="Benin (+229)">Benin (+229)</option>
                                                                    <option value="22" data-text="Bermuda (+1441)">Bermuda
                                                                        (+1441)
                                                                    </option>
                                                                    <option value="23" data-text="Bhutan (+975)">Bhutan (+975)</option>
                                                                    <option value="24" data-text="Bolivia (+591)">Bolivia
                                                                        (+591)
                                                                    </option>
                                                                    <option value="25" data-text="Bonaire, Sint Eustatius and Saba (+599)">Bonaire,
                                                                        Sint Eustatius and Saba (+599)</option>
                                                                    <option value="26" data-text="Bosnia Herzegovina (+387)">Bosnia
                                                                        Herzegovina (+387)</option>
                                                                    <option value="27" data-text="Botswana (+267)">Botswana
                                                                        (+267)
                                                                    </option>
                                                                    <option value="28" data-text="Brazil (+55)">Brazil (+55)</option>
                                                                    <option value="29" data-text="Brunei Darussalam (+673)">Brunei
                                                                        Darussalam (+673)</option>
                                                                    <option value="30" data-text="Bulgaria (+359)">Bulgaria
                                                                        (+359)
                                                                    </option>
                                                                    <option value="31" data-text="Burkina Faso (+226)">Burkina
                                                                        Faso (+226)</option>
                                                                    <option value="32" data-text="Burundi (+257)">Burundi
                                                                        (+257)
                                                                    </option>
                                                                    <option value="33" data-text="Cambodia (+855)">Cambodia
                                                                        (+855)
                                                                    </option>
                                                                    <option value="34" data-text="Cameroon (+237)">Cameroon
                                                                        (+237)
                                                                    </option>
                                                                    <option value="35" data-text="Canada (+1)">Canada (+1)</option>
                                                                    <option value="36" data-text="Cape Verde (+238)">Cape
                                                                        Verde (+238)</option>
                                                                    <option value="37" data-text="Cayman Islands (+1345)">Cayman
                                                                        Islands (+1345)</option>
                                                                    <option value="38" data-text="Central African Republic (+236)">Central
                                                                        African Republic (+236)</option>
                                                                    <option value="39" data-text="Chad (+235)">Chad (+235)</option>
                                                                    <option value="40" data-text="Chagos Archipelago (+246)">Chagos
                                                                        Archipelago (+246)</option>
                                                                    <option value="41" data-text="Chile (+56)">Chile (+56)</option>
                                                                    <option value="42" data-text="Cocos Island (+891)">Cocos
                                                                        Island (+891)</option>
                                                                    <option value="43" data-text="Colombia (+57)">Colombia
                                                                        (+57)
                                                                    </option>
                                                                    <option value="44" data-text="Congo (Kinshasa) (+143)">Congo
                                                                        (Kinshasa) (+143)</option>
                                                                    <option value="45" data-text="Cook Islands (+682)">Cook
                                                                        Islands (+682)</option>
                                                                    <option value="46" data-text="Costa Rica (+506)">Costa
                                                                        Rica (+506)</option>
                                                                    <option value="47" data-text="Cote D'Ivoire (+225)">Cote
                                                                        D'Ivoire (+225)</option>
                                                                    <option value="48" data-text="Croatia (+385)">Croatia
                                                                        (+385)
                                                                    </option>
                                                                    <option value="49" data-text="Cuba (+53)">Cuba (+53)</option>
                                                                    <option value="50" data-text="Curacao (+599)">Curacao
                                                                        (+599)
                                                                    </option>
                                                                    <option value="51" data-text="Cyprus (+357)">Cyprus (+357)</option>
                                                                    <option value="52" data-text="Czech Republic (+420)">Czech
                                                                        Republic (+420)</option>
                                                                    <option value="53" data-text="Denmark (+45)">Denmark
                                                                        (+45)
                                                                    </option>
                                                                    <option value="54" data-text="Djibouti (+253)">Djibouti
                                                                        (+253)
                                                                    </option>
                                                                    <option value="55" data-text="Dominican Republic (+1809)">Dominican
                                                                        Republic (+1809)</option>
                                                                    <option value="56" data-text="Ecuador (+593)">Ecuador
                                                                        (+593)
                                                                    </option>
                                                                    <option value="57" data-text="Egypt (+20)">Egypt (+20)</option>
                                                                    <option value="58" data-text="El Salvador (+503)">El
                                                                        Salvador (+503)</option>
                                                                    <option value="59" data-text="Equatorial Guinea (+240)">Equatorial
                                                                        Guinea (+240)</option>
                                                                    <option value="60" data-text="Estonia (+372)">Estonia
                                                                        (+372)
                                                                    </option>
                                                                    <option value="61" data-text="Ethiopia (+251)">Ethiopia
                                                                        (+251)
                                                                    </option>
                                                                    <option value="62" data-text="Falkland Islands (+500)">Falkland
                                                                        Islands (+500)</option>
                                                                    <option value="63" data-text="Faroe Islands (+298)">Faroe
                                                                        Islands (+298)</option>
                                                                    <option value="64" data-text="Fiji">Fiji</option>
                                                                    <option value="65" data-text="Finland (+358)">Finland
                                                                        (+358)
                                                                    </option>
                                                                    <option value="66" data-text="France (+33)">France (+33)</option>
                                                                    <option value="67" data-text="French Guiana (+594)">French
                                                                        Guiana (+594)</option>
                                                                    <option value="68" data-text="French Polynesia (+689)">French
                                                                        Polynesia (+689)</option>
                                                                    <option value="69" data-text="Gambia (+220)">Gambia (+220)</option>
                                                                    <option value="70" data-text="Georgia (+995)">Georgia
                                                                        (+995)
                                                                    </option>
                                                                    <option value="71" data-text="Germany (+49)">Germany
                                                                        (+49)
                                                                    </option>
                                                                    <option value="72" data-text="Ghana (+233)">Ghana (+233)</option>
                                                                    <option value="73" data-text="Gibraltar (+350)">Gibraltar
                                                                        (+350)
                                                                    </option>
                                                                    <option value="74" data-text="Greece (+30)">Greece (+30)</option>
                                                                    <option value="75" data-text="Greenland (+299)">Greenland
                                                                        (+299)
                                                                    </option>
                                                                    <option value="76" data-text="Grenadines (+1473)">Grenadines
                                                                        (+1473)
                                                                    </option>
                                                                    <option value="77" data-text="Guadeloupe (+590)">Guadeloupe
                                                                        (+590)
                                                                    </option>
                                                                    <option value="78" data-text="Guam (+1671)">Guam (+1671)</option>
                                                                    <option value="79" data-text="Guatemala (+502)">Guatemala
                                                                        (+502)
                                                                    </option>
                                                                    <option value="80" data-text="Guinea (+224)">Guinea (+224)</option>
                                                                    <option value="81" data-text="Guinea-Bissau (+245)">Guinea-Bissau
                                                                        (+245)
                                                                    </option>
                                                                    <option value="82" data-text="Guyana (+592)">Guyana (+592)</option>
                                                                    <option value="83" data-text="Haiti (+509)">Haiti (+509)</option>
                                                                    <option value="84" data-text="Honduras (+504)">Honduras
                                                                        (+504)
                                                                    </option>
                                                                    <option value="85" data-text="Hong Kong SAR (+852)">Hong
                                                                        Kong SAR (+852)</option>
                                                                    <option value="86" data-text="Hungary (+36)">Hungary
                                                                        (+36)
                                                                    </option>
                                                                    <option value="87" data-text="Iceland (+354)">Iceland
                                                                        (+354)
                                                                    </option>
                                                                    <option value="88" data-text="India (+91)">India (+91)</option>
                                                                    <option value="89" data-text="Indonesia (+62)">Indonesia
                                                                        (+62)
                                                                    </option>
                                                                    <option value="90" data-text="Iran (+98)">Iran (+98)</option>
                                                                    <option value="91" data-text="Iraq (+964)">Iraq (+964)</option>
                                                                    <option value="92" data-text="Ireland (+353)">Ireland
                                                                        (+353)
                                                                    </option>
                                                                    <option value="93" data-text="Israel (+972)">Israel (+972)</option>
                                                                    <option value="94" data-text="Italy (+39)">Italy (+39)</option>
                                                                    <option value="95" data-text="Jamaica (+1876)">Jamaica
                                                                        (+1876)
                                                                    </option>
                                                                    <option value="96" data-text="Japan (+81)">Japan (+81)</option>
                                                                    <option value="97" data-text="Jordan (+962)">Jordan (+962)</option>
                                                                    <option value="98" data-text="Kazakhstan (+7)">Kazakhstan
                                                                        (+7)
                                                                    </option>
                                                                    <option value="99" data-text="Kenya (+254)">Kenya (+254)</option>
                                                                    <option value="100" data-text="Kingdom Of Lesotho (+266)">Kingdom
                                                                        Of Lesotho (+266)</option>
                                                                    <option value="101" data-text="Kiribati (+686)">Kiribati
                                                                        (+686)
                                                                    </option>
                                                                    <option value="102" data-text="Korea (North) (+850)">Korea
                                                                        (North) (+850)</option>
                                                                    <option value="103" data-text="Kuwait (+965)">Kuwait
                                                                        (+965)
                                                                    </option>
                                                                    <option value="104" data-text="Kyrgyzstan (+996)">Kyrgyzstan
                                                                        (+996)
                                                                    </option>
                                                                    <option value="105" data-text="Laos (+856)">Laos (+856)</option>
                                                                    <option value="106" data-text="Latvia (+371)">Latvia
                                                                        (+371)
                                                                    </option>
                                                                    <option value="107" data-text="Lebanon (+961)">Lebanon
                                                                        (+961)
                                                                    </option>
                                                                    <option value="108" data-text="Liberia (+231)">Liberia
                                                                        (+231)
                                                                    </option>
                                                                    <option value="109" data-text="Libya (+218)">Libya (+218)</option>
                                                                    <option value="110" data-text="Liechtenstein (+423)">Liechtenstein
                                                                        (+423)
                                                                    </option>
                                                                    <option value="111" data-text="Lithuania (+370)">Lithuania
                                                                        (+370)
                                                                    </option>
                                                                    <option value="112" data-text="Luxembourg (+352)">Luxembourg
                                                                        (+352)
                                                                    </option>
                                                                    <option value="113" data-text="Macau (+853)">Macau (+853)</option>
                                                                    <option value="114" data-text="Macedonia (+389)">Macedonia
                                                                        (+389)
                                                                    </option>
                                                                    <option value="115" data-text="Madagascar (+261)">Madagascar
                                                                        (+261)
                                                                    </option>
                                                                    <option value="116" data-text="Malawi (+265)">Malawi
                                                                        (+265)
                                                                    </option>
                                                                    <option value="117" data-text="Malaysia (+60)">Malaysia
                                                                        (+60)
                                                                    </option>
                                                                    <option value="118" data-text="Maldives (+960)">Maldives
                                                                        (+960)
                                                                    </option>
                                                                    <option value="119" data-text="Malta (+356)">Malta (+356)</option>
                                                                    <option value="120" data-text="Marshall Islands (+692)">Marshall
                                                                        Islands (+692)</option>
                                                                    <option value="121" data-text="Martinique (+596)">Martinique
                                                                        (+596)
                                                                    </option>
                                                                    <option value="122" data-text="Mauritania (+222)">Mauritania
                                                                        (+222)
                                                                    </option>
                                                                    <option value="123" data-text="Mauritius (+230)">Mauritius
                                                                        (+230)
                                                                    </option>
                                                                    <option value="124" data-text="Mexico (+52)">Mexico (+52)</option>
                                                                    <option value="125" data-text="Micronesia (+691)">Micronesia
                                                                        (+691)
                                                                    </option>
                                                                    <option value="126" data-text="Moldova (+373)">Moldova
                                                                        (+373)
                                                                    </option>
                                                                    <option value="127" data-text="Monaco (+377)">Monaco
                                                                        (+377)
                                                                    </option>
                                                                    <option value="128" data-text="Mongolia (+976)">Mongolia
                                                                        (+976)
                                                                    </option>
                                                                    <option value="129" data-text="Montenegro (+382)">Montenegro
                                                                        (+382)
                                                                    </option>
                                                                    <option value="130" data-text="Morocco (+212)">Morocco
                                                                        (+212)
                                                                    </option>
                                                                    <option value="131" data-text="Mozambique (+258)">Mozambique
                                                                        (+258)
                                                                    </option>
                                                                    <option value="132" data-text="Myanmar (+95)">Myanmar
                                                                        (+95)
                                                                    </option>
                                                                    <option value="133" data-text="Namibia (+264)">Namibia
                                                                        (+264)
                                                                    </option>
                                                                    <option value="134" data-text="Nauru (+674)">Nauru (+674)</option>
                                                                    <option value="135" data-text="Nepal (+977)">Nepal (+977)</option>
                                                                    <option value="136" data-text="Netherlands (+31)">Netherlands
                                                                        (+31)
                                                                    </option>
                                                                    <option value="137" data-text="New Caledonia (+687)">New
                                                                        Caledonia (+687)</option>
                                                                    <option value="138" data-text="New Zealand (+64)">New
                                                                        Zealand (+64)</option>
                                                                    <option value="139" data-text="Nicaragua (+505)">Nicaragua
                                                                        (+505)
                                                                    </option>
                                                                    <option value="140" data-text="Niger (+227)">Niger (+227)</option>
                                                                    <option value="141" data-text="Nigeria (+234)">Nigeria
                                                                        (+234)
                                                                    </option>
                                                                    <option value="142" data-text="Niue (+683)">Niue (+683)</option>
                                                                    <option value="143" data-text="Norfolk Islan (+672)">Norfolk
                                                                        Islan (+672)</option>
                                                                    <option value="144" data-text="Northern Marianas Islands (+1670)">Northern
                                                                        Marianas Islands (+1670)</option>
                                                                    <option value="145" data-text="Norway (+47)">Norway (+47)</option>
                                                                    <option value="146" data-text="Oman (+968)">Oman (+968)</option>
                                                                    <option value="147" data-text="Pakistan (+92)">Pakistan
                                                                        (+92)
                                                                    </option>
                                                                    <option value="148" data-text="Palau (+680)">Palau (+680)</option>
                                                                    <option value="149" data-text="Panama (+507)">Panama
                                                                        (+507)
                                                                    </option>
                                                                    <option value="150" data-text="Papua New Guinea (+675)">Papua
                                                                        New Guinea (+675)</option>
                                                                    <option value="151" data-text="Paraguay (+595)">Paraguay
                                                                        (+595)
                                                                    </option>
                                                                    <option value="152" data-text="People's Republic Of China (+86)">People's
                                                                        Republic Of China (+86)</option>
                                                                    <option value="153" data-text="Peru (+51)">Peru (+51)</option>
                                                                    <option value="154" data-text="Philippines (+63)">Philippines
                                                                        (+63)
                                                                    </option>
                                                                    <option value="155" data-text="Poland (+48)">Poland (+48)</option>
                                                                    <option value="156" data-text="Portugal (+351)">Portugal
                                                                        (+351)
                                                                    </option>
                                                                    <option value="157" data-text="Puerto Rico (+1787)">Puerto
                                                                        Rico (+1787)</option>
                                                                    <option value="158" data-text="Qatar (+974)">Qatar (+974)</option>
                                                                    <option value="159" data-text="Republic Of Seychelles (+248)">Republic
                                                                        Of Seychelles (+248)</option>
                                                                    <option value="160" data-text="Romania (+40)">Romania
                                                                        (+40)
                                                                    </option>
                                                                    <option value="161" data-text="Russian Federation (+7)">Russian
                                                                        Federation (+7)</option>
                                                                    <option value="162" data-text="Rwanda (+250)">Rwanda
                                                                        (+250)
                                                                    </option>
                                                                    <option value="163" data-text="Saint Lucia (+1)">Saint
                                                                        Lucia (+1)</option>
                                                                    <option value="164" data-text="Samoa (+685)">Samoa (+685)</option>
                                                                    <option value="165" data-text="Sao Tome (+239)">Sao Tome
                                                                        (+239)
                                                                    </option>
                                                                    <option value="166" data-text="Saudi Arabia (+966)">Saudi
                                                                        Arabia (+966)</option>
                                                                    <option value="167" data-text="Senegal (+221)">Senegal
                                                                        (+221)
                                                                    </option>
                                                                    <option value="168" data-text="Serbia (+381)">Serbia
                                                                        (+381)
                                                                    </option>
                                                                    <option value="169" data-text="Sierra Leone (+232)">Sierra
                                                                        Leone (+232)</option>
                                                                    <option value="170" data-text="Singapore (+65)">Singapore
                                                                        (+65)
                                                                    </option>
                                                                    <option value="171" data-text="Sint Maarten (+599)">Sint
                                                                        Maarten (+599)</option>
                                                                    <option value="172" data-text="Slovakia (+421)">Slovakia
                                                                        (+421)
                                                                    </option>
                                                                    <option value="173" data-text="Slovenia (+386)">Slovenia
                                                                        (+386)
                                                                    </option>
                                                                    <option value="174" data-text="Solomon Islands (+677)">Solomon
                                                                        Islands (+677)</option>
                                                                    <option value="175" data-text="Somalia (+252)">Somalia
                                                                        (+252)
                                                                    </option>
                                                                    <option value="176" data-text="South Africa (+27)">South
                                                                        Africa (+27)</option>
                                                                    <option value="177" data-text="South Korea (+82)">South
                                                                        Korea (+82)</option>
                                                                    <option value="178" data-text="Spain (+34)">Spain (+34)</option>
                                                                    <option value="179" data-text="Sri Lanka (+94)">Sri Lanka
                                                                        (+94)
                                                                    </option>
                                                                    <option value="180" data-text="St Vincent And The Grenadines (+223)">St
                                                                        Vincent And The Grenadines (+223)</option>
                                                                    <option value="181" data-text="St. Kills and Nevis (+869)">St.
                                                                        Kills and Nevis (+869)</option>
                                                                    <option value="182" data-text="Sudan (+249)">Sudan (+249)</option>
                                                                    <option value="183" data-text="Suriname (+597)">Suriname
                                                                        (+597)
                                                                    </option>
                                                                    <option value="184" data-text="Swaziland (+268)">Swaziland
                                                                        (+268)
                                                                    </option>
                                                                    <option value="185" data-text="Sweden (+46)">Sweden (+46)</option>
                                                                    <option value="186" data-text="Switzerland (+41)">Switzerland
                                                                        (+41)
                                                                    </option>
                                                                    <option value="187" data-text="Syria (+963)">Syria (+963)</option>
                                                                    <option value="188" data-text="Taiwan, China (+886)" data-link="Taiwan,China">Taiwan,
                                                                        China (+886)</option>
                                                                    <option value="189" data-text="Tajlkistan (+992)">Tajlkistan
                                                                        (+992)
                                                                    </option>
                                                                    <option value="190" data-text="Tanzania (+255)">Tanzania
                                                                        (+255)
                                                                    </option>
                                                                    <option value="191" data-text="Thailand (+66)">Thailand
                                                                        (+66)
                                                                    </option>
                                                                    <option value="192" data-text="Timor Leste (+670)">Timor
                                                                        Leste (+670)</option>
                                                                    <option value="193" data-text="Togo (+228)">Togo (+228)</option>
                                                                    <option value="194" data-text="Tonga (+676)">Tonga (+676)</option>
                                                                    <option value="195" data-text="Trinidad (+1868)">Trinidad
                                                                        (+1868)
                                                                    </option>
                                                                    <option value="196" data-text="Tunisia (+216)">Tunisia
                                                                        (+216)
                                                                    </option>
                                                                    <option value="197" data-text="Turkey (+90)">Turkey (+90)</option>
                                                                    <option value="198" data-text="Turkmenistan (+993)">Turkmenistan
                                                                        (+993)
                                                                    </option>
                                                                    <option value="199" data-text="Turks and Caios Islands (+1649)">Turks
                                                                        and Caios Islands (+1649)</option>
                                                                    <option value="200" data-text="Tuvalu (+688)">Tuvalu
                                                                        (+688)
                                                                    </option>
                                                                    <option value="201" data-text="Uganda (+256)">Uganda
                                                                        (+256)
                                                                    </option>
                                                                    <option value="202" data-text="Ukraine (+380)">Ukraine
                                                                        (+380)
                                                                    </option>
                                                                    <option value="203" data-text="United Arab Emirates (+971)">United
                                                                        Arab Emirates (+971)</option>
                                                                    <option value="204" data-text="United Kingdom (+44)">United
                                                                        Kingdom (+44)</option>
                                                                    <option value="205" data-text="United States Of America (+1)">United
                                                                        States Of America (+1)</option>
                                                                    <option value="206" data-text="Uruguay (+598)">Uruguay
                                                                        (+598)
                                                                    </option>
                                                                    <option value="207" data-text="Uzbekistan (+998)">Uzbekistan
                                                                        (+998)
                                                                    </option>
                                                                    <option value="208" data-text="Vanuatu (+678)">Vanuatu
                                                                        (+678)
                                                                    </option>
                                                                    <option value="209" data-text="Venezuela (+58)">Venezuela
                                                                        (+58)
                                                                    </option>
                                                                    <option value="210" data-text="Vietnam (+84)">Vietnam
                                                                        (+84)
                                                                    </option>
                                                                    <option value="211" data-text="Virgin Islands (GB) (+1)">Virgin
                                                                        Islands (GB) (+1)</option>
                                                                    <option value="212" data-text="Virgin Islands(U.S.) (+1340)">Virgin
                                                                        Islands(U.S.) (+1340)</option>
                                                                    <option value="213" data-text="Walls Islands (+681)">Walls
                                                                        Islands (+681)</option>
                                                                    <option value="214" data-text="Yemen (+967)">Yemen (+967)</option>
                                                                    <option value="215" data-text="Zambia (+260)">Zambia
                                                                        (+260)
                                                                    </option>
                                                                    <option value="216" data-text="Zimbabwe (+263)">Zimbabwe
                                                                        (+263)
                                                                    </option>
                                                                </select>
                                                            </label>
                                                            <span class="icon icon--close"></span>
                                                            <small class="validation_container hidden">
                                                                <span class="error"></span>
                                                            </small>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form_control form_control--grid form_control-area">
                                                    <div class="vue-simple-suggest designed">
                                                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                            <input type="text" placeholder="Area" v-model="passenger.phoneNumber.areaCode" class="form_field form_input--text form_input--size">
                                                            <span class="icon icon--close"></span>
                                                            <small class="validation_container hidden">
                                                                <span class="error"></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form_control form_control--grid form_control-phone-number">
                                                    <div class="vue-simple-suggest designed">
                                                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                            <input type="text" placeholder="Phone number" v-model="passenger.phoneNumber.phoneNumber" class="form_field form_input--text form_input--size">
                                                            <span class="icon icon--close"></span>
                                                            <small class="validation_container hidden">
                                                                <span class="error"></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-submit--position-wrapper">
                                    <input type="submit" value="NEXT PASSENGER" class="btn btn-primary">
                                </div>
                            </fieldset>
                        </form>
                    </section>
                </div>

            </div>
        </div>
    </div>

    <footer-component :footerdata="pageData.footerData"></footer-component>
</div>