/*PAY WITH MILES*/
.pay-with-miles-wrapper {
    .custom-checkbox {
        border-bottom: 1px solid #ccc;
        padding: 0 0 7px 0;

        input {
            position: absolute;
            top: 3px;
            opacity: 0;
            cursor: pointer;
            width: 14px;
            height: 14px;

            &:checked + label:after {
                display:  block;
            }

            &:checked + label {
                color: #000;
            }
        }

        label {
            display: inline-block;
            padding-left: 23px;
            margin-right: 10px;
            line-height: 16px;
            cursor: pointer;

            &:before {
                content: '';
                width: 14px;
                height: 14px;
                border: 1px solid #ccc;
                position: absolute;
                top: 6px;
                left: 0;
                background-color: #fff;
            }

            &:after {
                content: '\E610';
                font-family: 'sia';
                font-weight: bold;
                color: #ef9a1a;
                position: absolute;
                top: 5px;
                left: 2px;
                display: none;
                font-size: 14px;
            }
        }
    }

    .content {
        padding-left: 23px;

        .content-grid {
            margin: 10px 0 0 0;

            .columns {
                display: inline-block;

                .title {
                    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                    font-size: 10px;
                    font-weight: bold;
                    color: #00266B;
                    text-transform: uppercase;
                    display: block;
                }
                .span {
                    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                    font-size: 16px;
                    color: #222222;
                    margin: 3.66px 0 0 0;
                    font-weight: normal;
                }
            }

            .available {
                border-right: 2px solid #FF9F00;
                width: 22%;
            }

            .expiring {
                margin: 0 0 0 3%;
                width: 70%;
            }
        }
    }

    .group-des {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 14px;
        color: #222222;
        font-weight: normal;

        span {
            line-height: 1.4;
            display: block;
            color: #000;

            &:last-child {
                color: #666;
                font-size: 13px;
            }
        }

    }

    .payments-group {
        border-top: 1px solid #ccc;

        .payments-inner {
            padding: 28px 20px 26px;

            .slider-wrap {
                margin: 40px 0;
                position: relative;

                .icon {
                    background-color: #2275D3;
                    box-shadow: none;
                    color: #f1f1f1;
                    border-radius: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    width: 28px;
                    height: 28px;
                    text-align: center;
                    font-size: 12px;
                    padding: 6px 0;
                    cursor: pointer;

                    &.minus:before {
                        content: "\e638";
                        font-family: "sia";
                    }

                    &.plus:before {
                        content: "\e642";
                        font-family: "sia";
                    }
                }

                .slider-inner {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 530px;
                    width: 58%;
                    margin: 0 20px;
                    position: relative;
                }
            }

            .info {
                font-size: 14px;
                color: #333;

                .grid-row {
                    display: inline-block;
                    width: 100%;
                }

                .grid-col {
                    display: inline-block;
                    width: 30%;
                    color: #222222;
                    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                    font-weight: normal;
                    margin: 0;
                    padding: 0 15px;
                    line-height: 30px;
                }

                .value {
                    width: 60%;
                    font-size: 14px;
                    padding-left: 10px;

                    strong {
                        font-size: 18px;
                    }
                }

                .pattern {
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    margin-right: 10px;
                    border-radius: 3px;
                    vertical-align: middle;
                }

                .blue-bg {
                    background-color: #00266b;
                }

                .gray-bg {
                    background-color: #e2e2e2;
                }
            }

            .total {
                .grid-row {
                    border-top: 1px solid #E5E9F0;
                    border-bottom: 1px solid #E5E9F0;
                    margin-top: 40px;
                    padding: 30px 0;
                }

                .grid-col {
                    display: inline-block;
                }

                .label {
                    width: 30%;
                    color: #00266B;
                    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                    font-weight: bold;
                    font-size: 16px;
                }

                .value {
                    width: 68%;
                    font-family: "SigvarSerial";
                    font-weight: normal;
                    font-size: 22px;
                    color: #00266B;
                    text-align: right;

                    .paid-amount {
                        font-family: "SigvarSerial";
                    }
                }
            }
        }

        .payments-info {

            .cta-group {
                padding: 0;
                margin-top: 22px;
                display: inline-block;
                width: 70%;

                li {
                    list-style: none;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                    transition: color 400ms ease 0s;
                    color: #0254ec;
                }
            }

            .ico-point-r {
                top: 50%;
                left: -2px;
                font-size: 6px;
                line-height: 1;
                margin-top: -3px;
                position: relative;
                width: 12px;
                height: 6px;

                &:before {
                    content: "\e63d";
                    font-family: "sia";
                }
            }

            .credit-pic {
                display: inline-block;
                width: 28%;
                text-align: right;

                li {
                    display: inline-block;
                    vertical-align: middle;
                    list-style: none;
                    margin-right: 5px;
                }
            }
        }

    }

    .is-collapsed {
        display: none;
    }
}

/*END OF PAY WITH MILES*/

/*RANGE SLIDER*/
.range-slider {
    display: inline-block;
    vertical-align: middle;
    height: 29px;
    max-width: 530px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    position: relative;
}

.range-slider.disabled {
    opacity: 0.5;
}

.range-slider-inner {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 74%;
    left: 50%;
    -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.range-slider-rail,
.range-slider-fill {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 14px;
    border-radius: 2px;
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    border-bottom: 1px solid #a8b1c1;
    border-left: 2px solid #2275D3;
    border-right: 2px solid #2275D3;
}

.range-slider-rail {
    width: 100%;
    background-color: #b6c0d1;
}

.range-slider-fill {
    background-color: #00266b;
}

.range-slider-knob {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
    height: 30px;
    width: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #00266b;
    -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
}

.range-slider-hidden {
    display: none;
}

.range-slider-inner:before {
    content:  '';
    position:  absolute;
    left: -17%;
    top: 50%;
    width: 17%;
    height: 14px;
    background: #00266b;
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    border-bottom: 1px solid #a8b1c1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.range-slider-inner:after {
    content:  '';
    position:  absolute;
    right: -17%;
    top: 50%;
    width: 17%;
    height: 14px;
    background: #b6c0d1;
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    border-bottom: 1px solid #a8b1c1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.range-slider-knob:before {
    content:  '';
    background:  #fff;
    border-radius:  50%;
    position:  absolute;
    left:  50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    width:  15px;
    height:  15px;
}

.tooltip {
    display: block;
    background: transparent;
    position: absolute;
    clear: both;
    z-index: 13;
    top: auto;
    left: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 2px 2px 6px 0 rgba(99, 99, 99, 0.2);
    text-align:  center;
    width:  165px;
    border: 1px solid rgba(0,0,0,0.1);

    .tooltip-arrow {
        position: absolute;
        top: 100%;
        left: 50%;
        margin: -8px 0 0 -9px;
        font-family: "sia";
        font-size: 18px;
        line-height: 1;
        color: #fff;

        &:before {
            display: inline-block;
            position: relative;
            z-index: -1;
            content: "\e61c";
            font-style: normal;
            font-weight: normal;
            speak: none;
            text-shadow: 2px 2px 6px rgba(99, 99, 99, 0.2);
        }
    }

    .tooltip-content {
        padding: 10px;
        background:  #fff;

        .tooltip-text {
            margin: 0;
            line-height: 18px;
            font-size: 14px;
            color: #333;
            font-weight: normal;
        }
    }

    &.minimum {
        bottom: 40px;
        left: -1.9%;
        display: none;

        &.show {
            display: block;
        }
    }

    &.maximum {
        bottom: 40px;
        right: -1.9%;
        display: none;

        &.show {
            display: block;
        }
    }
}

/*END OF RANGE SLIDER*/