<section class="pay-miles-container">
    <!-- PAY WITH MILES COMPONENT -->
    <div class="pay-with-miles-wrapper mp-block">
        <form id="payments-pay-with-miles">
            <div class="fieldset">
                <div class="form-group custom-checkbox">
                    <input v-on:click=" collapsed = !collapsed" name="pay-with-miles-checkbox" id="pay-with-miles-checkbox" aria-labelledby="pay-with-miles-checkbox-error" type="checkbox" aria-label="Pay with KrisFlyer miles + credit / debit card">
                    <label for="pay-with-miles-checkbox" class="title-blue">Pay with KrisFlyer miles + credit / debit card</label>
                </div>
            </div>
            <div class="content">
                <div class="content-grid">
                    <div class="columns available">
                        <span class="title">Available</span>
                        <span>600,008 KrisFlyer miles</span>
                    </div>
                    <div class="columns expiring">
                        <span class="title">Expiring</span>
                        <span>2,000 KrisFlyer Miles on 31 Dec 2018</span>
                    </div>
                </div>

                <p class="group-des">
                  <span>You can choose to pay for your flight booking with miles and top up any remainder with your credit/debit
                    card, starting from 2,940* KrisFlyer miles.</span>

                  <span>*Currency fluctuations may determine that this amount could be a little lower or higher.</span>
                </p>
            </div>
        </form>
        <div class="payments-group" v-bind:class="{'is-collapsed' : collapsed }">
            <div class="payments-inner">
                <div class="slider-wrap">
                    <span class="icon minus" @click="decrementRange() + showTooltip()"></span>
                    <div class="slider-inner">
                        <template>
                        <aside ref="tooltipMin" class="tooltip minimum"><em class="tooltip-arrow"></em><div class="tooltip-content"><p class="tooltip-text">Minimum payable with miles</p></div></aside>
                        <range-slider
                            class="slider"
                            :name="name"
                            :min="min"
                            :max="max"
                            v-model="sliderValue" @change="showTooltip()">
                        </range-slider>
                        <aside ref="tooltipMax" class="tooltip maximum"><em class="tooltip-arrow"></em><div class="tooltip-content"><p class="tooltip-text">Maximum payable with miles</p></div></aside>
                        </template>                     
                    </div>
                    <span class="icon plus" @click="incrementRange() + showTooltip()"></span> 
                </div>
                <div class="info">
                    <div class="grid-row">
                        <div class="grid-col">
                            <span class="pattern blue-bg"></span>To pay with KrisFlyer miles:</div>
                        <div class="grid-col value">
                            <span><strong>{{ sliderValue.toLocaleString() }} KrisFlyer miles</strong></span>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-col">
                            <span class="pattern gray-bg"></span>To pay with credit / debit card:</div>
                        <div class="grid-col value">
                            <span><strong>SGD 0.00</strong> (includes SGD 2,071 which cannot be paid with miles)</span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="grid-row">
                        <div class="grid-col label">
                            <span>Total to be paid now</span>
                        </div>
                        <div class="grid-col value">
                          <span class="paid-amount">{{ sliderValue.toLocaleString() }} KrisFlyer miles + SGD 0.00</span>
                        </div>
                    </div>
                </div>
                <div class="payments-info">
                    <ul class="cta-group">
                        <li>
                            <a href="#" @click.stop.prevent="openModal('1')" class="payment-allocation">
                                <em class="ico-point-r"></em>
                                <span class="text">Payment allocation</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" @click.stop.prevent="openModal('2')" class="pay-with-krisflyer">
                                <em class="ico-point-r"></em>
                                <span class="text">Pay with KrisFlyer miles FAQs</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="credit-pic">
                        <li>
                          <img src="../../../assets/images/card-credit-6.png">
                        </li>
                        <li>
                          <img src="../../../assets/images/card-credit-7.png">
                        </li>
                        <li>
                          <img src="../../../assets/images/card-credit-8.png">
                        </li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
   
    <!-- END OF PAY WITH MILES COMPONENT -->

    <!-- PAYMENT ALLOCATION LIGHTBOX -->
    <light-box-component class="payment-allocation-lightbox" :id="'1'" :active="showPaymentAllocation" v-on:lightbox-closed="closeModal()"  :style="{'top': '-48px'}" :lightBoxWidth="'700px'">
        <div slot="body" @click.stop="">
            <button class="close-btn icon-round-close" type="button" @click="showPaymentAllocation = '0'"></button>
            <payment-allocation-component></payment-allocation-component>
        </div>
    </light-box-component>

    <!-- END OF PAYMENT ALLOCATION LIGHTBOX -->

    <!-- PAY WITH KRISFLYER LIGHTBOX -->
    <light-box-component class="pay-with-krisflyer-lightbox" :id="'2'" :active="showPayWithKrisFlyer" v-on:lightbox-closed="closeModal()"  :style="{'top': '-48px'}" :lightBoxWidth="'700px'">
        <div slot="body" @click.stop="">
            <button class="close-btn icon-round-close" type="button" @click="showPayWithKrisFlyer = '0'"></button>
            <h1 class="page_header">Pay with KrisFlyer Miles</h1>

        </div>
    </light-box-component>

    <!-- END OF PAY WITH KRISFLYER LIGHTBOX -->

</section>