<section class="hp-section trip-card">
  <div class="hp-container">
    <div class="trip-card__header">
      <h3 class="trip-card__header-text">{{ tripCard.header }}</h3>
    </div>
  </div>

  <div class="trip-card__content trip-card__slide-container">
    <div class="trip-card__row js-card-slider">
      <div class="trip-card__col" v-for="card in tripCard.cards">
        <a :href="card.link" class="trip-card__item">
          <img :src="card.images" alt="card">
          <div class="trip-card__info">
            <span class="trip-card__info-title" v-html="card.title"></span>
            <span class="trip-card__info-description" v-html="card.desc"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
