$gutter: 10px;
// screen break points
$break-point-mobile: 576px;
$break-point-tablet: 768px;
$break-point-desktop: 992px;
$break-point-desktop-large: 1200px;

$media-screen-smallest: '(max-width: #{$break-point-mobile - 1})';
$media-screen-mobile: '(max-width: #{$break-point-tablet - 1})';
$media-screen-tablet: '(min-width: #{$break-point-tablet}) and (max-width: #{$break-point-desktop - 1})';
$media-screen-desktop: '(min-width: #{$break-point-desktop})';
$media-screen-desktop-large: '(min-width: #{$break-point-desktop-large})';

.trip-card {
  overflow: hidden;
  background-color: #FAFAFA;

  &__slide-container {
    padding-right: $gutter;
    padding-left: $gutter;
    margin: 0 auto;

    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  &__row {
    margin-left: -$gutter;
    margin-right: -$gutter;

    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  &__col {
    width: 33.333333%;
    padding-left: $gutter;
    padding-right: $gutter;
    float: left;
  }

  &__header {
    border-left: 3px solid #FF9F00;

    &-text {
      font-family: 'sigvar', Helvetica, Arial, sans-serif;
      font-size: 26px;
      color: #00266B;
      font-weight: 400;
      line-height: 20px;
      padding-left: $gutter;
      margin: 0;
    }
  }

  &__content {
    margin-top: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 150px;

    &:hover {
      box-shadow: 0px 2px 6px 0px rgba($color: #000000, $alpha: 0.1);
      background-color: #FFFFFF;
    }

    & img {
      width: 56px;
      height: auto;
      margin-left: 5px;
    }
  }

  &__info {
    padding-left: 40px;

    &-title {
      display: block;
      font-size: 16px;
      color: #00266B;
      line-height: 21px;
      padding-bottom: 2px;
    }

    &-description {
      font-size: 14px;
      color: #222222;
      line-height: 20px;
    }
  }

  .visible-xs {
    display: none;
  }

  @media #{$media-screen-smallest} {
    &__slide-container {
      max-width: 100%;
    }

    &__col {
      width: 100%;
    }
  }

  @media  #{$media-screen-mobile} {
    &__slide-container {
      max-width: 100%;
      margin: 20px 0px 0px $gutter;
      height: 227px;
    }

    &__col {
      width: 50%;
      padding-left: 5px;
      padding-right: 5px;
    }

    &__item {
      padding: 0;
      display: table;
      margin: auto;
      transition: none;
      background-color: #FFFFFF;
      box-shadow: 0px 2px 4px 0px rgba($color: #000000, $alpha: 0.05);
      border: 1px solid #E5E9F0;
      width: 100%;
      height: 160px;
      margin-top: 20px;

      & img {
        width: 51px;
        height: 54px;
        display: table;
        margin: auto;
        margin-top: 15px;
        }
    }

    &__info {
      text-align: center;
      padding-left: 0;

      &-title {
      padding-top: 10px;
      }
    }

    .slick-slider {
      .slick-dots {
        position: absolute;
        bottom: -20.5%;
        left: 50%;
        width: 150px;
        transform: translateX(-50%);
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;

        li {
          margin: 0;
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          padding: 0;
          cursor: pointer;

          button {
            font-size: 7px;
            line-height: 7px;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;

            &:before {
              font-family: 'slick';
              font-size: 30px;
              line-height: 20px;
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              content: '•';
              text-align: center;
              color: #DDDDDD;
            }
          }

          &.slick-active {
            button:before {
              color: #FF9F00;
              font-size: 35px;
              opacity: .75;
            }
          }
        }
      }

      .slick-list {
        overflow: inherit;

        .slick-active {
          .trip-card__item {
            height: 180px;
            margin-top: 10px;
          }
        }
      }
    }
  }

  @media #{$media-screen-tablet} {
    &__slide-container {
      max-width:  720px;
    }

    &__col {
      width: 50%;
    }

    &__item {
      height: 120px;
      box-shadow: 0px 2px 6px 0px rgba($color: #000000, $alpha: 0.1);
      background-color: #FFFFFF;
    }
  }

  @media #{$media-screen-desktop} {
    &__slide-container {
      max-width: 940px;
    }

    &__item {
      padding: 35px;
    }
  }

  @media #{$media-screen-desktop-large} {
    &__slide-container {
      max-width: 1100px;
    }
  }
}

