<section class="hp-section fare-deal" v-if="loaded">
  <div class="hp-container">
    <div class="fare-deal__header">
      <h3 class="fare-deal__header-text">Popular deals in</h3>

      <div class="fare-deal__dropdown" v-bind:class="[isActive ? 'active' : '', originCountries.length > 1 ? 'arrow' : '']">
        <span class="fare-deal__dropdown-selected" @click="toggleDropdown()">{{ city | formatCityName }}</span>
        <div class="fare-deal__dropdown-content" v-if="originCountries.length > 1">
          <input type="text" placeholder="Search city" v-model="inputCity" v-on:keyup="filterCities(inputCity, originCountries)" class="fare-deal__dropdown-input">

          <p class="fare-deal__dropdown-item" v-for="(country, index) in countries" v-on:click="changeCity(country.city, index, originCountries)"
            v-bind:class="[dropdownActiveItem == index ? 'active' : '']"> {{ country.city | formatCityName}}</p>
        </div>
      </div>
    </div>

    <div class="fare-deal__content hidden-xs hidden-sm">
      <div class="fare-deal__row" v-if="cities">
        <div class="fare-deal__col" v-for="city in cities">
          <a v-bind:href="city.shareurl" class="fare-deal__item" v-bind:style="city.image ? { 'background-image': 'url(' + city.image + ')'} : { 'background-color': 'grey'}">
            <img src="../../assets/images/deal-star.png" alt="star">
            <div class="fare-deal__item--pull-right" v-if="city.excluesive">
              <span v-html="city.excluesive" class="fare-deal__excluesive"></span>
              <img class="fare-deal__excluesive-image" src="../../assets/images/icons/white-mobile-icon.png" alt="Excluesive app"/>
            </div>

            <div class="fare-deal__item--pull-right" v-if="city.excluesiveTag">
              <span v-html="city.excluesiveTag" class="fare-deal__excluesive"></span>
              <img class="fare-deal__excluesive-image fare-deal__excluesive-image--tag" src="../../assets/images/icons/white-tag-icon.png" alt="Excluesive tag"/>
            </div>

            <div class="fare-deal__description--wrapper">
              <div class="fare-deal__description-country">
                {{ city.destinationCountryName }}
              </div>

              <div class="fare-deal__description-city">
                {{ city.destinationCityName }}
              </div>

              <div class="fare-deal__description-price">
                {{city.cabinDesc}} {{city.fromLabel}} <span>{{city.currency}} {{city.price}}</span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="fare-deal__viewmore">
          <a v-if="viewMore" :href="viewMore.link" :target="viewMore.target" class="fare-deal__viewmore-link">{{viewMore.text}}</a>
          <a v-else href="#" target="__blank" class="fare-deal__viewmore-link">view more deals</a>
      </div>
    </div>

    <div class="fare-deal-mobile visible-xs visible-sm">
      <div v-for="city in cities" class="fare-deal-mobile__item--wrapper">
        <a v-bind:href="city.shareurl" class="fare-deal-mobile__item">
          <div class="fare-deal-mobile__row">
            <div class="fare-deal-mobile__col-xs-4">
              <div class="fare-deal-mobile__item-image" v-bind:style="{ 'background-image': 'url(' + city.image + ')'}">
                <img src="../../assets/images/deal-star.png" alt="star" class="fare-deal-mobile__item-star">
              </div>
            </div>

            <div class="fare-deal-mobile__col-xs-8">
              <div class="fare-deal__item--pull-right" v-if="city.excluesive">
                <span v-html="city.excluesive" class="fare-deal__excluesive"></span>
                <img class="fare-deal__excluesive-image" src="../../assets/images/icons/orange-mobile-icon.png" alt="Excluesive app"/>
              </div>

              <div class="fare-deal__item--pull-right" v-if="city.excluesiveTag">
                <span v-html="city.excluesiveTag" class="fare-deal__excluesive"></span>
                <img class="fare-deal__excluesive-image fare-deal__excluesive-image--tag" src="../../assets/images/icons/orange-tag-icon.png" alt="Excluesive tag"/>
              </div>

              <div class="fare-deal-mobile__country">
                {{ city.destinationCountryName }}
              </div>

              <div class="fare-deal-mobile__city">
                {{ city.destinationCityName }}
              </div>

              <div class="fare-deal-mobile__price">
                {{city.cabinDesc}} {{city.fromLabel}} <span>{{city.currency}} {{city.price}}</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="fare-deal__viewmore">
        <a v-if="viewMore" :href="viewMore.link" :target="viewMore.target" class="fare-deal__viewmore-link">{{viewMore.text}}</a>
        <a v-else href="#" target="__blank" class="fare-deal__viewmore-link">view more deals</a>
      </div>
    </div>

    <div class="fare-deal__row">
      <div class="fare-deal__col-md-8 fare-deal__col-sm-10 fare-deal__col-offset hidden-xs hidden-sm">
        <div class="fare-deal__guide">
          <a href="#" class="fare-deal__guide-item">
            <img src="../../assets/images/destination-icon.png" alt="Destinations guide">
            <span>Destinations guide</span>
          </a>

          <a href="#" class="fare-deal__guide-item">
            <img src="../../assets/images/location-icon.png" alt="Where we fly">
            <span>Where we fly</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hp-section fare-deal" v-else="!loaded" :class="!loaded ? 'loading' : ''">
  <div class="hp-container">
    <div class="fare-deal__header"></div>

    <div class="fare-deal__content hidden-xs hidden-sm">
      <div class="fare-deal__row">
        <div class="fare-deal__col" v-for="index in maxItem">
          <div class="fare-deal__item">
            <img src="../../assets/images/deal-star.png" alt="star">

            <div class="fare-deal__description--wrapper">
              <div class="fare-deal__description-country">
              </div>

              <div class="fare-deal__description-city">
              </div>

              <div class="fare-deal__description-price">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="fare-deal__viewmore">
        <a href="#" class="fare-deal__viewmore-link"></a>
      </div>
    </div>

    <div class="fare-deal__row">
      <div class="fare-deal__col-md-8 fare-deal__col-sm-10 fare-deal__col-offset hidden-xs hidden-sm">
        <div class="fare-deal__guide">
          <a href="#" class="fare-deal__guide-item">
          </a>

          <a href="#" class="fare-deal__guide-item">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
