$gutter: 10px;
// screen break points
$break-point-mobile: 576px;
$break-point-tablet: 768px;
$break-point-desktop: 992px;
$break-point-desktop-large: 1200px;


$media-screen-smallest: '(max-width: #{$break-point-mobile - 1})';
$media-screen-mobile: '(max-width: #{$break-point-tablet - 1})';
$media-screen-tablet: '(min-width: #{$break-point-tablet}) and (max-width: #{$break-point-desktop - 1})';
$media-screen-desktop: '(min-width: #{$break-point-desktop})';
$media-screen-desktop-large: '(min-width: #{$break-point-desktop-large})';


.experience {
  width: 100%;
  background-image: url("/assets/images/bg-birth.png"), url("/assets/images/bg-experience.png");
  background-repeat: no-repeat, repeat-x;
  background-position: left center, center center;
  background-size: contain, contain;
  background-origin: content-box, padding-box;
  padding: 50px 0;

  &__slide-container {
    padding-right: $gutter;
    padding-left: $gutter;
    margin-right: auto;
    margin-left: auto;
  }

  &__row {
    margin-left: -$gutter;
    margin-right: -$gutter;

    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  &__col {
    &-7 {
      width: 58.33333333%;
      padding: 0 $gutter;
      float: left;
    }

    &-5 {
      width: 41.66666667%;
      padding: 0 $gutter;
      float: left;
    }

    &-3 {
      width: 33.3333333%;
      padding: 0 $gutter;
      float: left;
    }
  }

  .visible-xs {
    display: none;
  }

  &__header {
    font-family: 'sigvar';
    font-size: 26px;
    font-weight: 400;
    color: #00266b;
    margin: 0px;
    text-transform:capitalize;
    border-left: 3px solid #ff9f00;
    padding-left: $gutter;
  }

  .visible-xs {
    display: none;
  }

  &__content {
    margin-top: 20px;
  }

  &__highlight {
    overflow: hidden;
    position: relative;
    min-height: 400px;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba($color: #000000, $alpha: 0.05);
    background-size: cover;
    background-position: top right;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background: url('/assets/images/bg-gradient.png') no-repeat left center;
      background-size: cover;
    }

    &--wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
      z-index: 1;
    }

    &-title {
      color: #FFFFFF;
      font-size: 16px;
      margin: 0;
      line-height: 20px;
    }

    &-description {
      color: #FFFFFF;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: top center;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba($color: #000000, $alpha: 0.05);
    min-height: 250px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background: url('/assets/images/bg-gradient.png') no-repeat left center;
      background-size: cover;
    }

    &:first-child {
      margin-bottom: 20px;
    }

    &--wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 25px;
      z-index: 1;
    }

    &-title {
      color: #FFFFFF;
      font-size: 16px;
      margin: 0;
      line-height: 20px;
    }

    &-description {
      color: #FFFFFF;
      display: inline-block;
      padding-right: 20px;
      font-size: 14px;
    }
  }

  &__logo {
    height: 120px;
    display: flex;
    align-items: center;

    &-image {
      width: 100%;
    }
  }

  @media #{$media-screen-smallest} {
    &__slider-container {
      max-width: 100%;
    }
  }

  @media #{$media-screen-mobile} {
    & .slick-list {
      padding: 0 5vw 0 5px !important;

      & .slick-track {
        & .slick-slide {
          padding: 0 5px;
        }
      }
    }

    &__slider-container {
      max-width: 100%;
    }

    &__row {
      margin-left: -$gutter;
      margin-right: -$gutter;

      &:before,
      &:after {
        content: " ";
        display: table;
      }

      &:after {
        clear: both;
      }
    }

    &__col {
      &-xs-12 {
        width: 100%;
        padding: 0;
      }

      &-xs-6 {
        width: 40%;
        padding: 0 $gutter;
        float: left;
      }
    }

    .hidden-xs {
      display: none !important;
    }

    .visible-xs {
      display: block;
    }

    &__content {
      margin-top: 0;

      &--wrapper {
        display: block;
        padding: 15px 15px 0 15px;
      }
    }

    &__item {
      height: 350px;
      margin-top: 20px;
      background: linear-gradient(to top, #000000 50% , #FFFFFF 20%);

      &:after {
        height: 0;
      }

      &-header {
        font-family: "sigvar", Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #FFFFFF;
        margin: 0;
        line-height: 24px;
        margin-bottom: 15px;
        font-weight: 400;
      }

      &-title {
        line-height: 20px;
        margin-bottom: 10px;
      }

      &--image {
        height: 180px;
        background-size: cover;
      }
    }

    &__logo {
      &--wrapper {
        text-align: center;
      }
    }

    .slick-slider {
      .slick-dots {
        position: absolute;
        bottom: -20.5%;
        left: 50%;
        width: 150px;
        transform: translateX(-50%);
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;

        & li {
          margin: 0;
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          padding: 0;
          cursor: pointer;
        }

        & li button {
          font-size: 7px;
          line-height: 7px;
          display: block;
          width: 20px;
          height: 20px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent;
        }
      }
    }
  }

  @media #{$media-screen-tablet} {
    &__slide-container {
      max-width: 720px;
    }
  }

  @media #{$media-screen-desktop} {
    &__container {
      max-width: 940px;
    }

    &__slide-container {
      max-width: 940px;
    }
  }

  @media #{$media-screen-desktop-large} {
    &__slide-container {
      max-width: 1100px;
    }
  }
}
