<section class="hp-section experience">
  <div class="hp-container">
    <h1 class="experience__header">{{experience.header}}</h1>
  </div>
  <div class="experience__slide-container" v-if="experience">
    <div class="experience__content">
      <div class="experience__row hidden-xs">
        <div class="experience__col-7">
          <div class="experience__highlight" v-bind:style="{ 'background-image': 'url(' + experience.highlight.image + ')'}">
            <div class="experience__highlight--wrapper">
              <h3 class="experience__highlight-title">{{ experience.highlight.title }}</h3>

              <span class="experience__highlight-description" v-html="experience.highlight.description"></span>
            </div>
          </div>

          <div class="experience__logo">
            <div class="experience__row">
              <div class="experience__col-3" v-for="logo in experience.logoDesktop">
                <img v-bind:src="logo" alt="Best Airlines reward" class="experience__logo-image">
              </div>
            </div>
          </div>
        </div>

        <div class="experience__col-5">
          <div class="experience__item" v-for="item in experience.contents" v-bind:style="{ 'background-image': 'url(' + item.image + ')'}">
            <div class="experience__item--wrapper">
              <h3 class="experience__item-title"> {{item.title}}</h3>

              <span class="experience__item-description" v-html="item.description"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="expericence-mobile visible-xs">
        <div class="experience__row js-experience-slider">
          <div class="experience__col-xs-12">
            <div class="experience__item">
              <div class="experience__item--image" v-bind:style="{ 'background-image': 'url(' + experience.highlight.image + ')'}"></div>

              <div class="experience__content--wrapper">
                <h3 class="experience__item-title">{{ experience.highlight.title }}</h3>

                <span class="experience__item-description" v-html="experience.highlight.description"></span>
              </div>
            </div>
          </div>

          <div class="experience__col-xs-12" v-for="item in experience.contents">
            <div class="experience__item">
              <div class="experience__item--image" v-bind:style="{ 'background-image': 'url(' + item.image + ')'}"></div>

              <div class="experience__content--wrapper">
                <h3 class="experience__item-title"> {{item.title}}</h3>

                <span class="experience__item-description" v-html="item.description"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hp-container visible-xs">
    <div class="experience__logo--wrapper">
        <div class="experience__row">
          <div class="experience__col-xs-6" v-for="logo in experience.logoDesktop">
            <img v-bind:src="logo" alt="Best Airlines reward" class="experience__logo-image">
          </div>
        </div>
      </div>
  </div>
</section>