@import "../atoms/import/color_palette";

.banner {
	&--image-left {
		@at-root {
			&__image_container {
				flex: 1 5%;
				margin-right: 0.9375rem;
			}
		}
	}

	&__notification {
		display: flex;
		margin: 1.25rem 0 0;
		>* {
			display: flex;
			flex-direction: row;
		}

		&_copy {
			flex: 1 95%;
			flex-direction: column;
		}

		&_heading {
			margin: 0 0 0.3125rem 0;
			color: $primary_color;
		}
		&_text {
			padding: 0;
			margin: 0 0 0.9375rem 0;
		}
	}
}