@import '../atoms/import/_button';
// toggle button container
.toggle_button_wrap {
    position: relative;
    display: inline-block;
	background-color: #E5E9F0;
	margin: 0 auto 1.875rem;
	padding: 5px;
    border-radius: 2.5rem;
}

.toggle_button {
    @extend %button-toggle;

    &.toggle_button--active {
        @extend %button-toggle--active;
    }
}