.page_header_skip-link {
    position: absolute;
    right: 0;
    top: 50%;
    
    display: block;
    transform: translateY(-50%);
    margin: 0;
    
    text-transform: uppercase;

    padding-right: 0.875rem;
    
    @extend %link;
    
    .ico-chevron {
        @extend %link_chevron;
        right: 0;
        top: 50%;
        margin: 0;

        transform: translateY(-50%);
        
    }
}

// Extra Small devices (portrait phones, max 576px)
@media (max-width: $breakpoint-small-devices) {
    .page_header_skip-link_label-text {
        display: none;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices)  and (max-width: 767px){ 
    .page_header_skip-link {
        right: 30px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) { 

}