<aside class="sticky-pax-tabs">
    <span class="sticky-pax-tabs-shadow"></span>
    <div class="sticky-pax-tabs-wrapper">
        <nav class="sticky-pax-tabs-content">
            <a v-for="(passenger, index) in value.passengers" href="#" @click.prevent="changeActivePassenger(index)" class="sticky-pax-tabs-passenger active">
                <div class="sticky-pax-tabs-passenger-wrapper">
                    <div class="sticky-pax-tabs-passenger-wrapper--grid">
                        <span class="sticky-pax-tabs-passenger-title">PASSENGER {{index+1}}-ADULT</span>
                        <span class="sticky-pax-tabs-passenger-deitals">
                            <strong class="sticky-pax-tabs-passenger-first-name"></strong>
                            <strong class="sticky-pax-tabs-passenger-last-name"></strong>
                        </span>
                    </div>
                    <div class="ico-chevron--blue ico-chevron--blue-wrapper"></div>
                </div>
            </a>
            <!-- <a href="#" class="sticky-pax-tabs-passenger disabled">
                <div class="sticky-pax-tabs-passenger-wrapper">
                    <div class="sticky-pax-tabs-passenger-wrapper--grid">
                        <span class="sticky-pax-tabs-passenger-title">PASSENGER 2-ADULT</span>
                        <span class="sticky-pax-tabs-passenger-deitals">
                            <strong class="sticky-pax-tabs-passenger-first-name"></strong>
                            <strong class="sticky-pax-tabs-passenger-last-name"> </strong>
                        </span>
                    </div>
                    <div class="ico-chevron--blue ico-chevron--blue-wrapper"></div>
                </div>
            </a> -->
            <a href="#" class="sticky-pax-tabs-contact-details disabled">
                <div class="sticky-pax-tabs-contact-details-wrapper">
                    <div class="sticky-pax-tabs-contact-details-wrapper--grid">
                        <span class="sticky-pax-tabs-contact-details-title">CONTACT DETAILS</span>
                        <div class="ico-chevron--blue ico-chevron--blue-wrapper"></div>
                    </div>
                </div>
            </a>
        </nav>
    </div>
</aside>