<div class="wrapper-app">
    <header-component></header-component>
    <progress-bar-component :items="pageData.progressData"></progress-bar-component>
    <bsp-component></bsp-component>
    <div class="main">
        <div class="pax-student-promo">
            <div class="container-center">
                <div class="pax-student-promo-header">
                    <h1 class="pax-student-promo-header-title">Passenger details</h1>
                    <div class="passenger-alert-wrapper">
                        <div class="ico-alert-wrapper">
                            <div class="ico-alert-orange ico-alert-orange-size"></div>
                        </div>
                        <p class="passenger-arlert-paragraph"> Each passenger must hold a valid passport (and visa(s), if required) to be allowed entry into each
                            destination on the flight itinerary. Singapore Airlines cannot be held responsible if a passenger
                            is denied entry and/or deported by any local authority.</p>
                    </div>
                </div>
                <div class="pax-student-promo-content">
                    <sticky-pax-tabs-component></sticky-pax-tabs-component>
                    <section>
                        <form action="">
                            <fieldset>
                                <div class="passenger-adult-form">
                                    <aside class="pax-promo-inline-login">
                                        <div class="pax-promo-inline-login-wrapper">
                                            <p class="pax-promo-inline-login-details">Log in to enjoy the convenience of having your personal details completed automatically, adding/selecting your redemption nominees, and paying with your KrisFlyer miles.</p>
                                            <div class="btn-pax-promo-wrapper">
                                                <input type="submit" value="LOG IN" class="btn btn-primary">
                                            </div>
                                        </div>
                                    </aside>
                                    <div class="pax-student-promo-blk-heading">
                                        <h2 class="pax-student-promo-blk-heading-title">PASSENGER 1 - ADULT</h2>
                                        <p class="pax-student-promo-blk-heading-paragraph">Please complete all the fields marked with *.</p>
                                    </div>
                                    <div class="passenger-us-bound-passenger-details">
                                        <div class="your-deatils">
                                            <div>
                                                <div>
                                                    <label for="" class="passenger-us-bound-label">Title*</label>

                                                </div>
                                            </div>
                                            <div class="grid-row">
                                                <div class="grid-row--position">
                                                    <label for="" class="passenger-us-bound-label">First / Given name (as in passport)*</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="custom-checkbox custom-checkbox--1 passenger-1">
                                                            <input name="checkbox-name-first" id="checkbox-name-first" type="checkbox">
                                                            <label for="checkbox-name-first">This passenger does not have a first/given name in the passport.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row">
                                                <div class="grid-row--position grid-row--position--right">
                                                    <label for="" class="passenger-us-bound-label">Last / Family name (as in passport)*</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                            <!---->
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="custom-checkbox custom-checkbox--1 passenger-1">
                                                            <input name="checkbox-name-last" id="checkbox-name-last" type="checkbox">
                                                            <label for="checkbox-name-last">This passenger is under 18 years old.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="passenger-us-bound-gender passenger-checkbox grid-row">
                                                <label for="" class="passenger-us-bound-label">Gender*</label>
                                                <div class="radio-group--left">
                                                    <div class="custom-radio custom-radio--1">
                                                        <input name="gender-sex-last" id="gender-male-last" type="radio" checked="checked" value="male">
                                                        <label for="gender-male-last">Male</label>
                                                    </div>
                                                    <div class="custom-radio custom-radio--1">
                                                        <input name="gender-sex-last" id="gender-female-last" type="radio" value="female">
                                                        <label for="gender-female-last">Female</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row grid-row-nationality--position">
                                                <div class="grid-row--position">
                                                    <label for="" class="passenger-us-bound-label">Nationality*</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row grid-position--display">
                                                <div class="grid-row--position grid-row--position--right grid-passport-number">
                                                    <label for="" class="passenger-us-bound-label">Passport number*</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-row--position grid-pasport-place">
                                                    <label for="" class="passenger-us-bound-label">Passport place of issue</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row">
                                                <label for="" class="passenger-us-bound-label">Passport expiry date*</label>

                                                <div class="passport-expiration-date-wrapper">
                                                    <div class="passport-expiration-date-grid-day">
                                                        <div class="grid-row--position grid-row--position--right grid-passport-number">
                                                            <div class="form_control">
                                                                <div class="vue-simple-suggest designed">
                                                                    <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                        <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                        <span class="icon icon--close"></span>
                                                                        <small class="validation_container hidden">
                                                                            <span class="error"></span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="passport-expiration-date-grid-month">
                                                        <div class="grid-row--position grid-row--position--right grid-passport-number">
                                                            <div class="form_control">
                                                                <div class="vue-simple-suggest designed">
                                                                    <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                        <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                        <span class="icon icon--close"></span>
                                                                        <small class="validation_container hidden">
                                                                            <span class="error"></span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="passport-expiration-date-grid-year">
                                                        <div class="grid-row--position grid-row--position--right grid-passport-number">
                                                            <div class="form_control">
                                                                <div class="vue-simple-suggest designed">
                                                                    <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                        <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                        <span class="icon icon--close"></span>
                                                                        <small class="validation_container hidden">
                                                                            <span class="error"></span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="grid-row">
                                                <div class="grid-row--position">
                                                    <label for="" class="passenger-us-bound-label">Email address*</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="email" placeholder=" " class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row">
                                                <div class="grid-row--position">
                                                    <label for="" class="passenger-us-bound-label">Confirm email address*</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="email" placeholder=" " class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="passenger-checkbox grid-row">
                                                <label for="" class="passenger-us-bound-label">Phone number</label>
                                                <span class="passenger-sub-paragraph">Let us contact you by phone or text message if there are updates to your
                                                    flight.</span>
                                                <div class="radio-group--left">
                                                    <div class="custom-radio custom-radio--1">
                                                        <input name="passenger-contact-number" id="passenger-contact-number-mobile" type="radio" checked="checked" value="male">
                                                        <label for="passenger-contact-number-mobile">Mobile</label>
                                                    </div>
                                                    <div class="custom-radio custom-radio--1">
                                                        <input name="passenger-contact-number" id="passenger-contact-number-home" type="radio" checked="checked" value="male">
                                                        <label for="passenger-contact-number-home">Home</label>
                                                    </div>
                                                    <div class="custom-radio custom-radio--1">
                                                        <input name="passenger-contact-number" id="passenger-contact-number-business" type="radio" checked="checked" value="male">
                                                        <label for="passenger-contact-number-business">Business</label>
                                                    </div>
                                                </div>
                                                <div class="passenger-contact-number-input-wrapper">
                                                    <div class="passenger-contact-number-input_country">
                                                        <div class="grid-row--position grid-row--position--right grid-passport-number">
                                                            <div class="form_control">
                                                                <div class="vue-simple-suggest designed">
                                                                    <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                        <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                        <span class="icon icon--close"></span>
                                                                        <small class="validation_container hidden">
                                                                            <span class="error"></span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="passenger-contact-number-input_area">
                                                        <div class="grid-row--position grid-row--position--right grid-passport-number">
                                                            <div class="form_control">
                                                                <div class="vue-simple-suggest designed">
                                                                    <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                        <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                        <span class="icon icon--close"></span>
                                                                        <small class="validation_container hidden">
                                                                            <span class="error"></span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="passenger-contact-number-input_phone-number">
                                                        <div class="grid-row--position grid-row--position--right grid-passport-number">
                                                            <div class="form_control">
                                                                <div class="vue-simple-suggest designed">
                                                                    <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                        <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                        <span class="icon icon--close"></span>
                                                                        <small class="validation_container hidden">
                                                                            <span class="error"></span>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row">
                                                <label for="" class="passenger-us-bound-label">Frequent flyer details</label>
                                                <span class="passenger-sub-paragraph passenger-sub-paragraph--position">Frequent flyer miles (if applicable) will be credited to the programme you
                                                    enter below.</span>
                                                <div class="grid-row--position">
                                                    <label for="" class="passenger-us-bound-label">Programme</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-row--position">
                                                    <label for="" class="passenger-us-bound-label">Membership number</label>
                                                    <div class="form_control">
                                                        <div class="vue-simple-suggest designed">
                                                            <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                                                                <span class="icon icon--close"></span>
                                                                <small class="validation_container hidden">
                                                                    <span class="error"></span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row grid-row--border">
                                                <h3 class="student-promation-heading-title">Student promotion verification</h3>
                                                <div class="student-promo-verification-content-wrapper">
                                                    <div class="ico-alert--blue-warpper">
                                                        <div class="ico-alert--blue ico-alert--size"></div>
                                                    </div>
                                                    <p class="student-promo-verification-paragraph">Your booking confirmation and ticket will be sent to this email address. You will also need to present your student ID card for verification when you check in at the airport.</p>
                                                </div>
                                                <label for="" class="passenger-us-bound-label">Student email address*</label>
                                                <div class="student-email-wrapper">
                                                    <div class="grid-row--position grid-row-student-email">
                                                        <div class="form_control">
                                                            <div class="vue-simple-suggest designed">
                                                                <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                                    <input type="email" placeholder=" " class="form_field form_input--text form_input--size">
                                                    
                                                                    <span class="icon icon--close"></span>
                                                                    <small class="validation_container hidden">
                                                                        <span class="error"></span>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btn-verify">
                                                            <input type="submit" value="NEXT PASSENGER" class="btn btn-primary">
                                                     
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <apis-information-component></apis-information-component>
                                </div>
                                <div class="btn-submit--position-wrapper">
                                    <input type="submit" value="NEXT PASSENGER" class="btn btn-primary">
                                </div>
                            </fieldset>
                        </form>
                    </section>
                </div>

            </div>
        </div>
    </div>

    <footer-component :footerdata="pageData.footerData"></footer-component>
</div>