@import "../../../assets/styles/atoms/import/_breakpoints";
.modal-container {
	.modal-body {
		position: relative;
		padding: 0.625rem;
	}

	.popup__heading {
		color: #00266b;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		font-size: 1.75rem;
		font-weight: 500;
	}

	.country-heading {
		font-size: 1rem;
		color: #00266b;
		font-weight: 500;
		-webkit-margin-before: 2.5rem;
	}

	.country-group {
		display: block;
		font-size: 0.875rem;

		ul {
			list-style-type: none;
			-webkit-padding-start: 0;
			line-height: 2;
			font-weight: 300;
			-webkit-margin-before: 0em;

			a:hover {
				color: #00266b;
			}
		}

	}

	.modal-default-button {
		width: 1.25rem;
		height: 1.25rem;
		background-size: contain;
		float: right;
		position: absolute;
		right: 20px;
		top: 20px;
    }
}

.popup-login {
	top: 150px;
    .page_header{
	  margin-top: 0;
	  margin-bottom: 20px;
    }
    .icon-round-close{
        position: absolute;
        top: 10px;
        right: 10px;
		height: 17px;
		width: 17px;
		background-size: 17px;
	}
	.form-group {
		padding-top: 10px;
		}
    .form-group-radio {
        margin-bottom: 10px;
    }
    .right {
        float: right;
        font-size: 12px;
    }
    .field__radiobox {
        display: inline-block;
    }
    .form-wrapper {
		margin-bottom: 25px;
		margin-top: 10px;
	}
	.form_control .input_wrapper .form_field {
		padding: 15px;
		height: 30px;
	}
	.form__label {
		margin-right: 20px;
	}

    .login-btn-wrapper {
        margin-top: 25px;

        .full--btn {
            width: 86%;
        }
        .primary-btn {
            padding: 13px 20px;
        }
        .btn__message {
            display: block;
            font-size: 14px;
            margin-top: 5px;
        }
        .ico-chevron {
            display: inline-block;
            background: url(/assets/images/svg/icons/chevron-blue.svg) center center transparent no-repeat;
        }
        .ico-chevron--blue {
            width: 12px;
			height: 12px;
			font-size: 6px;
			margin-right: 5px;
			display: inline-block;
			vertical-align: middle;
			background-size: 7px;
        }
	} 
}

.search-tooltip {
    display: block;
    z-index: 1000;

    .search_close--btn{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 15px;
    }

    .search-wrapper{
      border: 1px solid #cecece;
      position: relative;
      height: 42px;
    }

    .search--input{
      width: 100%;
      padding: 10px 15px;
    }

    .search--button{
      width: 2.625rem;
      height: 2.625rem;
      margin: 0;
      position: absolute;
      top: -1px;
      right: 0;
      background-color: #00266b;
    }

    .tooltip-wrapper__text{
        font-size: 13px;
        color:#333;
    }
    .search-tooltip-inner {
      background: white;
      color: black;
      box-shadow: 0 5px 30px rgba(black, .1);
      // border-radius: 5px;
      padding: 30px;
    }

    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: white;
      z-index: 1;
    }

    &[x-placement^="top"] {
      margin-bottom: 1px;

      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
		    margin-bottom: 0;
	  }

	  .search-tooltip-inner {
      background: white;
      color: black;
      box-shadow: 0 5px 30px rgba(black, .1);
      }
    }

    &[x-placement^="bottom"] {
      margin-top: 1px;

      .wrapper {
        border: 0.0625rem solid #ccc;
        border-radius: 0.1875rem;
        width: 450px;
      }

      .tooltip-arrow {
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;

        background: white;
        height: 0.625rem;
        width: 0.625rem;
        transform: rotate(135deg);
        border: 0.0625rem solid #ccc;
        border-right-color: transparent;
        border-top-color: transparent;
	  }

	  .search-tooltip-inner {
      background: white;
      color: black;
      }
    }

    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }

  &.info {
    $color: rgba(#004499, .9);

    .search-tooltip-inner {
      background: $color;
      color: white;
      padding: 24px;
      border-radius: 2px;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: 250px;
    }

    .tooltip-arrow {
      border-color: $color;
    }
  }
}
.lang-profile__dropdown {
  position: absolute;
  top: 10px;
  right: -57px;
  background: white;
  /* z-index: 20; */
  height: auto;
  width: auto;
  max-width: 260px;
  min-width: 170px;
  z-index: 9999999999999;
  color: #000;

  .lang-profile__heading{
    margin: 0;
    padding: 18px 20px 18px;
    background-color: #fff;
    color: #000;
    text-align: left;
    p {
      font-size: 13px;
      margin-top: 0; 
    }
  }
  .lang-profile__header {
    font-size: 14px;
    margin-top: 0;
  }
  .lang-profile__content {
    background-color: #f5f5f5;
    padding: 16px 20px 20px;
    position: static;
  }
  .popup__arrow {
    height: 13px;
    width: 13px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    // left: 67%;
    right: 50px;
  }
  .profile-list {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin: 0;
    font-size: 13px;

    li{
      padding-bottom: 0px;
      line-height: 1.5em;
    }
  } 
  .btn-primary {
    display: block;
    margin-top: 10px;
    width: 130px;
    padding: 10px;
    text-align: center;
  }
}
.vue-popover-theme{
  z-index: 100;
}

@media (min-width: $breakpoint-large-devices) {
  .lang-profile__dropdown {
    .popup__arrow {
      left: 67%;
      right: auto;
    }
  }

  .modal-container {
    .modal-body {
      padding: 2.5rem;
    }
  }

  .country-group {
		display: grid;
		grid-template-columns: repeat(3,33.3%);

		ul {
			list-style-type: none;
			-webkit-padding-start: 0;
			line-height: 2;
			font-weight: 300;
			-webkit-margin-before: 0em;

			a:hover {
				color: #00266b;
			}
		}

	}
}