<div>
	<component-loader ref="header" :components="headerComponent"></component-loader>

    <h1 class="container-center">SITEMAP</h1>

    <div class="container-center" v-for="pages in pageLinks">
        <h2>{{ pages.pageFlowName }}</h2>
        <ul>
            <li v-for="file in pages.filenames">
                <a :href="'/' + file">{{ file }}</a>
            </li>
        </ul>
    </div>

    <footer-component :footerdata="pageData.footerData"></footer-component>
</div>