
/* Float label re-usable mixins
 * https://github.com/tonystar/float-label-css/blob/master/scss/_mixins.scss
 */

 @mixin float-label-container {
    display: block;
    position: relative;
  }
  
  @mixin float-label {
    label, > span {
      color: $gray-default;
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      cursor: text;
      font-size: 7px;
      opacity: 1;
      transition: all cubic-bezier(0.4, 0, 0.2, 1) .3s;
      @content;
    }
  }
  
  @mixin float-label-input {
    &::placeholder {
      opacity: 1;
      transition: all cubic-bezier(0.4, 0, 0.2, 1) .3s;
    }
    &:placeholder-shown:not(:focus)::placeholder {
        opacity: 0;
    }
  }
  
  @mixin float-label-scaled {
    &:placeholder-shown:not(:focus) + * {
        font-size: 1em;
        opacity: 1;
        font-weight: 400;
        text-transform: capitalize;
        @content;
    }
  }


  
/**
 * Form Animations
 */

%animall {
  transition: all ease-in-out .3s;
}