@mixin render-icon($icon_name : 'icon-close', $icon_file_type: 'png') {
    background-image: url(/assets/images/icons/#{$icon_name}.#{$icon_file_type});     
}

@mixin generate-icon-files($icon_names) {
    // To do
}