$gutter: 10px;
// screen break points
$break-point-mobile: 576px;
$break-point-tablet: 768px;
$break-point-desktop: 992px;
$break-point-desktop-large: 1200px;

$media-screen-smallest: '(max-width: #{$break-point-mobile - 1})';
$media-screen-mobile: '(max-width: #{$break-point-tablet - 1})';
$media-screen-tablet: '(min-width: #{$break-point-tablet}) and (max-width: #{$break-point-desktop - 1})';
$media-screen-desktop: '(min-width: #{$break-point-desktop})';
$media-screen-desktop-large: '(min-width: #{$break-point-desktop-large})';

.news {
  overflow: hidden;
  background-color: #FAFAFA;

  &__col {
    width: 50%;
    padding-left: $gutter;
    padding-right: $gutter;
    float: left;
  }

  &__row {
    margin-right: -$gutter;
    margin-left: -$gutter;

    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  &__header {
    border-left: 3px solid #FF9F00;
    display: flex;

    &-text {
      font-family: 'sigvar', Helvetica, Arial, sans-serif;
      font-size: 26px;
      color: #00266B;
      font-weight: 400;
      line-height: 20px;
      padding-left: $gutter;
      margin: 0;
      width: 50%;
    }
  }

  &__read-all {
    text-align: right;
    font-size: 14px;
    width: 50%;
    position: relative;
    padding-right: 10px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 6px;
      width: 7px;
      height: 9px;
      background-image: url("/assets/images/arrow-right-blue.png");
      background-size: cover;
    }
  }

  .visible-xs {
    display: none;
  }

  &__content {
    margin-top: 20px;

    &--wrapper {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 369.43px;
      position: relative;
      border-radius: 3px;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 80px 0 30px 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, transparent);
    width: 100%;
    border-radius: 4px;

    &-date {
      margin: 0 20px 7px 20px;
      color: #FFFFFF ;
      display: block;
      font-size: 11px;
      letter-spacing: 1px;
      line-height: 15px;
      text-transform: uppercase;
    }

    &-description {
      margin: 0 20px 0 20px;
      color: #FFFFFF ;
      display: block;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__item {
    border-top: 1px solid #00266b;
    padding: 20px 0;

    &-date {
      display: block;
      font-size: 11px;
      letter-spacing: 1px;
      line-height: 15px;
      color: #666666;
      text-transform: uppercase;
    }

    &-description {
      font-size: 14px;
      line-height: 20px;
      color:#222222;
    }
  }

  @media #{$media-screen-mobile} {
    &__col {
      width: 100%;
    }

    &__item {
      &:first-child {
        margin-top: 20px;
      }
    }
  }

  @media #{$media-screen-smallest} {
    &__col {
      width: 100%;
    }

    &__read-all {
      margin-bottom: 20px;
      text-align: left;
      width: auto;
    }

    .hidden-xs {
      display: none;
    }

    .visible-xs {
      display: inline-block;
    }

    &__item {
      &:first-child {
        margin-top: 20px;
      }
    }

    &__content {
      &--wrapper {
        height: 188.2px;
      }
    }

    &__info {
      padding: 80px 0 20px 0;
      line-height: 20px;
    }
  }
}
