<section class="hp-section news">
  <div class="hp-container" v-if="data">
    <div class="news__header">
      <h3 class="news__header-text">{{ data.header }}</h3>
      <a :href="data.readAlllink" class="news__read-all link hidden-xs">{{ data.readAlllinkDescription }}
      </a>
    </div>

    <div class="news__content">
      <div class="news__row">
        <div class="news__col">
          <div class="news__content--wrapper" v-for="item in data.news" v-if="item.isFavorite" :style="{ backgroundImage: 'url(' + item.images + ')' }">
            <a :href="item.link" class="news__info">
              <span class="news__info-date">{{ item.date }}</span>
              <span class="news__info-description" v-html="item.heading"></span>
            </a>
          </div>
        </div>
        <div class="news__col">
          <div class="news__item" v-for="item in data.news" v-if="!item.isFavorite">
            <a :href="item.link">
              <span class="news__item-date">{{ item.date }}</span>
              <span class="news__item-description" v-html="item.heading"></span>
            </a>
          </div>
        </div>
      </div>
      <a :href="data.readAlllink" class="news__read-all link visible-xs">{{ data.readAlllinkDescription }}
      </a>
    </div>
  </div>
</section>
