/*TERMS AND CONDITIONS*/
.terms-conditions {
    background-color: #e5e9f0;
    padding:  40px;
    margin-bottom: 40px;

    .sub-heading {
        font-size: 16px;
        color: #00266B;
        font-weight: bold;
        margin: 0;
    }

    .ctagroup {
        margin: 20px 0 20px;
    }

    ul {
        margin: 0;
        padding: 0 0 0 20px;
        display:  inline-block;
        vertical-align: top;
        list-style: none;

        &:last-child {
            margin-left: 5%;
        }

        li {
            margin-bottom: 5px;

            a {
                font-size: 14px;
                font-weight: 400;
                transition: color 400ms ease 0s;
                color: #0254ec;
                position:  relative;

                .ico-chevron--blue {
                    background-size: contain;
                    width: 6px;
                    height: 6px;
                    position:  absolute;
                    left:  -20px;
                    top: 50%;
                    margin-top:  -3px;
                }

                &:hover {
                    color: #00266b;
                }
            }
        }
    }

    .custom-checkbox {
        input {
            position: absolute;
            top: 5px;
            opacity: 0;
            cursor: pointer;
            width: 14px;
            height: 14px;
            margin: 0;

            &:checked + label:after {
                display:  block;
            }
        }

        label {
            font-size: 14px;
            color: #000000;
            font-weight: normal;
            padding-left: 20px;
            cursor:  pointer;

            &:before {
                content: '';
                width: 12px;
                height: 12px;
                border: 1px solid #ccc;
                position: absolute;
                top: 6px;
                left: 0;
                background-color: #fff;
            }

            &:after {
                content: '\e610';
                font-family: 'sia';
                font-weight: bold;
                color: #ef9a1a;
                position: absolute;
                top: 5px;
                left: 2px;
                display: none;
                font-size: 14px;
            }
        }

    }
}

/*END OF TERMS AND CONDITIONS*/


.btn-submit-mp-payment {
    text-align: right;

    input {
        width:  204px;
        transition: all 400ms ease 0s;
        -webkit-transition: all 400ms ease 0s;
        -moz-transition: all 400ms ease 0s;
        -ms-transition: all 400ms ease 0s;
        -o-transition: all 400ms ease 0s;
        cursor: pointer;
    }

    input[disabled] {
        background-color: #999;
        border: 1px solid #999;
        cursor: default;
        color: #ddd;
    }
}