<section class="terms-conditions-container">
    <!-- TERMS AND CONDITIONS -->
    <div class="terms-conditions">
        <h4 class="sub-heading">Read and accept terms and conditions</h4>
        <div class="ctagroup">
            <ul class="cta-group-1">
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">Full fare rules and conditions</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">General conditions of carriage</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">Conditions of contract and notices</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">Conditions of use</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">Privacy Policy</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">Additional baggage terms and conditions</span>
                    </a>
                </li>
            </ul>
            <ul class="cta-group-2">
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">Standard Seat terms and conditions</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">Forward Zone Seat and conditions</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">Extra Legroom Zone Seat terms and conditions</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">Hotel terms and conditions</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="cta-link" target="_blank">
                        <em class="ico-chevron--blue"></em>
                        <span class="text">Car rental terms and conditions</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <div class="custom-checkbox">
                <input name="accept-cb" id="accept-cb" type="checkbox" aria-label="I understand and accept all the terms and conditions described above." v-model="checked">
                <label for="accept-cb">I understand and accept all the terms and conditions described above.</label>
            </div>
        </div>
    </div>
    <!-- END OF TERMS AND CONDITIONS -->

    <div class="form-group btn-submit-mp-payment">
      <input type="submit" name="submit-mp-payment" id="submit-mp-payment" value="Make payment" class="btn-primary" :disabled="!checked">
    </div>
</section>