/*ADD ON UPSELL*/
.upsell-group .mp-block {
    padding:  0;
}

.upsell-item-desc {
    position:  relative;
    display: table;

    .upsell-image {
        display: table-cell;
        vertical-align: middle;
        width: 21%;
        max-width:  205px;
        height: 100%;
        text-align:  center;
        border-right: 2px solid #E5E9F0;
    }

    .upsell-text {
        display: table-cell;
        vertical-align:  middle;
        width: 79%;
        padding: 20px 20px 20px 40px;

        .title {
            font-weight: 600;
            font-size: 18px;
            color: #00266b;
            margin: 0 0 10px;
        }

        .charge {
            font-weight: 400;
            font-size: 16px;
            color: #000000;
            margin: 0;

            .price {
                font-weight: 700;
                font-size: 16px;
                color: #00266b;
                text-transform: uppercase;
                margin-left: 10px;
            }
        }

        .desc {
            font-weight: 400;
            font-size: 14px;
            color: #666;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}
/*END OF ADD ON UPSELL*/