<section class="addon-upsell-container">
    <!-- ADD ON UPSELL COMPONENT -->
    <div class="upsell-group">

        <template v-for="addon,key in upsellinfo.commonAddons">                
            <div class="mp-block" v-if="key == 'hotelAddOn'">
                <div class="upsell-item-desc">
                    <div class="upsell-image">
                        <img src="../../../assets/images/addon-agoda-logo.png" alt="Agoda">
                    </div>
                    <div class="upsell-text">
                        <h3 class="title">Payment for hotel booking</h3>
                        <h4 class="charge">Amount charged by Agoda
                        <span class="price">{{upsellinfo.currency}} {{addon.amount}}</span>
                        </h4>
                        <p class="desc">Payment collected will be managed by Agoda. Once your payment has been processed, Agoda will send you a confirmation e-mail.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mp-block" v-if="key == 'carAddOn'">
                <div class="upsell-item-desc">
                    <div class="upsell-image">
                        <img src="../../../assets/images/addon-rentalcars-logo.png" alt="Rental Cars">
                    </div>
                    <div class="upsell-text">
                        <h3 class="title">Payment for car rental</h3>
                        <h4 class="charge">Amount charged by Rentalcars.com
                        <span class="price">{{upsellinfo.currency}} {{addon.amount}}</span>
                        </h4>
                        <p class="desc">Payment collected will be managed by Rentalcars.com. Once your payment has been processed, Rentalcars.com will send you a confirmation e-mail.</p>
                    </div>
                </div>
            </div>
        </template>
    </div>
    <!-- END OF ADD ON UPSELL COMPONENT -->
</section>