<header role="banner" class="header-main">
	<div class="container-center header-main_wrap">
		<h1 id="nav-heading" hidden>Singapore Airlines</h1>
		<a href="#main" class="header-main_logo" v-if="logoLink">
			<img src="/assets/images/svg/logo-sia-no-text.svg" width="auto" height="30" alt="Singapore Airlines Home" class="logo_img">
		</a>
		<a href="/" class="header-main_logo" v-else>
			<img src="/assets/images/svg/logo-sia-no-text.svg" width="auto" height="30" alt="Singapore Airlines Home" class="logo_img">
		</a>
		<aside class="lang-profile ">
			<div class="lang-profile_wrap" :class="{'loggedin' : loggedin}">
				<v-popover class="profile-v-popover" id="profile-popover-root" v-if="loggedin" v-on:apply-show="popOverQueryToFocusNext('profile-popover-body', '.link-2')">
					<div class="lang-profile_wrap__grp">
						<a href="#" class="lang-profile__icon">{{ userdata.firstName.charAt(0) }}{{ userdata.lastName.charAt(0) }}<span class="lang-profile__notify" v-if="checkedInPax > 0"></span></a>
					</div>
					<template slot="popover">
						<div id="profile-popover-body" class="lang-profile__dropdown animated fadeIn" role="dialog" tabindex="-1">
							<div class="menu-sub-outer">
								<div class="menu-sub-inner" role="document" tabindex="0">
									<em class="popup__arrow">
									</em>
									<div class="lang-profile__heading" aria-hidden="false">
									<h2 class="lang-profile__header">{{ userdata.firstName }} {{ userdata.lastName }}</h2>
									<p>{{ userdata.currentTier }} <br>{{ userdata.kfNumber }}</p>
									<h3 class="lang-profile__header">{{ userdata.ffpMiles }} <span>miles</span></h3>
									</div>
									<div class="lang-profile__content">
									<ul class="profile-list">
										<li v-for="(link, index) in headerdata[headerdata.length-1].l4l5NavigationContainer.fourthLevelSubNavContainer" v-if="link.userDisplay && link.userDisplay.indexOf( userdata.userType ) != -1">
											<a :href="link.linkTypeContainer.link" class="link-2" :target="link.linkTypeContainer.targetType">{{link.title}}</a>
										</li>
									</ul><a @blur="popOverQueryToFocusNext('profile-popover-root', '.lang-profile__icon')" href="home.html" class="btn-primary">Log out</a>
									</div>
								</div>
							</div>
						</div>
					</template>
				</v-popover>
				<div class="lang-profile_wrap__grp" v-else>
					<a href="#" @click.prevent="openModal('1')"><span class="lang-profile_login"><img src="/assets/images/svg/icons/profile-white.svg" width="auto" height="17" alt="Signup or Login"></span></a>
				</div>
			</div>
		</aside>
		<button class="menu-toggle" @click.prevent="toggleMainNav" :class="{ 'is-active': isNavActive }">
			<div class="menu-toggle__inner"><span class="visually-hidden">Menu</span></div>
		</button>
	</div>

	<nav role="menubar" aria-labelledby="nav-heading" class="nav-main nav-main--mobile" :class="{ 'is-active': isNavActive }">
		<aside class="search-grp">
			<!-- <form action="#" :action="headerdata[0].linkTypeContainer.link"> -->
			<form action="#">
				<label for="search-mobile" class="visually-hidden">Type in your search query</label>
				<input type="text" id="search-mobile" class="search-grp_input" placeholder="Type in your search query">
				<input type="submit" class="search-grp_submit ico-search">
			</form>
		</aside>
		<ul class="nav-main_wrap">
			<li v-for="link in headerdata" v-if="link && showLink(link)" class="nav-main_item" :class="link.deviceDisplay">
				<div class="nav-main_grp">
					<a :href="link.linkTypeContainer.link" :target="link.linkTypeContainer.targetType" class="nav-main_grp_link" @click.prevent="toggleSubNav(link.title)" :class="{'is-active' : curLabel == link.title}">
						{{ link.title }}
					</a>

					<div class="nav-main_submenu-wrap" v-if="link.secondLevelNavigationContainer && link.secondLevelNavigationContainer.length > 1">
						<div v-for="seclink in getSecondLevelLinks(link.secondLevelNavigationContainer, userdata.userType)" class="nav-main_sub-nav" v-if="seclink.userDisplay && seclink.userDisplay.indexOf( userdata.userType ) != -1 && showLink(seclink)">

							<a class="nav-main_sub-nav_head seclink-title" :href="seclink.linkTypeContainer.link" :target="seclink.linkTypeContainer.targetType">{{
								seclink.title }}</a>

							<ul class="nav-main_sub-nav_wrap" v-if="seclink.thirdLevelNavigationContainer.length > 1" role="menu">
								<li v-for="(sublink, index, key) in getThirdLevelLinks(seclink, userdata.userType)" :key="key" class="nav-main_sub-nav_item">
									<a class="nav-main_sub-nav_head sublink-title" :href="sublink.linkTypeContainer.link" :target="sublink.linkTypeContainer.targetType"
										v-if="index < 4">{{ sublink.title }}</a>
									<a class="nav-main_sub-nav_head sublink-title" :href="seclink.linkTypeContainer.link" :target="seclink.linkTypeContainer.targetType"
										v-else-if="seclink.thirdLevelNavigationContainer.length > 4 && index == 4">More
										<span class="ico-chevron nav-main_sub-nav_ico"></span>
									</a>
									<a class="nav-main_sub-nav_head sublink-title" :href="sublink.linkTypeContainer.link" :target="sublink.linkTypeContainer.targetType"
										v-else-if="index == 4 && seclink.thirdLevelNavigationContainer.length == 5">{{ sublink.title }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<aside class="lang-profile">
			<div class="lang-profile_wrap" @click="openModal('2')">
				<a href="#" class="lang-profile_country-selector" data-target-tpl="" tabindex="0">
					<span class="country">Singapore</span>
					<span> - </span>
					<span class="language">English</span>
					<span class="ico-chevron ico"></span>
				</a>
			</div>
		</aside>
	</nav>

	<div class="nav-main__mobile-overlay" @click.prevent="toggleMainNav" :class="{ 'is-active': isNavActive }"></div>

	<light-box-component :id="'1'" :active="showLogin" :lightBoxWidth="'450px'" class="popup-login">
		<div slot="body">
			<button class="tool-tip-content_close icon-round-close" @click="openModal('0')"></button>
			<h1 class="page_header">Log in</h1>

			<div class="form-group">
				<div class="form-group-radio">

					<div class="form_fields_container booking_actions">
						<div class="form_field_wrapper">
							<div class="form_controls">
								<div class="booking_actions--main">
									<div class="form_control field__radiobox"><input value="bookFlight" type="radio" name="flight-radio" id="bookFlights"
										 class="input__radio">
										<label for="bookFlights" class="form__label">KrisFlyer / PPS Club</label>
									</div>
									<div class="form_control field__radiobox">
										<input value="redeemFlight" type="radio" name="flight-radio" id="redeemFlights" class="input__radio">
										<label for="redeemFlights" class="form__label">SQCorporate</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-wrapper">
						<div class="form_control has-float-label">
							<div class="input_wrapper custom_input_control--floating-label">
								<input type="text" name="departDate" id="departDateField" placeholder=" " class="form_field form_input--text">
								<label for="departDate" class="form_label field_focused">Krisflyer number/Email address</label>
							</div>
							<a href="#" class="right">Forgot your membership number?</a>
						</div>
					</div>
				</div>
				<div class="form-wrapper">
					<div class="form_control has-float-label">
						<div class="passenger-selection">
							<div class="input_wrapper">
								<input readonly="readonly" type="text" name="flightPassengers" id="flightPassengersField" placeholder=" " class="form_field form_input--text">
								<label for="flightPassengers" class="form_label">Password</label>
							</div> <small class="validation_container hidden">
								<span class="error">Validation error</span></small>
							<a href="#" class="right">Forgot your PIN?</a>
						</div>
					</div>
				</div>

				<div class="custom-checkbox">
					<input type="checkbox" id="checkbox-1" class="login-checkbox">
					<label for="checkbox-1" class="textbox-content">Remember me on this computer</label>
				</div>

				<div class="login-btn-wrapper">
					<button type="button" class="btn-primary full--btn">PROCEED</button>
					<a href="#" class="btn__message"><em class="ico-chevron--blue"></em>Not a KrisFlyer member? Join now</a>
				</div>

			</div>
		</div>
	</light-box-component>


	<light-box-component :id="'2'" :active="showLogin" v-on:lightbox-closed="closeModal()">
		<div slot="body">
			<button class="modal-default-button tool-tip-content_close icon-round-close" @click="openModal('0')"></button>
			<div class="popup__content  focus-outline" aria-hidden="false" tabindex="0" aria-describedby="popup--help">

				<h2 class="popup__heading" aria-hidden="false">Select location and language</h2>
				<div class="row">
					<h4 class="country-heading">Asia-Pacific</h4>
					<div class="country-group">
						<ul>
							<li>
								<a href="#">Australia - English</a>
							</li>
							<li>
								<a href="#">Bangladesh - English</a>
							</li>
							<li>
								<a href="#">Brunei Darussalam - English</a>
							</li>
							<li>
								<a href="#">Cambodia - English</a>
							</li>
							<li>
								<a href="#">China - English</a>
							</li>
							<li>
								<a href="#">中国 - 简体中文</a>
							</li>
							<li>
								<a href="#">Hong Kong - English</a>
							</li>
							<li>
								<a href="#">香港 - 繁體中文</a>
							</li>
							<li>
								<a href="#">India - English</a>
							</li>
							<li>
								<a href="#">Indonesia - English</a>
							</li>
							<li>
								<a href="#">Indonesia - Bahasa</a>
							</li>
						</ul>

						<ul>
							<li>
								<a href="#">Japan - English</a>
							</li>
							<li>
								<a href="#">日本 - 日本語</a>
							</li>
							<li>
								<a href="#">Laos - English</a>
							</li>
							<li>
								<a href="#">Malaysia - English</a>
							</li>
							<li>
								<a href="#">Maldives - English</a>
							</li>
							<li>
								<a href="#">Myanmar - English</a>
							</li>
							<li>
								<a href="#">Nepal - English</a>
							</li>
							<li>
								<a href="#">New Zealand - English</a>
							</li>
							<li>
								<a href="#">Philippines - English</a>
							</li>
							<li>
								<a href="#">Singapore - English</a>
							</li>
							<li>
								<a href="#">新加坡 - 简体中文</a>
							</li>
						</ul>

						<ul>
							<li>
								<a href="#">South Korea - English</a>
							</li>
							<li>
								<a href="#">한국 - 한국어</a>
							</li>
							<li>
								<a href="#">Sri Lanka - English</a>
							</li>
							<li>
								<a href="#">Taiwan, China - English</a>
							</li>
							<li>
								<a href="#">中國臺灣 - 繁體中文</a>
							</li>
							<li>
								<a href="#">Thailand - English</a>
							</li>
							<li>
								<a href="#">Vietnam - English</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="row">
					<h4 class="country-heading">Europe</h4>

					<div class="country-group">
						<ul>
							<li>
								<a href="#">Austria - Deutsch</a>
							</li>
							<li>
								<a href="#">Austria - English</a>
							</li>
							<li>
								<a href="#">Belgium - English</a>
							</li>
							<li>
								<a href="#">Croatia - English</a>
							</li>
							<li>
								<a href="#">Denmark - English</a>
							</li>
							<li>
								<a href="#">France - English</a>
							</li>
							<li>
								<a href="#">France - Français</a>
							</li>
							<li>
								<a href="#">Germany - English</a>
							</li>
							<li>
								<a href="#">Deutschland - Deutsch</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">Ireland - English</a>
							</li>
							<li>
								<a href="#">Italy - English</a>
							</li>
							<li>
								<a href="#">Netherlands - English</a>
							</li>
							<li>
								<a href="#">Nederland - Nederlands</a>
							</li>
							<li>
								<a href="#">Norway - English</a>
							</li>
							<li>
								<a href="#">Poland - Français</a>
							</li>
							<li>
								<a href="#">Portugal - English</a>
							</li>
							<li>
								<a href="#">Russia - English</a>
							</li>
							<li>
								<a href="#">Россия - Русский</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">Spain - English</a>
							</li>
							<li>
								<a href="#">España - Español</a>
							</li>
							<li>
								<a href="#">Sweden - English</a>
							</li>
							<li>
								<a href="#">Switzerland - English</a>
							</li>
							<li>
								<a href="#">Suisse - Français</a>
							</li>
							<li>
								<a href="#">Schweiz - Deutsch</a>
							</li>
							<li>
								<a href="#">Turkey - English</a>
							</li>
							<li>
								<a href="#">United Kingdom - English</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="row">
					<h4 class="country-heading">Africa &amp; Middle East</h4>

					<div class="country-group">
						<ul>
							<li>
								<a href="#">Saudi Arabia - English</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">United Arab Emirates - English</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">South Africa - English</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<h4 class="country-heading">The Americas</h4>

					<div class="country-group">
						<ul>
							<li>
								<a href="#">Brazil - English</a>
							</li>
							<li>
								<a href="#">Brasil - Português</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">Canada - English</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">United States - English</a>
							</li>
						</ul>
					</div>
				</div>
				<a href="#" class="popup__close" aria-label="Close button" hidden>
					<span class="ui-helper-hidden-accessible">Close</span>
					<span class="text"></span>
				</a>
			</div>
		</div>
	</light-box-component>
</header>
