.apis-information-component{
    .apis-information-heading{
        width: 97%;
        margin-top: 50px;
    }
    .apis-information-heading-title{
        font-weight: 600;
        font-family: "proxima-nova", sans-serif;
        font-size: 16px;
        color: #00266b;
        line-height: 1.3em;
    }
    .apis-information-heading-paragraph{
        color: #000;
        font-size: 14px;
        font-weight: 400;
        font-family: "proxima-nova", sans-serif;
        min-width: 1.875
    }
    .custom-radio input {
        position: absolute; 
        top: 3px;
        opacity: 0;
        z-index: 4;
        cursor: pointer;
    }
    .custom-radio--1 input + label:before {
        width: 12px;
        height: 12px;
        top: 5px;
        left: 0;
        border: solid 1px #bdbdbd;
        background: #fff;
    }
    .custom-radio--1 input + label:before, .custom-radio--1 input + label:after {
        content: '';
        border-radius: 100%;
        position: absolute;
    }
    .custom-radio--1 input:checked + label:after, .custom-radio--1 input.checked + label:after {
        width: 8px;
        height: 8px;
        top: 7px;
        left: 2px;
        background-color: #f99f1c;
    }
    .custom-radio--1 input + label:before, .custom-radio--1 input + label:after {
        content: '';
        border-radius: 100%;
        position: absolute;
    }
    .custom-radio.custom-radio--1{
        display: block;
        position: relative;
        label{
            padding-left: 23px;
            display: block;
            color: #666;
    
        }
    }
    .custom-radio--1 input + label {
        position: relative;
    }
    .radio-group--left .custom-radio--1 {
        margin-left: 40px;
    }
    .radio-group--left .custom-radio--1:first-child {
        margin-left: 0;
    }
    .radio-group--left{
        margin-top: 20px;
    }
    .custom-radio--1 input:checked + label, .custom-radio--1 input.checked + label {
        color: #000;
    }

    
    .grid-row-wrapper-date{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "day month year"
    }
    .form_control-day{
        grid-area: day;
    }
    .form_control-month{
        grid-area: month;
    }
    .form_control-year{
        grid-area: year;
    }


    .textarea-1, .textarea-2 {
        display: block;
        padding: 7px 13px;
    }
    .textarea-1 {
        font-weight: 400;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        border: 1px solid #cecece;
        position: relative;
        color: #666;
        -webkit-font-smoothing: antialiased;
        background-color: #fff;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        textarea {
            resize: none;
            min-height: 72px;
        }
    }
    .textarea-1 textarea {
        width: 100%;
        height: 100%;
        border: none;
        font-weight: 400;
        font-family: "proxima-nova", sans-serif;
        outline: transparent;
    }
    .form-group{
        display: block;
        padding-right: 5px;
        margin-right: 15px;
    }
    .grid-row {
        margin-top: 36px;
    }
}

