<div class="apis-information-component">
    <div class="apis-information-heading">
        <h3 class="apis-information-heading-title">United States Advanced Passenger Information System (APIS) information</h3>
        <p class="apis-information-heading-paragraph">The US Department of Homeland Security mandates that inbound commercial air and sea carriers electronically submit
            passenger details prior to arrival or departure from the US. Please enter your details now to save time at the
            airport.
        </p>
    </div>
    <div class="grid-row">
        <div class="grid-row--position">
            <label for="" class="passenger-us-bound-label">Redress number</label>
            <div class="form_control">
                <div class="vue-simple-suggest designed">
                    <div class="input_wrapper input_wrapper--height input_wrapper--design">
                        <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                        <span class="icon icon--close"></span>
                        <small class="validation_container hidden">
                            <span class="error"></span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row--position grid-row--position--right">
            <label for="" class="passenger-us-bound-label">Known traveller number</label>
            <div class="form_control">
                <div class="vue-simple-suggest designed">
                    <div class="input_wrapper input_wrapper--height input_wrapper--design">
                        <input type="text" placeholder=" " class="form_field form_input--text form_input--size">

                        <span class="icon icon--close"></span>
                        <small class="validation_container hidden">
                            <span class="error"></span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group form-group-2 form-group-radio grid-row">
        <label>Visa / Citizenship status*</label>
        <div class="grid-col">
            <div class="grid-inner">
                <div class="custom-radio custom-radio--1">
                    <input name="traveller" id="gender-citizen-last" type="radio" v-model="selectedCitizenStatus" value="US" aria-labelledby="traveller-error" data-citizenship-visa-status="US"
                        data-rule-required="true" data-msg-required="Select visa/citizenship status." aria-required="true">
                    <label for="gender-citizen-last">I am a US citizen.</label>
                </div>
                <div class="custom-radio custom-radio--1">
                    <input name="traveller" id="gender-registration-last" type="radio" v-model="selectedCitizenStatus" value="PRC/ARC" aria-labelledby="traveller-error" data-citizenship-visa-status="PRC/ARC">
                    <label for="gender-registration-last"> I am holding a Permanent Resident Card / Alien Registration Card.</label>
                </div>
                <div class="custom-radio custom-radio--1">
                    <input name="traveller" id="gender-visit-citizen-last" type="radio" v-model="selectedCitizenStatus" value="Visitor" aria-labelledby="traveller-error" data-citizenship-visa-status="Visitor">
                    <label for="gender-visit-citizen-last">I am visiting the US (more than 8 hours’ stay; including Travellers and Holders of Student Visa, Employment
                        Visa or any other long-term visa in the US).</label>
                </div>
                <div class="custom-radio custom-radio--1">
                    <input name="traveller" id="gender-transit-citizen-last" type="radio" v-model="selectedCitizenStatus" value="Transitor" aria-labelledby="traveller-error"
                        data-citizenship-visa-status="Transitor">
                    <label for="gender-transit-citizen-last"> I am a transit passenger (less than 8 hours’ stay).</label>
                </div>
            </div>
        </div>
    </div>
    <div v-if="selectedCitizenStatus == 'PRC/ARC'">
        <div class="grid-row">
            <div class="">
                <label for="" class="passenger-us-bound-label">Card Type</label>
                <div class="form_control">
                    <div class="vue-simple-suggest designed">
                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                            <input type="text" placeholder=" " class="form_field form_input--text form_input--size">
    
                            <span class="icon icon--close"></span>
                            <small class="validation_container hidden">
                                <span class="error"></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="">
                <label for="" class="passenger-us-bound-label">Card number*</label>
                <div class="form_control">
                    <div class="vue-simple-suggest designed">
                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                            <input type="text" placeholder=" " class="form_field form_input--text form_input--size">
    
                            <span class="icon icon--close"></span>
                            <small class="validation_container hidden">
                                <span class="error"></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="">
                <label for="" class="passenger-us-bound-label">Card country / region of issue*</label>
                <div class="form_control">
                    <div class="vue-simple-suggest designed">
                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                            <input type="text" placeholder=" " class="form_field form_input--text form_input--size">
    
                            <span class="icon icon--close"></span>
                            <small class="validation_container hidden">
                                <span class="error"></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="permanent-alien-registration-card">
            <div class="grid-row ">
                <div class="grid-row-wrapper">
                    <label for="" class="passenger-us-bound-label">Card / Passport expiry date*</label>
                    <div class="grid-row-wrapper-date">
                        <div class="form_control form_control--grid form_control-day">
                            <div class="vue-simple-suggest designed">
                                <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                    <input type="text" placeholder=" " class="form_field form_input--text form_input--size">
    
                                    <span class="icon icon--close"></span>
                                    <small class="validation_container hidden">
                                        <span class="error"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form_control form_control--grid form_control-month">
                            <div class="vue-simple-suggest designed">
                                <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                    <input type="text" placeholder=" " class="form_field form_input--text form_input--size">
    
                                    <span class="icon icon--close"></span>
                                    <small class="validation_container hidden">
                                        <span class="error"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form_control form_control--grid form_control-year">
                            <div class="vue-simple-suggest designed">
                                <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                    <input type="text" placeholder=" " class="form_field form_input--text form_input--size">
    
                                    <span class="icon icon--close"></span>
                                    <small class="validation_container hidden">
                                        <span class="error"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-checkbox custom-checkbox--1 passenger-1">
                        <input name="checbox-expiry-last" id="checbox-expiry-last" type="checkbox">
                        <label for="checbox-expiry-last">Use passport expiry date</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div v-if="selectedCitizenStatus == 'Visitor'" class="visiting-us">
        <div class="grid-row">
            <div data-citizenship-visa-status-relation="Visitor" class="form-group">
                <label for="address-usa-last" class="passenger-us-bound-label">Address in the US*</label>
                <div class="grid-col full">
                    <div class="grid-inner">
                        <span class="textarea-1">
                            <textarea name="address-usa-last" id="address-usa-last" data-rule-required="#gender-visit-citizen-last:checked" data-msg-required="Enter an address in the US."
                                data-rule-check_addr_usa="true" aria-required="true"></textarea>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="">
                <label for="" class="passenger-us-bound-label">City / Town*</label>
                <div class="form_control">
                    <div class="vue-simple-suggest designed">
                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                            <input type="text" placeholder=" " class="form_field form_input--text form_input--size">
    
                            <span class="icon icon--close"></span>
                            <small class="validation_container hidden">
                                <span class="error"></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="">
                <label for="" class="passenger-us-bound-label">State*</label>
                <div class="form_control">
                    <div class="vue-simple-suggest designed">
                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                            <input type="text" placeholder=" " class="form_field form_input--text form_input--size">
    
                            <span class="icon icon--close"></span>
                            <small class="validation_container hidden">
                                <span class="error"></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="">
                <label for="" class="passenger-us-bound-label">Zip code*</label>
                <div class="form_control">
                    <div class="vue-simple-suggest designed">
                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                            <input type="text" placeholder=" " class="form_field form_input--text form_input--size">
    
                            <span class="icon icon--close"></span>
                            <small class="validation_container hidden">
                                <span class="error"></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>