<div class="tab_content_wrapper">
    <button class="tab-title" @click="openLightbox('book-trip')">
 		<div class="tab-title-content bookFlights">
 			<span class="bookFlights">BOOK FLIGHTS</span>
            <span><em class="ico-chevron ico"></em></span>
 		</div>    	
    </button>
    <div class="tab_content_details">
    	<button class="tab-title" @click="openLightbox('manage-booking')">
    		<div class="tab-title-content">
    			<span>MANAGE BOOKING</span>
    		</div>
    	</button>
    	<button class="tab-title" @click="openLightbox('check-in')">
    		<div class="tab-title-content">
    			<span>CHECK IN</span>
    		</div>
    	</button>
    	<button class="tab-title">
    		<div class="tab-title-content">
    			<span>FLIGHT STATUS</span>
    		</div>
    	</button>
    	<button class="tab-title">
    		<div class="tab-title-content">
    			<span>FLIGHT SCHEDULE</span>
    		</div>
    	</button>
    </div>
</div>