@import "../../../../../assets/styles/atoms/import/_breakpoints";


// Extra Small devices (portrait phones, max 576px)
@media (max-width: $breakpoint-small-devices) {

.header_wrapper .masthead_wrapper {
	width: 100%;
}

.masthead {
	width: 100%;

.masthead_copy {
	margin: 0 17px;
}

}

.kf-log-in-container {
	display: none;
}

.tab_content_wrapper {
	margin: 0 10px;
	transform: translateY(-1.6rem);
    position: relative;
}

.tab_content_wrapper .tab-title {
	width: 100%;
	background-color: #174CAB;
}

.bookFlights {
	text-align: left;
}


.tab_content_details {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.5em;
}

.tab_content_details .tab-title {
	background-color: #FFFFFF;
	border: 0.1px solid #E5E9F0;
	padding: 30px 10px;
}

.tab_content_details .tab-title-content {
	color: #00266B;
	letter-spacing: 2px;
	padding: 0px;
}
.bookFlights {
	text-align: left;
}

.ico-chevron {
    width: 8px;
    height: 6px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiP…AgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+) no-repeat transparent center center;
    display: inline-block;
    position: absolute;
    right: 17px;
    top: 20px;
    transform: rotate(270deg);
}


}



