<section class="hp-section experience-baseline1">
  <div class="experience-baseline1__box js-experience-baseline-one-slider hidden-xs">
    <div class="experience-baseline1__item" v-for="item in experienceBaselineOne.items" :style="{ 'background-image': 'url(' + item.image.desktop + ')' }">
      <div class="experience-baseline1__details">
        <div class="experience-baseline1__header">
          {{ item.header }}
        </div>
        <div class="experience-baseline1__title">
          {{ item.title }}
        </div>
        <div class="experience-baseline1__description">
          {{ item.description }}
        </div>
        <div class="experience-baseline1__logo">
          <img :src="logo.image" v-for="logo in experienceBaselineOne.logos">
        </div>
      </div>
    </div>
  </div>

  <div class="experience-baseline1__box js-experience-baseline-one-slider visible-xs">
    <div class="experience-baseline1__item--mobile" v-for="item in experienceBaselineOne.items">
      <div class="experience-baseline1__image" :style="{ 'background-image': 'url(' + item.image.mobile + ')' }">
      </div>
      <div class="experience-baseline1__details--mobile">
        <div class="hp-container">
          <div class="experience-baseline1__header">
            {{ item.header }}
          </div>
          <div class="experience-baseline1__title">
            {{ item.title }}
          </div>
          <div class="experience-baseline1__description">
            {{ item.description }}
          </div>
          <div class="experience-baseline1__logo">
            <img :src="logo.image" v-for="logo in experienceBaselineOne.logos">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
