$gutter: 10px;
// screen break points
$break-point-mobile: 576px;
$break-point-tablet: 768px;
$break-point-desktop: 992px;
$break-point-desktop-large: 1200px;


$media-screen-smallest: '(max-width: #{$break-point-mobile - 1})';
$media-screen-mobile: '(max-width: #{$break-point-tablet - 1})';
$media-screen-tablet: '(min-width: #{$break-point-tablet}) and (max-width: #{$break-point-desktop - 1})';
$media-screen-desktop: '(min-width: #{$break-point-desktop})';
$media-screen-desktop-large: '(min-width: #{$break-point-desktop-large})';


.experience-baseline1 {
  &__item {
    position: relative;
    height: 610px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__details {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 30%;
  }

  &__header {
    font-family: 'sigvar';
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #fff;
    margin-bottom: 30px;
  }

  &__logo {
    height: 46px;

    & img {
      float: left;
      width: 144px;
      height: 100%;
      margin-right: 33px;
    }
  }

  & .slick-slider {
    .slick-dots {
      position: absolute;
      bottom: 25px;
      left: 50%;
      width: 150px;
      transform: translateX(-50%);
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;

      li {
        margin: 0;
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 0;
        cursor: pointer;

        button {
          font-size: 7px;
          line-height: 7px;
          display: block;
          width: 20px;
          height: 20px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent;

          &:before {
            font-family: 'slick';
            font-size: 30px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            content: '•';
            text-align: center;
            color: #DDDDDD;
          }
        }

        &.slick-active {
          button:before {
            color: #FF9F00;
            font-size: 35px;
            opacity: .75;
          }
        }
      }
    }

    & .slick-arrow {
      position: absolute;
      width: 43px;
      height: 86px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #757575;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
      z-index: 1;
      font-size: 0;
      outline: 0;

      &.slick-disabled {
        opacity: 0;
        pointer-events:none;
      }

      &.slick-prev {
        left: 0;
        border-top-right-radius: 86px;
        border-bottom-right-radius: 86px;

        &:after {
          content: url('/assets/images/icons/prev.png');
          padding-right: 10px;
        }
      }

      &.slick-next {
        right: 0;
        border-top-left-radius: 86px;
        border-bottom-left-radius: 86px;

        &:after {
          content: url('/assets/images/icons/next.png');
          padding-left: 10px;
        }
      }
    }
  }

  .visible-xs {
    display: none !important;
  }

  @media #{$media-screen-mobile} {
    .visible-xs {
      display: block !important;
    }

    .hidden-xs {
      display: none !important;
    }

    &__image {
      width: 100%;
      height: 320px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
      overflow: hidden;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 370px;
        background: linear-gradient(to top, #000 5%, transparent 33%);
      }
    }

    &__details--mobile {
      position: relative;
      background-color: #000;
      padding: 20px 25px 30px;
      z-index: 1;
    }

    &__header {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 25px;
    }

    &__title {
      font-size: 16px;
      line-height: 20px;
    }

    &__description {
      font-size: 14px;
      line-height: 20px;
    }

    &__logo {
      height: 36px;

      & img {
        float: left;
        width: 113px;
        height: 100%;
        margin-right: 33px;
      }
    }

    & .slick-slider {
      .slick-dots {
        top: 42%;
      }

      & .slick-arrow {
        top: 25%;
      }
    }
  }

  @media #{$media-screen-smallest} {
    &__details--mobile {
      position: relative;
      background-color: #000;
      padding: 20px 10px 30px;
      z-index: 1;
    }

    &__logo {
      height: 36px;

      & img {
        float: left;
        width: 113px;
        height: 100%;
        margin-right: 22px;
      }
    }
  }

  @media #{$media-screen-tablet} {
    &__item {
      height: 550px;
    }

    &__details {
      right: 10%;
      width: 45%;
    }

    &__logo {
      & img {
        width: 135px;
        margin-right: 25px;
      }
    }
  }

  @media #{$media-screen-desktop} {
    &__item {
      height: 610px;
    }

    &__details {
      right: 10%;
      width: 35%;
    }

    &__logo {
      & img {
        width: 135px;
        margin-right: 25px;
      }
    }
  }

  @media #{$media-screen-desktop-large} {
    &__item {
      height: 610px;
    }

    &__details {
      right: 10%;
      width: 30%;
    }
  }
}
