<section class="booking_wrapper">
	<div class="card booking_widget">
		<div class="card_heading">
			<h1 class="page_header">Hi{{userData.firstName ? ' ' + userData.firstName : ''}}, where do you want to go?</h1>
		</div>
		<hr class="separator">
		<div class="card_body">
			<div class="book_type_selection"></div>
			<div class="booking_form_wrapper">
				<div class="form_fields_container booking_actions">
					<div class="form_field_wrapper">
						<div class="form_controls">
							<div class="booking_actions--main">
								<div class="form_control field__radiobox">
									<input v-model="flightSelection" value="bookFlight" type="radio" name="flight-radio" id="bookFlights" class="input__radio">
									<label for="bookFlights" class="form__label">Book flights</label>
									<v-popover class="popover-container" popoverBaseClass="booking-tooltip popover tooltip--inline" popoverInnerClass="booking-tooltip-inner popover-inner">
										<a href="#" @click.prevent class="icon icon-info"></a>
										<template slot="popover">
											<div class="tooltip-wrapper">
												<a href="#" @click.prevent v-close-popover class="icon-close--light tooltip-wrapper__btn--close">
												</a>
												<span class="tooltip-wrapper__text">KrisFlyer/PPS Club members have the option to combine KrisFlyer miles with
													their credit/debit card for payment.
												</span>
											</div>
										</template>
									</v-popover>
								</div>
								<div class="form_control field__radiobox">
									<input v-model="flightSelection" value="redeemFlight" type="radio" name="flight-radio" id="redeemFlights" class="input__radio">
									<label for="redeemFlights" class="form__label">Redeem flights</label>
									<v-popover class="popover-container" popoverBaseClass="booking-tooltip popover tooltip--inline" popoverInnerClass="booking-tooltip-inner popover-inner">
										<a href="#" @click.prevent class="icon icon-info"></a>
										<template slot="popover">
											<div class="tooltip-wrapper">
												<a href="#" @click.prevent v-close-popover class="icon-close--light tooltip-wrapper__btn--close">
												</a>
												<span class="tooltip-wrapper__text">Redeem Krisflyer miles for award tickets or flights upgrade. Stopover(s),
													if eligible, will be prompted automatically after you have selected your flights. Redemption on our airline
													partners are being rolled out progressively. Contact your local SQ office if your preferred airline does not
													apprear in the redemption search result.
												</span>
											</div>
										</template>
									</v-popover>
								</div>
								<div class="form_control field__radiobox">
									<input v-model="flightSelection" value="bookFlightsHotel" type="radio" name="flight-radio" id="bookFlightsHotel" class="input__radio">
									<label for="bookFlightsHotel" class="form__label">Book flights + Hotel</label>
									<v-popover class="popover-container" popoverBaseClass="booking-tooltip popover tooltip--inline" popoverInnerClass="booking-tooltip-inner popover-inner">
										<a href="#" @click.prevent class="icon icon-info"></a>
										<template slot="popover">
											<div class="tooltip-wrapper">
												<a href="#" @click.prevent v-close-popover class="icon-close--light tooltip-wrapper__btn--close">
												</a>
												<span class="tooltip-wrapper__text">Book a hotel room through Agoda and earn KrisFlyer miles.
												</span>
											</div>
										</template>
									</v-popover>
								</div>
							</div>
							<div class="booking_actions--secondary">
								<div class="form_control" v-show="flightSelection == 'bookFlight' || flightSelection == 'redeemFlight'">
									<a href="#" class="link__action">Apply promo code</a>
								</div>
								<div class="form_control" v-show="flightSelection == 'bookFlight'">
									<a for="bookStopovers" href="#">Multi city / Stopovers</a>
								</div>
								<div class="sia_holiday" v-if="flightSelection == 'bookFlightsHotel'"></div>
							</div>
						</div>
					</div>
				</div>
				<form action="#form1" v-show="flightSelection == 'bookFlight'" class="form" method="POST" @submit.prevent="checkForm" autocomplete="off">
					<div class="form_fields_container flight_iterinary">
						<div class="form_field_wrapper flight_od">
							<div class="form_controls">
								<div class="control_group">
									<div class="form_control has-float-label">
										<v-autocomplete-booking v-model="bookFlightData.from" display-attribute="label" value-attribute="airportCode" :items="originCountriesBook">
											<template slot="autocomplete-field" slot-scope="{item}">
												<input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightOrigin" id="flightOrigin"
												 placeholder=" " class="form_field form_input--text ref--searchinput validate pristine" v-model="item.value" v-on:focus="$event.target.select()">
												<label for="flightOrigin" class="form_label">From</label>
												<div class="flight__ticker" v-if="item.value != ''">
													<span class="flight__origin_Text">{{ item.cityName }}</span>
													<span class="country__ticker">{{ item.airportCode }}</span>
												</div>
												<span class="icon icon--location"></span>
												<span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
												<span class="icon icon--plane od_field__icon"></span>

												<small class="validation_container hidden">
													<span class="error">Please select city</span>
												</small>
											</template>
											<div slot="autocomplete-suggestion" class="suggestion__entry" slot-scope="{suggestion}">
												<div class="bus" v-if="suggestion.isCoachPointStation == 'true'"></div>
												<div class="rail" v-if="suggestion.isRailPointStation == 'true'"></div>
												<div class="suggestion-wrapper">
													<div class="suggestion__city">
														{{ suggestion.cityName }}
														<span class="suggestion__country">
															, {{ suggestion.countryName }}
														</span>
													</div>
													<div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
												</div>
												<div class="suggestion__city_code from_city_code">{{ suggestion.cityCode }}</div>
											</div>
										</v-autocomplete-booking>
									</div>

									<div class="form_control has-float-label">
										<v-autocomplete v-model="bookFlightData.to" display-attribute="label" value-attribute="airportCode" :items="destinationCountriesBook">
											<template slot="autocomplete-field" slot-scope="{item}">
												<input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightDestination" id="flightDestination"
												 placeholder=" " class="form_field form_input--text ref--searchinput validate pristine" v-model="item.value" v-on:focus="$event.target.select()">

												<label for="flightDestination" class="form_label">To</label>
												<div class="flight__ticker" v-if="item.value != ''">
													<span class="flight__origin_Text">{{ item.cityName }}</span>
													<span class="country__ticker">{{ item.airportCode }}</span>
												</div>

												<span class="icon icon--location"></span>
												<span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
												<small class="validation_container hidden">
													<span class="error">Please select city</span>
												</small>
											</template>
											<div class="suggestion__entry" slot="autocomplete-suggestion" slot-scope="{suggestion}">
												<div class="suggestion__city">
													{{ suggestion.cityName }}
													<span class="suggestion__country">
														, {{ suggestion.countryName }}
													</span>
												</div>
												<div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
												<div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
											</div>
										</v-autocomplete>
									</div>
								</div>
							</div>
						</div>

						<div class="form_field_wrapper flight_date">
							<div class="form_controls">
								<div class="control_group has-float-label">
									<v-datepicker-book :isHistoGramEnabled="true" v-model="bookFlightData.schedule" i18n="EN">
										<template slot="depart-input" slot-scope="{openCalendar, blurFocus, startDate}">
											<div class="input_wrapper">
												<input v-required-model="startDate" v-required-model.calendar type="text" name="departDate" id="departDate" placeholder=" "
												 class="form_field form_input--text ref--start validate pristine" @focus="onCalendarOpen(openCalendar, 'start', $event)"
												 @blur="onCalendarClose(blurFocus, $event)" v-model="startDate">

												<label for="departDate" class="form_label">Depart Date</label>
												<span class="icon icon--calendar"></span>

												<small class="validation_container hidden">
													<span class="error">Please select date</span>
												</small>
											</div>
										</template>
										<template slot="arrival-input" slot-scope="{openCalendar, blurFocus, endDate}">
											<div class="input_wrapper">
												<input v-required-model="endDate" v-required-model.calendar type="text" name="returnDate" id="returnDate" placeholder=" "
												 class="form_field form_input--text ref--end validate pristine" @focus="onCalendarOpen(openCalendar, 'start', $event)"
												 @blur="onCalendarClose(blurFocus, $event)" v-model="endDate">

												<label for="returnDate" class="form_label">Return Date</label>
												<span class="icon icon--calendar"></span>
											</div>
										</template>
									</v-datepicker-book>
								</div>
							</div>
						</div>


					</div>
					<div class="form_fields_container flight_boarding_details">
						<div class="form_field_wrapper cabin__class">
							<div class="form_control has-float-label">
								<v-autocomplete v-model="bookFlightData.cabinDescription" value-attribute="cabinId" :items="cabin">
									<template slot="autocomplete-field" slot-scope="{item}">
										<input readonly type="text" name="flightClass" id="flightClass" class="form_field form_input--text ref--searchinput"
										 v-model="item.cabinDescription">
										<label for="flightClass" class="form_label">Class</label>

										<small class="validation_container hidden">
											<span class="error">Class needed</span>
										</small>
									</template>
									<template slot="autocomplete-suggestion" slot-scope="{suggestion}">
										<span>{{ suggestion.cabinDescription }}</span>
									</template>
								</v-autocomplete>

							</div>
						</div>
						<div class="form_field_wrapper">
							<div class="form_control has-float-label">
								<v-passengercount-book v-model="bookFlightData.passengerCount" :cabin="bookFlightData.cabinDescription">
									<template slot="passenger-count-input" slot-scope="{openState, countLabel, state}">
										<div class="input_wrapper" :class="{open: state}">
											<input readonly type="text" v-model="countLabel" name="flightPassengers" id="flightPassengers" class="form_field form_input--text"
											 placeholder=" " @focus="openState" />
											<label for="flightPassengers" class="form_label">Passengers</label>
										</div>
										<small class="validation_container hidden">
											<span class="error">Validation error</span>
										</small>
									</template>
								</v-passengercount-book>
							</div>
						</div>
						<div class="form_field_wrapper">
							<div class="form_control">
								<button class="btn btn-primary" type="submit">Search</button>
							</div>
						</div>
					</div>
				</form>
				<form action="#form2" v-show="flightSelection == 'redeemFlight'" class="form" method="POST" @submit.prevent="checkForm" autocomplete="off">
					<div class="form_fields_container flight_iterinary">
						<div class="form_field_wrapper flight_od">
							<div class="form_controls">
								<div class="control_group">
									<div class="form_control has-float-label">
										<v-autocomplete-booking v-model="redeemFlightData.from" display-attribute="label" value-attribute="airportCode" :items="originCountriesRedeem">
											<template slot="autocomplete-field" slot-scope="{item}">
												<input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightOrigin" id="flightOrigin"
												 placeholder=" " class="form_field form_input--text ref--searchinput validate pristine" v-model="item.value" v-on:focus="$event.target.select()">
												<label for="flightOrigin" class="form_label">From</label>
												<span class="icon icon--location"></span>
												<span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
												<span class="icon icon--plane od_field__icon"></span>

												<div class="flight__ticker" v-if="item.value != ''">
													<span class="flight__origin_Text">{{ item.cityName }}</span>
													<span class="country__ticker">{{ item.airportCode }}</span>
												</div>
												<small class="validation_container hidden">
													<span class="error">Please select city</span>
												</small>
											</template>
											<template slot="autocomplete-suggestion" slot-scope="{suggestion}">
												<div class="suggestion__entry">
													<div class="suggestion__city">
														{{ suggestion.cityName }}
														<span class="suggestion__country">
															, {{ suggestion.countryName }}
														</span>
													</div>
													<div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
													<div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
												</div>

											</template>
										</v-autocomplete-booking>
									</div>

									<div class="form_control has-float-label">
										<v-autocomplete v-model="redeemFlightData.to" display-attribute="label" value-attribute="airportCode" :items="destinationCountriesRedeem">
											<template slot="autocomplete-field" slot-scope="{item}">
												<input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightDestination" id="flightDestination"
												 placeholder=" " class="form_field form_input--text ref--searchinput validate pristine" v-model="item.value" v-on:focus="$event.target.select()">
												<label for="flightDestination" class="form_label">To</label>
												<span class="icon icon--location"></span>
												<div class="flight__ticker" v-if="item.value != ''">
													<span class="flight__origin_Text">{{ item.cityName }}</span>
													<span class="country__ticker">{{ item.airportCode }}</span>
												</div>
												<span class="icon icon--location"></span>
												<span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
												<small class="validation_container hidden">
													<span class="error">Please select city</span>
												</small>
											</template>
											<template slot="autocomplete-suggestion" slot-scope="{suggestion}">
												<div class="suggestion__entry">
													<div class="suggestion__city">
														{{ suggestion.cityName }}
														<span class="suggestion__country">
															, {{ suggestion.countryName }}
														</span>
													</div>
													<div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
													<div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
												</div>
											</template>
										</v-autocomplete>
									</div>
								</div>
							</div>
						</div>

						<div class="form_field_wrapper flight_date">
							<div class="form_controls">
								<div class="control_group has-float-label">
									<v-datepicker-redeem :isHistoGramEnabled="true" v-model="redeemFlightData.schedule" i18n="EN">
										<template slot="depart-input" slot-scope="{openCalendar, blurFocus, startDate}">
											<div class="input_wrapper">
												<input v-required-model="startDate" v-required-model.calendar type="text" name="departDate" id="departDate" placeholder=" "
												 class="form_field form_input--text ref--start validate pristine" @focus="onCalendarOpen(openCalendar, 'start', $event)"
												 @blur="onCalendarClose(blurFocus, $event)" v-model="startDate">

												<label for="departDate" class="form_label">Depart Date</label>
												<span class="icon icon--calendar"></span>

												<small class="validation_container hidden">
													<span class="error">Please select date</span>
												</small>
											</div>
										</template>
										<template slot="arrival-input" slot-scope="{openCalendar, blurFocus, endDate}">
											<div class="input_wrapper">
												<input v-required-model="endDate" v-required-model.calendar type="text" name="returnDate" id="returnDate" placeholder=" "
												 class="form_field form_input--text ref--end validate pristine" @focus="onCalendarOpen(openCalendar, 'start', $event)"
												 @blur="onCalendarClose(blurFocus, $event)" v-model="endDate">

												<label for="returnDate" class="form_label">Return Date</label>
												<span class="icon icon--calendar"></span>
											</div>
										</template>
									</v-datepicker-redeem>
								</div>
							</div>
						</div>


					</div>
					<div class="form_fields_container flight_boarding_details">
						<div class="form_field_wrapper cabin__class">
							<div class="form_control has-float-label">
								<v-autocomplete v-model="redeemFlightData.cabinDescription" value-attribute="cabinId" :items="cabin">
									<template slot="autocomplete-field" slot-scope="{item}">
										<input readonly type="text" name="flightClass" id="flightClass" class="form_field form_input--text ref--searchinput"
										 v-model="item.cabinDescription">
										<label for="flightClass" class="form_label">Class</label>

										<small class="validation_container hidden">
											<span class="error">Class needed</span>
										</small>
									</template>
									<template slot="autocomplete-suggestion" slot-scope="{suggestion}">
										<span>{{ suggestion.cabinDescription }}</span>
									</template>
								</v-autocomplete>

							</div>
						</div>
						<div class="form_field_wrapper">
							<div class="form_control has-float-label">
								<v-passengercount-redeem v-model="redeemFlightData.passengerCount" :cabin="redeemFlightData.cabinDescription">
									<template slot="passenger-count-input" slot-scope="{openState, countLabel}">
										<div class="input_wrapper">
											<input readonly type="text" v-model="countLabel" name="flightPassengers" id="flightPassengers" class="form_field form_input--text"
											 placeholder=" " @focus="openState" />
											<label for="flightPassengers" class="form_label">Passengers</label>
										</div>
										<small class="validation_container hidden">
											<span class="error">Validation error</span>
										</small>
									</template>
								</v-passengercount-redeem>
							</div>
						</div>
						<div class="form_field_wrapper">
							<div class="form_control">
								<button class="btn btn-primary" type="submit">Search</button>
							</div>
						</div>
					</div>
				</form>
				<form action="#form3" v-show="flightSelection == 'bookFlightsHotel'" class="form" method="POST" @submit.prevent="checkForm"
				 autocomplete="off">
					<div class="form_fields_container flight_iterinary">
						<div class="form_field_wrapper flight_od">
							<div class="form_controls">
								<div class="control_group">
									<div class="form_control has-float-label">
										<v-autocomplete-booking v-model="bookFlightHotelData.from" display-attribute="label" value-attribute="airportCode" :items="originCountriesBookHotel">
											<template slot="autocomplete-field" slot-scope="{item}">
												<input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightOrigin" id="flightOrigin"
												 placeholder=" " class="form_field form_input--text ref--searchinput validate pristine" v-model="item.value" v-on:focus="$event.target.select()">
												<label for="flightOrigin" class="form_label">From</label>
												<span class="icon icon--location"></span>
												<span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
												<span class="icon icon--plane od_field__icon"></span>

												<div class="flight__ticker" v-if="item.value != ''">
													<span class="flight__origin_Text">{{ item.cityName }}</span>
													<span class="country__ticker">{{ item.airportCode }}</span>
												</div>
												<small class="validation_container hidden">
													<span class="error">Please select city</span>
												</small>
											</template>
											<template slot="autocomplete-suggestion" slot-scope="{suggestion}">
												<div class="suggestion__entry">
													<div class="suggestion__city">
														{{ suggestion.cityName }}
														<span class="suggestion__country">
															, {{ suggestion.countryName }}
														</span>
													</div>
													<div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
													<div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
												</div>
											</template>
										</v-autocomplete-booking>
									</div>

									<div class="form_control has-float-label">
										<v-autocomplete v-model="bookFlightHotelData.to" display-attribute="label" value-attribute="airportCode" :items="destinationCountriesBookHotel">
											<template slot="autocomplete-field" slot-scope="{item}">
												<input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightDestination" id="flightDestination"
												 placeholder=" " class="form_field form_input--text ref--searchinput validate pristine" v-model="item.value" v-on:focus="$event.target.select()">
												<label for="flightDestination" class="form_label">To</label>
												<span class="icon icon--location"></span>
												<div class="flight__ticker" v-if="item.value != ''">
													<span class="flight__origin_Text">{{ item.cityName }}</span>
													<span class="country__ticker">{{ item.airportCode }}</span>
												</div>
												<span class="icon icon--location"></span>
												<span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
												<small class="validation_container hidden">
													<span class="error">Please select city</span>
												</small>
											</template>
											<template slot="autocomplete-suggestion" slot-scope="{suggestion}">
												<div class="suggestion__entry">
													<div class="suggestion__city">
														{{ suggestion.cityName }}
														<span class="suggestion__country">
															, {{ suggestion.countryName }}
														</span>
													</div>
													<div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
													<div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
												</div>
											</template>
										</v-autocomplete>
									</div>
								</div>
							</div>
						</div>

						<div class="form_field_wrapper flight_date">
							<div class="form_controls">
								<div class="control_group has-float-label">
									<v-datepicker-bookhotel :isHistoGramEnabled="true" v-model="bookFlightHotelData.schedule" i18n="EN">
										<template slot="depart-input" slot-scope="{openCalendar, blurFocus, startDate}">
											<div class="input_wrapper">
												<input v-required-model="startDate" v-required-model.calendar type="text" name="departDate" id="departDate" placeholder=" "
												 class="form_field form_input--text ref--start validate pristine" @focus="onCalendarOpen(openCalendar, 'start', $event)"
												 @blur="onCalendarClose(blurFocus, $event)" v-model="startDate">

												<label for="departDate" class="form_label">Depart Date</label>
												<span class="icon icon--calendar"></span>

												<small class="validation_container hidden">
													<span class="error">Please select date</span>
												</small>
											</div>
										</template>
										<template slot="arrival-input" slot-scope="{openCalendar, blurFocus, endDate}">
											<div class="input_wrapper">
												<input v-required-model="endDate" v-required-model.calendar type="text" name="returnDate" id="returnDate" placeholder=" "
												 class="form_field form_input--text ref--end validate pristine" @focus="onCalendarOpen(openCalendar, 'start', $event)"
												 @blur="onCalendarClose(blurFocus, $event)" v-model="endDate">

												<label for="returnDate" class="form_label">Return Date</label>
												<span class="icon icon--calendar"></span>
											</div>
										</template>
									</v-datepicker-bookhotel>
								</div>
							</div>
						</div>


					</div>
					<div class="form_fields_container flight_boarding_details">
						<div class="form_field_wrapper cabin__class">
							<div class="form_control has-float-label">
								<v-autocomplete v-model="bookFlightHotelData.cabinDescription" value-attribute="cabinId" :items="cabin">
									<template slot="autocomplete-field" slot-scope="{item}">
										<input readonly type="text" name="flightClass" id="flightClass" class="form_field form_input--text ref--searchinput"
										 v-model="item.cabinDescription">
										<label for="flightClass" class="form_label">Class</label>

										<small class="validation_container hidden">
											<span class="error">Class needed</span>
										</small>
									</template>
									<template slot="autocomplete-suggestion" slot-scope="{suggestion}">
										<span>{{ suggestion.cabinDescription }}</span>
									</template>
								</v-autocomplete>

							</div>
						</div>
						<div class="form_field_wrapper">
							<div class="form_control has-float-label">
								<v-passengerhotelcount v-model="bookFlightHotelData.passengerCount" :cabin="bookFlightHotelData.cabinDescription">
									<template slot="passenger-count-input" slot-scope="{openState, countLabel}">
										<div class="input_wrapper">
											<input readonly type="text" v-model="countLabel" name="flightPassengers" id="flightPassengers" class="form_field form_input--text"
											 placeholder=" " @focus="openState" />
											<label for="flightPassengers" class="form_label">Passengers</label>
										</div>
										<small class="validation_container hidden">
											<span class="error">Validation error</span>
										</small>
									</template>
								</v-passengerhotelcount>
							</div>
						</div>
						<div class="form_field_wrapper">
							<div class="form_control">
								<button class="btn btn-primary" type="submit">Search</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="booking_search_history" v-if="this.getRecentSearchData().length > 0">
				<div class="label-wrapper">
					<span class="small">RECENT SEARCHES</span>
				</div>
				<ul class="flight_search_history">
					<li v-for="(recentSearch, searchIndex) in getRecentSearchData()" class="flight_search_item small_1 input__control--icon_close"
					 @click="onClickRecentSearch(getRecentSearchData(), searchIndex)">
						<span class="flight_destination">{{recentSearch.origin}} - {{recentSearch.destination}}</span> ·
						<span class="flight_date">{{recentSearch.departure | formatRecentSearchDay}} {{recentSearch.departure | formatRecentSearchMonth}} - {{recentSearch.arrival | formatRecentSearchDay}} {{recentSearch.arrival | formatRecentSearchMonth}} {{recentSearch.arrival | formatRecentSearchYear}}</span>
						<span class="icon-round-close" @click.stop="removeSelectedSearch(searchIndex, getRecentSearchData())"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
