@import "../../assets/styles/molecules/button-set";
@import "../../assets/styles/atoms/import/_breakpoints";

.seatmap {
	width: 58rem;
	margin: 20px auto;
	background-color: #FAFAFA;
}

.seatmap_columngrp-wrap,
.seatmap_col-labels,
.seatmap_row-wrap,
.seatmap_col-wrap {
	display: inline-block;
	text-align: center;
}

.seatmap_row-wrap,
.seatmap_row-wrap_column,
.seatmap_row-number,
.seatmap_facility,
.seatmap_row_column,
.seatmap_compartment-wrap,
.seat-label,
.seat-bassinet,
.seat,
.seat-windowless,
.v-popover {
	margin: 0;
}

.seatmap_compartment-wrap {
	background-color: white;
	padding: 2.5rem 0;
	width: 44.875rem;
	margin: 0 auto;
	text-align: center;
}

.seatmap_compartment {
	width: 36.875rem;
	margin: 0 auto;
}

.seatmap_column--label,
.seatmap_row-number {
	color: #757575;
	font-size: 0.75rem;
}

.seatmap_row-wrap {
	position: relative;
	width: 530px;
	margin: 0 auto 10px;
}

@supports (display: grid) {
	.seatmap_row-wrap {
		display: -ms-grid;
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(40px, 1fr));
		grid-column-gap: 0.625rem;
		align-items: end;
		width: 100%;
		text-align: center;
	}
	.seatmap_row-wrap_column {
		grid-row: 1 / span 1;
	}
}

.seatmap_row-wrap_column {
	.lightbox {
		margin: 0;
	}
}

.seatmap_row-wrap--labels {
	margin-bottom: 20px;
}

[data-type="facility"] {
	min-height: 2.5rem;
	position: relative;
	z-index: 1;
	color: #999999;
	font-weight: 600;
	font-size: 0.625rem;
	letter-spacing: 0.5px;
	text-align: center;
	text-transform: uppercase;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 2.375rem;
		background: #DDDDDD;
		box-shadow: 0 2px 0 0 #FAFAFA;
		border-radius: 4px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&[data-facility-type="E"] {
		color: #185D49;
		&:before {
			border: solid 1px #9FBCB3;
			background-color: white;
			box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
		}
	}
}

.seatmap_row-wrap_column--facility {
	line-height: 1em;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.seatmap_row-number {
	position: absolute;
	bottom: 12px;
}

.seatmap_row-number--right {
	right: -25px;
}

.seatmap_row-number--left {
	left: -25px;
}

.seatmap_row_column--facility {
	&[data-alignment="L"] {
		padding-right: 40px;
	}
	&[data-alignment="R"] {
		padding-left: 40px;
	}
}

.seat {
	font-size: 0.75rem;
	color: #222222;
	letter-spacing: 0;
	text-align: center;
	display: block;
	position: relative;
	z-index: 0;
	width: 100%;
	height: 2.5rem;
	background: transparent;
	border: 0;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 2.375rem;
		background-color: #EEEEEE;
		box-shadow: 0 2px 0 0 #EBEBEB;
		border-radius: 4px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&.seat-available {
		&:before {
			background-color: #CDE5D7;
		}
	}
	&.seat-na {
		&:before {
			background-color: #EEEEEE;
		}
	}
	&[data-zone*="P"] {
		color: white;
		&:before {
			background-color: #EB730C;
		}
	}
	&[data-zone*="F"] {
		color: white;
		&:before {
			background-color: #275C49;
		}
	}
	&.selected {
		color: white;
		font-weight: 700;
		background-color: transparent;
		&::before {
			background: #00266B;
			border: 3px solid #4A90E2;
			box-shadow: 0 2px 2px 0 rgba(0, 38, 107, 0.40);
			border-radius: 4px;
		}
	}
	.lightbox {
		margin: 0;
	}
}

.seat-label {
	transform: translateY(-2px);
}

.seat-bassinet {
	display: block;
	width: 100%;
	height: 18px;
	background: url(/assets/images/svg/icons/bassinet.svg) center center transparent no-repeat;
	margin: 0 0 10px;
}

.seat-windowless {
	position: absolute;
	bottom: 11px;
	display: block;
	height: 20px;
}

[data-type="seat"] {
	&:first-of-type {
		.seat-windowless {
			left: -55px;
		}
	}
	&:last-of-type {
		.seat-windowless {
			right: -55px;
		}
	}
	.v-popover {
		display: grid;
	}
}

// Business Class
[data-cabin-class*="C"],
[data-cabin-class*="D"],
[data-cabin-class*="J"],
[data-cabin-class*="Z"],
[data-cabin-class*="U"] {
	.seat {
		color: white;
		&:before {
			background-color: #003676;
		}
		&.selected {
			color: #222222;
			&:before {
				background-color: white;
				border-color: #4A90E2;
			}
		}
	}
}

// Suites/First Class - R,A,F
[data-cabin-class*="R"],
[data-cabin-class*="A"],
[data-cabin-class*="F"] {
	.seat {
		color: white;
		&:before {
			background-color: #8C210D;
		}
	}
}

// PEY - P, T, S
[data-cabin-class*="P"],
[data-cabin-class*="T"],
[data-cabin-class*="S"],
.premiumeconomy {
	.seat {
		color: white;
		&:before {
			background-color: #246E89;
		}
		&[data-zone*="F"] {
			color: black;
			&:before {
				background-color: #FFCE00;
			}
		}
		&[data-zone*="P"] {
			color: black;
			&:before {
				background-color: #FFCE00;
			}
		}

		&.selected {
			color: #fff;
			&:before {
				background-color: $primary-color;
			}
		}
	}
}

.facility-lavatory {
	background: url(/assets/images/svg/icons/lavatory.svg) center center no-repeat transparent;
	display: block;
	width: 19px;
	height: 20px;
}

.facility-stairs {
	background: url(/assets/images/svg/icons/stairs.svg) center center no-repeat transparent;
	display: block;
	width: 20px;
	height: 20px;
}

.facility-lavatory--accesible {
	background: url(/assets/images/svg/icons/lavatory-accessible.svg) center center no-repeat transparent;
	display: block;
	width: 38px;
	height: 20px;
}

.seatmap-tooltip-margin {
	width: 100%;
	-webkit-overflow-scrolling: auto;
	
	&.open {
		margin-top: 0.5rem;

		.tooltip-arrow {
			margin-top: 0;
			margin-bottom: 0;
			background: white;
			height: 0.625rem;
			width: 0.625rem;
			transform: rotate(135deg);
			border: 0.0625rem solid #ccc;
			border-right-color: transparent;
			border-top-color: transparent;
		}

		.tooltip-inner {
			border: 0.0625rem solid #ccc;
		}
	}
}

.seatmap-tooltip-margin wrapper {
	display: table;
	margin: 0 auto;
	
}

.seatmap_submit {
	text-align: right;
	.btn-primary {
		display: inline-block;
		margin: 1.875rem;
	}
}

.seatmap_submit--mobile {
	display: none;
}

.tooltip {
	display: block;
	z-index: 9;
	.tooltip-inner {
		background: white;
		color: black;
		box-shadow: 0 5px 30px rgba(black, .1);
		border-radius: 5px;
		padding: 30px 0 0;
		position: relative;
	}
	.tooltip-arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
		border-color: white;
		z-index: 1;
	}
	&[x-placement^="top"] {
		margin-bottom: 1px;
		.tooltip-arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
		.tooltip-inner {
			background: white;
			color: black;
			box-shadow: 0 5px 30px rgba(black, .1);
			border-radius: 5px; // padding: 5px 10px 4px;
			margin-left: calc(50% - 300px);
			margin-right: calc(50% - 300px);
		}
	}
	&[x-placement^="bottom"] {
		// margin-top: 1px;
		margin-top: 7px;
		.tooltip-arrow {
			// border-width: 0 5px 5px 5px;
			// border-left-color: transparent;
			border-right-color: transparent;
			border-top-color: transparent;
			top: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
		.tooltip-inner {
			background: white;
			color: black; // box-shadow: 0 5px 30px rgba(black, .1);
			border-radius: 5px; // padding: 5px 10px 4px;
			margin-left: calc(50% - 300px);
			margin-right: calc(50% - 300px);
		}
	}
	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity .15s, visibility .15s;
	}
	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity .15s;
	}
	&.info {
		$color: rgba(#004499, .9);
		.tooltip-inner {
			background: $color;
			color: white;
			padding: 24px;
			border-radius: 2px;
			box-shadow: 0 5px 30px rgba(black, .1);
			max-width: 250px;
		}
		.tooltip-arrow {
			border-color: $color;
		}
	}
	.tool-tip-content_inner {
		// padding: 0 0.5625rem 0.6875rem;
		padding: 0 0.5625rem 0;
	}
	.tool-tip-content_heading {
		margin-top: 0;
		font-size: 1.25rem;
		border-bottom: 0.0625rem solid #E5E9F0;
		-webkit-margin-before: 0em; //   -webkit-margin-after: 0em;
		padding-bottom: 0.8125rem;
		font-weight: 400;
	}
	.tool-tip-content_pax-name {
		font-weight: 700;
	}
	.tool-tip-content_details-1 {
		// font-size: 1rem;
		font-size: 0.875rem;
		padding-bottom: 1em;
	}

	.tool-tip-content_details-2_windowless-seat {
		font-size: 0.875rem;
	}

	.tool-tip-view-link {
		color: #0254ec;
		font-size: 0.75rem;
	}

	.tool-tip-content_details-2 {
		padding-bottom: 1.25rem;
	}

	.tool-tip-content_details-2_description {
		font-size: 0.75rem;
		width: 15.875rem;
		-webkit-margin-after: 0em;
		line-height: 1.4em;
		-webkit-margin-before: 0em;
	}

	.tool-tip-content_details-2_description-characteristics {
		font-size: 0.75em;
		-webkit-margin-before: 0em;
    	-webkit-margin-after: 0.9375rem;
	}

	.tool-tip-content_details-2_view-terms-link {
		font-size: 0.75rem;
	}

	.tool-tip-select-btn {
		background-color: #00266b;
		display: block;
		font-size: 0.6875rem;
		font-weight: 300;
		font-style: normal;
		color: #fff;
		line-height: 0.375rem;
		min-width: 0;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.1em;
		cursor: pointer;
		border: none;
		padding: 0.9375rem 1.25rem 0.8125rem;
		overflow: visible;
		outline: none;
		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
		transition: all 400ms ease 0s;
		border-radius: 0.125rem;
		float: right;
		margin: -0.625rem 0 0;
	}
	.tool-tip-content_footer {
		background-color: #ECEFF4;
		padding: 0.75rem 1.25rem;
		display: grid;
		grid-template-columns: 73% 27%;
		// margin-top: 1.25rem;
		margin-top: 0;
	}
	.tool-tip-content_footer-col-1 {
		color: #00266b;
		font-weight: 700;
		display: flex;
	}
	.tool-tip-content_details-1_amount {
		float: right;
	}
	.tool-tip-content_footer__deals-description {
		font-size: 0.625rem;
		text-transform: uppercase;
		font-weight: 700;
		padding-left: 0.75rem;
		line-height: 2;
	}
	.tool-tip-content_footer-col-2 {
		color: #0254ec;
		font-size: 0.75rem;
		padding-right: 1.5rem;
		position: relative;
		.ico-chevron--blue {
			display: block;
			width: 0.75rem;
			height: 0.75rem;
			background-size: contain;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%) rotate(90deg);
			transition: all 400ms ease 0s;
		}
	}
	.tool-tip-content_footer_btn {
		color: #0254ec;
		display: flex;
		float: right;
		line-height: 1.25rem;
		.ico-chevron {
			width: 0.9375rem;
			height: 0.625rem;
			transform: rotate(360deg);
		}

		&.active {
			.ico-chevron--blue {
				transform: translateY(-50%) rotate(-90deg);
				transition: all 400ms ease 0s;
			}
		}
	}
}

.flight-baggage__ancillary-type {
	font-size: 12px;
}

.tool-tip-content_addon-wrap {
	background: #FAFAFA;
	padding: 20px;
	.flight-detail-container {
		display: grid;
		grid-template-columns: 49% 49%;
		grid-column-gap: 2%;
		margin: 0;
	}
	.tooltip-content {
		margin-bottom: 20px;
		p {
			font-size: 12px;
			color: #333;
			margin: 0;
		}
		.bundle {
			margin-top: 10px;
		}
		a {
			color: #0254ec;
		}
	}
	.flight-details-content {
		background: #FFFFFF;
		border: 1px solid #E5E9F0;
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
		.flight-deal {
			border-bottom: 1px solid #E5E9F0;
			padding: 1.25rem 2.125rem;
			position: relative;

			.deal {
				display: block;
				font-size: 10px;
				letter-spacing: 2px;
			}
			.currency {
				font-size: 16px;
				padding-right: 0.3125rem;
			}
			strike {
				color: #afafaf;
				font-size: 12px;
			}
			.discount {
				position: absolute;
				top: 0;
				right: 0;
				background: #FF9F00;
				border-bottom-left-radius: 6px;
				width: 67px;
				height: 20px;
				font-size: 12px;
				margin: 0;
				padding: 0;
				span {
					color: #fff;
					font-size: 12px;
					padding-left: 12px;
					margin: 0;
				}
			}
		}
		.flight-seat-baggage {
			padding: 20px 35px;
			.select-btn {
				background: #fff;
				color: #00266b;
				font-weight: 700;
				border: solid 1px #00266b;
				padding: 13px 20px;
				border-radius: 4px;
				min-width: 100%;
				margin-top: 21px;
				letter-spacing: 1px;
			}
			.seat-baggage {
				.flight-info {
					display: block;
					margin-top: 0;
					margin-left: 47px;
					font-size: 12px;
				}
				.foward-seat {
					position: relative;
					top: 4px;
					font-size: 12px;
				}
			}
			.flight-baggage {
				margin-top: 10px;
				.baggage-weight {
					display: block;
					color: #1c5d49;
					margin-left: 47px;
					font-size: 12px;
					span {
						font-size: 12px;
					}
				}

				.baggage-city-code {
					display: block;
					margin-left: 2.9375rem;
					font-size: 0.75rem;
				}

				.flight-info {
					display: block;
					margin-top: 0;
					margin-left: 47px;
					font-size: 12px;
				}
				.add-baggage {
					font-size: 0.75rem;
				}
			}
		}
		.seat {
			// background-image: url(/assets/images/svg/icons/icon-seat-selection.png);
			// background-image: url(/assets/images/icons/icon-seat-selection.png);
			// background-repeat: no-repeat;
			// height: 26px;
			// width: 22px;
			background: url(/assets/images/svg/icons/seat-selection.svg) center center no-repeat transparent;
			background-size: contain;
			height: 22px;
			width: 20px;
			display: inline-block;
			vertical-align: middle;
			// margin-right: 20px;
			margin-right: 23px;
			transform: translate( 0%, 44%);
			&:before {
				background: transparent;
				box-shadow: none;
			}
		}
		.baggage {
			background:url(/assets/images/svg/icons/baggage.svg) center center no-repeat transparent;
			background-repeat: no-repeat;
			height: 26px;
			width: 22px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}

		&.selected {
			border-color: #05B410;

			.flight-deal {
				display: grid;
				grid-template-columns: 14% 86%;
				padding: 1.25rem 0.9375rem;
			}

			.ico-success {
				background: url(http://localhost:8080/assets/images/svg/icons/tick.svg) no-repeat center center transparent;
				display: inline-block;
				margin-top: 0;
				height: 1.125rem;
				width: 1.125rem;
				background-size: contain;
				transform: translateY(0.5rem);
			}
		}
	}
}

.tool-tip-content_content_description-top {
	font-size: 0.75rem;
	-webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
}

.tool-tip-content_content_description-bottom {
	font-size: 0.6875rem;
	-webkit-margin-after: 1.25rem;
    -webkit-margin-before: 0em;
}

.tool-tip-content_content_city-code {
	// font-size: 0.75rem;
	font-size: 14px;
}

.tool-tip-content_1 {
	padding: 0 11px;
}
.tool-tip-content_close.icon-round-close {
	height: 18px;
}
.tool-tip-content_close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	opacity: 0.7;
}

.tool-tip-content__wrap {
	display: block;
	overflow: hidden;
	height: auto;
	// max-height: 37.5rem;
	max-height: 60.5rem;
	transition: max-height 0.4s ease-in-out;
	width: 100%;
	&.collapse {
		// max-height: 4rem;
		max-height: 2.78rem;
	}
}

.close-btn.icon-round-close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 20px;
	height: 20px;
	background-size: contain;
	opacity: 0.7;
}

.terms-and-condition-lightbox {
	position: relative;
	.icon-round-close {
		position: absolute;
		top: 10px;
		right: 10px;
		height: 20px;
		width: 20px;
		background-size: 20px; 
		opacity: 0.7;
	}
	.page_header--mod  {
		text-align: left;
	}
	.terms-and-conditions_content {
		p {
			text-align: left
		}
	}
}

.tnc-lighbox {
	position: relative;
	text-align: left;

	.sub_header--blue {
		padding: 10px;
		margin: 0;
		background: #e5e9f0;
		color: #00266b;
		text-align: left;
	}

	.cancel-btn {
		@extend %btn-cancel-skip
	}
}

.tnc-lighbox_flight-info__container {
	border: solid 1px #ddd;
}

.tnc-lighbox_flight-info__wrapper {
	margin: 0;
	display: grid;
	grid-template-columns: 25% 75%;

	font-size: 0.875rem;

	.warp-2, .wrap-1 {
		margin: 0;
		padding: 20px;
	}

	.wrap-1 {
		color: $primary-color;
	}

	.ico-bundle{
		display: inline-block;
		margin: 0;
		position: relative;
		top: 3px;
		left: 2px;
	}
}

.tnc-lighbox_passenger-info {
	color: $primary-color;
}

.tnc-lighbox_flight-seat {
	margin: 0;
	font-size: 0.875rem;
}

.tnc-lighbox_btn-group {
	margin: 0;
	position: relative;
	text-align: right;

	margin-top: 1.5rem;

	.btn-primary{
		display: inline-block;
		margin: 0;
	}
	.cancel-btn {
		display: inline-block;
	}
}

.tnc-lighbox_tnc-container {
	border: solid 1px #ddd;
	padding: 1.875rem;
	background: $secondary-cocowhite;

	font-size: 0.875rem;

	ul, ol {
		text-align: left;
		padding: 0 0 0 1.875rem;
		margin: 0;

		li {
			margin-bottom: 1.2rem;
		}

		ul {
			margin: 1.2rem 0;
			li {
				margin-bottom: 0;
			}
		}
	}
}

.tnc-lighbox_tnc-container__ordered-list-1__list {
	-webkit-padding-start: 13px;
}

.tnc-lighbox_tnc-container__ordered-list-1__list__ul {
	-webkit-padding-start: 0;

	@supports (display: grid) {
		li {
			list-style: none;
			display: grid;
			grid-template-columns: 6% 94%;
	
			&:before {
				content:"•";
				font-size: 13px;
				vertical-align:middle;
				line-height: 20px;
			}
		}
	}
}

.seatmap_swipe-content {
	display: none;
}



@media only screen and (max-width: 768px) {
	.tooltip {
		&[x-placement^="top"] {
			.tooltip-inner {
				margin-left: calc(50% - 330px);
				margin-right: calc(50% - 330px);
			}
		}
		&[x-placement^="bottom"] {
			.tooltip-inner {
				margin-left: calc(50% - 330px);
				margin-right: calc(50% - 330px);
			}
		}
	}
}

// Extra Small devices (portrait phones, max 576px)
@media (max-width: $breakpoint-small-devices) {
	.seatmap {
		width: auto;
		margin: 0 auto;
	}

	.container-center.seat-map-content {
		width: 100%;
	}

    .seatmap_compartment--control {
		overflow-x: scroll;
		margin-top: 0;
		min-height: 800px;
	}

	.seatmap_compartment--control::-webkit-scrollbar { 
		/* This is the magic bit */
		display: none;
	}

	.seatmap_swipe-content {
		// margin: 0 2.3125rem;
		margin: 0 3.3125rem;
		display: block;
	}

	.seatmap_swipe-content_wrap {
		display: grid;
		// grid-template-columns: 6% 94%;
		grid-template-columns: 10% 90%;
		padding: 2.0625rem 0 0.9375rem;
	}

	.swipe-icon {
		background: url(/assets/images/svg/icons/swipe-icon.svg) no-repeat center center transparent;
	}

	.tool-tip-content_close.icon-round-close {
		height: 1.25rem;
		width: 1.25rem;
		background-size: contain;
	}

	.icon-round-close {
		height: 1.25rem;
		width: 1.25rem;
		background-size: contain;
	}
	
	.seatmap_swipe-content_description {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		color: #666;
		font-size: 0.875rem;
	}
	
	.seatmap_submit {
		display: none;
	}

	.seatmap_submit--mobile {
		display: block;
		text-align: center;

		.btn-primary {
			width: 90%;
		}
	}

	.bottom-sticky {
		&.seatmap_submit--mobile {
			background: #fff;
			padding-top: 1.875rem;
			padding-bottom: 1.0625rem;
		}
	}

	.tooltip {
		&[x-placement^="top"] {
			.tooltip-inner {
				margin-left: calc(50% - 173px);
    			margin-right: calc(50% - 173px);
			}
		}
		&[x-placement^="bottom"] {
			.tooltip-inner {
				margin-left: calc(50% - 173px);
    			margin-right: calc(50% - 173px);
			}
		}
	}

	.tooltip {
		.tool-tip-content_footer {
			grid-template-columns: 68% 32%;
		}
	}

	.tool-tip-content_footer__ico-wrap {
		text-align: right;

		.ico-success {
			background: url(/assets/images/svg/icons/tick.svg) no-repeat center center transparent;
			display: inline-block;
			margin-top: 0;
			height: 0.9375rem;
			width: 0.9375rem;
		}
	}

	.tool-tip-content_details-2_seat__column {
		font-size: 1.25rem;
		color: #00266b;
	}

	.seatmap-info-row-2_col-1_text-3 {
		display: none;
	}
	// .tool-tip-content_footer {
	// 	grid-template-columns: 68% 32%;
	// }

	.tool-tip-content_details-2_seat-wrap {
		.ico-seat {
			display: inline-block;
		}

		.tool-tip-content_details-2_seat-number {
			font-size: 1.25rem;
			color: #00266b;
		}

		.tool-tip-content_details-2__seat-type {
			font-size: 0.875rem;
		}
	}

	.tool-tip-content_1 {
		border-bottom: 1px solid #E5E9F0;
	}

	.tool-tip-content__seat-selected-wrap {
		padding: 1.25rem 1.25rem 2.5rem;

		// &.seat-selected {
		// 	padding-bottom: 20px;
		// }

		.tool-tip-content__pax-deal-wrap:last-child {
			margin-bottom: 0;
		}
	}

	.tool-tip-content__title {
		padding-bottom: 10px;
		text-transform: uppercase;
		font-weight: 600;
		display: block;
		font-size: 0.625rem;
		line-height: 1;
		padding-bottom: 0.625rem;
		letter-spacing: 1px;
	}

	.tool-tip-content__pax-deal-wrap {
		border: 1px solid #E5E9F0;
		margin-bottom: 15px;
		// padding: 0.9375rem;
	}

	.tool-tip-content__pax-membership__name {
		font-size: 0.875rem;
		text-transform: capitalize;
		line-height: 1em;
	}

	.tool-tip-content__pax-membership {
		display: grid;
		grid-row-gap: 10px;
		// .ico-chevron {
		// 	display: inline-block;
		// 	transform: rotate(-90deg);
		// }
	}

	.tool-tip-content__pax-membership__currency-price-wrap {
		line-height: 1;
	}

	.tool-tip-content__pax-membership__ico-wrap {
		text-align: -webkit-right;
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;

		// .ico-chevron {
		// 	background: url(/assets/images/svg/icons/chevron--grey.svg);
		// }
	}

	.tool-tip-content__pax-membership__description-wrap {
		
		.passenger-details_membership {
			margin-right: 0;
			background: #CCCCCC;
		}
	}

	.tool-tip-content__pax-membership__wrap {
		display: grid;
		grid-template-columns: 95% 5%;
		// padding: 15px 15px 8px;
		padding: 10px 15px 15px;

		.ico-chevron {
			height: 10px;
			width: 10px;
			background-size: contain;
			// transform: rotate(-90deg);
			display: inline-block;
			background: url(/assets/images/svg/icons/chevron--grey.svg) no-repeat transparent center center;
		}
	}

	.tool-tip-content__pax-deal__change-link {
		text-align: center;
		display: block;
		line-height: 1;
		padding-bottom: 16px;
	}

	.tool-tip-content__pax-deal__change-link__text {
		font-size: 14px;
	}

	.tool-tip-content__seat-selected__remove-link {
		display: block;
		text-align: center;
		line-height: 1;
		padding-top: 1.0625rem;
		margin-bottom: -1.25rem;

		
		.ico-bin {
			display: inline-block;
			margin-right: 5px;
			width: 10px;
			vertical-align: middle;
		}
	}

	.tool-tip-content__seat-selected__remove-link__remove-seat {
		font-size: 0.875rem;
		vertical-align: top;

	}

	.tool-tip-content__deal-added-wrap {
		padding: 0.4375rem 0.625rem 0.625rem;
    	background: #E5E9F0;
	}

	.tool-tip-content__deal-added__seat-selected {
		font-size: 0.8125rem;
	}

	.tool-tip-content__pax-membership__currency-price {
		font-size: 0.8125rem;
		text-transform: uppercase;
	}

	.tool-tip-content__flight-details {
		padding: 0.5625rem 0.9375rem 1.625rem;

		.tool-tip-content__flight-details__deal-added-content:last-child {
			padding-bottom: 0;
		}
	}

	.tool-tip-content__flight-details__price {
		font-size: 0.875rem;
		text-transform: uppercase;
		color: #00266b;
		display: block;
		line-height: 1;
		padding-bottom: 18px;
	}

	.tool-tip-content__flight-details__deal-added-content {
		padding-bottom: 20px;
		display: grid;
		grid-template-columns: 10% 90%;

		.ico-seat {
			display: inline-block;
			width: 15px;
			height: 17px;
			background-size: contain;
			vertical-align: sub;
		}

		// &.extra-legroom {

		// }
	}

	.tool-tip-content_content_description-bottom {
		font-size: 12px;
	}

	.tool-tip-content__flight-details__deal-added__wrap {
		font-size: 0.875rem;

		&.extra-legroom-inner * {
			display: block;
		}

		.ancillary-type {
			display: block;
		}

		.baggage-weight {
			text-transform: lowercase;
		}
	}

	.tool-tip-content__flight-details__deal-added__ico-wrap {
		.ico-baggage {
			display: inline-block;
			width: 15px;
			height: 17px;
			background-size: contain;
			vertical-align: sub;
		}
	}

	.tool-tip-content__seat-selected__remove-link__remove-deal {
		font-size: 14px;
	}

	.tool-tip-content_content_description-top {
		font-size: 14px;
	}
	
	.change-seat-container {
		.page_header {
			font-size: 24px;
		}
	}

	// .change-seat-lightbox {
	// 	overflow: scroll;
	// 	z-index: 9999;

	// 	.modal-container {
	// 		min-height: 40rem;
	// 	}
		
	// 	.modal-container {
	// 		padding: 0;

	// 		.modal-body {
	// 			width: auto;
	// 			padding: 20px 0 0 0;
	// 			min-height: 46rem;
	// 		}
	// 	}
	// 	// .modal-body {
	// 	// 	width: auto;
	// 	// 	padding: 0;
	// 	// 	min-height: 46rem;
	// 	// }
	// 	.change-seat-container{
	// 		padding: 20px;
	// 		margin: 0;
	// 		background: #fff;
	// 	}
	// 	.cs-selected-deal{
	// 		padding: 20px 20px 50px 20px;
	// 		margin: 0;
	// 		background: #fafafa;
	// 	}

	// 	// .tool-tip-content_content--control {
	// 	// 	padding-bottom: 1.5625rem;
	// 	// }

	// 	.change-seat-head-wrap {
	// 		margin: 0;
	// 		background: #fff;
	// 	}
	// 	.change-seat-heading {
	// 		text-align: left;
	// 		border-bottom: 0.0625rem solid #E5E9F0;
	// 		padding-bottom: 20px;
	// 	}
	// 	.change-seat-passenger {
	// 		font-size: 18px;
	// 		font-weight: 600;
	// 		font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	// 		margin-bottom: 0;
	// 		margin-top: 15px;
	// 		color: #000;
	// 		display: inline-block;
	// 	}
	// 	.silver-elite {
	// 		padding: 7px 7px;
	// 		color: #666;
	// 		font-size: 8px;
	// 		font-weight: bold;
	// 		text-transform: uppercase;
	// 		background-color: #C6C6C6;
	// 		border-radius: 2px;
	// 		vertical-align: top;
	// 		display: inline-block;
	// 		line-height: 1;
	// 		margin-left: 10px;
	// 		letter-spacing: 2px;
	// 		text-shadow: none;
	// 		text-decoration: none;
	// 		transform: translatey(17px);
	// 	}
	
	// 	.change-seat-selected {
	// 		text-align: left;
	// 		padding-top: 20px;
	// 		margin: 0;
	
	// 		a {
	// 			display: block;
	// 			font-size: 12px;
	// 			// margin: 15px 0 30px 0;
	// 			margin: 15px 0 23px 0;
	// 			outline: none;
	// 			border: none;
	// 			text-decoration: none;
	// 		}
	// 	}

	// 	.change-seat-selected__seat-price {
	// 		font-size: 14px;
	// 	}

	// 	.change-seat-seat-number{
	// 		display: block;
	// 		font-size: 14px;
	// 	}
	// 	.cs-selected-country {
	// 		font-size: 14px;
	// 	}
	
	// 	.change-seat-selected-seat {
	// 		margin-bottom: 20px;
	// 	}
	// 	.primary-btn-mod {
	// 		display: block;
	// 		// width: 81%;
	// 		width: 100%;
	// 		position: relative;
	// 		margin-top: 14px;
	// 		font-size: 12px;
	// 		border-radius: 2px;
			
	// 	}
	// 	.currency {
	// 		font-size: 18px;
	// 	}
	// 	.cs-forward-seat {
	// 		font-size: 12px;
	// 		line-height: 1.5em;
	// 		display: inline-block;
	// 		margin-top: 0;
	// 	}
	// 	.tool-tip-content_footer-col-1 {
	// 		background-color: #ECEFF4;
	// 		text-align: left;
	// 		padding: 10px 20px;
	// 	}
	// 	.tool-tip-content_footer__deals-description {
	// 		color: #00266b;
	// 		font-size: 0.625rem;
	// 		text-transform: uppercase;
	// 		font-weight: 700;
	// 		padding-left: 0.75rem;
	// 		line-height: 2;
	// 		letter-spacing: 2px;
	// 	}
	// 	.ico-bundle {
	// 		display: inline-block;
	// 		transform: translateY(5px);
	// 	}
	// 	.tool-tip-content_content {
	// 		text-align: left;
	// 		padding: 20px;
	// 		font-size: 14px;

	// 		&.tool-tip-content_content--control {
	// 			padding: 0 0 1.5625rem 0;
	// 		}
	// 	}
	// 	.cs-btn-container {
	// 		position: relative;
	// 		margin: 0;

	// 		// .primary-btn-mod {
	// 		// 	width: 100%;
	// 		// }
	// 	}
	// 	.chs-content {
	// 		margin-bottom: 20px;
	// 	}
	// 	.passenger-name,.tool-tip-content_footer {
	// 		margin-top: 0;
	// 	}
	// 	.cs-terms-and-condition{
	// 		display: block;
	// 		text-decoration: none;
	// 		margin-top: 0;
	// 		// font-size: 0.6875rem;
	// 		font-size: 12px;
	// 		line-height: 15px;
	// 	}
	// 	.flight-details-content {
	// 		background: #fff;
	// 		border: 1px solid #e5e9f0;
	// 		position: relative;
	// 	}
	// 	.flight-deals_info {
	// 		border-bottom: 0.0625rem solid #E5E9F0;
	// 		margin: 0;
	// 		padding:20px 20px 15px 20px;
	// 		text-align: left;
	// 	}
	// 	.discount {
	// 		position: absolute;
	// 		top: 0;
	// 		margin: 0;
	// 		right: 0;
	// 		background: orange;
	// 		padding: 5px;
	// 		border-bottom-left-radius: 5px;
	// 		color: #fff;
	// 		font-size: 14px;
	// 	}
	// 	.deal {
	// 		display: block;
	// 		font-size: 10px;
	// 	}
	// 	.discounted-price{
	// 		color: #afafaf;
	// 		font-size: 14px;
	// 		margin-left: 5px;
	// 		font-weight: 600;
	// 	}
	// 	.remove-deal-btn,.select-deal-btn {
	// 		padding: 13px 20px;
	// 		border: solid 1px #00266B;
	// 		background: transparent;
	// 		// width: 85%;
	// 		width: 95%;
	// 		font-weight: 600;
	// 		font-size: 12px;
	// 		border-radius: 2px;
	// 		letter-spacing: 1px;
	// 	}
	// 	.ico-seat{
	// 		display: inline-block;
	// 		width: 21px;
	// 		height: 30px;
	// 		background-size: 20px;
	// 		transform: translate(4px, -2px);
	// 	}
	// 	.foward-seat,
	// 	.flight-info {
	// 		display: block;
	// 		margin: 0;
	// 		text-align: left;
	// 	}
	// 	.add-baggage {
	// 		display: block;
	// 	}
	// 	.baggage-weight, .baggage-city-code {
	// 		display: inline-block;
	// 	}
	// 	.seat-baggage,.flight-baggage {
	// 		display: grid;
	// 		grid-template-columns:  15% 85%;
	// 		margin: 0;
	// 	}
	// 	.flight-seat-baggage {
	// 		padding-bottom: 20px;
	// 		margin: 0;
	// 	}
	// 	.baggage-content {
	// 		margin: 0;
	// 		padding: 15px;
	// 		font-size: 14px;
	// 		text-align: left;
	// 	}
	// 	.baggage-icon {
	// 		padding: 15px;

	// 		.ico-baggage {
	// 			display: inline-block;
	// 			width: 21px;
	// 			height: 30px;
	// 			background-size: 20px;
	// 			transform: translate(7px, -3px);
	// 		}
	// 	}
	// 	.cs-btn-remove {
	// 		position: relative;
	// 		padding: 0 15px;
	// 		margin: 0;
	// 	}
	// 	.cs-flight-details {
	// 		border: 1px solid #e5e9f0;
	// 		position: relative;
	// 		background: #fff;
	// 	}
	// 	.baggage-weight {
	// 		color: #1c5d49;
	// 		margin-right: 5px;
	// 	}
	// 	.bulllet {
	// 		margin-right: 5px;
	// 	}
	// 	.seat-number {
	// 		margin-right: 5px;
	// 	}
	// 	.flight-detail-container,.tool-tip-content_content_description-bottom {
	// 		margin: 0;
	// 		text-decoration: none !important;
	// 	}
	// 	.baggage {
	// 		display: block;
	// 		background: url(/assets/images/svg/icons/baggage.svg) center center no-repeat transparent;
	// 		height: 22px;
	// 		width: 26px;
	// 		transform: translate(4px);
	// 	}
	// }

	.tnc-lighbox_tnc-container__ordered-list-1 {
		-webkit-padding-start: 0;
	}

	.tnc-lighbox_tnc-container__ordered-list-1__list {
		.tnc-lighbox_tnc-container__ordered-list-1__list__ul {
			-webkit-padding-start: 0;
		}
	}
	
	@supports (display: grid) {
		.tnc-lighbox_btn-group {
			display: grid;
    		grid-row-gap: 20px;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices)  and (max-width: 767px){ 
    .seatmap_compartment--control {
		overflow-x: scroll;
		margin-top: 0;
	}

	.seatmap_compartment--control::-webkit-scrollbar { 
		/* This is the magic bit */
		display: none;
	}

	.seatmap_submit {
		display: none;
	}
	
	.seatmap_submit--mobile {
		display: block;
		text-align: center;

		.btn-primary {
			width: 95%;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) { 
	.seatmap-main {
		width: calc(100% - 3.75rem);
    	margin: 0 auto;
	}

	.seatmap_compartment--control {
		margin-top: 0;
	}

	.seatmap_compartment-wrap {
		padding: 1.875rem 0 2.5rem;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) { 

}

// Add seatmap legend styles
.seatmap-info-content {
    border-radius: 0.125rem;
    border: 0.0625rem solid #E5E9F0;
}

.seatmap-info-wrap {
    padding: 1.25rem 1.875rem;
}

.seatmap-info-row-1 {
    display: flex;
    margin-bottom: 1.5625rem;
}

.seatmap-info-ico-check {
    border-left: 0.0625rem solid #FF9F00;
    font-size: 0.6875rem;
    margin: 0 1.25rem;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 1.1875rem;
}

.seatmap-info-row-1_title {
    font-size: 0.875rem;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 0.875rem;
    // -webkit-box-align: center;
    // display: -webkit-box;
    line-height: 2;
}

.seatmap-info-row-1_description {
    margin-top: 0;
    display: flex;
    // display: -webkit-box;
    // -webkit-box-pack: center;
    // -webkit-box-align: center;
}

.seatmap-info-row-1_description_text {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 0;
    line-height: 1.2;
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.seatmap-color-coding {
    // background: #FF9F00;
    border-radius: 0.1875rem;
    padding: 1.25rem;
    display: inline-block;

    &.P {
        background: #FF9F00;
    }

    &.F {
        background: #084935;
    }

    &.S {
        background: #cee5d7;
    }

    &.NA {
        background: #ddd;
    }

    &.SE {
        background: $primary-color;
    }
}

.seatmap-info-row-2_wrap {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
    padding-bottom: 1.4375rem;
}

.seatmap-info-row-2 {
    margin-top: 0;
}

.seatmap-info-row-2_col-1 {
    margin-top: 0;
    display: grid;
    grid-template-columns: 29% auto;
    // grid-template-columns: 17% 83%;
}

.seatmap-info-row-2_col-1_wrap {
    margin-top: 0;
    display: grid;
    line-height: 1;
}

.seatmap-info-row-2_col-1_wrap *{
    margin-top: 0;
}

.seatmap-info-row-2_col-1_text-1 {
    font-size: 0.8125rem;
    display: -webkit-box;
    -webkit-box-align: center;
}

.seatmap-info-row-2_col-1_text-2 {
    font-size: 0.8125rem;
}

.seatmap-info-row-2_col-1_text-3 {
    font-size: 0.75rem;
    color: #0254ec;
}

.seatmap-info-row-3 {
    margin-top: 0;
    margin-bottom: 1.375rem;
    padding-bottom: 1.4375rem;
    border-bottom: 0.0625rem solid #E5E9F0;
}

.seatmap-info-row-3_wrap {
    display: flex;
    flex-direction: row;
    * {
        margin-top: 0;
    }
}

.seatmap-info-row-3_col-1 {
    padding-right: 0.625rem;
}

.seatmap-info-row-4 {
    margin-top: 0;
}

.seatmap-info-row-4_wrap {
    font-size: 0.875rem;
}

.seatmap-info-row-4_col-3 {
    padding-right: 0.625rem;
}

.seatmap-info-row-4_col-4 {
    color: #0254ec;
}

.seatmap-info-row-4_col-4_text {
    padding-left: 0.3125rem;
}


.page_header--wrap {
	position: relative;
	margin: 3.43rem auto 1.875rem;

	.page_header {
		margin: 0;
	}

	&.seatmap__page-header-wrap {
		margin-top: 3.5625rem;
	}
}

.page_header_flight-info-city {
	font-family: 'sigvar', serif;
}


// Extra Small devices (portrait phones, max 576px)
@media (max-width: $breakpoint-small-devices) {
    .page_header_flight-info-city {
		display: none;
	}
	
	.page_header--wrap {
		margin: 1.875rem 0.9375rem 0;

		&.seatmap__page-header-wrap {
			margin-top: 2.0625rem;
			padding: 0 0.9375rem;
		}

		.page_header_skip-link {
			margin-right: 0.9375rem;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices) and (max-width: 767px) { 
    // .container-center{
	// 	width: 100%;

	// 	&.seatmap {
	// 		overflow-x: scroll;
    // 		width: 100%;
	// 	}
	// }

	.seatmap-main {
		width: 100%;

		&.seatmap {
			overflow-x: scroll;
    		width: 100%;
		}
	}

	.page_header--wrap {
		margin: 1.875rem auto 0;

		.page_header {
			margin: 0 1.25rem;
		}

		.page_header_skip-link {
			right: 1.5625rem;
		}
	}
}
