<div class="seatmap_row-wrap" :class="rowdata && rowdata.seat && rowdata.seat.length > 0 && rowdata.seat[0].zone === 'F' ? 'seatmap_row-wrap--forward-zone' : ''">
    <!-- Add the rows which are members in current compartment and column alignment -->
    
    <span class="seatmap_row-number seatmap_row-number--left" v-if="rowdata && rowdata.seat">{{ rowdata.number }}</span>
    <span class="seatmap_row-number seatmap_row-number--right" v-if="rowdata && rowdata.seat">{{ rowdata.number }}</span>

    <slot name="seat-column">

    </slot>
</div>
