<section class="seatmap seatmap-main" id="seatmap">
	<div class="seatmap_swipe-content">
		<div class="seatmap_swipe-content_wrap">
			<span class="swipe-icon"></span>
			<p class="seatmap_swipe-content_description">Swipe left or right to view more seats</p>
		</div>
	</div>
	<div class="seatmap_compartment--control">
		<div class="seatmap_compartment-wrap" ref="seatmapWrapper" > 
			<div class="seatmap_deck-toggle toggle_button_wrap" v-if="value.upperDeckCount > 0 && value.mainDeckCount > 0">
				<button class="toggle_button" :class="{'toggle_button--active': (value.activeDeck == 'active-main')}" v-on:click.stop.prevent="value.activeDeck = 'active-main'">Lower
					Deck</button>
				<button class="toggle_button" :class="{'toggle_button--active': (value.activeDeck == 'active-upper')}" v-on:click.stop.prevent="value.activeDeck = 'active-upper'">Upper
					Deck</button>
			</div>
			<!-- Add compartments in corresponding decks -->
			<div class="seatmap_deck-wrap" id="mainDeck" :hidden="value.activeDeck == 'active-upper'">
				<div class="seatmap_compartment" v-for="(compartment, index, key) in seatmapdata.compartment" :data-start-row="compartment.startRow"
				 :data-end-row="compartment.endRow" v-if="compartment.location == 'M'" :data-cabin-class="seatmapdata.flight.sellingClass">
					<!-- Add column labels for each compartment -->
					<div class="seatmap_row-wrap seatmap_row-wrap--labels">
						<div class="seatmap_row-wrap_column" v-for="(column, index, colkey) in compartment.column">
							<div class="seatmap_column seatmap_column--label" :data-column-characteristics="column.characteristics">
								{{ column.designator }}
							</div>
						</div>
					</div>

					<!-- Add rows -->
					<seatmap-row-component v-for="(row, index1, rowkey) in seatmapdata.row" :key="rowkey" :rowid="index1" :dictionary="dictionary"
					 :rowdata="row" :compartment="compartment" v-if="row.number >= compartment.startRow && row.number <= compartment.endRow">
						<seatmap-column-component slot="seat-column" v-for="(column, index2, colkey) in row.column" :rowdata="row" :columndata="column"
						 :key="colkey" :rowid="index1" :dictionary="dictionary" :colid="index2">
							<seat-component slot="seat" v-if="row && column.type == 'seat'" :seatdata="column.seat" :dictionary="dictionary" :seatno="row.number"
							 v-model="value" :column="column" :columnLength="row.column.length" :columnIndex="index2" :rowIndex="index1" >
								<!-- Add either column label, seat or facility -->
							</seat-component>
						</seatmap-column-component>
					</seatmap-row-component>
				</div>
			</div>
			<div class="seatmap_deck-wrap" id="upperDeck" :hidden="value.activeDeck == 'active-main'">
				<div class="seatmap_compartment" v-for="(compartment, index, key) in seatmapdata.compartment" :data-start-row="compartment.startRow"
				 :data-end-row="compartment.endRow" v-if="compartment.location == 'U'" :data-cabin-class="compartment.sellingClass">
					<div class="seatmap_row-wrap seatmap_row-wrap--labels">
						<div class="seatmap_row-wrap_column" v-for="(column, index, colkey) in compartment.column">
							<div class="seatmap_column seatmap_column--label" :data-column-characteristics="column.characteristics">
								{{ column.designator }}
							</div>
						</div>
					</div>

					<seatmap-row-component v-for="(row, index1, rowkey) in seatmapdata.row" :key="rowkey" :rowid="index1" :dictionary="dictionary"
					 :rowdata="row" :compartment="compartment" v-if="row.number >= compartment.startRow && row.number <= compartment.endRow">
						<seatmap-column-component slot="seat-column" v-for="(column, index2, colkey) in row.column" :rowdata="row" :columndata="column"
						 :key="colkey" :rowid="index1" :dictionary="dictionary" :colid="index2">
							<seat-component slot="seat" v-if="row && column.type == 'seat'" :seatdata="column.seat" :dictionary="dictionary" :seatno="row.number"
							 v-model="value">
							</seat-component>
						</seatmap-column-component>
					</seatmap-row-component>
				</div>
			</div>
		</div>
	</div>
</section>