<div class="seat_component-wrap">
    <v-popover delay="{ show: 100, hide: 100 }" :open="seatno+seatdata.column == openPopover" :ref="seatno+seatdata.column" placement="bottom" trigger='click' popoverClass='seatmap-tooltip-margin'>
        <button v-if="!isSelected(seatno+seatdata.column)" type="button" class="seat" :class="[(!seatdata.column ? 'seat-na' : 'seat-available'),{'selected': isSelected(seatno+seatdata.column)}]"
            :data-characteristics="seatdata.characteristics" :data-zone="seatdata.zone">
            <div class="seat-label" v-if="seatdata.column && !isSelected(seatno+seatdata.column)">
                {{ seatno }}{{ seatdata.column }}
            </div>
        </button>
        <button v-if="isSelected(seatno+seatdata.column)" @click="selectSelectedSeat(getPassengerId(seatno+seatdata.column).index)"
            type="button" class="seat" :class="[(!seatdata.column ? 'seat-na' : 'seat-available'),{'selected': isSelected(seatno+seatdata.column)}]"
            :data-characteristics="seatdata.characteristics" :data-zone="seatdata.zone">
            <div class="seat-label">
                {{getPassengerId(seatno+seatdata.column).passengerID}}
            </div>
        </button>

        <!-- original tooltip  for desktop-->

        <template v-if="windowWidth > 767" slot="popover" popoverWrapperClass="tooltip-wrapper">
            <div class="tool-tip-content">
                <div class="tool-tip-content_1">
                    <button class="tool-tip-content_close icon-round-close" v-close-popover.all></button>
                    <div class="tool-tip-content_inner">
                        <h3 class="tool-tip-content_heading">Seat for
                            <span class="tool-tip-content_pax-name">{{value.flight.updatedPassengerData[value.selectedId].firstName+" "+value.flight.updatedPassengerData[value.selectedId].lastName}}</span>
                        </h3>
                        <div class="tool-tip-content_details-1">
                            <strong>{{seatno+seatdata.column}}</strong>
                            <span> • </span>
                            <strong>{{getSeatType()+' Seat'}}</strong>
                            <span> • </span>
                            <span>{{value.flight.flightInfo.departureCity +' to '+ value.flight.flightInfo.arrivalCity}}</span>
                            <strong class="tool-tip-content_details-1_amount" >{{getSeatDetails().amountString}}</strong>
                        </div>
                        <div class="tool-tip-content_details-2">

                            <div v-if="getSeatCharacteristicsType(seatdata.characteristics.toUpperCase()).state">
                                <strong class="tool-tip-content_details-2_windowless-seat">{{getSeatCharacteristicsType(seatdata.characteristics.toUpperCase()).strongText}}</strong>
                                <p class="tool-tip-content_details-2_description-characteristics">{{getSeatCharacteristicsType(seatdata.characteristics.toUpperCase()).normalText}}</p>
                            </div>

                            <p class="tool-tip-content_details-2_description">{{dictionary.seatStaticInfo[seatdata.zone]}}</p>
                            <a class="tool-tip-content_details-2_view-terms-link" v-if="getSeatType() == 'Extra Legroom'" @click.prevent="showEmergencyModal = '3'">View terms and conditions</a>
                            <a v-else class="tool-tip-view-link" href="#" @click.prevent="showEmergencyModal = '4'">View terms and conditions</a>
                            <a class="tool-tip-select-btn" @click="selectSeat(seatno+seatdata.column)" v-if="!isSelected(seatno+seatdata.column)" v-close-popover.all>Select Seat Only</a>
                            <a class="tool-tip-select-btn" @click="unselectSeat(seatno+seatdata.column)" v-if="isSelected(seatno+seatdata.column)" v-close-popover.all>Remove Seat</a>
                        </div>
                    </div>
                </div>
                <div class="tool-tip-content__wrap" :class="{'collapse': !detailsStatus}" v-if="getAddOnIds(seatdata.zone)">
                    <div class="tool-tip-content_footer">
                        <div class="tool-tip-content_footer-col-1">
                            <span class="ico-bundle"></span>
                            <span class="tool-tip-content_footer__deals-description">Deals Available with this Seat</span>
                        </div>
                        <div class="tool-tip-content_footer-col-2">
                            <a @click.prevent="showDetails()" href="#" class="tool-tip-content_footer_btn" :class="{'active': detailsStatus}">{{detailsStatus ? 'Hide deals' : 'Show deals'}}
                                <span class="ico-chevron--blue"></span>
                            </a>
                        </div>
                    </div>

                    <div class="tool-tip-content_addon-wrap" :class="{'active': detailsStatus}">
                        <div class="tool-tip-content_content">
                            <p class="tool-tip-content_content_description-top">All items in the deals will apply for your entire journey from</p>
                            <strong class="tool-tip-content_content_city-code">{{value.flight.flightInfo.departureCity + ' to ' + value.flight.flightInfo.arrivalCity}} ({{value.flight.flightInfo.carrierCode+' ' + value.flight.flightInfo.flightNumber}})</strong>
                            <p class="tool-tip-content_content_description-bottom">All bundles are non-refundable and non-exchangeable.
                                <a href="http://www.singaporeair.com/en_UK/sg/travel-info/add-on-deals-tnc/" target="_blank"> View terms and conditions.</a>
                            </p>
                        </div>

                        <div class="flight-detail-container">
                            <div class="flight-details-content" :class="{'selected': isAddonSelected(selectedSeatAddons, seatno+seatdata.column)}" v-for="selectedSeatAddons in getAddOnDetails()">
                                <div class="flight-deal">
                                    <em class="ico-success"></em>
                                    <div class="flight-deals_info">
                                        <span class="deal">DEAL</span>
                                        <strong class="currency">{{selectedSeatAddons.currency+" "+selectedSeatAddons.price}}</strong>
                                        <strike v-if="selectedSeatAddons.percentageSaved">{{selectedSeatAddons.currency+" "+selectedSeatAddons.originalPrice}}</strike>
                                        <div v-if="selectedSeatAddons.percentageSaved" class="discount">
                                            <span>{{"Save "+selectedSeatAddons.percentageSaved+"%"}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flight-seat-baggage">
                                    <div class="seat-baggage">
                                        <em class="seat"></em>
                                        <span class="foward-seat">{{selectedSeatAddons.ancillary[1].type}}</span>
                                        <strong class="flight-info" v-for="flightSegment in value.allFlightSegmentDetails">
                                            {{flightSegment.departureCityCode + ' - ' + flightSegment.arrivalCityCode + ' (' + flightSegment.carrierCode + ' ' + flightSegment.flightNumber+')'}}
                                        </strong>
                                    </div>
                                    <div class="flight-baggage">
                                        <em class="baggage"></em>
                                        <span class="flight-baggage__ancillary-type">{{selectedSeatAddons.ancillary[0].type}}</span>
                                        <strong class="baggage-weight">{{selectedSeatAddons.ancillary[0].numberOfUnits + ' ' + selectedSeatAddons.ancillary[0].unitOfMeasurement}}</strong>
                                        <strong class="baggage-city-code">{{value.allFlightSegmentDetails[selectedSeatAddons.boundID].departureCityCode + ' - ' + value.allFlightSegmentDetails[selectedSeatAddons.boundID].arrivalCityCode}}</strong>
                                    </div>
                                    <button class="select-btn" v-if="!isAddonSelected(selectedSeatAddons, seatno+seatdata.column)" v-close-popover.all @click="selectSeat(seatno+seatdata.column,selectedSeatAddons)"> SELECT</button>
                                    <button class="select-btn" v-if="isAddonSelected(selectedSeatAddons, seatno+seatdata.column)" @click="removeAddons()">REMOVE DEAL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <button type="button" hidden @click="selectSeat(seatno+seatdata.column)" v-close-popover.all>SELECT SEAT ONLY</button>
                </div>
            </div>
        </template>

        <!-- remove deal & seat tooltip -->
        <template v-if="windowWidth <= 767 && isSelected(seatno+seatdata.column)" slot="popover" popoverWrapperClass="tooltip-wrapper">
            <div class="tool-tip-content">
                <div class="tool-tip-content_1">
                    <button class="tool-tip-content_close icon-round-close" v-close-popover.all></button>
                    <div class="tool-tip-content_inner">
                        <div class="tool-tip-content_details-2">
                            <div class="tool-tip-content_details-2_seat-wrap">
                                <em class="ico-seat"></em>
                                <strong class="tool-tip-content_details-2_seat__column">{{seatno+seatdata.column}}</strong>
                            </div>
                            <strong class="tool-tip-content_details-2__seat-type">{{getSeatType()+' Seat'}}</strong>
                            <p class="tool-tip-content_details-2_description">{{dictionary.seatStaticInfo[seatdata.zone]}}</p>
                            <a class="tool-tip-content_details-2_view-terms-link" v-if="getSeatType() == 'Extra Legroom'" href="http://www.singaporeair.com/en_UK/general/pssTermsConditions/"
                                target="_blank">View terms and conditions</a>
                        </div>
                    </div>
                </div>
                <div class="tool-tip-content__wrap">
                    <div class="tool-tip-content__seat-selected-wrap seat-selected">
                        <span class="tool-tip-content__title">SEAT SELECTED FOR</span>
                        <div class="tool-tip-content__pax-deal-wrap">
                            <div class="tool-tip-content__pax-membership__wrap">
                                <div class="tool-tip-content__pax-membership">
                                    <strong class="tool-tip-content__pax-membership__name">{{value.flight.updatedPassengerData[value.selectedId].firstName+" "+value.flight.updatedPassengerData[value.selectedId].lastName}}</strong>
                                    <div class="tool-tip-content__pax-membership__description-wrap">
                                        <span class="passenger-details_item passenger-details_membership" v-if="value.flight.updatedPassengerData[value.selectedId].kfTierDesc" :class="value.flight.updatedPassengerData[value.selectedId].kfTier.toLowerCase()">{{value.flight.updatedPassengerData[value.selectedId].kfTierDesc}}</span>
                                    </div>
                                    <!-- <span class="passenger-details_item passenger-details_membership">{{value.flight.updatedPassengerData[value.selectedId].kfTierDesc}}</span> -->
                                    <!-- <span class="ico-chevron"></span> -->
                                    <div class="tool-tip-content__pax-membership__currency-price-wrap" v-if="isEmptyAddon(value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon)">
                                        <strong class="tool-tip-content__pax-membership__currency-price" v-if="value.flight.updatedPassengerData[value.selectedId].seatPrice != 0">{{getSeatDetails().amountString}}</strong>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="tool-tip-content__pax-membership__currency-price-wrap" v-if="isEmptyAddon(value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon)">
                                <strong class="tool-tip-content__pax-membership__currency-price">{{value.flight.updatedPassengerData[value.selectedId].currency+" "+value.flight.updatedPassengerData[value.selectedId].seatPrice}}</strong>
                            </div> -->
                            <div v-if="!isEmptyAddon(value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon)" class="tool-tip-content__wrap">
                                <div class="tool-tip-content_footer">
                                    <div class="tool-tip-content_footer-col-1">
                                        <span class="ico-bundle"></span>
                                        <span class="tool-tip-content_footer__deals-description">Deal Added</span>
                                        <!-- <span class="ico-success"></span> -->
                                    </div>
                                    <div class="tool-tip-content_footer__ico-wrap">
                                        <span class="ico-success"></span>
                                    </div>
                                </div>
                                <div class="tool-tip-content__flight-details">
                                    <strong class="tool-tip-content__flight-details__price">{{value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon.currency+" "+value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon.price}}</strong>
                                    <div class="tool-tip-content__flight-details__deal-added-content extra-legroom">
                                        <div class="tool-tip-content__flight-details__deal-added__ico-wrap">
                                            <span class="ico-seat"></span>
                                        </div>
                                        <div class="tool-tip-content__flight-details__deal-added__wrap extra-legroom-inner">
                                            <span class="foward-seat">{{value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon.ancillary[1].type}}</span>
                                            <strong class="flight-info" v-for="flightSegment in value.allFlightSegmentDetails">
                                                    {{flightSegment.departureCityCode + ' - ' + flightSegment.arrivalCityCode + ' (' + flightSegment.carrierCode + ' ' + flightSegment.flightNumber
                                                    + ')'}}
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="tool-tip-content__flight-details__deal-added-content">
                                        <div class="tool-tip-content__flight-details__deal-added__ico-wrap">
                                            <span class="ico-baggage"></span>
                                        </div>
                                        <div class="tool-tip-content__flight-details__deal-added__wrap">
                                                <span class="ancillary-type">{{value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon.ancillary[0].type}}</span>
                                                <strong class="baggage-weight">{{value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon.ancillary[0].numberOfUnits + ' ' + value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon.ancillary[0].unitOfMeasurement}}</strong>
                                                <span> • </span>
                                                <strong class="departure-city-code">{{value.allFlightSegmentDetails[value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon.boundID].departureCityCode
                                                        + ' - ' + value.allFlightSegmentDetails[value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon.boundID].arrivalCityCode}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="tool-tip-content__pax-deal__change-link" @click="openModal('6')">
                                <span class="tool-tip-content__pax-deal__change-link__text">Change options</span>
                            </a>
                        </div>
                        <a class="tool-tip-content__seat-selected__remove-link">
                            <span class="ico-bin"></span>
                            <span class="tool-tip-content__seat-selected__remove-link__remove-deal" v-if="!isEmptyAddon(value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon)" @click="unselectSeat(seatno+seatdata.column)" v-close-popover.all>Remove deal and seat</span>
                            <span class="tool-tip-content__seat-selected__remove-link__remove-seat" v-if="isEmptyAddon(value.flight.updatedPassengerData[value.selectedId].seat.selectedAddon)" @click="unselectSeat(seatno+seatdata.column)" v-close-popover.all>Remove seat</span>
                        </a>
                    </div>
                    <div>
                        <button type="button" hidden @click="selectSeat(seatno+seatdata.column)" v-close-popover.all>SELECT SEAT ONLY</button>
                    </div>
                </div>
            </div>
        </template>

        <!-- select seat --> 
        <template v-if="windowWidth <= 767 && !isSelected(seatno+seatdata.column)" slot="popover" popoverWrapperClass="tooltip-wrapper">
                <div class="tool-tip-content" >
                    <div class="tool-tip-content_1">
                        <button class="tool-tip-content_close icon-round-close" v-close-popover.all></button>
                        <div class="tool-tip-content_inner">
                            <div class="tool-tip-content_details-2">
                                <div class="tool-tip-content_details-2_seat-wrap">
                                    <em class="ico-seat"></em>
                                    <strong>{{seatno+seatdata.column}}</strong>
                                </div>
                                <strong>{{getSeatType()+' Seat'}}</strong>
                                <p class="tool-tip-content_details-2_description">{{dictionary.seatStaticInfo[seatdata.zone]}}</p>
                                <a class="tool-tip-content_details-2_view-terms-link" v-if="getSeatType() == 'Extra Legroom'" href="http://www.singaporeair.com/en_UK/general/pssTermsConditions/"
                                    target="_blank">View terms and conditions</a>
                            </div>
                        </div>
                    </div>
                    <div class="tool-tip-content__wrap">
                        <div class="tool-tip-content__seat-selected-wrap">
                            <span class="tool-tip-content__title">Select this seat for</span>
                            <div v-for="(passenger,index) in value.flight.updatedPassengerData" class="tool-tip-content__pax-deal-wrap"  @click="selectPassenger(index)" v-close-popover.all>
                                <div class="tool-tip-content__pax-membership__wrap">
                                    <div class="tool-tip-content__pax-membership">
                                        <strong class="tool-tip-content__pax-membership__name">{{passenger.firstName+" "+passenger.lastName}}</strong>
                                        <div class="tool-tip-content__pax-membership__description-wrap">
                                            <span class="passenger-details_item passenger-details_membership" v-if="passenger.kfTierDesc" :class="passenger.kfTier.toLowerCase()">{{passenger.kfTierDesc}}</span>
                                        </div>
                                        <!-- <span class="ico-chevron"></span> -->
                                        <div class="tool-tip-content__pax-membership__currency-price-wrap">
                                            <strong class="tool-tip-content__pax-membership__currency-price">{{getSeatDetails(index).amountString}}</strong>
                                        </div>
                                    </div>
                                    <div class="tool-tip-content__pax-membership__ico-wrap">
                                        <span class="ico-chevron"></span>
                                    </div>
                                </div>
                                <!-- <div  class="tool-tip-content__pax-membership">
                                    <strong>{{passenger.firstName+" "+passenger.lastName}}</strong>
                                    <span class="passenger-details_item passenger-details_membership">{{passenger.kfTierDesc}}</span>
                                    <div class="">
                                        <strong>{{passenger.currency+" "+passenger.seatPrice}}</strong>
                                    </div>
                                </div>
                                <span class="ico-chevron"></span> -->
                                <div v-if="passenger.seatSelected" class="tool-tip-content__deal-added-wrap">
                                    <!-- <div class="">
                                        <strong>{{passenger.currency+" "+passenger.seatPrice}}</strong>
                                    </div> -->
                                    <div class="tool-tip-content__deal-added__seat-selected">
                                        <span class="tool-tip-content__deal-added__seat-selected__text">Currently selected seat</span>
                                        <strong class="tool-tip-content__deal-added__seat-selected__pax">{{passenger.seatSelected}}</strong>
                                    </div>
                                    <div class="" hidden>
                                        <a class="">Change options</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" hidden @click="selectSeat(seatno+seatdata.column)" v-close-popover.all>SELECT SEAT ONLY</button>
                        </div>
                    </div>
                </div>
            </template>
    </v-popover>

    <light-box-component class="mobile-lightbox" :id="'6'" :active="showEmergencyModal" v-on:lightbox-closed="closeModal(seatno+seatdata.column)">
            <div slot="body">
                <button type="button" class="tool-tip-content_close icon-round-close" @click="closeModal(seatno+seatdata.column)"></button>
                <div class="change-seat-container">
                    <div class="change-seat-content">
                        <div class="change-seat-heading ">
                            <h1 class="page_header">Change seat for</h1>
                            <div class="passenger-name">
                                <p class="change-seat-passenger">
                                    {{value.flight.updatedPassengerData[value.selectedId].firstName+" "+value.flight.updatedPassengerData[value.selectedId].lastName}}
                                </p>
                                <a href="#"><span class="silver-elite" v-if="value.flight.updatedPassengerData[value.selectedId].kfTierDesc">{{value.flight.updatedPassengerData[value.selectedId].kfTierDesc}}</span>
                                </a>
                            </div>
                        </div>
                        <div class="change-seat-selected">
                            <div class="change-seat-selected-seat">
                                <strong class="change-seat-seat-number"><span>{{seatno+seatdata.column}}</span>
                                    <span>•</span>
                                    <span>{{getSeatType()+' Seat'}}</span>
                                    <span>•</span>
                                </strong>
                                <span class="cs-selected-country">Sydney to Singapore</span>
                            </div>
                            <span class="cs-forward-seat">{{dictionary.seatStaticInfo[seatdata.zone]}}</span>
                            <a href="http://www.singaporeair.com/en_UK/general/pssTermsConditions/" target="_blank">View terms and conditions.</a>
                            <strong class="change-seat-selected__seat-price">{{getSeatDetails().amountString}}</strong>
                            <div class="cs-btn-container">
                            <input type="button" @click="selectSeat(seatno+seatdata.column)" value="SELECT SEAT ONLY" class="btn-primary primary-btn-mod">
                         </div>
                        </div>
                    </div>
                </div>
    
                    
                        <div v-if="getAddOnIds(seatdata.zone)" class="tool-tip-content_footer">
                            <div class="tool-tip-content_footer-col-1">
                                <span class="ico-bundle"></span>
                                <span class="tool-tip-content_footer__deals-description">Deals Available with this Seat</span>
                            </div>
                        </div>
                        <div v-if="getAddOnIds(seatdata.zone)" class="cs-selected-deal">
                        <div class="tool-tip-content_content tool-tip-content_content--control">
                            <div class="chs-content">
                                <p class="tool-tip-content_content_description-top">
                                    All items in the deals will apply for your entire journey from
                                    <strong class="tool-tip-content_content_city-code">{{value.flight.flightInfo.departureCity + ' to ' + value.flight.flightInfo.arrivalCity}} ({{value.flight.flightInfo.carrierCode+' ' + value.flight.flightInfo.flightNumber}})</strong>
                                </p>
                                <!-- <strong class="tool-tip-content_content_city-code">{{value.flight.flightInfo.departureCity + ' to ' + value.flight.flightInfo.arrivalCity}} ({{value.flight.flightInfo.carrierCode+' ' + value.flight.flightInfo.flightNumber}})</strong> -->
                            </div>
                            <p class="tool-tip-content_content_description-bottom">All bundles are non-refundable and non-exchangeable.</p>
                            <a href="http://www.singaporeair.com/en_UK/general/pssTermsConditions/" target="_blank" class="cs-terms-and-condition"> View terms and conditions.</a>
                        </div>
                        <div class="flight-detail-container">
                            <div class="flight-details-content" :class="{'selected': isAddonSelected(selectedSeatAddons, seatno+seatdata.column)}" v-for="selectedSeatAddons in getAddOnDetails()">
                                <div class="flight-deal">
                                    <em class="ico-success"></em>
                                    <div class="flight-deals_info">
                                        <strong class="deal">DEAL</strong>
                                        <strong class="currency">{{selectedSeatAddons.currency+" "+selectedSeatAddons.price}}</strong>
                                        <strike class="discounted-price">{{selectedSeatAddons.currency+" "+selectedSeatAddons.originalPrice}}</strike>
                                        <div class="discount"><span>{{"Save "+selectedSeatAddons.percentageSaved+"%"}}</span></div>
                                    </div>
                                </div>
                                <div class="flight-seat-baggage">
                                    <div class="seat-baggage">
                                        <div class="baggage-icon">
                                            <em class="ico-seat"></em>
                                        </div>
                                        <div class="baggage-content">
                                            <span class="foward-seat">{{selectedSeatAddons.ancillary[1].type}}</span>
                                            <strong class="flight-info" v-for="flightSegment in value.allFlightSegmentDetails">
                                                {{flightSegment.departureCityCode + ' - ' + flightSegment.arrivalCityCode + ' (' + flightSegment.carrierCode + ' ' + flightSegment.flightNumber+')'}}
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="flight-baggage">
                                        <div class="baggage-icon">
                                            <em class="ico-baggage"></em>
                                        </div>
                                        <div class="baggage-content">
                                            <span class="add-baggage">{{selectedSeatAddons.ancillary[0].type}}</span>
                                            <strong class="baggage-details">
                                                <span class="baggage-weight">{{selectedSeatAddons.ancillary[0].numberOfUnits + ' ' + selectedSeatAddons.ancillary[0].unitOfMeasurement}}</span>
                                                 <span class="bulllet">•</span> 
                                                 <span>{{value.allFlightSegmentDetails[selectedSeatAddons.boundID].departureCityCode + ' - ' + value.allFlightSegmentDetails[selectedSeatAddons.boundID].arrivalCityCode}}</span>
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="cs-btn-remove">
                                        <button type="button" class="remove-deal-btn" v-if="!isAddonSelected(selectedSeatAddons, seatno+seatdata.column)" v-close-popover.all @click="selectSeat(seatno+seatdata.column,selectedSeatAddons)"> SELECT </button>
                                        <button type="button" class="remove-deal-btn" v-if="isAddonSelected(selectedSeatAddons, seatno+seatdata.column)" @click="removeAddons()"> REMOVE DEAL </button>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </light-box-component>

    <light-box-component class="terms-and-condition-lightbox" :id="'4'" :style="{'top': '-48px'}" :lightBoxWidth="'660px'" v-on:lightbox-closed="closeModal(seatno+seatdata.column)"
        :active="showEmergencyModal">
        <div @click.stop="" class="tooltip-body" slot="body">
            <button class="close-btn icon-round-close" type="button" @click.stop="closeModal(seatno+seatdata.column)"></button>
            <h1 class="popup__heading--styles">Terms and conditions</h1>
            <div v-if="seatdata.characteristics.toUpperCase().indexOf('E') == -1" class="terms-and-conditions-container">
               
                <div class="terms-and-conditions_content">
                    <p>Praesent ut facilisis nulla. Vivamus semper ex ut leo iaculis, nec convallis elit posuere. Curabitur
                        id ultrices elit. Curabitur fringilla lorem vitae finibus viverra. Vestibulum pharetra sollicitudin
                        massa sed pretium. Duis finibus interdum massa at tempor. Proin vel nisl convallis, porttitor enim
                        et, iaculis ex. Vestibulum ornare neque nisl, vitae convallis velit tempor in. Sed lobortis dignissim
                        felis, at pretium velit finibus vel. In id purus sed tellus fermentum porta sit amet sit amet sapien.</p>
                </div>
                <div class="terms-and-conditions_content">
                    <p>Etiam commodo nec nisi at euismod. Fusce aliquam vel ipsum quis vestibulum. Pellentesque a purus in arcu
                        ornare maximus. Vivamus ac dapibus enim. Cras gravida neque vitae dolor viverra pulvinar. Maecenas
                        et libero purus. Nam vitae ultrices ante, non consequat nulla. In at vulputate lorem. Praesent mollis
                        nisi id malesuada aliquet. Integer congue sollicitudin feugiat. Sed augue purus, laoreet eget sapien
                        at, semper tempor augue. Suspendisse elementum et tellus at ultricies. Donec sit amet erat iaculis
                        odio iaculis efficitur id in quam. Vivamus elementum nibh vitae aliquet convallis. Vestibulum eleifend
                        pulvinar turpis et aliquet.</p>
                </div>
            </div>
            <div v-else>
                <ol class="list-content-wrap">
                    <li>
                        <p>This fee will be charged on a per paseenger and per segment basis, and is non- refundable and non-transferable
                            between other passengers and/or flights.</p>
                    </li>
                    <li>
                        <p>Passengers sitting in an Emergency Exit Row seat are subjected to eligibility criteria as per the
                            flight safety guidelines of the Civil Aviation Authority of Singapore. By accepting these terms
                            and conditions, you are confirming that:</p>
                    </li>

                    <div class="list-container">
                        <ul class="list-content">
                            <li>You are at least 15 years of age on the date of the flight</li>
                            <li>You are fully able-bodied without requiring any medicial or mobility assistance</li>
                            <li>You are able to understand safety instructions in English and carry them out</li>
                            <li>You comply with the other passenger criteria found in the full terms and conditions found below</li>
                        </ul>
                    </div>
                    <li>
                        <p>Singapore Airlines or SilkAir may reassign passengers who do not meet these requirements to another
                            seat before or during the journey, without any refund of the fee paid.</p>
                    </li>
                </ol>
            </div>
        </div>
    </light-box-component>

    <light-box-component v-if="seatdata.characteristics.toUpperCase().indexOf('E') != -1" :id="'3'" v-on:lightbox-closed="closeModal()" :active="showEmergencyModal" :style="{'top': '-48px'}" class="tnc-lighbox">
        <div class="tooltip-body" @click.stop="" slot="body">
            <button type="button" class="close-btn icon-round-close" @click.stop="closeModal(seatno+seatdata.column)"></button>

            <h2 class="page_header tnc-lighbox_page-heading" aria-hidden="false">Important terms and condition</h2>
            <div class="tnc-lighbox_tnc-container">
                <ol class="tnc-lighbox_tnc-container__ordered-list-1">
                    <li class="tnc-lighbox_tnc-container__ordered-list-1__list">This fee will be charged on a per paseenger and per segment basis, and is non- refundable and non-transferable between other passengers and/or flights.</li>
                    <li class="tnc-lighbox_tnc-container__ordered-list-1__list">Passengers sitting in an Emergency Exit Row seat are subjected to eligibility criteria as per the flight safety guidelines of the Civil Aviation Authority of Singapore. By accepting these terms and conditions, you are confirming that:
                        <ul class="tnc-lighbox_tnc-container__ordered-list-1__list__ul">
                            <li>You are at least 15 years of age on the date of the flight</li>
                            <li>You are fully able-bodied without requiring any medicial or mobility assistance</li>
                            <li>You are able to understand safety instructions in English and carry them out</li>
                            <li>You comply with the other passenger criteria found in the full terms and conditions found below</li>
                        </ul>
                    </li class="tnc-lighbox_tnc-container__ordered-list-1__list">
                    <li class="tnc-lighbox_tnc-container__ordered-list-1__list">Singapore Airlines or SilkAir may reassign passengers who do not meet these requirements to another seat before or during the journey, without any refund of the fee paid.</li>
                </ol>
            </div>
        </div>
    </light-box-component>
</div>