<div class="seatmap_row-wrap_column" :style="{ 'grid-column': 'auto / span ' + columndata.colspan }" :data-type="columndata.type" :data-facility-type="columndata.facility ? columndata.facility.type : 'NA'">
    <div class="seat-bassinet" v-if="rowdata && columndata.type == 'seat' && columndata.seat.characteristics.includes('B')">
        <!-- <svg width="20px" height="18px" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <path d="M0,10.4036 L19.9995,10.4036 C19.9995,16.8516 18.7365,17.2401 9.9995,17.2401 C1.178,17.2401 0,16.7546 0,10.4036 Z M14.145,0.877 C17.8905,2.216 19.9995,4.984 19.9995,8.876 L9.9325,8.876 L12.817,0.464 C13.1745,-0.4105 14.349,0.0815 14.1305,0.866 C14.114,0.927 14.1615,0.8165 14.145,0.877 Z" id="path-1"></path>
            </defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="seat-map/layout" transform="translate(-407.000000, -72.000000)">
                    <g id="icons/seat-map/misc/bassinet" transform="translate(407.000000, 72.000000)">
                        <g id="color/dark-blue" transform="translate(0.000000, 0.500000)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <use id="Mask" fill="#000000" xlink:href="#path-1"></use>
                            <g id="color/darkgrey" mask="url(#mask-2)" fill="#999999">
                                <g transform="translate(0.000000, -0.500000)" id="Rectangle-3">
                                    <rect x="0" y="0" width="20" height="18"></rect>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg> -->
    </div>
    <slot name="seat"></slot>
    <span class="seat-windowless" v-if="rowdata && columndata.type == 'seat' && columndata.seat.characteristics.includes('O')">
        <svg width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <desc>Windowless seat</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="seat-map/layout" transform="translate(-779.000000, -108.000000)" stroke="#979797">
                    <g id="icons/seat-map/misc/widowless" transform="translate(779.000000, 108.000000)">
                        <g id="Group">
                            <rect id="Rectangle-6" x="0.5" y="0.5" width="13" height="19" rx="6.5"></rect>
                            <g id="Group-2" transform="translate(1.000000, 0.000000)" stroke-linecap="square">
                                <path d="M0.5,19.5 L11,0" id="Line"></path>
                                <path d="M11.5,19.5 L1,0" id="Line"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </span>

    <div v-if="rowdata && columndata.type == 'facility'" :data-facility-column="columndata.facility.column" :data-facility-location="columndata.facility.location" class="seatmap_row-wrap_column--facility">
        <span class="facility facility-label" v-if="columndata.facility.type != 'L' && columndata.facility.type !='D' && columndata.facility.type !='S'">{{ dictionary.facility[columndata.facility.type] }}</span>
        <span class="facility facility-lavatory" v-if="columndata.facility.type == 'L'"></span>
        <span class="facility facility-lavatory--accesible" v-if="columndata.facility.type == 'D'"></span>
        <span class="facility facility-stairs" v-if="columndata.facility.type == 'S'"></span>
        <!-- {{ columndata.facility.type }} -->
    </div>
</div>