<section class="booking_wrapper">
    <div class="card upcoming_flights">
        <div class="card_heading">
            <h1 class="page_header">{{pnrList ? 'Here are your upcoming flights' : 'Enter the details below to manage booking'}}</h1>
            <span class="view_bookings"><a href="#">View all bookings</a></span>
        </div>
        <hr class="separator">
        <form v-if="pnrList" action="#form1" class="form" method="POST" autocomplete="off">
            <div class="form_fields_container upcoming_flights_details">
                <div class="upcoming_flights_wrapper" v-for="pnr in pnrList">
                    <div class="flights-details">
                        <span class="booking_reference_name">{{pnr.referenceNumber}}</span>
                        <span class="manage-info"><a href="#">Manage</a></span>
                        <span class="flights_departure_destination"><span class="flgihts_departure">{{pnr.origin.name}} </span>to<span class="flights_destination"> {{pnr.destination.name}}</span></span>
                        <span class="date_month_year"><span class="date_month-1">{{ toDateObject(pnr.departureDate).date }} {{ toDateObject(pnr.departureDate).month}}</span>
                        <!--  - <span class="date_month-2">5 DEC</span>--><span> {{ toDateObject(pnr.departureDate).year }}</span></span> 
                        <span class="status"><span :class="(pnr.status == 'Waitlisted') ? 'waitlisted' : (pnr.status == 'Reserved') ? 'reserved' : 'available_confirmation'">{{pnr.status}}</span></span>
                    </div>
                </div>
                <div v-if="!showManualBooking" class="retrieve_booking_manual">
                    <span><a href="#" @click.prevent="showManualBooking = true">Retrieve a booking manually</a></span>
                </div>
            </div>
        </form>
    </div>
    <div class="card booking_widget" v-if="showManualBooking || !pnrList">
        <div class="form_fields_container booking_actions">
            <div class="form_field_wrapper">
                <div class="form_controls">
                    <div class="booking_actions--main">
                        <div class="form_control field__radiobox">
                                <input v-model="detailSelection" value="bookReference" type="radio" name="flight-radio" id="bookFlights" class="input__radio">
                                <label for="bookFlights" class="form__label form__label-mod ">Book reference</label>
                                <div class="v-popover">
                                    <span aria-describedby="popover_usf8pdwykx" tabindex="-1" class="trigger" style="display: inline-block;">
                                    </span>
                                </div>
                            </div>
                            <div class="form_control field__radiobox">
                                <input v-model="detailSelection" value="eticketNumber" type="radio" name="flight-radio" id="redeemFlights" class="input__radio">
                                <label for="redeemFlights" class="form__label form__label-mod">E-ticket number</label>
                                <div class="v-popover"><span aria-describedby="popover_0s4ghahppt" tabindex="-1" class="trigger" style="display: inline-block;">
                                    </span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="#manage_booking_form_reference" class="form" method="POST" @submit.prevent="checkForm($event)" autocomplete="off" v-if="detailSelection == 'bookReference'">
            <div class="form_fields_container manage_booking_details">
                <div class="form_field_wrapper">
                    <div ref="bookingContainerRefBR" class="form_control has-float-label">
                        <div class="booking-selection">
                            <div ref="bookingReferenceRefBR" class="input_wrapper">
                                <input v-model="bookingReferenceBR" v-required-model="bookingReferenceBR" @blur="onValidationBlur($event)" type="text" name="bookingReferenceBR"
                                    id="bookingReferenceFieldBR" placeholder=" " class="form_field form_input--text validate pristine">
                                <label for="bookingReferenceBR" ref="bookingLabelRefBR" class="form_label">Booking reference</label>
                                <small ref="bookingErrorRefBR" class="validation_container hidden">
                                    <span class="error">Please enter a Booking Reference.</span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_field_wrapper">
                    <div ref="lastFamilyNameContainerRefBR" class="form_control has-float-label">
                        <div class="booking-selection">
                            <div ref="lastFamilyNameRefBR" class="input_wrapper">
                                <input v-model="familyNameBR" v-required-model="familyNameBR" @blur="onValidationBlur($event)" type="text" name="last_familyNameBR"
                                    id="last_familyNameFieldBR" placeholder=" " class="form_field form_input--text validate pristine">
                                <label for="last_familyNameBR" ref="lastFamilyNameLabelRefBR" class="form_label">
                                    Last / Family name (As in passport)</label>
                                <small ref="lastFamilyNameErrorRefBR" class="validation_container hidden">
                                    <span class="error">Last / family name does not match booking</span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_field_wrapper">
                    <div class="form_control">
                        <button type="submit" class="btn btn-primary">MANAGE BOOKING</button>
                    </div>
                </div>
            </div>
        </form>
        <form action="#manage_booking_form_eticket" class="form" method="POST" @submit.prevent="checkForm($event)" autocomplete="off" v-if="detailSelection == 'eticketNumber'">
            <div class="form_fields_container manage_booking_details">
                <div class="form_field_wrapper">
                    <div ref="bookingContainerRefET" class="form_control has-float-label">
                        <div class="booking-selection">
                            <div ref="bookingReferenceRefET" class="input_wrapper">
                                <input v-model="bookingReferenceET" v-required-model="bookingReferenceET" @blur="onValidationBlur($event)" type="text" name="bookingReferenceET"
                                    id="bookingReferenceFieldET" placeholder=" " class="form_field form_input--text validate pristine">
                                <label for="bookingReferenceET" ref="bookingLabelRefET" class="form_label">Booking reference</label>
                                <small ref="bookingErrorRefET" class="validation_container hidden">
                                    <span class="error">Please enter a Booking Reference.</span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_field_wrapper">
                    <div ref="lastFamilyNameContainerRefET" class="form_control has-float-label">
                        <div class="booking-selection">
                            <div ref="lastFamilyNameRefET" class="input_wrapper">
                                <input v-model="familyNameET" v-required-model="familyNameET" @blur="onValidationBlur($event)" type="text" name="last_familyNameET"
                                    id="last_familyNameFieldET" placeholder=" " class="form_field form_input--text validate pristine">
                                <label for="last_familyNameET" ref="lastFamilyNameLabelRefET" class="form_label">
                                    Last / Family name (As in passport)</label>
                                <small ref="lastFamilyNameErrorRefET" class="validation_container hidden">
                                    <span class="error">Last / family name does not match booking</span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_field_wrapper">
                    <div class="form_control">
                        <button type="submit" class="btn btn-primary">MANAGE BOOKING</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>