<div class="wrapper-app">
    <component-loader ref="header" :components="headerComponent"></component-loader>
    <!-- <progress-bar-component :items="pageData.progressData"></progress-bar-component> -->
    <bsp-component></bsp-component>
    <div class="main">
        <div class="passenger-us-bound">
            <div class="container-center">
                <div class="passenger-us-bound-header">
                    <h1 class="passenger-us-bound-header-title">Passenger details</h1>
                    <p class="passenger-us-bound-paragraph">Each passenger must hold a valid passport (and visa(s), If required)
                        to be allowed entry into each destination on the flight itinerary. Singapore Airlines cannot be held
                        responsible if a passenger is denied entry and/or deported by any local authority.</p>
                </div>
                <inline-kf-login-component></inline-kf-login-component>
                <div class="passenger-us-bound-content">
                    <sticky-pax-tabs-component v-model="jsonData"></sticky-pax-tabs-component>
                    <section>
                        <form action="">
                            <fieldset v-for="(passenger, index) in jsonData.passengers">
                                <div class="us-bound-passenger-blk-heading">
                                    <h2 class="us-bound-passenger-blk-heading-title">PASSENGER {{index+1}} - ADULT</h2>
                                    <p class="us-bound-passenger-blk-heading-paragraph">Please complete all the fields marked
                                        with</p>
                                </div>
                                <div class="passenger-us-bound-passenger-details">
                                    <h3 class="passenger-us-bound-passenger-details-title">Your details</h3>
                                    <div class="your-deatils">
                                        <div>
                                            <div class="passenger-details-title-wrapper">
                                                <label for="" class="passenger-us-bound-label">Title*</label>
                                                <div class="form_field_wrapper cabin__class">
                                                    <div class="form_control has-float-label">
                                                        <v-autocomplete v-model="paxDetails.title" value-attribute="cabinId" :items="personTitles.Title">
                                                            <template slot="autocomplete-field" slot-scope="{item}">
                                                                <input readonly type="text" name="flightClass" id="flightClass" class="form_field form_input--text ref--searchinput" v-model="item.value">
                                                                <em class="ico-dropdown"></em>
                                                                <small class="validation_container hidden">
                                                                    <span class="error">Class needed</span>
                                                                </small>
                                                            </template>
                                                            <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                                <span>{{ suggestion.value }}</span>
                                                            </template>
                                                        </v-autocomplete>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-row">
                                            <div class="grid-row--position">
                                                <label for="" class="passenger-us-bound-label">First / Given name (as in
                                                    passport)*</label>
                                                <div class="form_control">
                                                    <div class="vue-simple-suggest designed">
                                                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                            <input type="text" placeholder=" " v-model="passenger.firstName" class="form_field form_input--text form_input--size">

                                                            <span class="icon icon--close"></span>
                                                            <small class="validation_container hidden">
                                                                <span class="error"></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="custom-checkbox custom-checkbox--1 passenger-1">
                                                        <input name="checkbox-name-first" id="checkbox-name-first" type="checkbox">
                                                        <label for="checkbox-name-first">This passenger does not have a first/given
                                                            name in the passport.</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-row--position grid-row--position--right">
                                                <label for="" class="passenger-us-bound-label">Last / Family name (as in
                                                    passport)*</label>
                                                <div class="form_control">
                                                    <div class="vue-simple-suggest designed">
                                                        <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                            <input type="text" placeholder=" " v-model="passenger.lastName" class="form_field form_input--text form_input--size">

                                                            <span class="icon icon--close"></span>
                                                            <small class="validation_container hidden">
                                                                <span class="error"></span>
                                                            </small>
                                                        </div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="custom-checkbox custom-checkbox--1 passenger-1">
                                                        <input name="checkbox-name-last" id="checkbox-name-last" type="checkbox">
                                                        <label for="checkbox-name-last">This passenger is under 18 years
                                                            old.</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frequent-flyer-details">
                                    <div class="grid-row grid-row--percent">
                                        <h3 class="pps-kf-heading-title">Frequent flyer details</h3>
                                        <p class="pps-kf-heading-paragraph">Enter your frequent flyer details below to earn
                                            miles with your flight.</p>
                                        <div class="pps-kf-details-wrapper">
                                            <div class="travel-thumbs"></div>
                                            <p class="pps-kf-details-paragraph">PPS Club / KrisFlyer members will also enjoy
                                                exclusive privileges and offers on Singapore Airlines and SilkAir.</p>
                                        </div>
                                    </div>
                                    <div class="grid-row">
                                        <div class="grid-row--position">
                                            <label for="" class="passenger-us-bound-label">Programme</label>
                                            <div class="form_field_wrapper cabin__class">
                                                <div class="form_control has-float-label">
                                                    <v-autocomplete v-model="paxDetails.title" value-attribute="cabinId" :items="royalty.memberShipList">
                                                        <template slot="autocomplete-field" slot-scope="{item}">
                                                            <input readonly type="text" name="flightClass" id="flightClass" class="form_field form_input--text ref--searchinput" v-model="item.membershipTran">
                                                           <em class="ico-dropdown"></em>
                                                            <small class="validation_container hidden">
                                                                <span class="error">Class needed</span>
                                                            </small>
                                                        </template>
                                                        <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                            <span>{{ suggestion.membershipTran }}</span>
                                                        </template>
                                                    </v-autocomplete>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-row--position grid-row--position--right">
                                            <label for="" class="passenger-us-bound-label">Membership number</label>
                                            <div class="form_control">
                                                <div class="vue-simple-suggest designed">
                                                    <div class="input_wrapper input_wrapper--height input_wrapper--design">
                                                        <input type="text" placeholder=" " v-model="passenger.kfNumber" class="form_field form_input--text form_input--size">

                                                        <span class="icon icon--close"></span>
                                                        <small class="validation_container hidden">
                                                            <span class="error"></span>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-submit--position-wrapper">
                                    <input type="submit" value="NEXT PASSENGER" class="btn btn-primary">
                                </div>
                            </fieldset>
                        </form>
                    </section>
                </div>

            </div>
        </div>
    </div>

    <footer-component :footerdata="pageData.footerData"></footer-component>
</div>