@import './_color_palette.scss';
%btn-box {
	background-image: none;
	background-repeat: unset;
	border-radius: 2px;
	padding: 13px 30px;
}

%btn-text {
	font-weight: 600;
	font-size: 0.68rem;
	letter-spacing: 1.2px;
	color: $primary-darkgray;
	text-transform: uppercase;
}

%btn-primary {
	@extend %btn-box;
	@extend %btn-text;
	background-color: #00266B;
	border: 1px solid #00266B;
	color: white;
	display: inline-block;

	&:hover {
		background-color: #003494;
		color: white;
		border: 1px solid #003494;
	}
}

%btn-secondary {
	@extend %btn-box;
	@extend %btn-text;
	background-color: #2275D3;
	border: 1px solid #2275D3;
	color: white;
	&:hover {
		background-color: #0c62c3;
		color: white;
		border: 1px solid #0c62c3;
	}
}

%btn-tertiary {
	@extend %btn-box;
	@extend %btn-text;
	border: 1px solid #00266b;
	color: #00266b;
	&:hover {
		border: 1px solid #0254ec;
		color: #0254ec;
	}
}

%btn-cancel-skip {
	@extend %btn-box;
	@extend %btn-text;
	background-color: #6c7577;
	border: 1px solid #6c7577;
	color: white;
	&:hover {
		border: 1px solid #8d9697;
		color: #8d9697;
	}
}

%disabled {
	@extend %btn-box;
	@extend %btn-text;
	border: 1px solid #e5e5e5;
	color: #a8a8a8;
}

%button-toggle {
	padding: 0.3rem 1.25rem;
	margin: 0;
	font-weight: 600;
	text-transform: uppercase;
	color: #222222;
	line-height: 1em;
  	border-radius: 2.5rem;
  
	background-color: transparent;
	vertical-align: text-top;  
}

%button-toggle--active {
  background-color: #00266B;
	color: white;
}
