/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('#{$fonts}sia.eot');
  src: url('#{$fonts}sia.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}sia.woff') format('woff'),
  url('#{$fonts}sia.ttf') format('truetype'),
  url('#{$fonts}sia.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sia-1';
  src: url('#{$fonts}sia-1.eot');
  src: url('#{$fonts}sia-1.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}sia-1.woff') format('woff'),
  url('#{$fonts}sia-1.ttf') format('truetype'),
  url('#{$fonts}sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sia-2';
  src: url('#{$fonts}sia-2.eot');
  src: url('#{$fonts}sia-2.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}sia-2.woff') format('woff'),
  url('#{$fonts}sia-2.ttf') format('truetype'),
  url('#{$fonts}sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sia-3';
  src: url('#{$fonts}sia-3.eot');
  src: url('#{$fonts}sia-3.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}sia-3.woff') format('woff'),
  url('#{$fonts}sia-3.ttf') format('truetype'),
  url('#{$fonts}sia-3.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sia-amenities';
  src: url('#{$fonts}sia-amenities.eot');
  src: url('#{$fonts}sia-amenities.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}sia-amenities.woff') format('woff'),
  url('#{$fonts}sia-amenities.ttf') format('truetype'),
  url('#{$fonts}sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sia-map';
  src:  url('#{$fonts}sia-map.eot?cbq5t9');
  src:  url('#{$fonts}sia-map.eot?cbq5t9#iefix') format('embedded-opentype'),
    url('#{$fonts}sia-map.ttf?cbq5t9') format('truetype'),
    url('#{$fonts}sia-map.woff?cbq5t9') format('woff'),
    url('#{$fonts}sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sia-meals';
  src:  url('#{$fonts}sia-meals.eot?egg8fi');
  src:  url('#{$fonts}sia-meals.eot?egg8fi#iefix') format('embedded-opentype'),
    url('#{$fonts}sia-meals.ttf?egg8fi') format('truetype'),
    url('#{$fonts}sia-meals.woff?egg8fi') format('woff'),
    url('#{$fonts}sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin proxima-nova-thin {
  font-weight: 100;
  @if $sans-serif {
    font-family: sans-serif;
  } @else {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }
}

@mixin proxima-nova-thin-italic {
  font-weight: 100;
  font-style: italic;
  @if $sans-serif {
    font-family: sans-serif;
  } @else {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }
}

@mixin proxima-nova-light {
  font-weight: 300;
  @if $sans-serif {
    font-family: sans-serif;
  } @else {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }
}

@mixin proxima-nova-light-italic {
  font-weight: 300;
  font-style: italic;
  @if $sans-serif {
    font-family: sans-serif;
  } @else {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }
}

@mixin proxima-nova-regular {
  font-weight: 400;
  @if $sans-serif {
    font-family: sans-serif;
  } @else {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }
}

@mixin proxima-nova-regular-italic {
  font-weight: 400;
  font-style: italic;
  @if $sans-serif {
    font-family: sans-serif;
  } @else {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }
}

@mixin proxima-nova-semibold {
  font-weight: 600;
  @if $sans-serif {
    font-family: sans-serif;
  } @else {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }
}

@mixin proxima-nova-semibold-italic {
  font-weight: 600;
  font-style: italic;
  @if $sans-serif {
    font-family: sans-serif;
  } @else {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }
}

@mixin proxima-nova-bold {
  font-weight: 700;
  @if $sans-serif {
    font-family: sans-serif;
  } @else {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  }
}
@mixin baker-signet-web {
  @if $sans-serif {
    font-family: sans-serif;
  } @else {
    font-family: "baker-signet-web", serif;
  }
}
/* End fontface */
