/* Style for forms */
@mixin placeholder {
  color: $primary-darkgray;
  opacity: 1;
}

@mixin size($dimension) {
  padding: $dimension;
}


%placeholder {
  // @include placeholder {
  //   color: $color-normal-text;
  //   // opacity: 1 !important;
  //   opacity: 1;
  // }

  &.ph {
    color: $color-normal-text;
  }
}

%text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%text-overflow-multi-row {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

%input {
  // @include proxima-nova-regular;
  border: 1px solid #cecece;
  position: relative;
  color: $color-normal-text;
  -webkit-font-smoothing: antialiased;
  background-color: $color-normal-background;

  // @include border-bottom-radius($border-radius-base);
  // @include border-top-radius($border-radius-base);

  input, textarea {
    // background: url("#{$img}transparent.png") no-repeat;

  }

  &.active {
    input{
      // @include placeholder {
      //   color: $color-active-text;
      // }
    }
  }
  &.disabled {
    background-color: $color-disable-background;
    input, label {
      color: $color-active-text;
    }
    .touch & input {
      pointer-events: none;
    }
  }
  .ico-cancel-thin {
    display: none;
    font-size: 12px;
    top: 50%;
    right: 5px;
    margin-top: -11px;
    padding : 5px;
    line-height: 1;
    position: absolute;
    cursor: pointer;
    color: $color-active-text;
  }
}

%input-align {
  height: 18px;
  line-height: 18px;
  padding-top:10px;
  padding-bottom:10px;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
{
  @extend %text-overflow;
  @extend %placeholder;
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  outline: none;
}

textarea {
  @extend %placeholder;
}


// Commenting out since dont use
// input[type=number] {
//   -moz-appearance:textfield;
//   &:focus {
//     outline: none;
//   }
//   &::-webkit-inner-spin-button,
//   &::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//     outline: none;
//   }
// }

// Fixed issue on IOS- safari
input[type="text"], input[type="tel"], input[type="password"], textarea {
  &:disabled {
    .safari & {
      opacity: 0.8;
      color: $color-highlight !important;
    }
  }
}

label {
  font-weight: normal;
  margin: 0;
  color: $color-label;
}

//Input
.input-group {
  display: block;
}

.input-1 {
  @extend %input;
  padding: 7px 30px 7px 13px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  display: block;
  position: relative;

  input{
    color: $color-active-text;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;

    // @include border-top-radius(0);
    // @include border-bottom-radius(0);

    &:focus{
      border: none;
    }
  }
  &.focus {
    border: 1px solid $color-active-border;
    input {
      color: $color-active-text;
    }
  }

  &.disabled {
    color: $color;
    border: 1px solid $color-normal-border;
  }
}

.success{
  .input-1{
    &.disabled {
      color: $color;
      border: 1px solid $color-normal-border;
    }
  }
}

.input-2 {
  @extend %input;
  padding: 10px 30px 10px 20px;
  color: $color-active-text;
  background-color: transparent;
  border: none;
  position: relative;
}

.input-3 {
  @extend %input;
  position: relative;
  font-size: 14px;
  height: 38px;
  padding-right: 30px;
  &.default{
    .input-3__label{
      color: $color-normal-text;
    }
  }
  .input-3__label {
    @extend %input-align;
    color: $color-active-text;
    position: absolute;
    top: 0; left: 13px;
    z-index: 1;
    max-width: 50px;
    @extend %text-overflow;
  }
  .input-3__text {
    @extend %input-align;
    color: $color-active-text;
    position: absolute;
    left: 65px; right: 30px;
    top: 0; bottom: 0;
  }
  &.focus{
    border: 1px solid $color-active-border;
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      color: $color-active-text;
    }
    .input-3__label{
      color: $color-active-text;
    }
  }
  input[type="text"], input[type="tel"] {
    @extend %input-align;
    @extend %text-overflow;

    border: none;
    position: absolute;
    top:0; left:0;
    width: 100%;
    font-size: 14px;

    /* @include placeholder {
      color: $color-normal-text;
    } */
  }
  .error &{
    input {
      /* @include placeholder {
        color: $color-red;
      } */
    }
  }
  button{
    position: absolute;
    top: 8px;
    right: 10px;
    @include size(15px 20px);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    &:focus{
      outline: none;
    }
  }
  .add-clear {
    right: 28px
  }
  .ico-cancel-thin {
    right: -18px;
  }
}

.input-5 {
  @extend %input;
  // @include box-sizing(border-box);
  position: relative;
  font-size: 14px;
  height: 38px;
  width: 100%;
  padding-right: 30px;
  display: table;
  &.default{
    .input-5__label, input[type="text"]{
      color: $color-normal-text;
    }
  }
  .input-5__label {
    @extend %input-align;
    color: $color-active-text;
    display: table-cell;
    vertical-align: baseline;
    padding: 10px 0;
    padding-left: 20px;
    white-space: nowrap;
    width: 10%;
  }
  .input-5__text {
    @extend %input-align;
    color: $color-active-text;
    display: table-cell;
    vertical-align: baseline;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    width: 90%;
  }
  &.focus{
    border: 1px solid $color-active-border;
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      color: $color-active-text;
    }
    .input-3__label{
      color: $color-active-text;
    }
  }
  input[type="text"], input[type="tel"] {
    @extend %input-align;
    @extend %text-overflow;
    border: none;
    width: 100%;
    padding-bottom:0;
    padding-top:0;
    font-size: 14px;

    /* @include placeholder {
      color: $color-normal-text;
    } */
  }
  .error &{
    input {
      /* @include placeholder {
        color: $color-red;
      } */
    }
  }
  button{
    position: absolute;
    top: 8px;
    right: 10px;
    @include size(15px 20px);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    &:focus{
      outline: none;
    }
  }
  .add-clear {
    right: 28px
  }
  .ico-cancel-thin {
    right: 0;
  }
}
.error {
  input {
    /* @include placeholder {
      color: $color-red;
    } */
  }
  .select__text {
    color: $color-red;
  }
  .default {
    .select__text {
      color: $color-red;
    }
  }
  .custom-select--2 {
    .select__text input {
      /* @include placeholder {
        color: $color-red;
      } */
    }
  }
  .custom-select--2, .input-3, .input-1, .input-5, .textarea-1, .textarea-2 {
    background-color: $bgd-alert !important;
    border: 1px solid $color-red;
    color: $color-red;
    position: relative;
  }
  .ignore {
    input {
      /* @include placeholder {
        color: $color-darker;
      } */
    }
    .select__text {
      color: $color-darker;
    }
    .default {
      .select__text {
        color: $color-darker;
      }
    }
    .custom-select--2, .input-3, .input-1, .input-5, .textarea-1, .textarea-2 {
      background-color: $color-lighter !important;
      border: 1px solid $color-light;
      color: $color-darker;
    }
    .custom-select--2 {
      .select__text input {
        /* @include placeholder {
          color: $color-darker;
        } */
      }
    }
  }
}
.text-error {
  position: relative;
  // top: 3px;
  // left: 5px;
  margin: 0;
  padding: 3px 5px 0;
  clear: both;
  color: $color-red;
  .ico-arrow-error {display: none;}
}
.popup--login .form-group .text-error {
  padding-left: 0;
  padding-right: 0;
}
// .form-group.grid-row .text-error {
//   margin: 0
// }
// .form-group .text-error {
//   margin: 0 0 0 -5px;
// }
.success {
  .custom-select--2, .input-3, .input-1{
    position: relative;
  }
}

// Textarea
.textarea-1,
.textarea-2{
  @extend %input;
  display: block;
  padding: 7px 13px;
  textarea{
    @include size(100% 100%);
    border: none;
    // @include proxima-nova-regular;
    &:focus{
      border: none;
      outline: none;
    }
  }
}
.textarea-1 {
  textarea {
    resize: none;
    min-height: 72px;
  }
}
.textarea-2{
  textarea {
    resize: vertical;
    min-height: 175px;
  }
  &.focus {
    border: 1px solid $color-active-border;
  }
}

// Radio
.custom-radio {
  position: relative;
  input {
    position: absolute;
    top: 3px;
    // @include opacity(0);
    z-index: 4;
    cursor: pointer;
    & + .ico-radio {
      margin-top: 1px;
      padding: 0;
      cursor: pointer;
      position: absolute;
      left: 0;
    }
  }
  label{
    padding-left: 23px;
    cursor: pointer;
  }

  &.disabled {
    input {
      + .ico-radio {
        border-color: $silver-1;
        background-color: $color-disable-background;
      }
      + label {
        cursor: auto;
      }
    }


    label {
      color: $color-disable-label;
    }
  }
}

.custom-radio--1 {
  input {
    +label{
      position: relative;
      &:before,
      &:after, {
        content: '';
        border-radius: 100%;
        position: absolute;
      }
      &:before{
        @include size(12px 12px);
        top:1px;
        left: 0;
        border: solid 1px #bdbdbd;
        background: $color-normal-background;
      }
    }
    &:disabled {
      + label {
        cursor: default;
        .flights__table tr td & {
          color: $color-disable-label;
          cursor: auto;
        }
        &:before {
          @include box-shadow(inset 0 0 0 2px rgba(234,234,234,.74));
          @include linear-gradient(bottom, #e6e6e6, #f5f5f5 74%);
          background-color: $bg-disable;
          border: solid 1px $border-disable;
        }
      }
      &:checked, &.checked, &:focus {
        + label {
          color: $color-disable-label;
          &:before {
            @include box-shadow(inset 0 0 0 2px rgba(245,245,245,1));
            background-color: $bg-disable-checked;
          }
        }
      }
    }
    // &:focus,
    &:checked, &.checked{
      + label{
        color: $color-active-text;
        &:after{
          @include size(8px 8px);
          top: 4px;
          left: 3px;
          background-color: $tree-poppy;
        }
      }
    }
  }
  &:first-child {
    input{
      + .ico-radio{
        left: 0;
      }
    }
    label {
      padding-left: 23px;
    }
  }
  label{
    // color: $color-disable-label;
    display: inline-block;
  }
  &.disabled {
    input {
      & + .ico-radio {
        background-color: rgba(4,34,57,0);
        -webkit-box-shadow: inset 0 0 0 2px rgba(234,234,234,.74);
        -moz-box-shadow: inset 0 0 0 2px rgba(234,234,234,.74);
        box-shadow: inset 0 0 0 2px rgba(234,234,234,.74);
        border: solid 1px #bdbdbd;
        background-image: -webkit-linear-gradient(bottom, #e6e6e6, #f5f5f5 74%);
        background-image: -moz-linear-gradient(bottom, #e6e6e6, #f5f5f5 74%);
        background-image: -o-linear-gradient(bottom, #e6e6e6, #f5f5f5 74%);
        background-image: -ms-linear-gradient(bottom, #e6e6e6, #f5f5f5 74%);
        background-image: linear-gradient(to top, #e6e6e6, #f5f5f5 74%);
      }
      &:checked, &.checked, &:focus {
        + .ico-radio{
          -webkit-box-shadow: inset 0 0 0 2px rgba(245,245,245,1);
          -moz-box-shadow: inset 0 0 0 2px rgba(245,245,245,1);
          box-shadow: inset 0 0 0 2px rgba(245,245,245,1);
          background-image: -webkit-linear-gradient(bottom, $bg-disable-checked, $bg-disable-checked 100%);
          background-image: -moz-linear-gradient(bottom, $bg-disable-checked, $bg-disable-checked 100%);
          background-image: -o-linear-gradient(bottom, $bg-disable-checked, $bg-disable-checked 100%);
          background-image: -ms-linear-gradient(bottom, $bg-disable-checked, $bg-disable-checked 100%);
          background-image: linear-gradient(to top, $bg-disable-checked, $bg-disable-checked 100%);
          background-color: $bg-disable-checked;
          + label{
            color: $color-normal-text;
          }
        }
      }
    }
  }
}

.radio-group--left {
  // float: left;
  .custom-radio--1 {
    float: left;
  }
}

.radio-tooltips {
  width: 100%;
  clear: both;
  position: relative;
  background-color: $radio-tooltips;
  // display: none;
  .radio-tooltips-inner {
    display: table;
  }
  .ico-radio-tooltips {
    display: table-cell;
    background-color: $color-blue;
    @include border-left-radius( 2px );
    @include size(38px 38px);
    text-align: center;
    vertical-align: middle;
    &:before {
      margin-top: 3px;
      font-size: 18px;
      color: $color-lighter;
    }
    .form-packages &.ico-package {
      font-size: 20px;
      &:before {
        font-size: 20px;
      }
    }
  }
  .ico-info-2 {
    &:before {
      font-size: 13px;
    }
  }

  .ico-group-user {
    &:before {
      font-size: 22px;
    }
  }

  // .ico-arrow-up, .ico-arrow-up-1 {
  //   position: absolute;
  //   top: -12px;
  //   left: 50px;
  // }
}

.radio-tooltips__text {
  display: table-cell;
  font-size: 13px;
  line-height: 18px;
  padding: 6px 10px;
  text-align: left;
  vertical-align: middle;
  color: $color-darker;
  span {
    color: #808080;
  }
}
.travel-widget--2 {
  .radio-tooltips__text {
    font-size: 12px;
    line-height: 1.2;
  }
  .radio-tooltips {
    .radio-tooltips-inner {
      min-height: 40px;
    }
  }
}


.question-tooltips {
  position: absolute;
  background-color: $color-blue-lighter;
  color: $color-lighter;
  padding: 10px;
  max-width: 150px;

  .ico-question-tooltips {
    position: absolute;
    bottom: -19px;
    left: 50%;
    @include size(12px 20px);
    @extend .ico-arrow;
    background-position: 0 -1560px;
    @include transition(none);
  }
}

// Checkbox
.custom-checkbox {
  input {
    position: absolute;
    top: 3px;
    opacity: 0;
    cursor: pointer;
    @include size(14px 14px);
    & + label {
      display: inline-block;
      padding-left: 23px;
      margin-right: 10px;
      line-height: 16px;
      font-size: 14px;
      cursor: pointer;
      // color: $color-disable-label;
      &:before{
        content: '';
        width: 12px;
        height: 12px;
        border: 1px solid $color-normal-border;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-lighter;
      }
      &:after{
        content: '\e610';
        font-family: 'sia';
        font-weight: bold;
        color: $color-orange;
        position: absolute;
        top: -1px;
        left: 2px;
        display: none;
        font-size: 14px;
      }
      &.assign-access-checked:after{
        display: block;
      }
    }
    &:checked, &.checked {
      color: $color-active-text;
      + label{
        color: $color-active-text;
        &.assign-access-checked,
        &:after{
          display: block;
        }
      }
    }
    &:disabled {
      + label {
        cursor: text;
      }
    }
    &#assign-access{
      + label:not(.assign-access-checked){
        &:after{
          display: none;
        }
      }
    }
  }
  &.disabled {
    input {
      & + label {
        &:after{
          color: $color-disable-label;
          display: none;
        }
      }
    }
    label {
      color: $color-disable-label;
      span {
        color: $color-disable-label;
      }
    }
  }
  input + label:before {
    .error & {border-color: $color-red;}
  }
}

.custom-checkbox--1 {
  position: relative;
  // cursor: pointer;
  input {
    outline: none;
    & + label {
      // font-size: 14px;
      // cursor: pointer;
      position: relative;
    }
  }
}

.custom-checkbox--checked-in {
  position: relative;
  // cursor: pointer;
  input {
    & + label {
      font-size: 14px;
      color: $color-disable-label;
      cursor: pointer;
    }

    &:checked + label, &.checked + label {
      &:after{
        color: $color-gray;
      }
    }
  }
}

// Select
.custom-select {
  position: relative;
  @include proxima-nova-regular;
  .ico-dropdown {
    position: absolute;
    top: 50%;
    font-size: 0px;
    &:before{
      font-size: 9px;
      vertical-align: top;
      color: $color-light;
    }
  }
  select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include size(100% 100%);
    @include opacity(0);
  }

  .select__text {
    input {
      &.ph {
        color: $color-normal-text;
        .error & {
          color: $color-red;
        }
      }
    }
  }

  label, input {
    letter-spacing: 0.025em;
  }

  &.disabled {
    background-color: $color-disable-background;
    input, label {
      color: $color-active-text;
    }
    .touch & input {
      pointer-events: none;
    }
    select {
      display: none;
    }
  }

  .add-clear {
    right: 18px;
  }
}

.custom-select--1 {
  cursor: pointer;
  float: left;
  // width: 160px;

  .select__text {
    font-size: 28px;
    line-height: 1.3;
    float: left;
    // text-overflow: ellipsis;
    // height: 36px;
    max-width: 280px;
    color: $color-blue;
    @include baker-signet-web;
    @extend %text-overflow;
  }
  .ico-dropdown {
    @include size(9px 8px);
    position: static;
    float: left;
    margin-top: 16px;
    margin-left: 5px;
    &:before{
      content: '\e643';
      font-size: 9px;
      color: $color-blue;
    }
  }
}

.custom-select--2 {
  height: 38px;
  line-height: 38px;
  background-color: $color-normal-background;
  border: solid 1px $color-normal-border;
  @include border-top-radius(2px);
  @include border-bottom-radius(2px);
  .ico-dropdown {
    right: 13px;
    @include size(9px 8px);
    margin-top: -4px;
  }
  .custom-scroll {
    top: 38px;
  }
  .select__text {
    height: 38px;
    padding-left: 63px;
    padding-right: 30px;
    @include box-sizing(border-box);
    @extend %input-align;
    @extend %text-overflow;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    input {
      height: 38px;
      padding-left: 63px;
      padding-right: 45px;
      @include box-sizing(border-box);
      @extend %input-align;
      position: absolute;
      left: 0;
      top: 0;

      &:focus {
        outline: #2e77fd solid thin; // wcag
      }
    }
    .ico-cancel-thin {
      display: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 26px;
      font-size: 12px;
      margin-top: -6px;
      line-height: 1;
      color: $color-active-text;
    }
  }
  &.custom-select--no-label {
    .select__text {
      left: 13px;
    }
  }

  .select__label {
    @extend %input-align;
    color: $color-active-text;
    top: 0;
    max-width: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.focus{
    border: 1px solid $color-active-border;
    .select__label {
      color: $color-active-text;
    }
  }
  &.country-sl {
    .select__text {
      padding-left: 78px;
      input {padding-left: 78px;}
    }
    .select__label {
      max-width: 60px;
    }
  }
}
.custom-select[data-autocomplete="true"] {
  .select__text{
    input {
      &:focus {
        outline: none;
      }
    }
  }
}
.custom-select--2.auto-complete-1 {
  background: none;
  border: none;
  padding: 0;
  height: 39px;

  .select__text {
    padding: 0 20px 0 0;
    height: 39px;
    position: relative;
    overflow: visible;
    // border-bottom: 1px solid $color-light;
    input {
      line-height: 36px;
      height: 36px;
      max-width: 160px;
      font-size: 28px;
      color: $color-blue;
      padding: 0 0 2px;
      border-radius: 0;
      @include baker-signet-web;
      position: static;
    }
    .ico-cancel-thin{
      right: 0;
    }
  }

  .ico-dropdown {
    @include size(9px 8px);
    position: absolute;
    right: -15px;
    &:before{
      content: '\e643';
      font-size: 9px;
      color: $color-blue;
    }
  }

  &.focus {
    border: none;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: -8px;
    border-bottom: 1px solid $color-light;
  }
}

.select__label {
  min-width: 32px;
  position: absolute;
  top: 8px;
  left: 13px;
}

.select__text {
  font-size: 14px;
  display: block;
  color: $color-active-text;
  input{
    width: 100%;
    border: none;
    background: none;
    padding: 0;
    /* @include placeholder {
      color: $color-normal-text;
    } */
  }
}

.default{
  .select__text, .select__label {
    color: $color-normal-text;
  }
}

.select__tips {
  font: italic 12px/17px "proxima-nova";
  color: $color-dark-gray;
  text-align: right;
  position: absolute;
  top: 110%;
}
.has-select__tips {
  padding-bottom: 20px;
}

// Form group
.form-group {
  @include clearfix();
  position: relative;
  margin-bottom: 10px;
  &.style-1 {
    margin-top: 30px;
  }
  .custom-radio {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
  &.form-group--signup{
    margin-top: 40px;
    padding-top: 14px;
    border-top: 1px solid #cccccc;
    p{
      color: $color-blue;
      font-size: 16px;
      font-family: $font-proxima, 'sans-serif';
      font-weight: 600;
    }
    input[type="submit"]{
      background-color: $color-button-signup;
      &:hover{
        background-color: $color-button-4;
      }
    }
  }
}
.travel-widget--2 {
  .form-group-1 {
    text-align: center;
    .link-4 {
      color: $color-button-4;
    }
  }
}
.form-group-radio {
  .custom-radio {
    margin-left: 0;
  }
}
.form-group--row {
  margin-left: -5px;
  margin-right: -5px;
}

// .form-group--tooltips {
  // margin-bottom: 10px;
  // .custom-radio {
  //   float: left;
  // }
// }

.form-group--inline {
  .custom-radio {
    float: left;
  }
}

.form-group--not-label {
  .select__text {
    padding-left: 0;
  }
}

.one-half {
  .btn-2,
  .btn-1,
  .btn-3 {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.custom-select--sort {
  width: 30%;
  height: 28px;
  .select_text {
    @extend %text-overflow;
    font-size: 14px;
    display: inline-block;
    float: right;
    text-align: right;
    padding: 5px 15px 5px 0;
    color: $color;
  }
  .ico-point-d {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    font-size: 10px;
    color: $color;
    &:before {
      padding-top: 3px;
    }
  }
  select {
    width: 50px;
    left: auto;
  }

  &.focus {
    .select_text {
      outline: $color-blue-focus solid thin;
    }
  }
  &.focus.active {
    .select_text {
      outline: none;
    }
  }
}

.grid-col {
  > label {
    display: inline-block;
    margin-left: 5px;
  }
}
.form-group, .phone-col {
  > label {
    float: left;
    margin-left: 5px;
    @include clearfix;
    + .grid-col {
      clear: left;
    }
  }
}

// .group-custom-date {
//   .group-custom--date-item {width: 81px;}
//   .group-custom--month-item {width: 133px;}
//   .group-custom--year-item {width: 95px;}
// }

.form-global--label {
  label {
    color: $color-darker;
  }
  .custom-checkbox {
    input + label {
      color: $color;
    }
    input:checked + label {
      color: $color-darker;
    }
  }
}

input.input-overlay {
  /* @include placeholder {
    opacity: 0;
  } */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  color: transparent;
  // text-indent: -999em;
  cursor: default;
}

.form-book-car {
  .input-3 {
    .input-3__label {
      max-width: 83px
    }
    .input-3__text {
      input {
        padding-left: 85px;
      }
    }
  }
  .custom-select--2 {
    .select__label {
      max-width: 65px;
    }
    .select__text {
      input {
        padding-left: 85px;
      }
    }
  }
  .two-five {
    .custom-select--2 {
      .select__label {
        max-width: 36px;
      }
      .select__text {
        input {
          padding-left: 52px;
        }
      }
    }
  }
}
 /* End forms */
