<aside class="bsp-main">
    <h1 hidden>Booking summary panel</h1>
    <div class="bsp-main_heading">
        <div class="bsp-main_heading-wrap">
            <span class="bsp-heading-flight">SIN - SFO</span>
            <span class="bsp-heading-return-arrow"> ⇄ </span>
            <span class="bsp-heading-flight">SFO - SIN</span>
            <span class=""> • </span>
            <span class="bsp-heading-passenger">2 Adults</span>
        </div>
    </div>
    <div class="bsp-main_details">
        <div class="bsp-main_details-wrap" :class="{'collapse': isBSPCollapse}">
            <div class="bsp-main_details-wrap_content-control">
                <div class="bsp-main_details_content-group-flights">
                    <div class="bsp-main_details_content-flight">
                        <div class="bsp-main_details_content-flight_inner">
                            <span class="bsp-title">Departing</span>
                            <div class="bsp-flight-content">
                                <div class="bsp-flight-content_description">
                                    <strong class="bsp-flight-content_description_date">13 Sept (Fri)</strong>
                                    <strong class="bsp-flight-content_description_hour">Syd 18:05</strong>
                                    <strong class="bsp-flight-content_description_country-name">Sydney</strong>

                                    <!-- <span class="bsp-flight-content_description_airport">Kingsford Smith</span>
                                    <span class="bsp-flight-content_description_terminal">Terminal 1</span> -->
                                </div>
                                <div class="bsp-flight-content_ETA">
                                    <em class="bsp-flight-ico-plane ico-flight"></em>
                                    <span class="bsp-flight-content_ETA-time">22h 40m</span>
                                </div>
                                <div class="bsp-flight-content_description">
                                    <strong class="bsp-flight-content_description_date">21 Sept (Fri)</strong>
                                    <strong class="bsp-flight-content_description_hour">Lhr 07:45</strong>
                                    <strong class="bsp-flight-content_description_country-name">London</strong>
                                    <!-- <span class="bsp-flight-content_description_airport">Changi Intl</span>
                                    <span class="bsp-flight-content_description_terminal">Terminal 3</span> -->
                                </div>
                            </div>
                            <div class="bsp-main_details_content-more-detail">
                            
                                <div class="bsp-flight-content_wrap">
                                    <div class="bsp-flight-content_description">
                                        <div class="bsp-flight-content_description_airport">Kingsford Smith</div>
                                        <span class="bsp-flight-content_description_terminal">Terminal 1</span>
                                    </div>
                                    <div class="bsp-flight-content_description">
                                        <div class="bsp-flight-content_description_airport">Kingsford Smith</div>
                                        <span class="bsp-flight-content_description_terminal">Terminal 1</span>
                                    </div>
                                </div>
                                <div class="bsp-airline-airbus-cabin-details">
                                    <strong class="bsp-airline">Singapore Airlines</strong>
                                    <span> • </span>
                                    <span class="bsp-flight-tracker">242</span>
                                    <span class=""> • </span>
                                    <span class="bsp-airbus">Boeing 777-300 ER</span>
                                    <!-- <strong class="bsp-cabin-class">Economy</strong> -->
                                </div>
                                <div class="bsp-cabin-class_wrap">
                                    <strong class="bsp-cabin-class">Economy</strong>
                                </div>
                                <!-- <strong class="bsp-cabin-class">Economy</strong> -->
                                <div class="bsp-layover-time-content">
                                    <div class="bsp-layover-time-wrap">
                                        <!-- <em class="ico"></em> -->
                                        <img src="/assets/images/clock.png" />
                                        <span class="bsp-layover-time_text">Layover time 50mins</span>
                                    </div>
                                    <span class="bsp-layover-time_hr">
                                        <hr></span>
                                </div>
                                <div class="">
                                    <div class="bsp-flight-content">
                                        <div class="bsp-flight-content_description">
                                            <strong class="bsp-flight-content_description_date">23 Sept (wed)</strong>
                                            <strong class="bsp-flight-content_description_hour">Syd 08:45</strong>
                                            <strong class="bsp-flight-content_description_country-name">Sydney</strong>
                                            <div class="bsp-flight-content_description_airport">Kingsford Smith</div>
                                            <span class="bsp-flight-content_description_terminal">Terminal 1</span>
                                        </div>
                                        <div class="bsp-flight-content_ETA">
                                            <em class="bsp-flight-ico-plane ico-flight"></em>
                                            <span class="bsp-flight-content_ETA-time">3h 40m</span>
                                        </div>
                                        <div class="bsp-flight-content_description">
                                            <strong class="bsp-flight-content_description_date">29 Sept (Fri)</strong>
                                            <strong class="bsp-flight-content_description_hour">Lhr 02:45</strong>
                                            <strong class="bsp-flight-content_description_country-name">London</strong>
                                            <div class="bsp-flight-content_description_airport">Changi Intl</div>
                                            <span class="bsp-flight-content_description_terminal">Terminal 3</span>
                                        </div>
                                    </div>
                                    <div class="bsp-airline-airbus-cabin-details">
                                        <strong class="bsp-airline">Singapore Airlines</strong>
                                        <span> • </span>
                                        <span class="bsp-flight-tracker">242</span>
                                        <span class=""> • </span>
                                        <span class="bsp-airbus">Boeing 777-300 ER</span>
                                        <!-- <strong class="bsp-cabin-class">Economy</strong> -->
                                    </div>
                                    <div class="bsp-cabin-class_wrap">
                                        <strong class="bsp-cabin-class">Economy</strong>
                                    </div>
                                    <div class="bsp-total-travel-time_wrap">
                                        <strong class="bsp-total-travel-time">Total travel time 22hrs 40mins</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bsp-main_details_content-flight">
                        <div class="bsp-main_details_content-flight_inner">
                            <span class="bsp-title">Returning</span>
                            <a href="#" class="bsp-select-flight" hidden>
                                <span class="">Select your inbound flight</span>
                            </a>
                            <div class="bsp-flight-content">
                                <div class="bsp-flight-content_description">
                                    <strong class="bsp-flight-content_description_date">13 Sept (Fri)</strong>
                                    <strong class="bsp-flight-content_description_hour">Syd 18:05</strong>
                                    <strong class="bsp-flight-content_description_country-name">Sydney</strong>
                                </div>
                                <div class="bsp-flight-content_ETA">
                                    <em class="bsp-flight-ico-plane ico-flight"></em>
                                    <span class="bsp-flight-content_ETA-time">22h 40m</span>
                                </div>
                                <div class="bsp-flight-content_description">
                                    <strong class="bsp-flight-content_description_date">21 Sept (Fri)</strong>
                                    <strong class="bsp-flight-content_description_hour">Lhr 07:45</strong>
                                    <strong class="bsp-flight-content_description_country-name">London</strong>
                                </div>
                            </div>
                            <div class="bsp-main_details_content-more-detail">
                            
                                <div class="bsp-flight-content_wrap">
                                    <div class="bsp-flight-content_description">
                                        <div class="bsp-flight-content_description_airport">Kingsford Smith</div>
                                        <div class="bsp-flight-content_description_terminal">Terminal 1</div>
                                    </div>
                                    <div class="bsp-flight-content_description">
                                        <div class="bsp-flight-content_description_airport">Kingsford Smith</div>
                                        <div class="bsp-flight-content_description_terminal">Terminal 1</div>
                                    </div>
                                </div>
                                <div class="bsp-airline-airbus-cabin-details">
                                    <strong class="bsp-airline">Singapore Airlines</strong>
                                    <span> • </span>
                                    <span class="bsp-flight-tracker">242</span>
                                    <span class=""> • </span>
                                    <span class="bsp-airbus">Boeing 777-300 ER</span>
                                    <!-- <strong class="bsp-cabin-class">Economy</strong> -->
                                </div>
                                <div class="bsp-cabin-class_wrap">
                                    <strong class="bsp-cabin-class">Economy</strong>
                                </div>
                                <div class="bsp-layover-time-content">
                                    <div class="bsp-layover-time-wrap">
                                        <!-- <em class="ico"></em> -->
                                        <img src="/assets/images/clock.png" />
                                        <span class="bsp-layover-time_text">Layover time 50mins</span>
                                    </div>
                                    <span class="bsp-layover-time_hr">
                                        <hr></span>
                                </div>
                                <div class="">
                                    <div class="bsp-flight-content">
                                        <div class="bsp-flight-content_description">
                                            <strong class="bsp-flight-content_description_date">23 Sept (wed)</strong>
                                            <strong class="bsp-flight-content_description_hour">Syd 08:45</strong>
                                            <strong class="bsp-flight-content_description_country-name">Sydney</strong>
                                            <div class="bsp-flight-content_description_airport">Kingsford Smith</div>
                                            <span class="bsp-flight-content_description_terminal">Terminal 1</span>
                                        </div>
                                        <div class="bsp-flight-content_ETA">
                                            <em class="bsp-flight-ico-plane ico-flight"></em>
                                            <span class="bsp-flight-content_ETA-time">3h 40m</span>
                                        </div>
                                        <div class="bsp-flight-content_description">
                                            <strong class="bsp-flight-content_description_date">29 Sept (Fri)</strong>
                                            <strong class="bsp-flight-content_description_hour">Lhr 02:45</strong>
                                            <strong class="bsp-flight-content_description_country-name">London</strong>
                                            <div class="bsp-flight-content_description_airport">Changi Intl</div>
                                            <span class="bsp-flight-content_description_terminal">Terminal 3</span>
                                        </div>
                                    </div>
                                    <div class="bsp-airline-airbus-cabin-details">
                                        <strong class="bsp-airline">Singapore Airlines</strong>
                                        <span> • </span>
                                        <span class="bsp-flight-tracker">242</span>
                                        <span class=""> • </span>
                                        <span class="bsp-airbus">Boeing 777-300 ER</span>
                                        <!-- <strong class="bsp-cabin-class">Economy</strong> -->
                                    </div>
                                    <div class="bsp-cabin-class_wrap">
                                        <strong class="bsp-cabin-class">Economy</strong>
                                    </div>
                                    <div class="bsp-total-travel-time_wrap">
                                        <strong class="bsp-total-travel-time">Total travel time 22hrs 40mins</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bsp-main_details_content-more-detail" hidden>
                    <div class="bsp-main_details_content-booking-summary">
                        <div class="bsp-main_details_content-flight">
                            <div class="bsp-main_details_content-flight_inner">
                                <span class="bsp-title">Departing</span>
                                <div class="bsp-flight-content">
                                    <div class="bsp-flight-content_description">
                                        <strong class="bsp-flight-content_description_date">13 Sept (Fri)</strong>
                                        <strong class="bsp-flight-content_description_hour">Syd 18:05</strong>
                                        <strong class="bsp-flight-content_description_country-name">Sydney</strong>
                                        <span class="bsp-flight-content_description_airport">Kingsford Smith</span>
                                        <span class="bsp-flight-content_description_terminal">Terminal 1</span>
                                    </div>
                                    <div class="bsp-flight-content_ETA">
                                        <em class="ico"></em>
                                        <span class="bsp-flight-content_ETA-time">6h 40m</span>
                                    </div>
                                    <div class="bsp-flight-content_description">
                                        <strong class="bsp-flight-content_description_date">21 Sept (Fri)</strong>
                                        <strong class="bsp-flight-content_description_hour">Lhr 07:45</strong>
                                        <strong class="bsp-flight-content_description_country-name">London</strong>
                                        <span class="bsp-flight-content_description_airport">Changi Intl</span>
                                        <span class="bsp-flight-content_description_terminal">Terminal 3</span>
                                    </div>
                                </div>
                                <div class="bsp-airline-airbus-cabin-details">
                                    <strong class="bsp-airline">Singapore Airlines</strong>
                                    <span> • </span>
                                    <span class="bsp-flight-tracker">242</span>
                                    <span class=""> • </span>
                                    <span class="bsp-airbus">Boeing 777-300 ER</span>
                                    <!-- <strong class="bsp-cabin-class">Economy</strong> -->
                                </div>
                                <div class="bsp-cabin-class_wrap">
                                    <strong class="bsp-cabin-class">Economy</strong>
                                </div>
                                <div class="bsp-layover-time-content">
                                    <div class="bsp-layover-time-wrap">
                                        <!-- <em class="ico"></em> -->
                                        <img src="/assets/images/clock.png" />
                                        <span class="bsp-layover-time_text">Layover time 50mins</span>
                                    </div>
                                    <span class="bsp-layover-time_hr"><hr></span>
                                </div>
                                <div class="bsp-flight-content">
                                    <div class="bsp-flight-content_description">
                                        <strong class="bsp-flight-content_description_date">23 Sept (wed)</strong>
                                        <strong class="bsp-flight-content_description_hour">Syd 08:45</strong>
                                        <strong class="bsp-flight-content_description_country-name">Sydney</strong>
                                        <span class="bsp-flight-content_description_airport">Kingsford Smith</span>
                                        <span class="bsp-flight-content_description_terminal">Terminal 1</span>
                                    </div>
                                    <div class="bsp-flight-content_ETA">
                                        <em class="ico"></em>
                                        <span class="bsp-flight-content_ETA-time">3h 40m</span>
                                    </div>
                                    <div class="bsp-flight-content_description">
                                        <strong class="bsp-flight-content_description_date">29 Sept (Fri)</strong>
                                        <strong class="bsp-flight-content_description_hour">Lhr 02:45</strong>
                                        <strong class="bsp-flight-content_description_country-name">London</strong>
                                        <span class="bsp-flight-content_description_airport">Changi Intl</span>
                                        <span class="bsp-flight-content_description_terminal">Terminal 3</span>
                                    </div>
                                </div>
                                <div class="bsp-airline-airbus-cabin-details">
                                    <strong class="bsp-airline">Singapore Airlines</strong>
                                    <span> • </span>
                                    <span class="bsp-flight-tracker">242</span>
                                    <span class=""> • </span>
                                    <span class="bsp-airbus">Boeing 777-300 ER</span>
                                    <!-- <strong class="bsp-cabin-class">Economy</strong> -->
                                </div>
                                <div class="bsp-cabin-class_wrap">
                                    <strong class="bsp-cabin-class">Economy</strong>
                                </div>
                                <div class="bsp-total-travel-time_wrap">
                                    <strong class="bsp-total-travel-time">Total travel time 22hrs 40mins</strong>
                                </div>
                            </div>
                        </div>
                        <div class="bsp-main_details_content-flight">
                            <div class="bsp-main_details_content-flight_inner">
                                <span class="bsp-title">Returning</span>
                                <div class="bsp-flight-content">
                                    <div class="bsp-flight-content_description">
                                        <strong class="bsp-flight-content_description_date">13 Sept (Fri)</strong>
                                        <strong class="bsp-flight-content_description_hour">Syd 18:05</strong>
                                        <strong class="bsp-flight-content_description_country-name">Sydney</strong>
                                        <span class="bsp-flight-content_description_airport">Kingsford Smith</span>
                                        <span class="bsp-flight-content_description_terminal">Terminal 1</span>
                                    </div>
                                    <div class="bsp-flight-content_ETA">
                                        <em class="ico"></em>
                                        <span class="bsp-flight-content_ETA-time">6h 40m</span>
                                    </div>
                                    <div class="bsp-flight-content_description">
                                        <strong class="bsp-flight-content_description_date">21 Sept (Fri)</strong>
                                        <strong class="bsp-flight-content_description_hour">Lhr 07:45</strong>
                                        <strong class="bsp-flight-content_description_country-name">London</strong>
                                        <span class="bsp-flight-content_description_airport">Changi Intl</span>
                                        <span class="bsp-flight-content_description_terminal">Terminal 3</span>
                                    </div>
                                </div>
                                <div class="bsp-airline-airbus-cabin-details">
                                    <strong class="bsp-airline">Singapore Airlines</strong>
                                    <span> • </span>
                                    <span class="bsp-flight-tracker">242</span>
                                    <span class=""> • </span>
                                    <span class="bsp-airbus">Boeing 777-300 ER</span>
                                    <!-- <strong class="bsp-cabin-class">Economy</strong> -->
                                </div>
                                <div class="bsp-cabin-class_wrap">
                                    <strong class="bsp-cabin-class">Economy</strong>
                                </div>
                                <div class="bsp-layover-time-content">
                                    <div class="bsp-layover-time-wrap">
                                        <!-- <em class="ico"></em> -->
                                        <img src="/assets/images/clock.png" />
                                        <span class="bsp-layover-time_text">Layover time 50mins</span>
                                    </div>
                                    <span class="bsp-layover-time_hr"><hr></span>
                                </div>
                                <div class="bsp-flight-content">
                                    <div class="bsp-flight-content_description">
                                        <strong class="bsp-flight-content_description_date">23 Sept (wed)</strong>
                                        <strong class="bsp-flight-content_description_hour">Syd 08:45</strong>
                                        <strong class="bsp-flight-content_description_country-name">Sydney</strong>
                                        <span class="bsp-flight-content_description_airport">Kingsford Smith</span>
                                        <span class="bsp-flight-content_description_terminal">Terminal 1</span>
                                    </div>
                                    <div class="bsp-flight-content_ETA">
                                        <em class="ico"></em>
                                        <span class="bsp-flight-content_ETA-time">3h 40m</span>
                                    </div>
                                    <div class="bsp-flight-content_description">
                                        <strong class="bsp-flight-content_description_date">29 Sept (Fri)</strong>
                                        <strong class="bsp-flight-content_description_hour">Lhr 02:45</strong>
                                        <strong class="bsp-flight-content_description_country-name">London</strong>
                                        <span class="bsp-flight-content_description_airport">Changi Intl</span>
                                        <span class="bsp-flight-content_description_terminal">Terminal 3</span>
                                    </div>
                                </div>
                                <div class="bsp-airline-airbus-cabin-details">
                                    <strong class="bsp-airline">Singapore Airlines</strong>
                                    <span> • </span>
                                    <span class="bsp-flight-tracker">242</span>
                                    <span class=""> • </span>
                                    <span class="bsp-airbus">Boeing 777-300 ER</span>
                                    <!-- <strong class="bsp-cabin-class">Economy</strong> -->
                                </div>
                                <div class="bsp-cabin-class_wrap">
                                    <strong class="bsp-cabin-class">Economy</strong>
                                </div>
                                <div class="bsp-total-travel-time_wrap">
                                    <strong class="bsp-total-travel-time">Total travel time 22hrs 40mins</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bsp-main_details_content-total-fare">
                    <div class="bsp-main_details_content-total-fare-inner">
                        <div class="bsp-main_details_content-total-fare-inner__wrap">
                            <div class="bsp-title-content">
                                <span class="bsp-title">Total fare</span>
                                <a href="#" class="bsp-details-link">
                                    <span class="bsp-details-link_text" @click="toggleDetails()">{{isBSPCollapse ? 'View details' : 'Hide details'}}</span>
                                    <span class="ico-chevron--blue"></span>
                                </a>
                            </div>
                            <div class="bsp-total-fare-details">
                                <strong class="bsp-total-fare_num-pax">3 Adults</strong>
                                <strong class="bsp-total-fare_total-cost">Sgd 5,172.96</strong>
                                <p class="bsp-total-fare_notice">Total fare includes discounts, taxes and surcharges</p>
                            </div>
                        </div>

                        <div class="bsp-main_details_content-total-fare-inner__wrap bsp-main_details_content-total-fare-inner__wrap--mobile">
                            <div class="bsp-title-content">
                                <span class="bsp-title">Total fare for</span>
                                <strong class="bsp-total-fare_num-pax">3 Adults</strong>
                            </div>
                            <div class="bsp-total-fare-details">
                                <strong class="bsp-total-fare_total-cost">Sgd 5,172.96</strong>
                                <div class="bsp-total-fare_notice-wrap">
                                    <p class="bsp-total-fare_notice">Including taxes and surcharges</p>
                                    <a href="#" class="bsp-details-link">
                                        <span class="bsp-details-link_text" @click="toggleDetails()">{{isBSPCollapse ? 'View details' : 'Hide details'}}</span>
                                        <span class="ico-chevron--blue"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="bsp-title-content">
                            <span class="bsp-title">Total fare</span>
                            <a href="#" class="bsp-details-link">
                                <span class="bsp-details-link_text" @click="toggleDetails()">{{isBSPCollapse ? 'View details' : 'Hide details'}}</span>
                                <span class="ico-chevron--blue"></span>
                            </a>
                        </div>
                        <div class="bsp-total-fare-details">
                            <strong class="bsp-total-fare_num-pax">3 Adults</strong>
                            <strong class="bsp-total-fare_total-cost">Sgd 5,172.96</strong>
                            <p class="bsp-total-fare_notice">Total fare includes discounts, taxes and surcharges</p>
                        </div> -->

                        <div class="bsp-total-fare-flight-cost">
                            <div class="bsp-total-fare-flight-cost_content">
                                <strong class="bsp-text bsp-total-fare-flight-cost_title">Flights</strong>
                                <strong class="bsp-total-fare-flight-cost_title">SGD</strong>
                            </div>
                            <div class="bsp-item bsp-total-fare-flight-cost_content">
                                <span class="bsp-text bsp-total-fare-flight-cost_description">Fare</span>
                                <span class="bsp-total-fare-flight-cost_amount">711.00</span>
                            </div>
                            <div class="bsp-item bsp-total-fare-flight-cost_content">
                                <span class="bsp-text bsp-total-fare-flight-cost_description">Airport/Government taxes</span>
                                <span class="bsp-total-fare-flight-cost_amount">234.00</span>
                            </div>
                            <div class="bsp-item bsp-total-fare-flight-cost_content">
                                <span class="bsp-text bsp-total-fare-flight-cost_description">Carrier surcharges</span>
                                <span class="bsp-total-fare-flight-cost_amount">0.00</span>
                            </div>
                            <div class="bsp-total-fare-flight-cost_content">
                                <strong class="bsp-text bsp-total-fare-flight-cost_description">Subtotal</strong>
                                <strong class="bsp-total-fare-flight-cost_amount">4,577.12</strong>
                            </div>
                        </div>

                            <!-- deals added hidden -->
                            
                        <div class="bsp-added-deals-content" hidden>
                            <div class="bsp-added-deals-content_wrap">
                                <strong class="bsp-added-deals-title">Flights add-ons</strong>
                                <strong class="bsp-total-fare-flight-cost_currency">AUD</strong>
                            </div>
                            <div class="bsp-added-deals-pax-cost">
                                <span class="bsp-added-deals_passenger">John Tan</span>
                                <div class="bsp-added-deals-pax-cost_wrap">
                                    <span class="bsp-added-deals_description">Extra Legroom Seat • SYD - SIN</span>
                                    <span class="bsp-added-deals_amount">76.00</span>
                                </div>
                                <div class="bsp-added-deals-pax-cost_wrap">
                                    <span class="bsp-added-deals_description">Extra Legroom Seat • SYD - SIN</span>
                                    <span class="bsp-added-deals_amount">100.00</span>
                                </div>
                                <div class="bsp-added-deals-pax-cost_wrap">
                                    <span class="bsp-added-deals_description">Extra Legroom Seat • SYD - SIN</span>
                                    <span class="bsp-added-deals_amount">116.00</span>
                                </div>
                            </div>
                            <div class="bsp-added-deals-pax-cost">
                                <span class="bsp-added-deals_passenger">Rebecca chan</span>
                                <div class="bsp-added-deals-pax-cost_wrap">
                                    <span class="bsp-added-deals_description">Extra Legroom Seat • SYD - SIN</span>
                                    <span class="bsp-added-deals_amount">16.00</span>
                                </div>
                                <div class="bsp-added-deals-pax-cost_wrap">
                                    <span class="bsp-added-deals_description">Extra Legroom Seat • SYD - SIN</span>
                                    <span class="bsp-added-deals_amount">96.00</span>
                                </div>
                                <div class="bsp-added-deals-pax-cost_wrap">
                                    <span class="bsp-added-deals_description">Extra Legroom Seat • SYD - SIN</span>
                                    <span class="bsp-added-deals_amount">98.00</span>
                                </div>
                            </div>
                            <div class="bsp-added-deals-sub-total_wrap">
                                <strong class="bsp-added-deals-sub-total_description">Subtotal</strong>
                                <strong class="bsp-added-deals-sub-total_amount">4,577.12</strong>
                            </div>
                        </div>
                        
                        <div class="bsp-group-links" v-if="isBSPCollapseContainer">
                            <div class="bsp-group-links_wrap">
                                <a href="#" class="bsp-link">
                                    <span class="ico-chevron--blue"></span>
                                    <span class="bsp-link_description">Cost breakdown by passengers</span>
                                </a>
                            </div>
                            <div class="bsp-group-links_wrap">
                                <a href="#" class="bsp-link">
                                    <span class="ico-chevron--blue"></span>
                                    <span class="bsp-link_description">Full fare conditon</span>
                                </a>
                            </div>
                            <div class="bsp-group-links_wrap">
                                <a href="#" class="bsp-link">
                                    <span class="ico-chevron--blue"></span>
                                    <span class="bsp-link_description">Baggage allowance</span>
                                </a>
                            </div>
                            
                            <div class="bsp-group-links_wrap" hidden>
                                <a href="#" class="bsp-details-link">
                                    <span class="bsp-details-link_text" hidden>View details</span>
                                    <span class="bsp-details-link_text" hidden>Hide details</span>
                                    <span class="ico-chevron--blue"></span>
                                    <!-- <em class="ico"></em> -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="bsp-main_details_content-more-detail">
                    <div class="">

                    </div>
                </div> -->
            </div>
        </div>
        <div class="bsp-main_details-bubble" hidden>
            <div class="">
                <div class="">
                    <span class="">+</span>
                    <span class="">SGD</span>
                    <span class="">1000.00</span>
                </div>
            </div>
        </div>
    </div>
</aside>