@import "../../assets/styles/atoms/import/_breakpoints";
.bsp-main {}

.bsp-title {
	font-size: 0.75rem;
	color: #222;
	vertical-align: top;
	line-height: 1;
}

.bsp-main_heading {
	color: #fff; // background: #000;
	background: #00266b;
}

.bsp-main_heading-wrap {
	display: flex;
	max-width: 61.75rem;
	margin: 0 auto;
	font-size: 0.75rem;
	padding: 0.625rem 0;
	letter-spacing: 0.0625rem;
	font-weight: 700;
	* {
		margin-top: 0;
	}
}

.bsp-main_details_content-total-fare {
	margin-top: 0;
}

.bsp-heading-return-arrow {
	margin: 0 0.625rem;
}

.bsp-main_details {
	margin-top: 0;
}

.bsp-main_details_content-flight {}

.bsp-main_details-wrap {
	background: #fff;
	border-bottom: 0.0625rem solid #979797;
	transition: max-height 0.3s ease;
    max-height: 31.25rem;
    overflow: hidden;
    
    &.collapse {
        max-height: 6.5rem;

		.ico-chevron--blue {
			transform: rotate(90deg);
		}

        .bsp-main_details_content-more-detail .bsp-flight-content_description, .bsp-total-fare_notice {
            opacity: 0;
		}
		
		.bsp-main_details_content-flight_inner{
			height: 72px;
		}
        
    }
}

.bsp-main_details_content-flight_inner {
	padding-right: 1.25rem;
	border-right: 1px solid #ccc;
	height: unset;
}

.bsp-main_details-wrap_content-control {
	max-width: 61.75rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 70% 30%;
	padding: 0.9375rem 0 2rem;
}

.bsp-main_details_content-group-flights {
	display: grid;
	grid-template-columns: 47.5% 52.5%;
	.bsp-main_details_content-flight {
		// border-right: 0.0625rem solid #ccc;
		&:last-child {
			padding-left: 1.25rem;
		}
	}
	* {
		margin-top: 0;
	}
}

.bsp-flight-content {
	display: grid;
	grid-template-columns: repeat(3, 33.3%);
	margin-top: -0.5rem; // .bsp-airline-airbus-cabin-details {
	//     font-size: 0.75rem;
	// }
	// .bsp-flight-content_description {
	//     font-size: 0.625rem;
	// }
	.bsp-flight-content_description_date {
		display: block;
		text-transform: uppercase;
		font-size: 0.75rem;
	}
	.bsp-flight-content_description_hour {
		display: block;
		font-size: 1.125rem;
		color: #00266b;
		text-transform: uppercase;
		font-weight: 600;
	}
}

.bsp-airline {
	font-size: 0.75rem;
}

.bsp-flight-content_description_country-name {
	font-size: 0.75rem;
	line-height: 1;
}

.bsp-cabin-class {
	font-size: 0.75rem;
	color: #1C5D49;
	vertical-align: text-top;
}

.bsp-flight-content_description {
    font-size: 0.625rem;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.bsp-airline-airbus-cabin-details {
	font-size: 0.75rem;
	padding-top: 0.625rem;
}

.bsp-cabin-class_wrap {
	line-height: 1;
}

.bsp-layover-time-wrap {
	font-weight: 700;
	font-size: 0.75rem;
	img {
		vertical-align: sub;
		margin-right: 0.25rem;
	}
}

.bsp-layover-time_hr {
	opacity: 0.4;
	margin-top: 0.5rem;
}

.bsp-total-travel-time {
	font-size: 0.75rem;
}

.bsp-total-travel-time_wrap {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 0.75rem;
	padding: 0.625rem 0;
}

.bsp-flight-content_ETA {
	text-align: center;
	.ico-flight {
		height: 1.6875rem;
		background-size: contain;
		width: 100%;
	}
}

// .bsp-flight-content_description_airport {
//     font-size: 0.625rem;
// }
.bsp-flight-content_ETA-time {
	font-size: 0.625rem;
}

.bsp-layover-time-content {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	margin: 0.75rem 0 1.5625rem;
}

.bsp-flight-ico-plane {
	display: block;
	width: 100%;
}

.bsp-flight-content_wrap {
	display: grid;
	grid-template-columns: repeat(3, 33.3%);
	.bsp-flight-content_description:last-child {
		grid-column-start: 3;
	}
}

.bsp-main_details_content-total-fare {
	padding-left: 2.5rem;
}

.bsp-details-link {
	display: flex;
	float: right;
	margin-top: 0;
	.ico-chevron--blue {
		margin-top: 0.125rem;
		width: 0.5rem;
		height: 0.5625rem;
		background-size: contain;
		transform: rotate(-90deg);
	}
}

.bsp-details-link_text {
	margin-right: 0.3125rem;
	font-size: 0.75rem;
	vertical-align: top;
	line-height: 1;
}

.bsp-total-fare-details {
	margin-top: -0.5rem;
}

// .bsp-details-link_text {
//     float: right;
// }
.bsp-total-fare_num-pax {
	display: block;
}

.bsp-total-fare_total-cost {
	font-size: 1.125rem;
	color: #00266b;
	text-transform: uppercase;
	font-weight: 600;
}

.bsp-total-fare_notice {
	margin-top: 0;
	font-size: 0.75rem;
	font-style: italic;
	line-height: 1.2;
}

.bsp-total-fare-flight-cost {
	font-size: 0.75rem;
	margin-bottom: 1.25rem;
	* {
		margin-top: 0;
	}
	.bsp-total-fare-flight-cost_content:first-child {
		font-size: 0.8125rem;
	}
	.bsp-item {
		padding-top: 0.3125rem; // &:last-child {
		//     padding-bottom: 0.3125rem;
		// }
	}
}

.bsp-group-links {
	margin-top: 0;
	font-size: 0.75rem;
	* {
		margin-top: 0;
	}
	.bsp-group-links_wrap {
		padding-bottom: 0.625rem;
	}
}

.bsp-link {
	display: flex;
	.ico-chevron--blue {
		margin-top: 0.125rem;
		margin-right: 0.1875rem;
		width: 0.5rem;
		height: 0.4375rem;
		background-size: contain;
	}
	.bsp-link_description {
		line-height: 1;
	}
}

// .bsp-group-links * {
//     margin-top: 0;
// }
.bsp-total-fare-flight-cost_currency {
	float: right;
}

.bsp-total-fare-flight-cost_content {
	display: flex;
	.bsp-text {
		flex-grow: 1;
	} // .bsp-group-links_wrap {
	//     margin-top: 0;
	// }
	.bsp-flights-cost-title {
		font-size: 0.8125rem;
	}
	.bsp-total-fare-flight-cost_description {
		font-size: 0.75rem;
	}
	.bsp-total-fare-flight-cost_title {
		font-size: 0.8125rem;
	}
}

.bsp-added-deals-content {
	* {
		margin-top: 0;
	}
	.bsp-added-deals-content_wrap:first-child {
		font-size: 0.8125rem;
	}
}

.bsp-added-deals-content_wrap {}

.bsp-added-deals-pax-cost_wrap {
	display: flex;
	font-size: 0.75rem;
	.bsp-added-deals_description {
		flex-grow: 1;
	}
}

.bsp-added-deals_passenger {
	font-weight: 600;
}

.bsp-added-deals-sub-total_wrap {
	font-size: 0.75rem;
}

.bsp-main_details_content-total-fare-inner__wrap--mobile {
	display: none;
}

// Extra Small devices (portrait phones, max 576px)
@media (max-width: $breakpoint-small-devices) {
	.bsp-main_details_content-total-fare-inner__wrap {
		display: none;
	}

	.bsp-main_details_content-total-fare-inner__wrap--mobile {
		display: block;
	}
    .bsp-main_details_content-group-flights {
		display: none;
	}
	
	.bsp-main_details-wrap.collapse {
		max-height: 5.5rem;
	}

	.bsp-main_details-wrap_content-control {
		display: block;
		padding: 0.9375rem 1.25rem 2rem 0;
		// padding: 0.9375rem 1.25rem 0.625rem 0;
	}

	.bsp-title-content {
		line-height: 1.2;
	}

	.bsp-total-fare_num-pax {
		display: inline-block;
		font-size: 0.75rem;
		color: #222;
		vertical-align: top;
		line-height: 1;
	}

	.bsp-total-fare-details {
		margin-top: 0;
	}

	.bsp-total-fare_total-cost {
		display: block;
		line-height: 1;
		padding-bottom: 5px;
	}

	.bsp-total-fare_notice {
		display: inline-block;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		vertical-align: text-top;
	}

	.bsp-main_details-wrap.collapse .bsp-total-fare_notice {
		opacity: 1;
	}

	.bsp-total-fare_notice-wrap {
		// opacity: 1;
		// display: block;
		// -webkit-margin-before: 0em;
		// -webkit-margin-after: 0em;
		// vertical-align: text-top;
	}

	.bsp-total-fare-flight-cost {
		margin-top: 11px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) and (max-width: 991px) { 
	.bsp-main_details-wrap_content-control{
		max-width: 45rem;
	}
	.bsp-main_heading-wrap{
		max-width: 45rem;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) and (max-width: 1199px){ 
	.bsp-main_details-wrap_content-control{
		max-width: 57.5rem;
	}
	.bsp-main_heading-wrap{
		max-width: 57.5rem;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) { 

}