<section class="hp-section promotions" v-if="promotions">
  <div class="hp-container">
    <div class="promotions__heading">
      <div class="promotions__heading-title">
        {{ promotions.title }}
      </div>
      <a class="promotions__link-all" href="#">
        {{ promotions.viewAll.text }}
      </a>
    </div>
  </div>
  <div class="promotions__slide-container">
    <div class="promotions__box js-promotions-slider">
      <div class="promotions__item" v-for="item in promotions.items" :class="{ headline: item.isHeadline, 'icon-logo': item.hasLogo }">
        <div class="promotions__image" :style="{ 'background-image': 'url(' + item.image + ')' }">
        </div>
        <div class="promotions__detail">
          <a class="promotions__title" :href="item.text.linkURL">
            {{ item.text.title }}
          </a>
          <p class="promotions__description">
            {{ item.text.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>