$gutter: 10px;
// screen break points
$break-point-mobile: 576px;
$break-point-tablet: 768px;
$break-point-desktop: 992px;
$break-point-desktop-large: 1200px;

$media-screen-smallest: '(max-width: #{$break-point-mobile - 1})';
$media-screen-mobile: '(max-width: #{$break-point-tablet - 1})';
$media-screen-tablet: '(min-width: #{$break-point-tablet}) and (max-width: #{$break-point-desktop - 1})';
$media-screen-desktop: '(min-width: #{$break-point-desktop})';
$media-screen-desktop-large: '(min-width: #{$break-point-desktop-large})';

.promotions {
  background-color: #fafafa;

  &__row {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }

  &__heading {
    display: flex;
    margin-bottom: 10px;

    &-title {
      color: #00266b;
      font-family: 'sigvar';
      font-size: 26px;
      width: 50%;
      border-left: 3px solid #ff9f00;
      padding-left: 10px;
      padding-top: 1px;
      line-height: 20px;
    }
  }

  &__link-all {
    width: 50%;
    font-size: 14px;
    text-align: right;

    &:after {
      content: url('/assets/images/arrow-right-blue.png');
    }
  }

  &__item {
    width: calc(100%/3 - 20px);
    height: 300px;
    border: 1px solid rgba($color: #222, $alpha: 0.05);
    box-shadow: 0 2px 2px rgba($color: #222, $alpha: 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    display: inline-block;

    &.headline {
      width: calc(100%/3*2 - 20px);

      & .promotions__image {
        height: 100%;
      }

      & .promotions__detail {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 120px;
        background: linear-gradient(to top, #222 3%, transparent);

        & .promotions__title, & .promotions__description {
          color: #fff;
        }
      }
    }

    &.icon-logo {
      &:before {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        background-image: url('/assets/images/agoda.png');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 13%;
        height: 17%;
      }
    }
  }

  &__image {
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__detail {
    padding: 20px;
  }

  &__title {
    font-size: 16px;
    color: #222;
    line-height: 20px;
  }

  &__description {
    font-size: 14px;
    color: #222;
    line-height: 20px;
    margin: 0;
  }

  @media #{$media-screen-mobile} {
    & .slick-list {
      padding: 0 5vw 0 5px !important;

      & .slick-track {
        & .slick-slide {
          padding: 0 5px;
        }
      }
    }

    &__heading {
      margin-bottom: 20px;
    }

    &__link-all {
      display: none;
    }

    &__box {
      width: 100%;
    }

    &__item {
      width: 100%;
      height: 420px;
      margin: 0;

      &.headline {
        width: 100%;

        & .promotions__image {
          height: 280px;
        }

        & .promotions__detail {
          height: 140px;
          background: none;

          & .promotions__title, & .promotions__description {
            color: #222;
          }
        }
      }
    }

    &__image {
      height: 280px;
    }

    &__detail {
      height: 140px;
    }
  }

  @media #{$media-screen-smallest} {
    &__container {
      max-width: 100%;
      margin: 0 10px;
    }

    & .slick-list {
      padding: 0 5vw 0 5px !important;

      & .slick-track {
        & .slick-slide {
          padding: 0 5px;
        }
      }
    }

    &__item {
      height: 310px;

      &.headline {
        & .promotions__image {
          height: 160px;
        }

        & .promotions__detail {
          height: 140px;
        }
      }
    }

    &__image {
      height: 160px;
    }

    &__detail {
      height: 140px;
    }
  }

  @media #{$media-screen-tablet} {
    &__slide-container {
      max-width: 720px;
      margin: auto;
    }

    &__item {
      width: calc(100%/2 - 20px);
      height: 305px;
      margin: 10px;

      &.headline {
        width: calc(100% - 20px);
      }
    }

    &__image {
      height: 200px;
    }
  }

  @media #{$media-screen-desktop} {
    &__slide-container {
      max-width: 940px;
      margin: auto;
    }
  }

  @media #{$media-screen-desktop-large} {
    &__slide-container {
      max-width: 1100px;
      margin: auto;
    }
  }
}
