<div class="calendar-root" v-on-clickaway="closeCalendar">
  <div class="control_group">
      <div class="form_control">
        <slot name="depart-input" :openCalendar="openCalendar" :blurFocus="blurFocus" :startDate="startDate">
          <input readonly type='text' @focus="openCalendar('start', $event)" @blur="blurFocus" v-model="startDate" />
        </slot>
      </div>
      <div class="form_control" v-if="!oneWay">
        <slot name="arrival-input" :openCalendar="openCalendar" :blurFocus="blurFocus" :endDate="endDate">
            <input readonly type='text' @focus="openCalendar('end', $event)" @blur="blurFocus" v-model="endDate" />
        </slot>
      </div>
  </div>

  <div class="calendar" :class="{'calendar-mobile ': isCompact, 'calendar-right-to-left': isRighttoLeft}" v-if="isOpen">
     <div class="one_way_wrapper">
        <div class="reset">
          <a @click="resetDate"><em class="reset-icon"></em>Reset</a>
        </div>
         <div class="one_way_link">
            <input v-model="oneWay" value="false" type="checkbox" id="oneway_id" @click="onOneWay">
            <label for="oneway_id" class="form-label">One-way</label>
        </div>
    </div>
    <div class="calendar-wrap">
      <div class="calendar_month_left" :class="{'calendar-left-mobile': isCompact}" v-if="showMonth">
        <div class="months-text">
          <i class="left" @click="goPrevMonth" v-if="backEnabled"></i>
          <i class="right" @click="goNextMonth" v-if="isCompact"></i>
          {{monthsLocale[activeMonthStart] +' '+ activeYearStart}}</div>
        <ul :class="s.daysWeeks">
          <li v-for="item in shortDaysLocale" :key="item">{{item}}</li>
        </ul>
        <ul v-for="r in 6" :class="[s.days]" :key="r">
          <li :class="[{[s.daysSelected]: isDateSelected(r, i, 'first', startMonthDay, endMonthDate),
              [s.daysInRange]: isDateInRange(r, i, 'first', startMonthDay, endMonthDate)},
              ...isDateDisabled(r, i, startMonthDay, endMonthDate, activeMonthStart, activeYearStart)]" v-for="i in numOfDays" :key="i"
              v-html="getDayCellOverride(getDayCell, r, i, startMonthDay, endMonthDate, isDateDisabled, activeMonthStart, activeYearStart)" @click="selectFirstItem(r, i)"></li>
        </ul>
      </div>
      <div class="calendar_month_right" v-if="!isCompact">
        <div class="months-text">
          {{monthsLocale[startNextActiveMonth] +' '+ activeYearEnd}}
          <i class="right" @click="goNextMonth"></i>
        </div>
        <ul :class="s.daysWeeks">
          <li v-for="item in shortDaysLocale" :key="item">{{item}}</li>
        </ul>
        <ul v-for="r in 6" :class="[s.days]" :key="r">
          <li :class="[{[s.daysSelected]: isDateSelected(r, i, 'second', startNextMonthDay, endNextMonthDate),
            [s.daysInRange]: isDateInRange(r, i, 'second', startNextMonthDay, endNextMonthDate)},
            ...isDateDisabled(r, i, startNextMonthDay, endNextMonthDate, startNextActiveMonth, activeYearEnd)]" v-for="i in numOfDays" :key="i"
            v-html="getDayCellOverride(getDayCell, r, i, startNextMonthDay, endNextMonthDate, isDateDisabled, startNextActiveMonth, activeYearEnd)" @click="selectSecondItem(r, i)"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
