.booking_wrapper_mobile {
    .control_group .form_control:last-child .suggestions {
        width: 100%;
        left: 0;
    }

    .tabs-component_tab-item {
        outline: none;
    }
}


.mobile-lightbox .card_heading {
    margin: 0 16px;
}

.mobile-lightbox .card_heading .page_title {
    color: #00266B;
    font-size: 1.625rem;
    font-weight: 500;
}




.lightbox .modal-body .flight_iterinary-1 {
	margin: 0 0.9375rem;
}


.lightbox .modal-body .form_control .control_group .form_control {
	margin: 0px;
}

.tab-content-2 .flight_iterinary-1 {
	margin-bottom: 0;
}

.passenger-cabin-wrapper .form_field_wrapper .form_control {
	padding: 0 0.9375rem 0.9375rem;
}

.lightbox .modal-body .form_field_wrapper .btn {
	width: 100%;
}

.lightbox .modal-body .back-btn-calendar .back-btn {
	margin: 0 0.9375rem 0;
	position: relative;
	top: 1.25rem;
	font-size: 0.875rem;
	width: 20%;
	z-index: 1;
	em {
		height: 7px;
	}
}

.lightbox .modal-body .one_way_wrapper {
	margin: 0 0 1.25rem;
	border: none;

	.reset {
		margin: 0 0.9375rem 0 1.25rem;
	}
}

.lightbox .modal-body .one_way_wrapper .one_way_link {
	padding: 0;
}


.lightbox .modal-body .calendar_month_left {
	border: none;
	padding: 5px 0.9375rem;
	margin: 0;
}

.lightbox .modal-body .calendar-wrap {
	background-color: #FAFAFA;
	padding: 0;
}

.lightbox .modal-body .calendar .calendar-wrap {
	background-color: #fff;
	margin-top: 1.875rem;

	.months-text {
		justify-content: left;
		font-weight: 400;
		margin-bottom: 1.25rem;
	}
}

.form_controls {
    .booking_actions--main-1 {
        .popover-container {
            position: relative;
            right: 0;
            padding: 0;
            margin-left: 0;
            display: inline-block;
        
            .icon-info {
                position: relative;
                display: inline-block;
                top: 0;
                right: 4px;
                vertical-align: sub;
            }
        }
    }
}