<div class="booking_wrapper_mobile">
    <div class="card_heading_booktrip">
        <h1 class="page_title">Book trip</h1>
        <h1 class="page_header">Hi John, where do you want to go?</h1>
    </div>
    <div class="container-center test">
        <div class="tabs-component_wrap">
            <button type="button" @click="switchTabs(1)" :class="{active: tabIndex == 1}" class="tabs-component_tab-item">
                <div class="tabs-flight-info">
                    <span class="tabs-flight-info_title">BOOK</span>
                </div>
            </button>
            <button type="button" @click="switchTabs(2)" :class="{active: tabIndex == 2}" class="tabs-component_tab-item">
                <div class="tabs-flight-info">
                    <span class="tabs-flight-info_title">REDEEM</span>
                </div>
            </button>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-content-1" v-show="tabIndex == 1">
            <div class="no_flights_seats_available" hidden>
                <div class="smii_error">
                    <button class="modal-default-button tool-tip-content_close">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
                            <title>icon/close-circle copy</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="search-item" transform="translate(-154.000000, -8.000000)">
                                    <g id="icon/close-circle-copy">
                                        <g transform="translate(154.000000, 8.000000)">
                                            <circle id="Oval" fill="#666666" cx="7" cy="7" r="7"></circle>
                                            <g id="Group" transform="translate(4.000000, 4.000000)" stroke="#FFFFFF"
                                                stroke-linecap="round">
                                                <path d="M0.5,0.5 L5.5,5.5" id="Line"></path>
                                                <path d="M0.5,5.5 L5.5,0.5" id="Line"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <p>There are no flights and/or seats available for the journey you’ve selected. Change your
                        selections or get in touch with your local Singapore Airlines office.</p>
                </div>
            </div>
            <div class="form_fields_container booking_actions-1">
                <div class="form_field_wrapper">
                    <div class="form_controls">
                        <div class="booking_actions--main-1">
                            <div class="form_control field__radiobox">
                                <input v-model="flightSelection" value="bookFlight" type="radio" name="flight-radio" id="bookFlights" class="input__radio">
                                <label for="bookFlights" class="form__label">Flights only</label>
                                <v-popover class="popover-container" popoverBaseClass="booking-tooltip popover tooltip--inline" popoverInnerClass="booking-tooltip-inner popover-inner">
                                    <a href="#" @click.prevent class="icon icon-info"></a>
                                    <template slot="popover">
                                        <div class="tooltip-wrapper">
                                            <a href="#" @click.prevent v-close-popover class="icon-close--light tooltip-wrapper__btn--close">
                                            </a>
                                            <span class="tooltip-wrapper__text">KrisFlyer/PPS Club members have the option to combine KrisFlyer miles with
                                                their credit/debit card for payment.
                                            </span>
                                        </div>
                                    </template>
                                </v-popover>
                            </div>
                            <div class="form_control field__radiobox">

                                <input v-model="flightSelection" value="redeemFlight" type="radio" name="flight-radio" id="redeemFlights" class="input__radio">

                                <input v-model="flightSelection" value="bookFlightsHotel" type="radio" name="flight-radio" id="redeemFlights" class="input__radio">

                                <label for="redeemFlights" class="form__label">Flights + hotel</label>
                                <v-popover class="popover-container" popoverBaseClass="booking-tooltip popover tooltip--inline" popoverInnerClass="booking-tooltip-inner popover-inner">
                                    <a href="#" @click.prevent class="icon icon-info"></a>
                                    <template slot="popover">
                                        <div class="tooltip-wrapper">
                                            <a href="#" @click.prevent v-close-popover class="icon-close--light tooltip-wrapper__btn--close">
                                            </a>
                                            <span class="tooltip-wrapper__text">Redeem Krisflyer miles for award tickets or flights upgrade. Stopover(s),
                                                if eligible, will be prompted automatically after you have selected your flights. Redemption on our airline
                                                partners are being rolled out progressively. Contact your local SQ office if your preferred airline does not
                                                apprear in the redemption search result.
                                            </span>
                                        </div>
                                    </template>
                                </v-popover>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <form @submit.prevent="formSubmit('bookFlight', bookFlightData)" v-show="flightSelection == 'bookFlight'" action="#form1" method="POST" autocomplete="off" class="form booktrip_form" style="background-color: inherit;">
                <div v-if="bookFlightRecentSearches.length" class="booking_search_history booktrip_search_history">
                    <div class="label-wrapper">
                        <span class="small">RECENT SEARCHES</span>
                    </div>
                    <div class="flight_search_history_wrapper">
                        <ul v-for="recentSearch in bookFlightRecentSearches" class="flight_search_history">
                            <li @click="selectRecentSearch('bookFlight', recentSearch)" class="flight_search_item small_1 input__control--icon_close">
                                <span class="flight_destination">{{ recentSearch.origin }} - {{ recentSearch.destination }}</span> ·
                                <span class="flight_date">{{ recentSearch | recentSearchDate }}</span>
                                <span @click.stop="removeRecentSearch$('bookFlight', recentSearch.created_at)" class="icon-round-close"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content-2 flight_iterinary-1">
                    <div class="form_field_wrapper flight_od">
                        <div class="form_controls">
                            <div class="control_group">
                                <div class="form_control has-float-label">
                                    <div class="vue-simple-suggest designed">
                                        <div class="input_wrapper">
                                            <input :value="bookFlightData.from.value" @focus="showLightBox('book-from-lightbox', $event)" type="text" name="flightOrigin" id="flightOriginField" placeholder=" "
                                                class="form_field form_input--text">
                                            <label for="flightOrigin" class="form_label">From</label>
                                            <div class="flight__ticker" v-show="bookFlightData.from.value">
                                                <span class="flight__origin_Text">{{bookFlightData.from.cityName}}</span>
                                                <span class="country__ticker">{{bookFlightData.from.airportCode}}</span>
                                            </div>
                                            <span class="icon icon--location"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_control has-float-label">
                                    <div class="vue-simple-suggest designed">
                                        <div class="input_wrapper">
                                            <input :value="bookFlightData.to.value" @focus="showLightBox('book-to-lightbox', $event)" type="text" name="flightDestination" id="flightDestinationField"
                                                placeholder=" " class="form_field form_input--text ref--searchinput validate pristine">
                                            <label for="flightDestination" class="form_label">To</label>
                                            <div class="flight__ticker" v-show="bookFlightData.to.value">
                                                <span class="flight__origin_Text">{{bookFlightData.to.cityName}}</span>
                                                <span class="country__ticker">{{bookFlightData.to.airportCode}}</span>
                                            </div>
                                            <span class="icon icon--location"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_field_wrapper flight_date">
                        <div class="form_controls">
                            <div class="control_group has-float-label">
                                <div class="calendar-root">
                                    <div class="control_group">
                                        <div class="form_control">
                                            <div class="input_wrapper">
                                                <input :value="dateParser(bookFlightData.schedule.start)" @focus="showLightBox('book-depart-return-lightbox', $event)"
                                                    type="text" name="departDate" id="departDateField" placeholder=" "
                                                    class="form_field form_input--text">
                                                <label for="departDate" class="form_label">Depart Date</label>
                                                <span class="icon icon--calendar"></span>
                                                <small class="validation_container hidden">
                                                    <span class="error">Please select date</span>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form_control" v-if="!bookFlightData.schedule.oneWay">
                                            <div class="input_wrapper">
                                                <input :value="dateParser(bookFlightData.schedule.end)" @focus="showLightBox('book-depart-return-lightbox', $event)"
                                                    type="text" name="returnDate" id="returnDateField" placeholder=" "
                                                    class="form_field form_input--text">
                                                <label for="returnDate" class="form_label">Return Date</label>
                                                <span class="icon icon--calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_fields_container flight_boarding_details-1">
                    <div class="form_field_wrapper">
                        <div class="form_control has-float-label">
                            <div class="passenger-selection">
                                <div class="input_wrapper">
                                    <input :value="getPassengerCabinClassLabel(bookFlightData)" @focus="showLightBox('book-passenger-cabin-lightbox', $event)" readonly="readonly" type="text" name="flightPassengers" id="flightPassengersCabin"
                                        placeholder=" " class="form_field form_input--text">
                                    <label for="flightPassengers" class="form_label">Passengers and Cabin Class</label>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                    <div class="form_field_wrapper" v-if="false">
                        <div class="form_control has-float-label">
                            <div class="passenger-selection">
                                <div class="input_wrapper">
                                    <input readonly="readonly" type="text" name="flightPassengers" id="flightPassengersField"
                                        placeholder=" " class="form_field form_input--text">
                                    <label for="flightPassengersRooms" class="form_label">Passengers / Rooms</label>
                                </div>
                                <small class="validation_container hidden">
                                    <span class="error">Validation error</span>
                                </small>
                                <!---->
                            </div>
                        </div>
                    </div>
                    <div class="form_field_wrapper" v-if="false">
                        <div class="form_control has-float-label">
                            <div class="passenger-selection">
                                <div class="input_wrapper">
                                    <input readonly="readonly" type="text" name="flightPassengers" id="flightPassengersClass"
                                        placeholder=" " class="form_field form_input--text">
                                    <label for="flightPassengers" class="form_label">Class</label>
                                </div>
                                <small class="validation_container hidden">
                                    <span class="error">Validation error</span>
                                </small>
                                <!---->
                            </div>
                        </div>
                    </div>
                    <div class="form_field_wrapper">
                        <div class="form_control">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
                <div class="booking_actions--secondary booktrip_actions-secondary">
                    <div class="form_control">
                        <a href="#" class="link__action">Multi city / Stopovers</a>
                    </div>
                    <div class="form_control">
                        <a for="bookStopovers" href="#">Apply promo code</a>
                    </div>
                </div>
            </form>

            <form v-show="flightSelection == 'bookFlightsHotel'" action="#form2" method="POST" autocomplete="off" class="form" style="background-color: inherit;">
                <div class="sia-holidays"></div>
            </form>
        </div>
        <div class="tab-content-2" v-show="tabIndex == 2">
            <form @submit.prevent="formSubmit('redeemFlight', redeemFlightData)" action="#form3" method="POST" autocomplete="off" class="form" style="background-color: inherit;">
                <div v-if="redeemFlightRecentSearches.length" class="booking_search_history booktrip_search_history">
                    <div class="label-wrapper">
                        <span class="small">RECENT SEARCHES</span>
                    </div>
                    <ul v-for="recentSearch in redeemFlightRecentSearches" class="flight_search_history">
                        <li @click="selectRecentSearch('redeemFlight', recentSearch)" class="flight_search_item small_1 input__control--icon_close">
                            <span class="flight_destination">{{ recentSearch.origin }} - {{ recentSearch.destination }}</span> ·
                            <span class="flight_date">{{ recentSearch | recentSearchDate }}</span>
                            <span @click.stop="removeRecentSearch$('redeemFlight', recentSearch.created_at)" class="icon-round-close"></span>
                        </li>
                    </ul>
                </div>
                <div class="form_fields_container flight_iterinary-1">
                    <div class="form_field_wrapper flight_od">
                        <div class="form_controls">
                            <div class="control_group">
                                <div class="form_control has-float-label">
                                    <div class="vue-simple-suggest designed">
                                        <div class="input_wrapper">
                                            <input :value="redeemFlightData.from.value" @focus="showLightBox('redeem-from-lightbox', $event)"
                                                type="text" name="flightOrigin" id="flightOriginField" placeholder=" " class="form_field form_input--text">
                                            <label for="flightOrigin" class="form_label">From</label>
                                            <div class="flight__ticker" v-show="redeemFlightData.from.value">
                                                <span class="flight__origin_Text">{{redeemFlightData.from.cityName}}</span>
                                                <span class="country__ticker">{{redeemFlightData.from.airportCode}}</span>
                                            </div>
                                            <span class="icon icon--location"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_control has-float-label">
                                    <div class="vue-simple-suggest designed">
                                        <div class="input_wrapper">
                                            <input :value="redeemFlightData.to.value" @focus="showLightBox('redeem-to-lightbox', $event)"
                                                type="text" name="flightDestination" id="flightDestinationField" placeholder=" "
                                                class="form_field form_input--text ref--searchinput validate pristine">
                                            <label for="flightDestination" class="form_label">To</label>
                                            <div class="flight__ticker" v-show="redeemFlightData.to.value">
                                                <span class="flight__origin_Text">{{redeemFlightData.to.cityName}}</span>
                                                <span class="country__ticker">{{redeemFlightData.to.airportCode}}</span>
                                            </div>
                                            <span class="icon icon--location"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_field_wrapper flight_date">
                        <div class="form_controls">
                            <div class="control_group has-float-label">
                                <div class="calendar-root">
                                    <div class="control_group">
                                        <div class="form_control">
                                            <div class="input_wrapper">
                                                <input :value="dateParser(redeemFlightData.schedule.start)" @focus="showLightBox('redeem-depart-return-lightbox', $event)"
                                                    type="text" name="departDate" id="departDateField" placeholder=" " class="form_field form_input--text">
                                                <label for="departDate" class="form_label">Depart Date</label>
                                                <span class="icon icon--calendar"></span>
                                                <small class="validation_container hidden">
                                                    <span class="error">Please select date</span>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form_control" v-if="!redeemFlightData.schedule.oneWay">
                                            <div class="input_wrapper">
                                                <input :value="dateParser(redeemFlightData.schedule.end)" @focus="showLightBox('redeem-depart-return-lightbox', $event)"
                                                    type="text" name="returnDate" id="returnDateField" placeholder=" " class="form_field form_input--text">
                                                <label for="returnDate" class="form_label">Return Date</label>
                                                <span class="icon icon--calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_fields_container flight_boarding_details-1">
                    <div class="form_field_wrapper">
                        <div class="form_control has-float-label">
                            <div class="passenger-selection">
                                <div class="input_wrapper">
                                    <input :value="getPassengerCabinClassLabel(redeemFlightData)" @focus="showLightBox('redeem-passenger-cabin-lightbox', $event)"
                                        readonly="readonly" type="text" name="flightPassengers" id="flightPassengersCabin"
                                        placeholder=" " class="form_field form_input--text">
                                    <label for="flightPassengers" class="form_label">Passengers and Cabin Class</label>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                    <div class="form_field_wrapper" v-if="false">
                        <div class="form_control has-float-label">
                            <div class="passenger-selection">
                                <div class="input_wrapper">
                                    <input readonly="readonly" type="text" name="flightPassengers" id="flightPassengersField"
                                        placeholder=" " class="form_field form_input--text">
                                    <label for="flightPassengersRooms" class="form_label">Passengers / Rooms</label>
                                </div>
                                <small class="validation_container hidden">
                                    <span class="error">Validation error</span>
                                </small>
                                <!---->
                            </div>
                        </div>
                    </div>
                    <div class="form_field_wrapper" v-if="false">
                        <div class="form_control has-float-label">
                            <div class="passenger-selection">
                                <div class="input_wrapper">
                                    <input readonly="readonly" type="text" name="flightPassengers" id="flightPassengersClass"
                                        placeholder=" " class="form_field form_input--text">
                                    <label for="flightPassengers" class="form_label">Class</label>
                                </div>
                                <small class="validation_container hidden">
                                    <span class="error">Validation error</span>
                                </small>
                                <!---->
                            </div>
                        </div>
                    </div>
                    <div class="form_field_wrapper">
                        <div class="form_control">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
                <div class="booking_actions--secondary booktrip_actions-secondary">
                    <div class="form_control">
                        <a href="#" class="link__action">Multi city / Stopovers</a>
                    </div>
                    <div class="form_control">
                        <a for="bookStopovers" href="#">Apply promo code</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <light-box-component class="mobile-lightbox" id="book-depart-return-lightbox" :active="openLightbox">
        <div slot="body">
            <div class="back-btn-calendar">
                <a href="#" @click.prevent="closeModal" class="back-btn">
                    <em class="arrow-blue"></em> Back
                </a>
            </div>
            <div class="form_control has-float-label">
                <v-datepicker @select-end="closeModal" v-model="bookFlightData.schedule" :range-watch="bookFlightData.schedule" :month-range="12"
                    :isHistoGramEnabled="true" i18n="EN">
                    <template slot="depart-input" slot-scope="{openCalendar, blurFocus, startDate}">
                        <div class="input_wrapper">
                            <input type="text" name="departDateMobile" id="departDateField" placeholder=" " class="form_field form_input--text ref--start"
                                @focus="openCalendar('start', $event)" @blur="blurFocus" v-model="startDate">
                            <label for="departDateMobile" class="form_label">Depart Date</label>
                            <span class="icon icon--calendar"></span>
                        </div>
                    </template>
                    <template slot="arrival-input" slot-scope="{openCalendar, blurFocus, endDate}">
                        <div class="input_wrapper">
                            <input type="text" name="returnDateMobile" id="returnDateField" placeholder=" " class="form_field form_input--text ref--end"
                                @focus="openCalendar('start', $event)" @blur="blurFocus" v-model="endDate">
                            <label for="returnDateMobile" class="form_label">Return Date</label>
                            <span class="icon icon--calendar"></span>
                        </div>
                    </template>
                </v-datepicker>
            </div>
        </div>
    </light-box-component>

    <light-box-component class="mobile-lightbox" id="book-from-lightbox" :active="openLightbox">
        <div slot="body">
            <a href="#" @click.prevent="closeModal" class="back-btn">
                <em class="arrow-blue"></em> Back
            </a>
            <div class="form_fields_container flight_iterinary-1">
                <div class="form_field_wrapper flight_od">
                    <div class="form_controls">
                        <div class="control_group">
                            <div class="form_control has-float-label">
                                <v-autocomplete-booking @select-done="closeModal" v-model="bookFlightData.from" display-attribute="label" value-attribute="airportCode" :items="bookTripCountries.origin">
                                    <template slot="autocomplete-field" slot-scope="{item}">
                                        <input v-model="item.value" type="text" name="flightOrigin" id="flightOrigin" placeholder=" " class="form_field form_input--text ref--searchinput">
                                        <label for="flightOrigin" class="form_label">From</label>
                                        <div class="flight__ticker" v-if="item.value != ''">
                                            <span class="flight__origin_Text">{{ item.cityName }}</span>
                                            <span class="country__ticker">{{ item.airportCode }}</span>
                                        </div>
                                        <span class="icon icon--location"></span>
                                    </template>
                                    <div slot="autocomplete-suggestion" class="suggestion__entry" slot-scope="{suggestion}">
                                        <div class="bus" v-if="suggestion.isCoachPointStation == 'true'"></div>
                                        <div class="rail" v-if="suggestion.isRailPointStation == 'true'"></div>
                                        <div class="suggestion-wrapper">
                                            <div class="suggestion__city">
                                                {{ suggestion.cityName }}
                                                <span class="suggestion__country">
                                                    , {{ suggestion.countryName }}
                                                </span>
                                            </div>
                                            <div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
                                        </div>
                                        <div class="suggestion__city_code from_city_code">{{ suggestion.cityCode }}</div>
                                    </div>
                                </v-autocomplete-booking>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </light-box-component>

    <light-box-component class="mobile-lightbox" id="book-to-lightbox" :active="openLightbox">
        <div slot="body">
            <a href="#" @click.prevent="closeModal" class="back-btn">
                <em class="arrow-blue"></em> Back
            </a>
            <div class="form_fields_container flight_iterinary-1">
                <div class="form_field_wrapper flight_od">
                    <div class="form_controls">
                        <div class="control_group">
                            <div class="form_control has-float-label">
                                    <v-autocomplete-booking @select-done="closeModal" v-model="bookFlightData.to" display-attribute="label" value-attribute="airportCode" :items="bookTripCountries.destination">
                                        <template slot="autocomplete-field" slot-scope="{item}">
                                            <input v-model="item.value" type="text" name="flightDestination" id="flightDestination"
                                                placeholder=" " class="form_field form_input--text ref--searchinput">
                                    
                                            <label for="flightDestination" class="form_label">To</label>
                                            <div class="flight__ticker" v-if="item.value != ''">
                                                <span class="flight__origin_Text">{{ item.cityName }}</span>
                                                <span class="country__ticker">{{ item.airportCode }}</span>
                                            </div>
                                            <span class="icon icon--location"></span>
                                        </template>
                                        <div class="suggestion__entry" slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                            <div class="suggestion__city">
                                                {{ suggestion.cityName }}
                                                <span class="suggestion__country">
                                                    , {{ suggestion.countryName }}
                                                </span>
                                            </div>
                                            <div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
                                            <div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
                                        </div>
                                    </v-autocomplete-booking>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </light-box-component>

    <light-box-component class="mobile-lightbox" id="book-passenger-cabin-lightbox" :active="openLightbox">
        <div slot="body" class="passenger-cabin-wrapper">
            <a href="#" @click.prevent="closeModal" class="back-btn">
                <em class="arrow-blue"></em> Back
            </a>
            <div class="card_heading">
                <h1 class="page_title">Passenger and cabin class</h1>
            </div>
            <v-passengercount v-model="bookFlightData.passengerCount" :cabin="bookFlightData.cabinDescription">
            </v-passengercount>
            <v-cabinclass v-model="bookFlightData.cabinDescription" :cabins="cabins">
            </v-cabinclass>
            <div class="form_field_wrapper">
                <div class="form_control">
                    <button @click="closeModal" type="submit" class="btn btn-primary">Done</button>
                </div>
            </div>
        </div>
    </light-box-component>

    <light-box-component class="mobile-lightbox" id="redeem-from-lightbox" :active="openLightbox">
        <div slot="body">
            <a href="#" @click.prevent="closeModal" class="back-btn">
                <em class="arrow-blue"></em> Back
            </a>
            <div class="form_fields_container flight_iterinary-1">
                <div class="form_field_wrapper flight_od">
                    <div class="form_controls">
                        <div class="control_group">
                            <div class="form_control has-float-label">
                                <v-autocomplete-booking @select-done="closeModal" v-model="redeemFlightData.from"
                                    display-attribute="label" value-attribute="airportCode" :items="redeemTripCountries.origin">
                                    <template slot="autocomplete-field" slot-scope="{item}">
                                        <input v-model="item.value" type="text" name="flightOrigin" id="flightOrigin"
                                            placeholder=" " class="form_field form_input--text ref--searchinput">
                                        <label for="flightOrigin" class="form_label">From</label>
                                        <div class="flight__ticker" v-if="item.value != ''">
                                            <span class="flight__origin_Text">{{ item.cityName }}</span>
                                            <span class="country__ticker">{{ item.airportCode }}</span>
                                        </div>
                                        <span class="icon icon--location"></span>
                                    </template>
                                    <div slot="autocomplete-suggestion" class="suggestion__entry" slot-scope="{suggestion}">
                                        <div class="suggestion-wrapper">
                                            <div class="suggestion__city">
                                                {{ suggestion.cityName }}
                                                <span class="suggestion__country">
                                                    , {{ suggestion.countryName }}
                                                </span>
                                            </div>
                                            <div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
                                        </div>
                                        <div class="suggestion__city_code from_city_code">{{ suggestion.cityCode }}</div>
                                    </div>
                                </v-autocomplete-booking>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </light-box-component>

    <light-box-component class="mobile-lightbox" id="redeem-to-lightbox" :active="openLightbox">
        <div slot="body">
            <a href="#" @click.prevent="closeModal" class="back-btn">
                <em class="arrow-blue"></em> Back
            </a>
            <div class="form_fields_container flight_iterinary-1">
                <div class="form_field_wrapper flight_od">
                    <div class="form_controls">
                        <div class="control_group">
                            <div class="form_control has-float-label">
                                <v-autocomplete-booking @select-done="closeModal" v-model="redeemFlightData.to"
                                    display-attribute="label" value-attribute="airportCode" :items="redeemTripCountries.destination">
                                    <template slot="autocomplete-field" slot-scope="{item}">
                                        <input v-model="item.value" type="text" name="flightDestination" id="flightDestination"
                                            placeholder=" " class="form_field form_input--text ref--searchinput">
    
                                        <label for="flightDestination" class="form_label">To</label>
                                        <div class="flight__ticker" v-if="item.value != ''">
                                            <span class="flight__origin_Text">{{ item.cityName }}</span>
                                            <span class="country__ticker">{{ item.airportCode }}</span>
                                        </div>
                                        <span class="icon icon--location"></span>
                                    </template>
                                    <div class="suggestion__entry" slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                        <div class="suggestion__city">
                                            {{ suggestion.cityName }}
                                            <span class="suggestion__country">
                                                , {{ suggestion.countryName }}
                                            </span>
                                        </div>
                                        <div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
                                        <div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
                                    </div>
                                </v-autocomplete-booking>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </light-box-component>

    <light-box-component class="mobile-lightbox" id="redeem-depart-return-lightbox" :active="openLightbox">
        <div slot="body">
            <div class="back-btn-calendar">
                <a href="#" @click.prevent="closeModal" class="back-btn">
                    <em class="arrow-blue"></em> Back
                </a>
            </div>
            <div class="form_control has-float-label">
                <v-datepicker @select-end="closeModal" v-model="redeemFlightData.schedule" :range-watch="redeemFlightData.schedule"
                    :month-range="12" :isHistoGramEnabled="true" i18n="EN">
                    <template slot="depart-input" slot-scope="{openCalendar, blurFocus, startDate}">
                        <div class="input_wrapper">
                            <input type="text" name="departDateMobile" id="departDateField" placeholder=" " class="form_field form_input--text ref--start"
                                @focus="openCalendar('start', $event)" @blur="blurFocus" v-model="startDate">
                            <label for="departDateMobile" class="form_label">Depart Date</label>
                            <span class="icon icon--calendar"></span>
                        </div>
                    </template>
                    <template slot="arrival-input" slot-scope="{openCalendar, blurFocus, endDate}">
                        <div class="input_wrapper">
                            <input type="text" name="returnDateMobile" id="returnDateField" placeholder=" " class="form_field form_input--text ref--end"
                                @focus="openCalendar('start', $event)" @blur="blurFocus" v-model="endDate">
                            <label for="returnDateMobile" class="form_label">Return Date</label>
                            <span class="icon icon--calendar"></span>
                        </div>
                    </template>
                </v-datepicker>
            </div>
        </div>
    </light-box-component>

    <light-box-component class="mobile-lightbox" id="redeem-passenger-cabin-lightbox" :active="openLightbox">
        <div slot="body" class="passenger-cabin-wrapper">
            <a href="#" @click.prevent="closeModal" class="back-btn">
                <em class="arrow-blue"></em> Back
            </a>
            <div class="card_heading">
                <h1 class="page_title">Passenger and cabin class</h1>
            </div>
            <v-passengercount v-model="redeemFlightData.passengerCount" :cabin="redeemFlightData.cabinDescription">
            </v-passengercount>
            <v-cabinclass v-model="redeemFlightData.cabinDescription" :cabins="cabins">
            </v-cabinclass>
            <div class="form_field_wrapper">
                <div class="form_control">
                    <button @click="closeModal" type="submit" class="btn btn-primary">Done</button>
                </div>
            </div>
        </div>
    </light-box-component>
</div>