<section>

    <div class="accordion-content">
        <div class="itinerary-top">
            <h4 class="fare-summary-title">Flights</h4>
        </div>
        <div class="itinerary-inner">
            <div class="fare-title-wrap">
                <span class="fare-title">Fare</span>
                <span class="amount-title">{{flightinfodata.bookingSummary.currency}}</span>
            </div>
            <template v-for="passenger in flightinfodata.bookingSummary.passengerFlightAddOns">
            <div class="fare-name-amount">
                <span class="fare-name">• {{passenger.passengerName}}</span>
                <span class="fare-amount">{{passenger.fareDetails.fareAmount.toLocaleString()}}</span>
            </div>
            </template>
            <div class="taxes-name-amount">
                <span class="taxes-name">Airport / Government taxes</span>
                <span class="taxes-amount">{{parseFloat(flightinfodata.bookingSummary.totalTax).toLocaleString()}}</span>
            </div>
            <div class="taxes-name-amount">
                <span class="taxes-name">Carrier Surcharges</span>
                <span class="taxes-amount">&lt;TagThis&gt;</span>
            </div>
            <div class="subtotal-name-amount">
                <span class="subtotal-name">Sub-total</span>
                <span class="subtotal-amount">{{parseFloat(flightinfodata.bookingSummary.itineraryTotal).toLocaleString()}}</span>
            </div>
        </div>
    </div>

</section>