<section class="passenger-tab" ref="animatedSection">
    <div class="passenger-tab_wrap">
        <button type="button" class="passenger-tab_btn passenger-tab_btn--prev" v-if="(value.selectedId > 0 && value.flight.updatedPassengerData.length > 2)" @click="changeActivePassenger('prev')"><span class="ico-chevron"></span></button>
        <swiper ref="swiperRef" class="passenger-tab_wrap-swipe" :options="swiperOption" :class="{'swiper-slide-disable': value.flight.updatedPassengerData.length < 3}">
            <swiper-slide v-for="(passenger,index) in value.flight.updatedPassengerData" :key="index">
                <div @click="selectPassenger(index)" class="passenger-tab_item" :class="{'selected-passenger':value.selectedId == index}">
                    <div class="passenger-details">
                        <span class="passenger-details_item passenger-details_id">{{index+1}}</span>
                        <span class="passenger-details_item passenger-details_name">{{passenger.firstName + ' ' + passenger.lastName}}</span>
                        <span v-if="passenger.kfTier" class="passenger-details_item passenger-details_membership" :class="passenger.kfTier.toLowerCase()">{{passenger.kfTierDesc}}</span>
                        <v-popover v-if="passenger.kfTierDesc" class="passenger-details_item " popoverBaseClass="passenger-tooltip popover" popoverInnerClass="passenger-tooltip-inner popover-inner" :open="kfTooltipTriggered == passenger.passengerID">
                            <a href="#" class="passenger-details_info" @click.stop.prevent="openTooltip(passenger.passengerID, 'kf')">
                                <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title>Info icon</title>
                                    <desc>{{passenger.kfTierInfo}}</desc>
                                    <defs>
                                        <path d="M0,6.999 C0,10.866 3.134,14 7,14 C10.866,14 14,10.866 14,6.999 C14,3.134 10.866,0 7,0 C3.134,0 0,3.134 0,6.999 Z" id="path-1"></path>
                                        <path d="M0.165,0.939 C0.165,1.376 0.518,1.729 0.954,1.729 C1.389,1.729 1.743,1.376 1.743,0.939 C1.743,0.503 1.389,0.15 0.954,0.15 C0.518,0.15 0.165,0.503 0.165,0.939 Z" id="path-3"></path>
                                        <path d="M0.294,5.15 C0.294,5.536 0.608,5.85 0.994,5.85 C1.381,5.85 1.695,5.536 1.695,5.15 L1.695,1.213 C1.695,0.826 1.381,0.513 0.994,0.513 C0.608,0.513 0.294,0.826 0.294,1.213 L0.294,5.15 Z" id="path-5"></path>
                                    </defs>
                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Passenger/tile/active" transform="translate(-208.000000, -13.000000)">
                                            <g id="Profile1" transform="translate(15.000000, 5.000000)">
                                                <g id="icon/info-dark" transform="translate(193.000000, 8.000000)">
                                                    <g id="Page-1">
                                                        <g id="Group-3">
                                                            <mask id="mask-2" fill="white">
                                                                <use xlink:href="#path-1"></use>
                                                            </mask>
                                                            <g id="Clip-2"></g>
                                                            <polygon id="Fill-1" fill="#999999" mask="url(#mask-2)" points="-5 19 19 19 19 -5 -5 -5"></polygon>
                                                        </g>
                                                        <g id="Group-6" transform="translate(6.000000, 3.000000)">
                                                            <mask id="mask-4" fill="white">
                                                                <use xlink:href="#path-3"></use>
                                                            </mask>
                                                            <g id="Clip-5"></g>
                                                            <polygon id="Fill-4" fill="#FFFFFF" mask="url(#mask-4)" points="-4.835 6.729 6.744 6.729 6.744 -4.85 -4.835 -4.85"></polygon>
                                                        </g>
                                                        <g id="Group-10" transform="translate(6.000000, 5.000000)">
                                                            <mask id="mask-6" fill="white">
                                                                <use xlink:href="#path-5"></use>
                                                            </mask>
                                                            <g id="Clip-9"></g>
                                                            <polygon id="Fill-8" fill="#FFFFFF" mask="url(#mask-6)" points="-4.705 10.85 6.695 10.85 6.695 -4.487 -4.705 -4.487"></polygon>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <template slot="popover">
                            <button class="tool-tip-content_close tool-tip-content_close--pax-tab icon-round-close"  v-close-popover.all></button>
                            <p class="passenger-details_item_kftier-info">{{passenger.kfTierInfo}}</p>
                            <!-- <button type="button" @click.stop.prevent="openTooltip(passenger.passengerID, 'kf')">x</button>
                            <p>{{passenger.kfTierInfo}}</p> -->
                            </template>
                        </v-popover>
                    </div>
                    <div class="passenger-seats-detail_inner passenger-seats-detail_inner--col-1" :class="{'passenger-seats-detail_inner--seat':passenger.eligigibleAddons}">
                        <div class="passenger-seats-detail_col passenger-seats-detail_col--icon">
                            <div class="ico-seat"></div>
                        </div>
                        <div class="passenger-seats-detail_col" v-if="passenger.seatSelected">
                            <span class="passenger-seats-detail_seat-num" >{{passenger.seatSelected}}</span>
                            <span class="passenger-seats-detail_seat-price" v-if="passenger.seatPrice">{{passenger.currency+" "+passenger.seatPrice}}</span>
                            <div class="passenger-details_seat-selection" v-if="passenger.seatType">{{passenger.seatTypeWord+" Seat"}}</div>
                        </div>
                        <div class="passenger-seats-detail_col" v-if="!passenger.seatSelected">
                            No seats selected
                        </div>
                    </div>
                    <div v-if="passenger.eligibleAddons" class="passenger-seats-detail_inner">
                        <div class="passenger-seats-detail_col passenger-seats-detail_col--icon">
                            <div class="ico-bundle"></div>
                        </div>
                        <div v-if="isEmptyAddon(passenger.seat.selectedAddon)" class="passenger-seats-detail_col passenger-seats-detail_col--deal">
                            <strong class="passenger-seats-detail_deals">Seat AND Baggage DEALS AVAILABLE</strong>
                            <v-popover class="passenger-details_item more-info-link" popoverBaseClass="passenger-tooltip popover" popoverInnerClass="passenger-tooltip-inner popover-inner" :open="moreTooltipTriggered == passenger.passengerID">
                                <a href="#" class="passenger-seats-detail_info" @click.stop.prevent="openTooltip(passenger.passengerID, 'more')">More info</a>
                                <template slot="popover">
                                <button class="tool-tip-content_close tool-tip-content_close--pax-tab icon-round-close"  v-close-popover.all></button>
                                <p class="passenger-details_item_addons-info">{{passenger.addonsmoreInfo}}</p>
                                <!-- <button type="button" @click.stop.prevent="openTooltip(passenger.passengerID, 'more')">x</button>   
                                <p>{{passenger.addonsmoreInfo}}</p> -->
                                </template>
                            </v-popover>
                        </div>
                        <div v-if="!isEmptyAddon(passenger.seat.selectedAddon)" class="passenger-seats-detail_col passenger-seats-detail_col--deal">
                            <strong class="passenger-seats-detail_deals">DEAL ADDED</strong>
                            <em class="ico-success"></em>
                            <strong class="passenger-seats-detail_price">{{passenger.seat.selectedAddon.currency+" "+passenger.seat.selectedAddon.price}}</strong>
                            <v-popover class="passenger-details_item" popoverBaseClass="passenger-tooltip popover" popoverInnerClass="passenger-tooltip-inner popover-inner" :open="moreTooltipTriggered == passenger.passengerID">
                                <a href="#" class="passenger-seats-detail_info" @click.stop.prevent="openTooltip(passenger.passengerID, 'more')">More info</a>
                                <template v-if="" slot="popover">
                                    <div class="passenger-tooltip_wrap">
                                        <div class="passenger-tooltip_title-content">
                                            <div class="passenger-tooltip_title-content_wrap">
                                                <span class="passenger-tooltip_title-content_text">Includes</span>
                                                <button type="button" @click.stop="openTooltip(passenger.passengerID, 'more')"></button>
                                            </div>
                                        </div>
                                        <div class="passenger-tooltip_seat-baggage-wrap">
                                            <em class="ico-seat"></em>
                                            <div class="passenger-tooltip_seat-baggage_description">
                                                <span class="foward-seat">{{passenger.seat.selectedAddon.ancillary[1].type}}</span>
                                                <strong class="flight-info" v-for="flightSegment in value.allFlightSegmentDetails">
                                                    {{flightSegment.departureCityCode + ' - ' + flightSegment.arrivalCityCode + ' (' + flightSegment.carrierCode + ' ' + flightSegment.flightNumber
                                                    + ')'}}
                                                </strong>
                                            </div>
                                            <!-- <span class="foward-seat">{{passenger.seat.selectedAddon.ancillary[1].type}}</span>
                                            <strong class="flight-info" v-for="flightSegment in value.allFlightSegmentDetails">
                                                {{flightSegment.departureCityCode + ' - ' + flightSegment.arrivalCityCode + ' (' + flightSegment.carrierCode + ' ' + flightSegment.flightNumber
                                                + ')'}}
                                            </strong> -->
                                        </div>
                                        <div class="passenger-tooltip_flight-baggage-wrap">
                                            <em class="ico-baggage"></em>
                                            <div class="passenger-tooltip_flight-baggage_description">
                                                <span>{{passenger.seat.selectedAddon.ancillary[0].type}}</span>
                                                <strong class="baggage-weight">{{passenger.seat.selectedAddon.ancillary[0].numberOfUnits + ' ' + passenger.seat.selectedAddon.ancillary[0].unitOfMeasurement}}</strong>
                                                <strong class="departure-city-code">{{value.allFlightSegmentDetails[passenger.seat.selectedAddon.boundID].departureCityCode
                                                        + ' - ' + value.allFlightSegmentDetails[passenger.seat.selectedAddon.boundID].arrivalCityCode}}</strong>
                                            </div>
                                            <!-- <span>{{passenger.seat.selectedAddon.ancillary[0].type}}</span>
                                            <strong class="baggage-weight">{{passenger.seat.selectedAddon.ancillary[0].numberOfUnits + ' ' + passenger.seat.selectedAddon.ancillary[0].unitOfMeasurement}}</strong>
                                            <strong class="baggage-weight">{{value.allFlightSegmentDetails[passenger.seat.selectedAddon.boundID].departureCityCode
                                                + ' - ' + value.allFlightSegmentDetails[passenger.seat.selectedAddon.boundID].arrivalCityCode}}</strong> -->
                                        </div>
                                    </div>
                                    <!-- <div class="">
                                        <span>Include</span>
                                        <button type="button" @click.stop="openTooltip(passenger.passengerID, 'more')">x</button>
                                    </div>
                                    <div class="seat-baggage">
                                        <span class="foward-seat">{{passenger.seat.selectedAddon.ancillary[1].type}}</span>
                                        <strong class="flight-info" v-for="flightSegment in value.allFlightSegmentDetails">
                                            {{flightSegment.departureCityCode + ' - ' + flightSegment.arrivalCityCode + ' (' + flightSegment.carrierCode + ' ' + flightSegment.flightNumber + ')'}}
                                        </strong>
                                    </div>
                                    <div class="flight-baggage">
                                        <span>{{passenger.seat.selectedAddon.ancillary[0].type}}</span>
                                        <strong class="baggage-weight">{{passenger.seat.selectedAddon.ancillary[0].numberOfUnits + ' ' + passenger.seat.selectedAddon.ancillary[0].unitOfMeasurement}}</strong>
                                        <strong class="baggage-weight">{{value.allFlightSegmentDetails[passenger.seat.selectedAddon.boundID].departureCityCode + ' - ' + value.allFlightSegmentDetails[passenger.seat.selectedAddon.boundID].arrivalCityCode}}</strong>
                                    </div> -->
                                </template>
                            </v-popover>
                            <a href="#" class="ico-bin" @click.stop.prevent="removeAddOfPassenger(index)">&nbsp;</a>
                            <!-- <button type="button" @click="removeAddOfPassenger(index)">remove</button> -->
                        </div>
                        <!-- <span class="passenger-seats-detail_deals">deal added</span> -->
                    </div>
                </div>
            </swiper-slide>
        </swiper>
        <button type="button" class="passenger-tab_btn passenger-tab_btn--next" v-if="(value.selectedId < value.flight.updatedPassengerData.length - 1 && value.flight.updatedPassengerData.length > 2)" @click="changeActivePassenger('next')"><span class="ico-chevron"></span></button>
    </div>
    <slot name="legendSlot">

    </slot>
    <light-box-component :id="'5'" v-on:lightbox-closed="closeModal()" :style="{'top': '-48px'}" :lightBoxWidth="'660px'" :active="showRemoveModal">
            <div v-if="!isObjectEmpty(addonToRemove.seat)" class="tooltip-body remove-deal" slot="body">
                <button class="close-btn icon-round-close" type="button" @click="closeModal()"></button>
                    <h1 class="popup__heading--styles page_header-blue">Remove deal</h1>
                    <div class="content">
                        <p class="remove-deal_description">Are you sure you want to remove this deal for <strong>{{addonToRemove.firstName+" "+addonToRemove.lastName}}</strong> from <strong>{{value.flight.flightInfo.departureCity}}?</strong></p>
                    </div>

                            <div v-if="!isObjectEmpty(addonToRemove.seat.selectedAddon)" class="wrapper-content">
                                <div class="forward-zone-seat">
                                    <em class="ico-seat"></em>
                                    <div class="forward-zone-seat_description">
                                        <span>{{addonToRemove.seat.selectedAddon.ancillary[1].type}}</span>
                                        <strong class="flight-detail" v-for="flightSegment in value.allFlightSegmentDetails">
                                            {{flightSegment.departureCityCode + ' - ' + flightSegment.arrivalCityCode + ' (' + flightSegment.carrierCode + ' ' + flightSegment.flightNumber
                                            + ')'}}
                                        </strong>
                                    </div>
                                    <!-- <span>{{addonToRemove.seat.selectedAddon.ancillary[1].type}}</span>
                                    <strong class="flight-detail" v-for="flightSegment in value.allFlightSegmentDetails">
                                            {{flightSegment.departureCityCode + ' - ' + flightSegment.arrivalCityCode + ' (' + flightSegment.carrierCode + ' ' + flightSegment.flightNumber + ')'}}
                                    </strong> -->
                                </div>

                                <div class="Additional-baggage">
                                    <em class="ico-baggage"></em>
                                    <div class="Additional-baggage_description">
                                        <span class="add-baggage">{{addonToRemove.seat.selectedAddon.ancillary[0].type}}</span>
                                        <strong class="flight-detail-color additional-baggage_unit-measurement" >{{addonToRemove.seat.selectedAddon.ancillary[0].numberOfUnits + ' ' + addonToRemove.seat.selectedAddon.ancillary[0].unitOfMeasurement}}</strong>
                                        <strong class="flight-detail-color">{{value.allFlightSegmentDetails[addonToRemove.seat.selectedAddon.boundID].departureCityCode + ' - ' + value.allFlightSegmentDetails[addonToRemove.seat.selectedAddon.boundID].arrivalCityCode}}</strong>
                                    </div>
                                    <!-- <strong class="flight-detail-color" >{{addonToRemove.seat.selectedAddon.ancillary[0].numberOfUnits + ' ' + addonToRemove.seat.selectedAddon.ancillary[0].unitOfMeasurement}}</strong>
                                    <strong class="flight-detail-color">{{value.allFlightSegmentDetails[addonToRemove.seat.selectedAddon.boundID].departureCityCode + ' - ' + value.allFlightSegmentDetails[addonToRemove.seat.selectedAddon.boundID].arrivalCityCode}}</strong> -->
                                </div>
                            </div>
                <div class="group-btn">
                        <button class="remove-btn cancel-btn" type="button" @click="removeAddons(passengerIndex)">REMOVE</button>
                        <button class="btn-primary btn-primary--width" type="button" @click="resetData()">DO NOT REMOVE</button>
                </div>
            </div>
    </light-box-component>
</section>
