@import "../../assets/styles/atoms/import/_color_palette";
@import "../../assets/styles/atoms/import/_breakpoints";

.passenger-tab {
    margin: 0;
    margin-top: -14.8125rem;
    padding: 1.25rem 1.875rem;

    // &.top-sticky {
    //     background: white;

    //     .seatmap-info-row-1, .seatmap-info-row-3_wrap, .seatmap-info-row-4, .seatmap-info-row-3, .seatmap-info-row-2_col-1_text-3 {
    //         display: none;
    //     }

    //     .f {
    //         padding: 0.8875rem 2.1875rem;
    //     }

    //     .seatmap-color-coding {
    //         width: 1.875rem;
    //         &:before {
    //             height: 1.875rem;
    //         }
    //     }

    //     .seatmap-info-row-2_col-1_text-1 {
    //         font-size: 0.6875rem;
    //     }

    //     .seatmap-info-row-2_wrap {
    //         padding-bottom: 0;
    //     }

    //     .lightbox {
    //         margin: 0;
    //     }
    // }

    .lightbox {
        margin: 0;
    }

    &.top-sticky {

        .seatmap-info-row-2_col-1_text-3 {
            display: none;
        }

        .seatmap-info-row-2_col-1_text-1 {
            // line-height: 0.5;
        }

        .seatmap-info-row-2_col-1_wrap {
            transform: translateY(-0.25rem);
        }

        .seatmap-info-row-2_col-1_text--1 {
            padding-top: 0.4375rem;
        }
    }
 }

 .vue-sticky-placeholder {
     margin: 0;
     padding-top: 14.8125rem !important;
    //  padding-top: 0 !important; //needed to override inline-style added by the vue-sticky-directive plugin
    //  padding-top: 0 !important; //Needed to override the inline style added from the sticky plugin
 }

 .seatmap-info-content {
     margin: 0;
 } 

.passenger-tab_wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.passenger-tab_wrap-swipe, .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 8.2rem;
    margin: 0;

    display: flex;
}

.swiper-slide {
    // margin: 0 10px 0 0;
    margin: 0 30px 0 0;
    // min-width: 27rem;
    min-width: 30.9375rem;

    &:last-child {
        margin-right: 0;
    }
}

.swiper-slide-disable {
    
    &.swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                margin: 0 30px 0 0; 
            }
        }
    }
}

.swiper-slide-disable .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(48%, 1fr));
    grid-gap: 2%;
    
    .swiper-slide {
        margin: 0;
    }
}

.passenger-tab_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 3.75rem;
    height: 3.75rem;
    margin: 0;
    padding: 0;

    background-color: #2275D3;
    border-radius: 50%;
    z-index: 11;

    .ico-chevron {
        width: 14px;
        height: 14px;
        display: block;
        background-size: contain;
        position: absolute;
        top: 50%;
    }
}

.passenger-tab_btn--prev {
    left: -1.875rem;

    .ico-chevron {
        transform: translate(-12px, -50%) rotate(90deg);
        right: 0;
    }
}
.passenger-tab_btn--next {
    right: -1.875rem;

    .ico-chevron {
        transform: translate(10px, -50%) rotate(-90deg);
    }
}

.passenger-tab_item {
    min-height: 7.375rem;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E5E9F0;

    position: relative;

    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(50%, 1fr));
    

    &.selected-passenger {
        border: 1px solid #00266B;
        box-shadow: 0 4px 0 0 rgba(0,38,107,0.15);
    }
}

.passenger-details {
    border-bottom: 0.0625rem solid #E5E9F0;
    padding: 0.625rem 0.937rem;
    grid-column: 1 / span 2;
    grid-row: auto;
}

.passenger-details_id {
    width: 1.25rem;
    height: 1.25rem;

    border-radius: 50%;
    background-color: #00266b;
    
    padding: 0.0625rem;
    
    color: #fff;
    line-height: 1.5em;
    font-size: 0.75rem;
    text-align: center;
}

.passenger-details_name {
    font-size: 1rem;
    color: #000000;
    letter-spacing: 0;
    font-weight: 600;
}

.passenger-details_membership {
    padding: 0.3125rem;
    // color: #666666;
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    // background-color: #d5d5d5;
    border-radius: 0.125rem;
    line-height: 1;
    letter-spacing: 0.125rem;

    &.l, &.t, &.q {
        background-color: #998862;
        color: $gandalf;
    }

    &.g {
        background-color: #B59C5A;
        color: $gandalf;
    }
    
    &.k {
        background-color: $primary-color;
        color: $gandalf;
    }

    &.s {
        color: $gray-default;
        background-color: #d5d5d5;
    }
}

.passenger-seats-detail_seat-price {
    font-size: 0.75rem;
}

.passenger-details_info {
    margin: 0;
}

.passenger-seats-detail_inner {
    margin: 0;
    padding: 0.625rem 1.25rem;
    position: relative;
}

.passenger-seats-detail_inner--col-1 {
    border-right: 0.0625rem solid $secondary-cocowhite;
}

.passenger-seats-detail_inner--seat {
    border-right: 0.0625rem solid $secondary-cocowhite;
}

.passenger-details_item {
    margin: 0;
    margin-right: 0.35rem;
    display: inline-block;
    vertical-align: middle;
}

.more-info-link {
    padding-top: 0.1875rem;
}

.passenger-details_item_kftier-info {
    text-align: center;
    -webkit-margin-before: 1.5em;
}

.passenger-seats-detail_col {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    color: #222222;
    font-size: 0.875rem;

    .icon-seat {
        display: block;
    }
    
    .ico-bin {
        display: block;
        background-size: contain;
        margin: 0;
        width: 14px;
        
        position: absolute;
        right: 20px;
        bottom: 24px;
    }

    .passenger-seats-detail_price {
        display: block;
        color: $primary-darkgray;
        font-size: 0.875rem;
        margin: 0;
        line-height: 1.2em;
    }

    .passenger-seats-detail_info {
        font-weight: 500;
        font-size: 0.625rem;
        color: $tertiary-blue;
        letter-spacing: 0;
        line-height: 1.4em;
        text-transform: none;
    }
}

.tool-tip-content_close--pax-tab {
    &.tool-tip-content_close {
        top: 8px;
        right: 6px;
    }
}

.passenger-details_item_addons-info {
    -webkit-margin-before: 1.5em;
}

.passenger-seats-detail_col--icon {
    max-width: 1.875rem;
}

.passenger-seats-detail_seat-num {
    font-weight: 700;
}

.passenger-seats-detail_col--deal {
    font-weight: 700;
    font-size: 0.625rem;
    text-transform: uppercase;
    letter-spacing: 0.91px;
    line-height: 1.1em;
    
    .ico-success {
        background: url(/assets/images/svg/icons/tick.svg) no-repeat center center transparent;
        display: inline-block;
        margin-top: 0;
        height: 0.875rem;
        vertical-align: bottom;
        width: 0.875rem;
        margin-left: 0.5rem;
    }
}

.passenger-details_seat-selection {
    margin: 0;
    font-size: 0.75rem;
}

.passenger-seats-detail_price {
    font-size: 0.8125rem;
}

.passenger-tooltip {
    display: block;
    z-index: 1000;

    .passenger-tooltip-inner {
      background: white;
      color: black;
      box-shadow: 0 5px 30px rgba(black, .1);
      border-radius: 5px;
      padding: 5px 10px 4px;
    }

    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: white;
      z-index: 1;
    }

    &[x-placement^="top"] {
      margin-bottom: 1px;

      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
		margin-bottom: 0;
	  }

	  .passenger-tooltip-inner {
		background: white;
		color: black;
		box-shadow: 0 5px 30px rgba(black, .1);
		border-radius: 5px;
		// padding: 5px 10px 4px;
		// margin-left: calc(50% - 300px);
		// margin-right: calc(50% - 300px);
	  }
    }

    &[x-placement^="bottom"] {
    //   margin-top: 1px;
    margin-top: 0.3125rem;

      .wrapper {
        border: 0.0625rem solid #ccc;
        border-radius: 0.1875rem;
      }

      .tooltip-arrow {
        // border-width: 0 5px 5px 5px;
        // border-left-color: transparent;
        // border-right-color: transparent;
        // border-top-color: transparent;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
        
        background: white;
        height: 0.625rem;
        width: 0.625rem;
        transform: rotate(135deg);
        border: 0.0625rem solid #ccc;
        border-right-color: transparent;
        border-top-color: transparent;
	  }

	  .passenger-tooltip-inner {
		background: white;
		color: black;
		// box-shadow: 0 5px 30px rgba(black, .1);
		border-radius: 5px;
		// padding: 5px 10px 4px;
		// margin-left: calc(50% - 300px);
		// margin-right: calc(50% - 300px);
	  }
    }

    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }

  &.info {
    $color: rgba(#004499, .9);

    .passenger-tooltip-inner {
      background: $color;
      color: white;
      padding: 24px;
      border-radius: 2px;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: 250px;
    }

    .tooltip-arrow {
      border-color: $color;
    }
  }
}

.tabs-flight-info_title {
    font-size: 0.5rem;
    color: #666666;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    display: block;
}

.tabs-flight-info_destinations {
    text-align: center;
}

.tabs-flight-info_item {
    display: inline-block;
    vertical-align: middle;
    // margin: 0 0.625rem;
    margin: 0;

    font-weight: 700;
    font-size: 0.875rem;
    color: #6D6D6D;
    letter-spacing: 0;
    text-align: center;

    &.ico-flight {
        height: 19px;
        background-position-y: 3px;
    }
}

.tabs-flight-info_cabin {
    font-weight: 700;
    font-size: 0.625rem;
    letter-spacing: 1px;
    text-align: center;

    &[data-cabin-class="economy"] {
        color: #1C5D49;
    }
    &[data-cabin-class="premium economy"] {
        color: #246E89;
    }
}

.remove-deal {

    * {
        margin-top: 0;
    }

    .page_header-blue {
        text-align: left;
        margin-top: 0;
        font-size: 1.625rem;
        color: #00266b;
        font-family: 'sigvar', serif;
        font-weight: 500;
        margin-bottom: 1.25rem;
    }
    .wrapper-content {
        display: grid;
        // grid-template-columns: 43% 57%;
        grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
        padding: 30px;
        background: #e5e9f0;
    }
    .forward-zone-seat, .Additional-baggage {
        margin: 0;
        display: grid;
        grid-template-columns: 11% 89%;
    }
    
    .Additional-baggage_description * {
        display: block;
    }
    
    .icon-round-close {
        position: absolute;
        // top: 20px;
        // right: 20px;
        right: 0.1875rem;
        top: 0.625rem;
        background-size: 20px;     
    }

    .info {
        margin: 0;
    }

    .forward-zone-seat_description {
        font-size: 0.875rem;
        padding-top: 0.3125rem;
    }

    .Additional-baggage_description {
        font-size: 0.875rem;
        padding-top: 0.3125rem;
    }
    
    .flight-detail {
        margin: 0;
        display: block;
        // margin-left: 35px;
    }

    .additional-baggage_unit-measurement  {
        color: #1c5d49;
    }

    .remove-deal_description {
        margin-bottom: 1.5rem;
    }

    .group-btn {
        margin-top: 1.25rem;
        

        .btn-primary--width {
            min-width: 146px;
            position: relative;
            left: 251px;
        }
        .cancel-btn {
            background-color: #6c7577;
            color: white;
            padding: 13px 20px;
            border-radius: 2px;
            min-width: 146px;
            position: relative;
            left: 254px;
            top: 1px;
            margin-right: 10px;
            letter-spacing: 1.2px;
            font-size: 0.6875rem;
        }
    }
   
    .ico-seat {
        background: url(/assets/images/svg/icons/seat-selection.svg)  no-repeat center center transparent;
        height: 1.4375rem;
        width: 1.25rem;
        background-size: 1.25rem;
        display: inline-block;
        // margin-right: 10px;
        transform: translateY(22%);
    }
    .ico-baggage {
        background: url(/assets/images/baggage.png)  no-repeat center center transparent;
        height: 1.4375rem;
        width: 1.25rem;
        background-size: 1.25rem;
        display: inline-block;
        // margin-right: 10px;
        transform: translatey(0%);
    }
}

.passenger-tooltip_title-content {
    border-bottom: 1px solid #AFAFAF;
    margin: 0 -0.625rem;
}

.passenger-tooltip_title-content_wrap {
    padding: 0 0.875rem;

    button {
        background: url(/assets/images/svg/icons/close-circle.svg) no-repeat 50% transparent;
        position: absolute;
        right: 0.3125rem;
        top: 0.3125rem;
        width: 0.875rem;
        height: 0.875rem;
        opacity: 0.7;
    }
}

.passenger-tooltip_title-content_text {
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 700;
}

.passenger-tooltip_seat-baggage_description {
    display: grid;
    font-size: 0.75rem;
}

.passenger-tooltip_flight-baggage_description {
    display: grid;
    font-size: 0.75rem;

    .baggage-weight {
        color: #1c5d49;
    }
}

.passenger-tooltip_seat-baggage-wrap {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 13.875rem;
    padding: 0.90625rem 0.25rem 0.90625rem;

    .ico-seat {
        background: url(/assets/images/svg/icons/seat-selection.svg) no-repeat center center transparent;
        height: 1.4375rem;
        width: 1.25rem;
        background-size: contain;
        display: inline-block;
    }
    
    .ico-baggage {
        background: url(/assets/images/baggage.png) no-repeat center center transparent;
        height: 23px;
        width: 20px;
        background-size: contain;
        display: inline-block;
    }
}

.passenger-tooltip_flight-baggage-wrap {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 13.875rem;
    padding: 0 0.25rem 0.90625rem;
}

// Extra Small devices (portrait phones, max 576px)
@media (max-width: $breakpoint-small-devices) {
    .passenger-tab {
        padding: 0;
        margin-top: 0;
    }

    .passenger-tab_wrap {
		display: none;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) { 
    .swiper-container {
        .swiper-wrapper {
            display: flex;

            .swiper-slide {
                margin: 0 10px 0 0;
                // margin: 0 30px 0 0;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) { 
    .swiper-container {
        .swiper-wrapper {
            // display: grid;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) { 

}