.inline-kf-login-wrapper{
    padding: 1.250em;
    background: #fff;
    border-bottom: 2px solid #ccc;
    zoom: 1;
}

.inline-kf-login-content{
    display: grid;
    grid-template-columns: 11% 74% 15%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ico inline-kf-login-details inline-kf-login-button--wrapper";
}

.ico-user_1-wrapper{
    grid-area: ico;
    align-self: center;
    justify-self: center;
    svg{
        width: 4.500em;
        height: 3.750em;
        background-size: contain;
        fill: #00266b;
    }
}

.inline-kf-login-details{
    grid-area: inline-kf-login-details;
    
 
}

.inline-kf-login-button--wrapper{
    grid-area: inline-kf-login-button--wrapper;
    align-self: center;
    justify-self: end;
    
   
}


.inline-kf-login-detais-title{
    font-size: 1.125em;
    font-weight: 600;
    font-family: "proxima-nova", sans-serif;
    color: #00266b;
    margin: 0;
}

.inline-kf-login-detais-paragraph{
    font-size: 16px;
    line-height: 1.500em;
    color: #000;
    margin: 0;
    
}

button.btn.btn-primary.inline-kf-login-button{
    padding-left: 1.250em;        ;
    padding-right: 1.250em;
    padding-top: 0.938em;
    font-size: 0.750em;    
    letter-spacing: 0.1em;
    font-weight: 700;

}