<aside class="inline-kf-login">
    <div class="inline-kf-login-wrapper">
        <div class="inline-kf-login-content">
            <div class="ico-user_1-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.4 59.9">
                    <!-- <defs>
                        <style>
                            .cls-1 {
                                fill: #232d66;
                            }
                        </style>
                    </defs> -->
                    <title>ico-user_1</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="New_Layer" data-name="New Layer">
                            <path class="cls-1" d="M25,1.7c-6.3,3.8-7.5,15.1-2.8,26.1,1.2,2.7,2,6.3,1.8,8.2-.3,3-.9,3.7-5.4,5.9-2.8,1.4-7.2,3.3-9.8,4.4C3.5,48.4,1.7,50.6.7,56.1L0,59.9H64.4l-.7-3.8c-1-5.5-2.8-7.7-8.1-9.8-2.6-1.1-7-3-9.8-4.4-4.5-2.2-5.1-2.9-5.4-5.9-.2-1.9.6-5.5,1.8-8.2,4.7-11.1,3.5-22.4-2.9-26.2C35.6-.6,28.5-.5,25,1.7Z"
                            />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="inline-kf-login-details">
                <h2 class="inline-kf-login-detais-title">PPS Club / KrisFlyer</h2>
                <p class="inline-kf-login-detais-paragraph">Log in to enjoy the convenience of having your personal details completed automatically, adding/selecting
                    your redemption nominees, and paying with your KrisFlyer miles. </p>
            </div>
            <div class="inline-kf-login-button--wrapper">
                <button type="button" class="btn btn-primary inline-kf-login-button" @click="openModal()">Log in</button>
            </div>
        </div>

    </div>
    <light-box-component :id="'1'" :active="showLogin" :lightBoxWidth="'450px'" class="popup-login">
        <div slot="body">
            <button class="tool-tip-content_close icon-round-close" @click="closeModal()"></button>
            <h1 class="page_header">Log in</h1>

            <div class="form-group">
                <div class="form-group-radio">

                    <div class="form_fields_container booking_actions">
                        <div class="form_field_wrapper">
                            <div class="form_controls">
                                <div class="booking_actions--main">
                                    <div class="form_control field__radiobox">
                                        <input value="bookFlight" type="radio" name="flight-radio" id="bookFlights" class="input__radio">
                                        <label for="bookFlights" class="form__label">KrisFlyer / PPS Club</label>
                                    </div>
                                    <div class="form_control field__radiobox">
                                        <input value="redeemFlight" type="radio" name="flight-radio" id="redeemFlights" class="input__radio">
                                        <label for="redeemFlights" class="form__label">SQCorporate</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-wrapper">
                        <div class="form_control has-float-label">
                            <div class="input_wrapper custom_input_control--floating-label">
                                <input type="text" name="departDate" id="departDateField" placeholder=" " class="form_field form_input--text">
                                <label for="departDate" class="form_label field_focused">Krisflyer number/Email address</label>
                            </div>
                            <a href="#" class="right">Forgot your membership number?</a>
                        </div>
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form_control has-float-label">
                        <div class="passenger-selection">
                            <div class="input_wrapper">
                                <input readonly="readonly" type="text" name="flightPassengers" id="flightPassengersField" placeholder=" " class="form_field form_input--text">
                                <label for="flightPassengers" class="form_label">Password</label>
                            </div>
                            <small class="validation_container hidden">
                                <span class="error">Validation error</span>
                            </small>
                            <a href="#" class="right">Forgot your PIN?</a>
                        </div>
                    </div>
                </div>

                <div class="custom-checkbox">
                    <input type="checkbox" id="checkbox-1" class="login-checkbox">
                    <label for="checkbox-1" class="textbox-content">Remember me on this computer</label>
                </div>

                <div class="login-btn-wrapper">
                    <button type="button" class="btn-primary full--btn">PROCEED</button>
                    <a href="#" class="btn__message">
                        <em class="ico-chevron--blue"></em>Not a KrisFlyer member? Join now</a>
                </div>

            </div>
        </div>
    </light-box-component>

</aside>