/*PAX PACKS TABLE*/
.group-title h5 {
    font-size: 16px;
    font-weight: bold;
    color: #00266B;
    margin: 0 0 15px;
}

.departure-flight {
    margin: 0 0 20px;
    border: 1px solid #ccc;

    .depart-title {
        background-color: #E5E9F0;
        color: #00266B;
        font-size: 14px;
        padding: 10px 20px;
        font-weight: bold;
    }

    .depart-content {
        padding: 5px 20px;

        .tooltip-inline {
            display:  inline-block;
            vertical-align:  middle;
            margin-left:  10px;
        }

        .ico-bundle {
            width: 15px;
            height:  20px;
            display: block;
        }

        .depart-seat {
            width:  100%;
            display:  block;
            border-bottom: 2px solid #ccc;
            padding: 10px 0;

            .seat {
                display:  inline-block;
                vertical-align:  top;
                padding: 20px;
                width: 26%;

                span {
                    display: block;
                    color: #222222;
                    font-size: 14px;
                    font-weight: normal;

                    .ico-seat {
                        display:  inline-block;
                        vertical-align: bottom;
                        width:  25px;
                        height: 25px;
                        background-size:  contain;
                        margin-right: 15px;
                    }
                }
            }

            .seat-info-wrap {
                display:  inline-block;
                vertical-align:  top;
                width: 73%;
            }

            .seat-info-group {
                display:  inline-block;
                vertical-align:  middle;
                width: 50%;
                padding-right: 40px;

                .seat-info {
                    border-top: 2px solid #00266B;
                    padding: 8px 0;
                    color: #222222;
                    font-size: 14px;

                    &:first-child {
                        border-top: none;
                    }

                    .seat-detail {
                        color: #00266B;
                        font-size: 12px;
                        font-weight: bold;
                    }

                    .seat-number {
                        font-weight: bold;
                    }
                }
            }
        }

        .depart-baggage {
            width:  100%;
            display:  block;
            padding: 10px 0;

            .baggage {
                display:  inline-block;
                vertical-align:  top;
                padding: 20px;
                width: 26%;

                span {
                    display: block;
                    color: #222222;
                    font-size: 14px;
                    font-weight: normal;

                    .ico-baggage {
                        display:  inline-block;
                        vertical-align: bottom;
                        width:  25px;
                        height: 25px;
                        background-size:  contain;
                        margin-right: 15px;
                    }

                }
            }

            .baggage-info-wrap {
                display:  inline-block;
                vertical-align:  top;
                width: 73%;
            }

            .baggage-info-group {
                display:  inline-block;
                vertical-align:  middle;
                width: 100%;
                padding-right: 40px;

                .baggage-info {
                    border-top: 2px solid #00266B;
                    padding: 8px 0;
                    color: #222222;
                    font-size: 14px;

                    &:first-child {
                        border-top: none;
                    }

                    .baggage-detail {
                        color: #00266B;
                        font-size: 12px;
                        font-weight: bold;
                    }

                    .baggage-qty {
                        font-weight: bold;
                    }

                    .included {
                        display: block;

                        .view-baggage {
                            margin-left: 5px;

                            .ico-chevron--blue {
                                display:  inline-block;
                                vertical-align: baseline;
                                background-size:  contain;
                                width:  10px;
                                height: 10px;
                            }
                        }
                    }

                    .additional {
                        display: block;
                        margin-top: 5px; 

                        .baggage-qty {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

.krisflyer-tooltip {
    display: block;
    z-index: 1000;
    display:  inline-block;
    vertical-align:  middle;
    margin-left:  10px;

    .tooltip-wrapper__btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;

        circle{
            fill: #999999;
        }
    }

    .tooltip-wrapper__text{
        font-size: 13px;
        color:#333;
    }

    .krisflyer-tooltip-inner {
        background: white;
        color: black;
        box-shadow: 0 5px 30px rgba(black, .1);
        border-radius: 5px;
        padding: 20px 13px 15px 15px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: white;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 1px;

        .wrapper {
            border: 0.0625rem solid #ccc;
            border-radius: 0.1875rem;
            width: 17rem;
        }

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;

            background: white;
            height: 0.625rem;
            width: 0.625rem;
            transform: rotate(135deg);
            border: 0.0625rem solid #ccc;

        }

        .krisflyer-tooltip-inner {
            background: white;
            color: black;
            box-shadow: 0 5px 30px rgba(black, .1);
            border-radius: 5px;
            // padding: 5px 10px 4px;
            // margin-left: calc(50% - 300px);
            // margin-right: calc(50% - 300px);
        }
    }

    &[x-placement^="bottom"] {
      margin-top: 1px;

        .wrapper {
            border: 0.0625rem solid #ccc;
            border-radius: 0.1875rem;
            width: 17rem;
        }

        .tooltip-arrow {
            // border-width: 0 5px 5px 5px;
            // border-left-color: transparent;
            // border-right-color: transparent;
            // border-top-color: transparent;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;

            background: white;
            height: 0.625rem;
            width: 0.625rem;
            transform: rotate(135deg);
            border: 0.0625rem solid #ccc;
            border-right-color: transparent;
            border-top-color: transparent;
        }

        .krisflyer-tooltip-inner {
            background: white;
            color: black;
            // box-shadow: 0 5px 30px rgba(black, .1);
            border-radius: 5px;
            // padding: 5px 10px 4px;
            // margin-left: calc(50% - 300px);
            // margin-right: calc(50% - 300px);
            position: relative;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }

    &.info {
        $color: rgba(#004499, .9);

        .tooltip-tooltip-inner {
          background: $color;
          color: white;
          padding: 24px;
          border-radius: 2px;
          box-shadow: 0 5px 30px rgba(black, .1);
          max-width: 250px;
        }

        .tooltip-arrow {
          border-color: $color;
        }
    }
}


/*END OF PAX PACKS TABLE*/

/*EXTRA BAGGAGE LIGHTBOX*/
.extra-baggage-lightbox {

    p {
        font-size: 14px;
        color: #000;
        line-height: 20px;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    }

    .title {
        font-weight: 600;
    }

    .desc {
        color: #666;

        span {
            display: block;
            color: #000;
        }
    }

    .tabs-fare {
        font-size: 14px;
        color: #000;
        line-height: 20px;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

        .tab-title-container {
            display: flex;
            position: relative;

            &:before {
                content: '';
                border-bottom: 1px solid #ccc;
                position:  absolute;
                width:  100%;
                bottom: 0px;
            }
        }

        .tab-content {
            width: auto;
            box-shadow:  none;
            padding: 20px 0 0;
        }

        .tab-title {
            background: #fff;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            line-height: 35px;
            padding: 5px 22px;
            font-size: 12px;
            color: #333;
            font-weight: 600;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            border: 1px solid transparent;
            border-top-width: 2px;
            cursor: pointer;
            outline: 0;
        }

        .tab-active {
            background: #fff;
            border-top-color: #f99f00;
            border-left-color: #ccc;
            border-right-color: #ccc;
            border-bottom-color: #fff;
            z-index: 1;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th {
            color: #fff;
            text-align: left;
            font-weight: 500;
            padding: 25px 15px;
            background: #00266b;
        }

        .fare-table {
            th {
                width: 50%;
            }
        }

        tr:nth-child(even) {
            background: #e8e8e8;
        }

        tr:nth-child(odd) {
            background: #d3d3d3;
        }

        td {
            padding: 20px 15px;
            vertical-align: top;
            color: #000;
        }

        span {
            color: #00266b;
        }

        em {
            font-family: "sia";
            display: inline-block;
            font-size: 15px;
            margin-right: 5px;
            margin-top: -3px;
            font-style: normal;
        }

        .elite-silver-table {
            em {
                margin-top: -3px;
                height: 32px;
                position: relative;
                float: left;
            }
        }

        .ico-business-1:before {
            content: "\e60a";
        }

        .ico-change-seat:before {
            content: "\e60e";
        }

        .ico-1-preferred:before {
            content: "\e606";
        }
    }

    .modal-body {
        width: 740px;
    }
}

/*END OF EXTRA BAGGAGE LIGHTBOX*/