<section class="pax-packs-container">
    <!-- PAX PACKS COMPONENT -->
    <div class="passenger-info-item" v-for="summary in paxinfo.bookingSummary.passengerFlightAddOns">
        <div class="accordion-content">
            <div class="group-title">
                <h5>{{summary.passengerName}}</h5>
            </div>
            <div class="departure-flight" v-for="segment,index in summary.segmentAddonDetails">
                <div class="depart-title">{{index+1+"."}} {{segment.originCityName + " (" + segment.originAirportCode + ") - " + segment.destinationCityName + " (" + segment.destinationAirportCode + ") " }}</div>
                <div class="depart-content">
                    <div class="depart-seat">
                        <div class="seat">
                            <span><em class="ico-seat"></em>Seat</span>
                        </div>
                        <div class="seat-info-wrap">
                            <div class="seat-info-group" v-for="legAddonDetail in segment.legAddonDetails">
                                <div class="seat-info">
                                    <div class="seat-detail" >
                                        
                                            <span class="seat-country1">{{legAddonDetail.origin.airportCode}}</span> - <span class="seat-country2">{{legAddonDetail.destination.airportCode}}</span> &#8226; <span class="flight-tracker">{{legAddonDetail.flightDetails.operatingAirlineCode}} {{legAddonDetail.flightDetails.flightNumber}}</span>
                                        
                                    </div>
                                </div>
                                <div class="seat-info" v-for="legAddon in legAddonDetail.legAddons">
                                    <span class="seat-number">{{legAddon.unit}}</span> - {{legAddon.type}}
                                    <v-popover popoverBaseClass="krisflyer-tooltip popover" popoverInnerClass="krisflyer-tooltip-inner popover-inner" class="tooltip-inline">
                                        <a href="#" @click.prevent class="ico-bundle"></a>
                                        <template slot="popover">
                                            <div class="tooltip-wrapper">
                                                <a href="#" @click.prevent v-close-popover class="tooltip-wrapper__btn">
                                                    <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
                                                        <title>icon/close-circle copy</title>
                                                        <desc>Created with Sketch.</desc>
                                                        <defs></defs>
                                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g id="search-item" transform="translate(-154.000000, -8.000000)">
                                                                <g id="icon/close-circle-copy">
                                                                    <g transform="translate(154.000000, 8.000000)">
                                                                        <circle id="Oval" fill="#666666" cx="7" cy="7" r="7"></circle>
                                                                        <g id="Group" transform="translate(4.000000, 4.000000)" stroke="#FFFFFF" stroke-linecap="round">
                                                                            <path d="M0.5,0.5 L5.5,5.5" id="Line"></path>
                                                                            <path d="M0.5,5.5 L5.5,0.5" id="Line"></path>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                                <span class="tooltip-wrapper__text">Use your KrisRyer miles to pay for all or a part of your airfare (including taxes and surcharges). additional baggage and seats. KrisRyer miles, Elite miles and PPS Value will be earned in the proportion to the amount (excluding taxes) that you have paid with your credit/debit card.
                                                </span>
                                            </div>
                                        </template>
                                    </v-popover>
                                </div>
                            </div>   
                        </div>                     
                    </div>  
                    <div class="depart-baggage" v-if="segment.segmentAddonAvailable">
                        <div class="baggage">
                            <span><em class="ico-baggage"></em>Baggage</span>
                        </div>
                        <div class="baggage-info-wrap">
                            <div class="baggage-info-group"  v-for="legAddonDetail in segment.legAddonDetails">
                                <div class="baggage-info" >
                                    <div class="baggage-detail">
                                        <span class="baggage-country1">{{legAddonDetail.origin.airportCode}}</span> -
                                        <span class="baggage-country2">{{legAddonDetail.destination.airportCode}}</span>
                                    </div>
                                </div>
                                <div class="baggage-info">
                                    <span v-bind:class="segmentAddon.type.toLowerCase()" @click.stop.prevent="segmentAddon.type == 'Included' ? openModal('3') : ''"  v-for="segmentAddon in segment.segmentAddons">
                                        {{segmentAddon.type}}: <span class="baggage-qty">{{segmentAddon.quantity}} {{segmentAddon.unit}}</span> 

                                        <a v-if="segmentAddon.type == 'Included'" href="#" class="view-baggage"><em class="ico-chevron--blue"></em> View extra baggage allowance for KrisFlyer and PPS Club members</a>
                                        <v-popover popoverBaseClass="krisflyer-tooltip popover" popoverInnerClass="krisflyer-tooltip-inner popover-inner" class="tooltip-inline" v-if="segmentAddon.type != 'Included'">
                                            <a href="#" @click.prevent class="ico-bundle"></a>
                                            <template slot="popover">
                                                <div class="tooltip-wrapper">
                                                    <a href="#" @click.prevent v-close-popover class="tooltip-wrapper__btn">
                                                        <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                            <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
                                                            <title>icon/close-circle copy</title>
                                                            <desc>Created with Sketch.</desc>
                                                            <defs></defs>
                                                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <g id="search-item" transform="translate(-154.000000, -8.000000)">
                                                                    <g id="icon/close-circle-copy">
                                                                        <g transform="translate(154.000000, 8.000000)">
                                                                            <circle id="Oval" fill="#666666" cx="7" cy="7" r="7"></circle>
                                                                            <g id="Group" transform="translate(4.000000, 4.000000)" stroke="#FFFFFF" stroke-linecap="round">
                                                                                <path d="M0.5,0.5 L5.5,5.5" id="Line"></path>
                                                                                <path d="M0.5,5.5 L5.5,0.5" id="Line"></path>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </svg>
                                                    </a>
                                                    <span class="tooltip-wrapper__text">Use your KrisRyer miles to pay for all or a part of your airfare (including taxes and surcharges). additional baggage and seats. KrisRyer miles, Elite miles and PPS Value will be earned in the proportion to the amount (excluding taxes) that you have paid with your credit/debit card.
                                                    </span>
                                                </div>
                                            </template>
                                        </v-popover>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>              
        </div>      
    </div>
    <!-- END OF PAX PACKS COMPONENT -->

    <!-- EXTRA BAGGAGE LIGHTBOX -->
    <light-box-component class="extra-baggage-lightbox" :id="'3'" :active="showExtraBaggage" v-on:lightbox-closed="closeModal()">
        <div slot="body" @click.stop="">
            <button class="close-btn icon-round-close" type="button" @click="showExtraBaggage = '0'"></button>
            <h1 class="page_header">PPS Club / KrisFlyer member privileges on Economy Class</h1>
            <p>As a valued PPS Club or KrisFlyer member, you enjoy many privileges across each Economy Class fare family.</p>

            <tab-view-component class="tab-view-container container-center tabs-fare" :tabs="3" :active="1">
                <div slot="title-1">
                    <div class="tab-title-1">
                        <span>PPS Club</span>
                    </div>
                </div>
                <div slot="content-1">
                    <div class="tab-content-1">
                        <table class="fare-table">
                            <thead>
                                <tr>
                                  <th> Fare condition</th>
                                  <th>Economy Super Saver, Lite, Standard &amp; Flexi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-business-1"></em>Baggage</span>
                                  </td>
                                  <td>Additional 30kg</td>
                                </tr>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-change-seat"></em> Standard seat selection</span>
                                  </td>
                                  <td>Complimentary</td>
                                </tr>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-change-seat"></em>Forward Zone Seat selection</span>
                                  </td>
                                  <td>Complimentary</td>
                                </tr>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-1-preferred"></em> Extra Legroom Seat selection</span>
                                  </td>
                                  <td>Complimentary</td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="title">Terms and conditions</p>
                        <p class="desc">
                            <span>Complimentary seat selection privileges for expired memberships</span>
                            If your PPS Club / KrisFlyer membership expires on or before the date of seat selection during booking, your complimentary seat selection privileges will remain unchanged.
                        </p>
                        <p class="desc">
                            <span>Complimentary additional baggage privileges for expired memberships</span>
                            If your PPS Club or KrisFlyer Elite Gold membership expires on or before the counter check-in date, you and your travelling party will no longer enjoy that expired tier's complimentary baggage allowance.
                        </p>
                    </div>
                </div>

                <div slot="title-2">
                    <div class="tab-title-2">
                        <span>KrisFlyer Elite Gold</span>
                    </div>
                </div>
                <div slot="content-2">
                    <div class="tab-content-2">
                        <table class="fare-table">
                            <thead>
                                <tr>
                                  <th> Fare condition</th>
                                  <th>Economy Super Saver, Lite, Standard &amp; Flexi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-business-1"></em>Baggage</span>
                                  </td>
                                  <td>Additional 30kg</td>
                                </tr>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-change-seat"></em> Standard seat selection</span>
                                  </td>
                                  <td>Complimentary</td>
                                </tr>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-change-seat"></em>Forward Zone Seat selection</span>
                                  </td>
                                  <td>Complimentary</td>
                                </tr>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-1-preferred"></em> Extra Legroom Seat selection</span>
                                  </td>
                                  <td>Chargeable</td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="title">Terms and conditions</p>
                        <p class="desc">
                            <span>Complimentary seat selection privileges for expired memberships</span>
                            If your PPS Club / KrisFlyer membership expires on or before the date of seat selection during booking, your complimentary seat selection privileges will remain unchanged.
                        </p>
                        <p class="desc">
                            <span>Complimentary additional baggage privileges for expired memberships</span>
                            If your PPS Club or KrisFlyer Elite Gold membership expires on or before the counter check-in date, you and your travelling party will no longer enjoy that expired tier's complimentary baggage allowance.
                        </p>
                    </div>
                </div>

                <div slot="title-3">
                    <div class="tab-title-3">
                        <span>KrisFlyer Elite Silver</span>
                    </div>
                </div>
                <div slot="content-3">
                    <div class="tab-content-3">
                        <table class="elite-silver-table">
                            <thead>
                            <tr>
                              <th>Fare condition</th>
                              <th>Economy Super Saver</th>
                              <th>Economy Lite</th>
                              <th>Economy Standard</th>
                              <th>Economy Flexi</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-change-seat"></em> Standard seat selection</span>
                                  </td>
                                  <td>Complimentary</td>
                                  <td>Complimentary</td>
                                  <td>Complimentary</td>
                                  <td>Complimentary</td>
                                </tr>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-change-seat"></em> Forward Zone Seat selection</span>
                                  </td>
                                  <td>Chargeable</td>
                                  <td>Chargeable</td>
                                  <td>Chargeable</td>
                                  <td>Complimentary</td>
                                </tr>
                                <tr>
                                  <td>
                                    <span>
                                      <em class="ico-change-seat"></em>Extra Legroom Seat selection</span>
                                  </td>
                                  <td>Chargeable</td>
                                  <td>Chargeable</td>
                                  <td>Chargeable</td>
                                  <td>Chargeable</td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="title">Terms and conditions</p>
                        <p class="desc">
                            <span>Complimentary seat selection privileges for expired memberships</span>
                            If your PPS Club / KrisFlyer membership expires on or before the date of seat selection during booking, your complimentary seat selection privileges will remain unchanged.
                        </p>
                    </div>
                </div>

            </tab-view-component>
        </div>
    </light-box-component>

    <!-- END OF EXTRA BAGGAGE LIGHTBOX -->
</section>