@import "../../assets/styles/atoms/import/_breakpoints";

.tabs-info {
    margin-top: 0;
    margin-bottom: 0;
}

.tabs-component {
    position: relative;
    border-radius: 2px;
}

.wrap-control {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.tabs-flight-info_destinations {
    margin: 0 0;
}

.tab-component-button {
    border-top-left-radius: 0.3125rem;
    border-top-right-radius:  0.3125rem;
}

.active {
    border-top-color: orange;
    border-top-width:  0.3125rem;
}

.tabs-component_block {
    position: relative;
    display: block;
    margin: 0;
}

.tabs-component_block--content {
    background: #FFFFFF;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.05);
    margin: 0;

    position: relative;
}

.seatmap-flight-details-mobile {
    display: none;
}

.tabs-component_tab-item {
    width: 100%;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    min-height: 4.375rem;
    
    color: #222222;
    letter-spacing: 0.0625rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 0.0625rem solid #edebeb;
    border-top: 0.25rem solid #D3DBE8;
    margin: 0rem;
    min-width: 150px;

    border-right: solid 1px #E5E9F0;

    &:first-child {
        border-top-left-radius: 4px;
        &:after {
            content: '';
            display: none;
        }
    }
    &:last-child {
        border-top-right-radius: 4px;
        border-right-color: transparent;
    }

    &:before {
        content: '';
        position: absolute;
        top: -4px;
        right: -4px;
        // width: 6px;
        height: 4px;
        background-color: #D3DBE8;
    }

    &:after {
        content: '';
        display: block;
        height: 63px;
        width: 8px;
        z-index: 0;
        
        filter: blur(4px);
        -webkit-clip-path: inset(0 -100% 0 50%);
        clip-path: inset(0 -100% 0 50%);
        
        background: rgba(0,0,0,0.08);

        position: absolute;
        left: -4px;
        top: 0;
    }
    
    &.active {
        border-top: 4px solid #FF9F00;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 1px solid transparent;
        border-right-color: transparent;
        z-index: 3;

        // & + .tabs-component_tab-item {
        //     &:before {
        //     }
        // }

        &:after, &:before {
            content: '';
            display: block;
            height: 63px;
            width: 8px;
            z-index: 0;
            
            filter: blur(4px);
            -webkit-clip-path: inset(0 50% 0 -100%);
            clip-path: inset(0 50% 0 -100%);
            
            background: rgba(0,0,0,0.15);
    
            position: absolute;
            right: -4px;
            top: 0;
        }

        &:before {
            -webkit-clip-path: inset(0 50% 0 -100%);
            clip-path: inset(0 -100% 0 50%);
        }

        &:first-child {
            &:after {
                display: none;
            }
        }

        &:last-child {
            &:before {
                display: none;
            }
        }

        .tabs-flight-info_airport-code {
            color: #222;
        }
    }    
}

.tabs-component_wrap {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax( 6.25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax( 6.25rem, 1fr));

    button {
        position: relative;
        // margin: auto 5px;
        // min-width: 90vw;
        // -webkit-box-flex: 1;
        // -ms-flex-positive: 1;
        // flex-grow: 1;
    }
}

.tabs-component_wrap-more-flights {
    display: flex;
    overflow: hidden;
    margin-top: 0;
}

.multi-tab-navigator {
    @supports (display: grid) {
		display: grid;
        // grid-template-columns: repeat(2,50%);
    }
    line-height: 1;
    padding-bottom: 15px;

    .multi-tab-navigator__link:first-child {
        display: none;
        .ico-chevron--blue {
            transform: rotate(180deg);
        }
    }

    .multi-tab-navigator__link:last-child {
        text-align: right;
    }
}

.multi-tab-navigator__link {
    margin-top: 0;
    font-size: 0.75rem;

    .ico-chevron--blue {
        display: inline-block;
        margin-top: 0;
    }
}

// Extra Small devices (portrait phones, max 576px)
@media (max-width: $breakpoint-small-devices) {
    .wrap-control {
        width: 100%;
        overflow: hidden;
    }
    
    .multi-tab-navigator {
        display: none;
    }

    .flight-tab-item-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 3.75rem;
        height: 3.75rem;
        margin: 0;
        padding: 0;
        background-color: #2275D3;
        border-radius: 50%;
        z-index: 11;

        .ico-chevron {
            width: 14px;
            height: 14px;
            display: block;
            background-size: contain;
            position: absolute;
            top: 50%;
        }

        &.flight-tab-item-button--prev {
            left: -1.875rem;

            .ico-chevron {
                transform: translate(-12px, -50%) rotate(90deg);
                right: 0;
            }
        }

        &.flight-tab-item-button--next {
            right: -1.875rem;

            .ico-chevron {
                transform: translate(10px, -50%) rotate(-90deg);
            }
        }
    }

    .tabs-component__control {
        display: flex;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices) and (max-width: 767px){ 
    .wrap-control {
        width: 100%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) and (max-width: 991px){ 
   .wrap-control{
       width: 100%;
   }
   .tabs-component__control {
       display: flex;
   }
}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) {
    .tabs-component_wrap-more-flights {
        &:after {
            z-index: 1;
            content: '';
            width: 100%;
            height: 94%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 10%);
        }
    }

    .tabs-component__control {
        display: flex;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) { 
    .tabs-component__control {
        display: flex;
    }
}