<div class="container-center">
    <slot name="tab-navigator"></slot>
    <div class="tabs-component wrap-control" role="tab">
        <div :class="{'tabs-component_wrap': value.allFlightSegmentDetails.length > 1,'tabs-component_wrap-more-flights':(windowWidth > 767 && value.allFlightSegmentDetails.length > 6) || (value.allFlightSegmentDetails.length > 2 && windowWidth <= 767)}">
            <slot name="tab-data"></slot>
        </div>
    </div>
    <slot name="tab-content"></slot>
</div>