<div class="adds-on-landing-component">

	<component-loader ref="header" :components="headerComponent"></component-loader>

	<div class="container-center">
		<a href="javascript:void(0)" class="btn btn-1" @click="showHotel()" style="display:block; margin: 50px 0;">View more
			hotel</a>
	</div>

	<component-loader :components="components"></component-loader>

	<component-loader :components="asideComponents"></component-loader>

	<footer-component :footerdata="pageData.footerData"></footer-component>

	<adds-on-hotel-modal></adds-on-hotel-modal>
</div>