@import './src/assets/styles/atoms/import/_color_palette';
@import './src/assets/styles/atoms/import/_color_theme';
@import './src/assets/styles/atoms/mixins/_icon';
@import "./src/assets/styles/atoms/import/_breakpoints";

%ticker_base_styles {
	color: #fff;
    text-transform: uppercase;
    background: #444;
    border-radius: 2px;
    font-weight: 600;
    position: relative;
    width: 40px;
    text-align: center;
    font-size: 1rem;
    padding: 1px 5px;
}

%input_icon_base_style {
	background-position: 95% center;
	background-repeat: no-repeat;
}

.booking_widget {
	.page_header {
		font-size: 1.25rem;
		font-weight: 400;
		margin: 0 0 1.56rem;
	}
	.separator {
		margin: 0 0 1.25rem;
	}
}

.form_field_wrapper.flight_date {
	.calendar-root {
        width: 100%;

        .form_control:last-child{
            margin-right: 0;
        }
    }
}

// Group controls border adjusments
//
.form_fields_container {
    .form_control.has-float-label {
        margin-right: 0;
    }
}
.form_fields_container.flight_boarding_details {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-column-gap: 0.9rem;

    .btn-primary {
        width: 100%;
        height: 3.125rem;
        float: right;
    }
}

.passenger-selection, .vue-simple-suggest {
    width: 100%;
}
.form_control.field__radiobox input[type="radio"] + label {
    padding-right: 7px;
}



.form_fields_container.flight_iterinary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 0.9rem), 1fr));
    grid-column-gap: 0.9rem;
}

.booking_actions--main {
	display: flex;
	.form_control {
		flex-direction: row;
        position: relative;

        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
	}
}

.booking_actions .form-controls {
	display: flex;
}

.booking_actions--secondary {
    display: flex;

    a {
        text-decoration: none;
        font-size: 0.875rem;
    }

    .form_control:last-child {
        margin-right: 0;
        position: relative;

        &:before {
            display: block;
            content: '';
            width: 1px;
            height: 10px;

            position: absolute;
            left: -10px;
            top: 6px;

            border-left: solid 1px #E5E9F0;
        }
    }
}

.booking_actions--secondary > * {
	margin-right: 20px;
	font-size: 0.85em;
	line-height: 1.7;
}

.form_fields_container.booking_actions .form_controls {
	justify-content: space-between;
	display: flex;
    width: 100%;
}

.booking_actions--main .booking_actions--main .form_control>* {
	display: flex;
}

.field__radiobox a.tooltip--inline {
	display: inline-block;
	position: relative;
	height: 14px;
	margin-left: -3px;
	.icon {
		display: inline-block;
		top: 2px;
	}
}

/* Flight ticker show/hide */
.flight_od .input_wrapper.open .flight__ticker, .flight_od .focus .flight__ticker {
    display: none;
    pointer-events: none;
    background-color: white;
}

.flight_od .input_wrapper .flight__ticker {
    display: block;
    pointer-events: none;
    position: absolute;
    top: 19px;
    left: 16px;
    background-color: white;
}

.flight__origin_Text:empty, .country__ticker:empty {
    display: none;
}

.focus .flight__ticker{
    display: none;
}

/* 'Recent Searches' component */

.flight_search_history {
	// display: flex;
    display: grid;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;

	.flight_search_item {
		position: relative;
		padding: 0.5rem 1.875rem 0.5rem 0.5rem;
		background: $util-neutral-2;
		border-radius: 2px;
		color: #000;
		// margin-right: 1.5em;
        font-size: 0.625rem;

		&:last-child {
			margin-right: 0;
		}
		.flight_destination {
			font-weight: bold;
		}
	}
	.icon-round-close {
		display: block;
		width: 0.875rem;
		height: 0.875rem;
		position: absolute;
		top: 50%;
		right: 0.5rem;
		transform: translateY(-50%);
		cursor: pointer;
	}
}
/* 'Recent Searches' component end */

.country__ticker {
	@extend %ticker_base_styles;
	pointer-events: none;
}

.flight__origin_Text {
    font-size: 1rem;
    font-weight: 700;
}

.flight_boarding_details  {
	.input_wrapper {
		@include render-icon('icon-chevron');
		@extend %input_icon_base_style;
	}
}

.passenger-selection  {
	.input_wrapper {
		&.open {
			@include render-icon('icon-chevron-up');
		}
	}
}

/* Extend suggestions */
.cabin__class {
	.input_wrapper.open {
		@include render-icon('icon-chevron-up');
		@extend %input_icon_base_style;
	}
	.suggestions {
		width: 100%;

		.suggest-item.selected {
			@include render-icon('icon-tick-orange');
			@extend %input_icon_base_style;
		}

		.suggest-item {
			&:hover {
				background-color: $util-neutral-2;
			}
			padding: 10px 15px;
			font-size: 0.875rem;
		}

	}
}

.icon {
    right: 15px;
    top: 15px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 20px;
}

.icon.icon--plane.od_field__icon {
    right: -11px;
    z-index: 100;
    background-color: #fff;
}


a .icon_close {
	pointer-events: none;
}

.validation_container {
	display: block;
    color: #e20000;
}

.input_wrapper {

    &.validation_container_error {
        border-color: #e20000;
    }

    .validation_form_label_error {
        color: #e20000;
    }
}

.control_group {

    &.faded {
        opacity: 0.4;
    }

}

.hidden {
	display: none;
}

.booking_search_history .label-wrapper span.small {
    height: 10px;
	border-left: 2px solid $primary-orange;
	color: $primary-color;
	font-size: 0.625rem;
	padding-left: 0.625rem;

}

/* Passenger list */
.passenger-selection .passenger-list {

	.passenger__count .room__accommodation {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}


}

.booking-tooltip {
    display: block;
    z-index: 1000;

    .tooltip-wrapper__btn--close{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px;
    }

    .tooltip-wrapper__text{
        font-size: 13px;
        color:#333;
    }
    .booking-tooltip-inner {
      background: white;
      color: black;
      box-shadow: 0 5px 30px rgba(black, .1);
      border-radius: 5px;
      padding: 20px 13px 15px 15px;
    }

    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: white;
      z-index: 1;
    }

    &[x-placement^="top"] {
      margin-bottom: 1px;

      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
		margin-bottom: 0;
	  }

	  .booking-tooltip-inner {
		background: white;
		color: black;
		box-shadow: 0 5px 30px rgba(black, .1);
		border-radius: 5px;
		// padding: 5px 10px 4px;
		// margin-left: calc(50% - 300px);
		// margin-right: calc(50% - 300px);
	  }
    }

    &[x-placement^="bottom"] {
      margin-top: 1px;

      .wrapper {
        border: 0.0625rem solid #ccc;
        border-radius: 0.1875rem;
        width: 15rem;
      }

      .tooltip-arrow {
        // border-width: 0 5px 5px 5px;
        // border-left-color: transparent;
        // border-right-color: transparent;
        // border-top-color: transparent;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;

        background: white;
        height: 0.625rem;
        width: 0.625rem;
        transform: rotate(135deg);
        border: 0.0625rem solid #ccc;
        border-right-color: transparent;
        border-top-color: transparent;
	  }

	  .booking-tooltip-inner {
		background: white;
		color: black;
		// box-shadow: 0 5px 30px rgba(black, .1);
		border-radius: 5px;
		// padding: 5px 10px 4px;
		// margin-left: calc(50% - 300px);
        // margin-right: calc(50% - 300px);
        position: relative;
	  }
    }

    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }

  &.info {
    $color: rgba(#004499, .9);

    .booking-tooltip-inner {
      background: $color;
      color: white;
      padding: 24px;
      border-radius: 2px;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: 250px;
    }

    .tooltip-arrow {
      border-color: $color;
    }
  }
}

.sia_holiday {
    background-image: url(/assets/images/sia-holidays.png);
    background-position: center center;
    width: 103px;
    height: 40px;
    display: inline-block;
    margin-top: -10px;
    margin-right: 0;
}


/* Flight Updates */

.flight__update_selection {
	display: flex;

	> * {
		display: flex;
    	flex-direction: column;
	}
}

/*----for by flight number radio button in flight status-----*/
.card_body .by_route .field__radiobox {
    margin-right: 8px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) and (max-width: 991px) {
    .form_fields_container.flight_iterinary {
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0.9rem;
        grid-row-gap: 20px;
    }
    .booking_actions--main .form_control {
        margin-right: 25px;
    }
    .form_control.field__radiobox input[type="radio"] + label {
        padding: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) {

    .form_control {
        .popover-container {
            &.v-popover {
                position: relative;
                right: 0;
                padding: 0;
                margin-left: 0;
                display: inline-block;

                .icon-info {

                    &.icon {
                        position: relative;
                        display: inline-block;
                        top: 0;
                        right: 0;
                        vertical-align: sub;
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) {

}