/*ACCORDION*/

.accordion-item {
    margin-bottom: 2px;

    .accordion-header {
        position: relative;
        background: #fff;
        height: 60px;
        overflow: hidden;

        a {
            display:  block;
            height:  100%;
            width:  100%;
            padding: 20px;
            overflow: hidden;
        }

        .accordion-title {
            font-size: 16px;
            font-weight: bold;
            color: #00266b;
            float: left;
            width: 50%;
        }

        .accordion-subtotal {
            font-weight: normal;
            font-size: 16px;
            color: #222222;
            float: right;
            width: 50%;
            text-align: right;

            strong{
                font-size: 16px;
            }

            .ico-chevron--blue {
                display:  inline-block;
                vertical-align: middle;
                background-size:  contain;
                transform: rotate(90deg);
                margin-left: 20px;
                width:  15px;
                height:  15px;
                margin-top: -5px;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            } 
        }

        &.active .ico-chevron--blue {
            transform: rotate(270deg);
        }
         
    }

    .accordion-body {
        background: #e5e9f0;
        max-height: none;
        overflow: hidden;

        .accordion-content {
            background: #fff;
            border-radius: 5px;
            padding: 20px;
            margin: 20px;
            position: relative;
        }  

        &.v-collapse-content{
            max-height:0;
            transform-origin:top; 
            overflow:hidden;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
        }

        &.v-collapse-content-end{
            /*max-height:2500px;*/
            max-height:500vh;
        }
    }
}     

/*END OF ACCORDION*/