<section class="payment-accordion-container">
    <!-- PAYMENT ACCORDION COMPONENT -->
    <v-collapse-group :onlyOneActive="true" class="accordion-wrapper">
        <v-collapse-wrapper class="accordion-item" v-on:onStatusChange="activeClass" v-bind:class="{active: isActive}">
            <div class="accordion-header" v-collapse-toggle>
                <a href="#">
                    <div class="accordion-title">1. Itinerary</div>
                    <div class="accordion-subtotal">Subtotal <span class="sub-currency">{{bookingsummarydata.bookingSummary.currency}}</span> <span class="sub-price">{{toCurrency(bookingsummarydata.bookingSummary.itineraryTotal)}}</span>
                        <span class="ico-chevron--blue"></span>
                    </div>
                </a>
            </div>
            <div class="accordion-body" v-collapse-content>
                <div class="booking-info-group">
                    <booking-info-component :bookinginfodata="pageData.bookingData"></booking-info-component>
                </div>
                <div class="flights-info-group">
                    <flight-info-component :flightinfodata="pageData.bookingData"></flight-info-component>
                </div>
            </div>
        </v-collapse-wrapper>
        <v-collapse-wrapper class="accordion-item" v-on:onStatusChange="activeClass" v-bind:class="{active: isActive}">
            <div class="accordion-header" v-collapse-toggle>
                <a href="#">
                    <div class="accordion-title">2. Passengers and flight-related add-ons</div>
                    <div class="accordion-subtotal">Subtotal <span class="sub-currency">{{bookingsummarydata.bookingSummary.currency}}</span> <span class="sub-price">{{toCurrency(bookingsummarydata.bookingSummary.passengerFlightAddonTotal)}}</span>
                        <span class="ico-chevron--blue"></span>
                    </div>
                </a>
            </div>
            <div class="accordion-body" v-collapse-content>
                <div class="flight-addons-group">
                    <flight-addon-component :flightaddoninfo="pageData.bookingData"></flight-addon-component>
                </div>
                <div class="flights-passenger-group">
                    <pax-packs-component :paxinfo="pageData.bookingData"></pax-packs-component>
                </div>
            </div>
        </v-collapse-wrapper>
        <v-collapse-wrapper class="accordion-item" v-on:onStatusChange="activeClass" v-bind:class="{active: isActive}">
            <div class="accordion-header" v-collapse-toggle>
                <a href="#">
                    <div class="accordion-title">3. Trip add-ons </div>
                    <div class="accordion-subtotal">Subtotal <span class="sub-currency">{{bookingsummarydata.bookingSummary.currency}}</span> <span class="sub-price">{{toCurrency(bookingsummarydata.bookingSummary.tripAddonTotal)}}</span>
                        <span class="ico-chevron--blue"></span>
                    </div>
                </a>
            </div>
            <div class="accordion-body" v-collapse-content>
                <div class="trip-addons-group">
                    <trip-addons-component :tripaddoninfo="pageData.bookingData"></trip-addons-component>
                </div>
            </div>
        </v-collapse-wrapper>
        <v-collapse-wrapper class="accordion-item" v-on:onStatusChange="activeClass" v-bind:class="{active: isActive}">
            <div class="accordion-header" v-collapse-toggle>
                <a href="#">
                    <div class="accordion-title">4. Cost breakdown per passenger</div>
                    <div class="accordion-subtotal"><strong>Grand total <span class="sub-currency">{{bookingsummarydata.bookingSummary.currency}}</span> <span class="sub-price">{{toCurrency(bookingsummarydata.bookingSummary.grandTotal)}}</span></strong>
                        <span class="ico-chevron--blue"></span>
                    </div>
                </a>
            </div>
            <div class="accordion-body" v-collapse-content>
                <div class="accordion-content">
                    <cost-breakdown-component :costinfo="pageData.bookingData"></cost-breakdown-component>
                </div>
            </div>
        </v-collapse-wrapper>
    </v-collapse-group>
    <!-- PAYMENT ACCORDION COMPONENT -->
</section>