<div class="hangar-atomic-library container-center">

    <div class="hangar_bay">
        <!-- Component Start -->
        <section class="booking_wrapper">
            <div class="card booking_widget">
                <div class="card_heading">
                    <h1 class="page_header">Get flight status updates</h1>
                </div>
                <hr class="separator">
                <div class="card_body">
                    <div class="flight__update_selection">
                        <div class="flight_status__route">
                            <div class="form_fields_container booking_actions">
                                <div class="form_field_wrapper">
                                    <div class="form_controls">
                                        <div class="booking_actions--main">
                                            <div class="form_control field__radiobox">
                                                <input value="bookFlight" type="radio" name="flight-radio" id="bookFlights" class="input__radio">
                                                <label for="bookFlights" class="form__label">By route</label>
                                                <a href="#" class="tooltip--inline">
                                                    <span class="icon icon-info"></span>
                                                </a>
                                            </div>
                                            <div class="form_control field__radiobox">
                                                <input value="redeemFlight" type="radio" name="flight-radio" id="redeemFlights" class="input__radio">
                                                <label for="redeemFlights" class="form__label">By flight number</label>
                                                <a href="#" class="tooltip--inline">
                                                    <span class="icon icon-info"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_field_wrapper flight_od">
                                <div class="form_controls">
                                    <div class="control_group">
                                        <div class="form_control has-float-label">
                                            <div class="vue-simple-suggest designed">
                                                <div class="input_wrapper">
                                                    <input type="text" name="flightOrigin" id="flightOriginField" placeholder=" " class="form_field form_input--text ref--searchinput">
                                                    <label for="flightOrigin" class="form_label">From</label>
                                                    <div class="flight__ticker">
                                                        <span class="flight__origin_Text">Singapore</span>
                                                        <span class="country__ticker">SIN</span>
                                                    </div>
                                                    <span class="icon icon--location"></span>
                                                    <a href="#">
                                                        <span class="icon icon--close"></span>
                                                    </a>
                                                    <span class="icon icon--plane od_field__icon"></span>
                                                    <small class="validation_container hidden">
                                                        <span class="error">Please select city</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_control has-float-label">
                                            <div class="vue-simple-suggest designed">
                                                <div class="input_wrapper">
                                                    <input type="text" name="flightDestination" id="flightDestinationField" placeholder=" " class="form_field form_input--text ref--searchinput">
                                                    <label for="flightDestination" class="form_label">To</label>
                                                    <span class="icon icon--location"></span>
                                                    <small class="validation_container hidden">
                                                        <span class="error">Please select city</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flight_update__schedule">
                            <div class="form_fields_container">
                                <div class="form_controls">
                                    <div class="toggle__switch">
                                        <div class="toggle__switch_state toggle__switch_state--selected">Depart</div>
                                        <div class="toggle__switch_state">Arrive</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_field_wrapper flight_date">
                                <div class="form_controls">
                                    <div class="control_group has-float-label">
                                        <div class="calendar-root">
                                            <div class="control_group">
                                                <div class="form_control">
                                                    <div class="input_wrapper">
                                                        <input type="text" name="departDate" id="departDateField" placeholder=" " class="form_field form_input--text ref--start">
                                                        <label for="departDate" class="form_label">Depart Date</label>
                                                        <span class="icon icon--calendar"></span>
                                                        <small class="validation_container hidden">
                                                            <span class="error">Validation message</span>
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form_control">
                                                    <div class="input_wrapper">
                                                        <input type="text" name="returnDate" id="returnDateField" placeholder=" " class="form_field form_input--text ref--end">
                                                        <label for="returnDate" class="form_label">Return Date</label>
                                                        <span class="icon icon--calendar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banner__notification banner--image-left">
                        <div class="banner__image_container">
                            <img src="/assets/images/flight-notification.png" alt="Get flight notifications" class="banner__image img banner__image--flight-updates"></div>
                        <div class="banner__notification_copy">
                            <h4 class="banner__notification_heading">Get flight notifications on your phone</h4>
                            <p class="banner__notification_text">Stay updated with flight notifications on WhatsApp. <a href="#">Connect with us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Component Start -->
    </div>

    <small class="small hangar-heading">Dropdown selections</small>

    <div class="hangar_bay">
            <small class="small-2 hangar-heading">Passenger dropdown: <strong>Room accommodation</strong></small>
    
            <!-- Component Start -->
            
            <div class="passenger__count" style="width: 400px;">
                <div class="room__accommodation">
                    <h4 class="heading-4">Room 1</h4>
                    <div class="room__accommodation_count">
                        <div class="dropdown__entry room__accommodation--entry room__accommodation--adult">
                            <div class="room__accommodation_count--adult-count">
                                <div class="dropdown__label"><strong>Adult</strong> <span class="room__accommodation--age-range">12 years and above</span></div>
                                <div
                                    class="dropdown__control room__accommodation--number-ticker">
                                    <div class="input__number--ticker">
                                        <div class="input__number--ticker-control"><button href="#" class="btn--image_icon input__number--ticker-minus minimum_number"></button></div>
                                        <div class="input__number--ticker-number">1</div>
                                        <div class="input__number--ticker-control"><button href="#" class="btn--image_icon input__number--ticker-plus"></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown__entry room__accommodation--children">
                            <div class="room__accommodation--children-count">
                                <div class="dropdown__label"><strong>Children</strong> <span class="room__accommodation--age-range">2-17 years at time of travel</span></div>
                                <div class="dropdown__control room__accommodation--number-ticker">
                                    <div class="input__number--ticker">
                                        <div class="input__number--ticker-control"><button class="btn--image_icon input__number--ticker-minus"></button></div>
                                        <div class="input__number--ticker-number">2</div>
                                        <div class="input__number--ticker-control"><button class="btn--image_icon input__number--ticker-plus"></button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="room__accommodation--child-count">
                                <div id="dropdown__entry_1" class="dropdown__entry">
                                    <div class="dropdown__label"><strong>Child 1</strong></div>
                                    <div class="dropdown__control room__accommodation--number-ticker">
                                        <div class="form_field_wrapper has-float-label">
                                            <div class="form_control">
                                                <div class="vue-simple-suggest designed">
                                                    <div class="input_wrapper"><input readonly="readonly" type="text" name="childAge" id="childAge" class="form_field form_input--text ref--searchinput">
                                                        <label for="childAge" class="form_label">Child's Age</label><a href="#"><span
                                                                class="icon icon--chevron-down"></span></a> </div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dropdown__entry_2" class="dropdown__entry">
                                    <div class="dropdown__label"><strong>Child 2</strong></div>
                                    <div class="dropdown__control room__accommodation--select-age">
                                        <div class="form_field_wrapper has-float-label">
                                            <div class="form_control">
                                                <div class="vue-simple-suggest designed">
                                                    <div class="input_wrapper"><input readonly="readonly" type="text" name="childAge" id="childAge" class="form_field form_input--text ref--searchinput">
                                                        <label for="childAge" class="form_label">Child's Age</label><a href="#"><span
                                                                class="icon icon--chevron-down"></span></a> </div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown__entry room__accommodation--entry room__accommodation--infant">
                            <div class="room__accommodation_count--infant-count">
                                <div class="dropdown__label"><strong>Infant</strong> <span class="room__accommodation--age-range">0-23 months at time of travel</span></div>
                                <div class="dropdown__control room__accommodation--number-ticker">
                                    <div class="input__number--ticker">
                                        <div class="input__number--ticker-control"><button class="btn--image_icon input__number--ticker-minus minimum_number"></button></div>
                                        <div
                                            class="input__number--ticker-number">1</div>
                                        <div class="input__number--ticker-control"><button class="btn--image_icon input__number--ticker-plus"></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown__controls--footer-action">
                    <div class="secondary_action"><a href="#" class="link__action">+ Add another room</a></div>
                    <div class="primary_action"><button class="btn-primary">DONE</button></div>
                </div>
            </div>
            <!-- Component End -->
    
            <span class="spacer"></span>         
        </div>

    <div class="hangar_bay">
        <small class="small-2 hangar-heading">OD Location dropdown: <strong>Default and Hover</strong></small>

        <!-- Component Start -->
        
        <div class="suggestions">
            <div class="suggestion__entry">
                <div class="suggestion__city"><span class="predictive__search_key--tagged">Sin</span>gapore</span>
                    <span class="suggestion__country"><span class="predictive__search_key--tagged">, Sin</span>gapore</span>
                </div>
                <div class="small-1 suggestion__airport">Changi Intl</div>
                <div class="suggestion__city_code">SIN</div>
            </div>
            <div class="suggestion__entry">
                <div class="suggestion__city">
                    <span class="suggestion__city"><span class="predictive__search_key--tagged">Manila</span>
                    </span>
                    <span class="suggestion__country">
                        <span class="predictive__search_key--tagged">, Philippines</span>
                    </span>
                </div>
                <div class="small-1 suggestion__airport">Churva Chuchu
                    <span class="predictive__search_key--tagged">Sin</span> Chan</div>
                <div class="suggestion__city_code">PHL</div>
            </div>
        </div>
        <!-- Component End -->

        <span class="spacer"></span>         
    </div>


    <div class="hangar_bay">
    <!-- Component Start -->
    <booking-component></booking-component>
    <!-- Component End -->
    </div>

    <div class="hangar_bay">
        <div class="typography">

            <small class="small hangar-heading">HEADINGS</small>

            <h1 class="heading-1">
                Heading level 1, Proxima Nova Bold 24px
            </h1>
            <h2 class="heading-2">
                Heading level 2, Proxima Nova Bold 20px
            </h2>
            <h3 class="heading-3">
                Heading level 3, Proxima Nova Bold 18px
            </h3>
            <h4 class="heading-4">
                Heading level 4, Proxima Nova Bold 16px
            </h4>

            <h3 class="subheader-1">
                Subheader level 1, Proxima Nova Semibold 16px
            </h3>
            <h3 class="subheader-2">
                Subheader level 2, Proxima Nova Semibold 14px
            </h3>

            <p>
                <small class="small-1">
                    SMALL LEVEL 1, PROXIMA NOVA BOLD 12PX, LETTER SPACING 1PX
                </small>
            </p>

            <p>
                <small class="small-2">
                    SMALL LEVEL 2, PROXIMA NOVA BOLD 10PX, LETTER SPACING 1PX
                </small>
            </p>
        </div>
    </div>
 

    <hr class="separator">

    <small class="small hangar-heading">Input Fields</small>
    <span class="spacer"></span> 
    
    <div class="hangar_bay">
        <small class="small-2 hangar-heading">Field with icon</small>

        <!-- Field Start -->
        <div class="form_field_wrapper">
            <div class="form_controls">
                <div class="form_control has-float-label">
                    <div class="input_wrapper custom_input_control--floating-label">
                            <input type="text" name="departDate" id="departDateField" placeholder=" " class="form_field form_input--text"> 
                            <label for="departDate" class="form_label field_focused">Depart Date</label>
                            <span class="icon icon--calendar"></span> 
                        </div>
                        <small class="validation_container">
                            <span class="error">Invalid date</span>
                        </small>
                </div>
            </div>
        </div>
        <!-- Field End -->

        <span class="spacer"></span>         
    </div>

    <div class="hangar_bay">
            <small class="small-2 hangar-heading">Checkbox</small>
    
            <!-- Field Start -->
            <div class="form-control field__radiobox">
                <label for="bookFlights" class="form__label">
                    <input type="radio" class="input__radio" name="bookFlights" id="bookFlights">Book flights
                </label>
                <span class="icon icon--close"></span>
            </div>
            <!-- Field End -->
    
            <span class="spacer"></span>         
        </div>
    <button type="button" @click="openModal()">  Just click right here</button>
        <light-box-component class="mobile-lightbox" :id="'6'" :active="showEmergencyModal" v-on:lightbox-closed="closeModal(seatno+seatdata.column)">
            <div @click="closeModal()" slot="body">
                hello kitty
            </div>
        </light-box-component>

</div>