<section class="payment-allocation-container">

    <!-- PAYMENT ALLOCATION LIGHTBOX -->
        <h1 class="page_header">Payment Allocation</h1>
        <p>When you pay with KrisFlyer miles, you’ll only earn miles on the portion of the fare that’s paid with a credit/debit card. The allocation of your payment in KrisFlyer miles and credit/debit card is shown below, and is designed to maximise the number of miles you’ll earn on this booking.</p>

        <table class="table-allocation">
            <thead>
              <tr>
                <th>Passengers</th>
                <th>KrisFlyer miles</th>
                <th>Credit / Debit card (SGD)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h3 class="title-1">1.Prentice mathew</h3>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <h4 class="title-2">Fare (Adult)</h4>
                </td>
                <td>-</td>
                <td>2,525.70</td>
              </tr>
              <tr class="type-1">
                <td>
                  <h4 class="title-2">Preferred Seat</h4>
                </td>
                <td>-</td>
                <td>60.00</td>
              </tr>
              <tr>
                <td>
                  <h3 class="title-1">2.Dongni Guo
                    <span>&nbsp;(nominee)</span>
                  </h3>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <h4 class="title-2">Fare (Adult)</h4>
                </td>
                <td>23,480</td>
                <td>150.00</td>
              </tr>
              <tr class="type-1">
                <td>
                  <h4 class="title-2">Preferred Seat</h4>
                </td>
                <td>7,840</td>
                <td>10.00</td>
              </tr>
              <tr>
                <td>
                  <h3 class="title-1">3.SHIH SING LIM
                    <span>&nbsp;(NON-nominee)</span>
                  </h3>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <h4 class="title-2">Fare (Adult)</h4>
                </td>
                <td>-</td>
                <td>2,525.70</td>
              </tr>
              <tr class="type-1">
                <td>
                  <h4 class="title-2">Preferred Seat</h4>
                </td>
                <td>-</td>
                <td>60.00</td>
              </tr>
            </tbody>
        </table>

        <div class="grand-total">
            <p class="title">Grand total</p>
            <p class="info">353,036 miles + SGD 2,745.70</p>
            <a href="#" class="btn-primary" data-close="">
              <span class="text">OK</span>
            </a>
        </div>

    <!-- END OF PAYMENT ALLOCATION LIGHTBOX -->

</section>