/*PAYMENT ALLOCATION LIGHTBOX*/
.payment-allocation-lightbox {
    
    .page_header{
        margin-top: 0;
    }

    p {
        font-size: 14px;
        color: #000;
        line-height: 20px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
       
        th {
            padding: 10px 0;
            font-weight: normal;
            color: #666;

            &:first-child {
                width: 45%;
                text-align: left;
            }

            &:nth-child(2) {
                width: 20%; 
                text-align: right;
            }

            &:last-child {
                width: 35%; 
                text-align: right;
            }
        }

        .type-1 {
            td {
                border-bottom: 1px solid #ededed;
                padding-bottom: 25px;
            }
        }

        td {
            padding: 10px 0;
            color: #333;

            h3 {
                font-weight: 700;
                text-transform: uppercase;
                color: #000;
                margin: 0;
                font-size: 14px;

                span {
                    color: #b2b2b2;
                    font-weight: 600;
                }
            }

            h4 {
                margin: 0;
            }

            &:nth-child(2), &:last-child {
                text-align: right;
            }

        }
    }

    .grand-total {
        text-align: right;

        .title {
            margin-top: 0;
            color: #000000;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .info {
            display: block;
            font-family: "baker-signet-web", serif;
            line-height: 1;
            color: #00266b;
            text-align: right;
            margin-bottom: 10px;
            margin-top: 5px;
            text-transform: none;
            font-size: 28px;
        }

        .btn-primary {
            display: block;
            max-width: 140px;
            width: 100%;
            margin: 20px 0 0 auto;
            text-align: center;
        }
    }
}

/*END OF PAYMENT ALLOCATION LIGHTBOX*/