<section class="hp-section sign-up">
  <div class="hp-container">
    <div class="sign-up__content" v-if="signUp">
      <h1 class="sign-up__title">{{signUp.title}}</h1>
      <h4 class="sign-up__description">{{signUp.description}}</h4>
      <a class="sign-up__btn" :href="signUp.cta.link">{{signUp.cta.name}}</a>
    </div>
  </div>
</section>
