$gutter: 10px;
// screen break points
$break-point-mobile: 576px;
$break-point-tablet: 768px;
$break-point-desktop: 992px;
$break-point-desktop-large: 1200px;

$media-screen-smallest: '(max-width: #{$break-point-mobile - 1})';
$media-screen-mobile: '(max-width: #{$break-point-tablet - 1})';
$media-screen-tablet: '(min-width: #{$break-point-tablet}) and (max-width: #{$break-point-desktop - 1})';
$media-screen-desktop: '(min-width: #{$break-point-desktop})';
$media-screen-desktop-large: '(min-width: #{$break-point-desktop-large})';

.sign-up {
  background-image: url('/assets/images/background-sign-up.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 330px;

  &__container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title {
    font-family: 'sigvar';
    font-size: 26px;
    font-weight: 400;
    color: #00266b;
    margin-top: 0;
  }

  &__description {
    width: 50%;
    font-size: 16px;
    color: #222222;
    font-weight: 200;
    line-height: 28px;
  }

  &__btn {
    width: 150px;
    height: 35px;
    border: none;
    color: #ffffff;
    background-color: #00266b;
    border-radius: 3px;
    text-transform:uppercase;
    display: block;
    text-align: center;
    line-height: 35px;
    font-size: 11px;
    letter-spacing: 1.5px;
    font-weight: 100;
  }

  @media #{$media-screen-desktop-large} {
    &__container {
      max-width: 1140px;
    }
  }

  @media #{$media-screen-desktop} {
    &__container {
      max-width: 960px;
    }
  }

  @media #{$media-screen-tablet} {
    &__container {
      max-width: 720px;
    }
  }

  @media #{$media-screen-mobile} {
    background-image: url('/assets/images/background-sign-up-mobile.png');
    background-size: 100% 65%;
    background-position: top center;
    height: 600px;

    &__image {
      height: 430px;
      background-image: url("/assets/images/background-sign-up-mobile.png");
    }

    &__container {
      max-width: 540px;
    }

    &__content {
      top: 65%;
      transform: none;
      max-width: 540px;
    }

    &__title {
      margin-top: 20px;
    }

    &__description {
      width: 100%;
    }

  }

  @media #{$media-screen-smallest} {
    background-image: url('/assets/images/background-sign-up-mobile.png');
    background-position: top center;
    background-size: 100% 48%;
    height: 570px;

    &__container {
      max-width: 100%;
    }

    &__content {
      top: 48%;
      transform: none;
    }

    &__title {
      margin-top: 20px;
    }

    &__description {
      width: 100%;
    }
  }
}
