/*COST BREAKDOWN*/
.total-titles {
    width:  100%;
    margin-bottom:  10px;
    color: #00266B;
    font-size: 14px;
    font-weight: bold;
    display: flex;

    .total-services-title {
        display:  inline-block;
        vertical-align:  baseline;
        width:  50%;
        margin-left: 31%;
    }

    .total-amount-title {
        float:  right;
    }
}

.cost-breakdown {
    border: 1px solid #ccc;
}

.person-total-details {
    border-bottom: 2px solid #ccc;
    padding:  20px 20px 0;
    display:  flex;

    .person-name {
        display: inline-block;
        vertical-align:  top;
        width:  30%;
        color: #222222;
        font-size: 14px;
        font-weight: bold;
    }

    .airfare-details {
        display:  inline-block;
        vertical-align:  top;
        width: 70%;

        .airfare-list {
            border-bottom: 2px solid #ccc;

            .airfare-title {
                color: #222222;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;
                display:  block;

                .airfare-amount {
                    float:  right;
                }
            }

            .services-tax {
                color: #222222;
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 10px;
                display:  block;

                .airfare-amount {
                    float:  right;
                }
            }

        }

        .deals-info {
            border-bottom: 2px solid #ccc;
            padding-top: 10px;

            .deals-title {
                color: #222222;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;
                display:  block;
            }

            .deals-item {
                color: #222222;
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 10px;
                display:  block;

                .airfare-amount {
                    float:  right;
                }
            }
        }

        .subtotal-info {
            color: #222222;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 10px;
            display:  block;
            padding-top: 10px;

            .airfare-amount {
                float:  right;
            }
        }
    }
}

.trip-addons-details {
    padding: 20px 20px 0;
    display: flex;

    .addons-details {
        display: inline-block;
        vertical-align: top;
        width: 70%;
        margin-left:  30%;

        .trip-addons-list {
            border-bottom: 2px solid #ccc;

            .trip-add-title {
                color: #222222;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;
                display: block;
            }

            .trip-add-item {
                color: #222222;
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 10px;
                display: block;

                .trip-amount {
                    float: right;
                }
            }
        }

        .subtotal-info {
            color: #222222;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 10px;
            display:  block;
            padding-top: 10px;

            .addons-amount {
                float:  right;
            }
        }
    }
}

.grand-total {
    padding:  30px 20px 0;
    max-width:  450px;
    margin: 0 0 0 auto;

    .grand-total-title {
        color: #222222;
        font-size: 20px;
        font-weight: bold;

        .total-aud-amount {
            float:  right;
        }

    }

    .includes {
        text-align: right;
        color: #222222;
        font-size: 12px;
        font-weight: normal;
        display:  block;
        margin-bottom: 10px;
    }

    .grand-total-list {
        border-top: 1px solid #222222;
        padding-top:  10px;

        .payables {
            color: #222222;
            font-size: 16px;
            font-weight: normal;
            display:  block;

            .payables-amount {
                float:  right;
            }

            .payable-info {
                display:  inline-block;
                vertical-align: baseline;
            }

            .tooltip-inline {
                display:  inline-block;
                vertical-align:  middle;
                margin-left:  10px;
            }
        }
    }
}

/*END OF COST BREAKDOWN*/