<section class="cost-breakdown-container">
    <!-- COST BREAKDOWN COMPONENT -->
    <div class="total-titles">
        <div class="total-services-title">Services</div>
        <div class="total-amount-title">Amount <span class="total-amount-currency">(NZD)</span></div>
    </div>
    <div class="cost-breakdown">
        <div class="total-details">
            <div class="person-total-details" v-for="summary in costinfo.bookingSummary.passengerFlightAddOns">
                <div class="person-name">{{summary.passengerName}}</div>
                <div class="airfare-details">
                    <div class="airfare-list">
                        <span class="airfare-title">Air Fare
                            <span class="airfare-amount">{{summary.fareDetails.fareAmount.toLocaleString()}}</span>
                        </span>
                        <span class="airfare-title">Airport / Government taxes:</span>                        
                        <span class="services-tax" v-for="fare in summary.fareDetails.taxes">{{fare.description}} ({{fare.code}})
                            <span class="airfare-amount">{{fare.amount.toLocaleString()}}</span>
                        </span>
                    </div>
                    <!-- <div class="deals-info">
                        <span class="deals-title">Deals</span>
                        <span class="deals-item">
                            AKL - BKK <span class="seats-deal">Deal (Extra Legroom Seat + 10kg baggage)</span><span class="airfare-amount">512.30</span>
                        </span>
                        <span class="deals-item">
                            BKK - AKL <span class="seats-deal">Deal (Forward Zone Seat + 10kg baggage)</span><span class="airfare-amount">427.40</span>
                        </span>
                    </div> -->
                    <div class="subtotal-info">
                        <span class="subtotal-title">Sub-total</span>
                        <span class="airfare-amount">{{parseFloat(summary.fareDetails.totalFare).toLocaleString()}}</span>
                    </div>
                </div>
            </div>
            
            <div class="trip-addons-details">
                <div class="addons-details">
                    <div class="trip-addons-list">
                        <div class="trip-add-title">
                            <strong>Trip add-ons</strong>
                        </div>
                        <div class="trip-add-item" v-for="(addonValue,addonKey) in costinfo.bookingSummary.commonAddons">                        
                            <template v-if="addonKey == 'carAddOn'">{{addonValue.vehicleDetails.vehicleName}}</template>
                            <template v-if="addonKey == 'insuranceAddOn'">Travel Insurance</template>
                            <template v-if="addonKey == 'hotelAddOn'">{{addonValue.description}}</template>
                            <span class="trip-amount">{{addonValue.amount}}</span>
                        </div>
                    </div>
                    <div class="subtotal-info">
                        <span class="subtotal-title">Sub-total</span>
                        <span class="addons-amount">{{costinfo.bookingSummary.tripAddonTotal.toLocaleString()}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grand-total">
        <div class="grand-total-title">Grand total
            <span class="total-aud-amount">
                <span class="grand-total-currency grand-total-aud">{{costinfo.bookingSummary.currency}}</span>
                <span class="grand-total-amount aud-amount-1">{{costinfo.bookingSummary.grandTotal.toLocaleString()}}</span>
            </span>
        </div>
        <span class="includes">Includes discount, tax and surcharges</span>
        <div class="grand-total-list">
            <span class="payables">Payable with KrisFlyer miles
                <v-popover popoverBaseClass="krisflyer-tooltip popover" popoverInnerClass="krisflyer-tooltip-inner popover-inner" class="tooltip-inline">
                    <a href="#" @click.prevent class="ico-alert"></a>
                    <template slot="popover">
                        <div class="tooltip-wrapper">
                            <a href="#" @click.prevent v-close-popover class="tooltip-wrapper__btn">
                                <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
                                    <title>icon/close-circle copy</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="search-item" transform="translate(-154.000000, -8.000000)">
                                            <g id="icon/close-circle-copy">
                                                <g transform="translate(154.000000, 8.000000)">
                                                    <circle id="Oval" fill="#666666" cx="7" cy="7" r="7"></circle>
                                                    <g id="Group" transform="translate(4.000000, 4.000000)" stroke="#FFFFFF" stroke-linecap="round">
                                                        <path d="M0.5,0.5 L5.5,5.5" id="Line"></path>
                                                        <path d="M0.5,5.5 L5.5,0.5" id="Line"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <span class="tooltip-wrapper__text">Use your KrisRyer miles to pay for all or a part of your airfare (including taxes and surcharges). additional baggage and seats. KrisRyer miles, Elite miles and PPS Value will be earned in the proportion to the amount (excluding taxes) that you have paid with your credit/debit card.
                            </span>
                        </div>
                    </template>
                </v-popover>
                <span class="payables-amount">NZD 0.00</span>
            </span>
            <span class="payables">Not Payable with KrisFlyer miles
                <span class="payables-amount">NZD 4,355.32</span>
            </span>
        </div>
    </div>
    <!-- END OF COST BREAKDOWN COMPONENT -->

</section>