<div class="aside-wrapper">
    <aside :hidden="!activeView || activeView != 'book-trip'">
        <a href="#" @click.prevent="changeActiveTab('')" class="back-btn"><em class="arrow-blue"></em> Back</a>
        <booking-mobile-component></booking-mobile-component>
    </aside>
    <aside :hidden="!activeView || activeView != 'manage-booking'">
        <a href="#" @click.prevent="changeActiveTab('')" class="back-btn"><em class="arrow-blue"></em> Back</a>
        <div class="card_heading card_heading_manage_booking">
            <h1 class="page_title">Manage booking</h1>
            <h1 class="page_header">Enter the details below to manage a booking.</h1>
        </div>
        <div class="tab-content manage_booking">
            <div class="tab-content-1">
                <div class="form_fields_container booking_actions manage_booking_booking_actions">
                    <div class="form_field_wrapper">
                        <div class="form_controls">
                            <div class="booking_actions--main">
                                <div class="form_control field__radiobox">
                                        <input  type="radio" name="flight-radio" id="book_reference" class="input__radio">
                                        <label for="book_reference" class="form__label form__label-mod">Book reference</label>
                                        <div class="v-popover">
                                            <span aria-describedby="popover_usf8pdwykx" tabindex="-1" class="trigger" style="display: inline-block;">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form_control field__radiobox">
                                        <input value="eticketNumber" type="radio" name="flight-radio" id="eticket_number" class="input__radio">
                                        <label for="eticket_number" class="form__label form__label-mod">E-ticket number</label>
                                        <div class="v-popover"><span aria-describedby="popover_0s4ghahppt" tabindex="-1" class="trigger" style="display: inline-block;">
                                            </span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="#manage_booking_form_reference" class="form" method="POST" @submit.prevent="checkForm($event)" autocomplete="off">
                    <div class="form_fields_container manage_booking_details">
                        <div class="form_field_wrapper">
                            <div ref="bookingContainerRefBR" class="form_control has-float-label">
                                <div class="booking-selection">
                                    <div ref="bookingReferenceRefBR" class="input_wrapper">
                                        <input type="text" name="bookingReferenceBR" id="bookingReferenceFieldBR" placeholder=" " class="form_field form_input--text">
                                        <label for="bookingReferenceBR" ref="bookingLabelRefBR" class="form_label">Booking reference</label>
                                        <small ref="bookingErrorRefBR" class="validation_container hidden">
                                            <span class="error">Please enter a Booking Reference.</span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_field_wrapper">
                            <div ref="lastFamilyNameContainerRefBR" class="form_control has-float-label">
                                <div class="booking-selection">
                                    <div ref="lastFamilyNameRefBR" class="input_wrapper">
                                        <input type="text" name="last_familyNameBR"
                                            id="last_familyNameFieldBR" placeholder=" " class="form_field form_input--text">
                                        <label for="last_familyNameBR" ref="lastFamilyNameLabelRefBR" class="form_label">
                                            Last / Family name (As in passport)</label>
                                        <small ref="lastFamilyNameErrorRefBR" class="validation_container hidden">
                                            <span class="error">Last / family name does not match booking</span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_field_wrapper">
                            <div class="form_control">
                                <button type="submit" class="btn btn-primary">MANAGE BOOKING</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form_fields_container upcoming_flights_details">
                    <div class="upcoming_flights_wrapper">
                        <div class="flights-details">
                            <span class="booking_reference_name">WP3C2Q</span>
                            <span class="manage-info"><a href="#">Check in</a></span>
                            <span class="flights_departure_destination">
                                <span class="flgihts_departure">Singapore</span> to
                                <span class="flights_destination">Surabaya</span>
                            </span> 
                            <span class="date_month_year">
                                <span class="date_month-1">07 Nov</span> 
                                <span>2007</span>
                            </span>
                            <span class="status">
                                <span class="available_confirmation">Available for confirmation</span>
                            </span>
                        </div>
                    </div>
                    <div class="booking-options">
                        <span>
                            <a href="#">View all bookings</a>
                        </span>
                        <span>
                            <a href="#">Retrieve a booking manually</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <aside :hidden="!activeView || activeView != 'check-in'">
        <div v-if="false">
            <a href="#" @click.prevent="changeActiveTab('')" class="back-btn"><em class="arrow-blue"></em> Back</a>
               <div class="card_heading card_heading_check_in">
                <h1 class="page_title">Check in</h1>
                <h1 class="page_header">Enter the details below to check in from 48 to 1.5 hours before your flight.</h1>
            </div>
            <div class="tab-content checkIn">
                <div class="tab-content-1">
                    <div class="form_fields_container booking_actions">
                        <div class="form_control field__radiobox">
                            <input value="bookingReference" type="radio" name="flight-radio" id="sq_mi_booking" class="input__radio"> 
                            <label for="sq_mi_booking" class="form__label form__label-mod ">SQ / MI booking reference</label> 
                            <div class="v-popover">
                                <span aria-describedby="popover_usf8pdwykx" tabindex="-1" class="trigger" style="display: inline-block;">
                                </span>
                            </div>
                        </div> 
                            <div class="form_control field__radiobox">
                                <input value="eticketNumber" type="radio" name="flight-radio" id="eticket_Number" class="input__radio"> 
                                <label for="eticket_Number" class="form__label form__label-mod">E-ticket number</label> 
                                <div class="v-popover">
                                    <span aria-describedby="popover_0s4ghahppt" tabindex="-1" class="trigger" style="display: inline-block;"></span>
                                </div>
                            </div>
                    </div>
                    <form action="#form1" method="POST" autocomplete="off" class="form">
                        <div class="form_fields_container checkIn_details">
                            <div class="form_field_wrapper">
                                <div class="form_control has-float-label">
                                    <div class="booking-selection">
                                        <div class="input_wrapper">
                                            <input type="text" name="bookingReferenceSQMI" id="bookingReferenceFieldSQMI" placeholder=" " class="form_field form_input--text validate pristine"> 
                                            <label for="bookingReferenceSQMI" class="form_label form_label-mod">SQ / MI booking
                                                        reference
                                            </label> 
                                            <small class="validation_container hidden">
                                                <span class="error">Please enter a Booking Reference.</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="form_field_wrapper">
                                <div class="form_control has-float-label">
                                    <div class="booking-selection">
                                        <div class="input_wrapper">
                                            <input type="text" name="last_familyNameSQMI" id="last_familyNameFieldSQMI" placeholder=" " class="form_field form_input--text validate pristine"> 
                                            <label for="last_familyNameSQMI" class="form_label">Last / Family name (As in passport)</label> 
                                            <small class="validation_container hidden">
                                                <span class="error">Last / family name does not match booking</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="form_field_wrapper">
                                <div class="form_control">
                                    <button type="submit" class="btn btn-primary btn-primary-mod ">CHECK IN</button>
                                </div>
                            </div>
                             <div class="form_fields_container upcoming_flights_details">
                                <div class="upcoming_flights_wrapper">
                                    <div class="flights-details">
                                        <span class="booking_reference_name">WP3C2Q</span>
                                        <span class="manage-info"><a href="#">Check in</a></span>
                                        <span class="flights_departure_destination">
                                            <span class="flgihts_departure">Singapore</span> to
                                            <span class="flights_destination">Surabaya</span>
                                        </span> 
                                        <span class="date_month_year">
                                            <span class="date_month-1">07 Nov</span> 
                                            <span>2007</span>
                                        </span>
                                        <span class="status">
                                            <span class="available_confirmation">Available for confirmation</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="booking-options">
                                    <span>
                                        <a href="#">View all flights available for check in</a>
                                    </span>
                                    <span>
                                        <a href="#">Retrieve a booking manually</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
        <div class="login-content" v-if="!false">
            <a href="#" @click.prevent="changeActiveTab('')" class="back-btn"><em class="arrow-blue"></em> Back</a>
            <h1>Log in</h1>
            <div class="form_fields_container booking_actions-1">
                <div class="form_field_wrapper">
                    <div class="form_controls">
                        <div class="booking_actions--main">
                            <div class="form_control field__radiobox">
                                <input type="radio" name="flight-radio" id="register-customer" class="input__radio"> 
                                <label for="register-customer" class="form__label">KrisFlyer members / Registered Customers</label>
                            </div> 
                            <div class="form_control field__radiobox">
                                <input type="radio" name="flight-radio" id="for_businesses" class="input__radio"> 
                                <label for="for_businesses" class="form__label">For Businesses</label> 
                            </div>
                        </div>
                        <div class="smii_error">
                            <button class="modal-default-button tool-tip-content_close">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
                                    <title>icon/close-circle copy</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="search-item" transform="translate(-154.000000, -8.000000)">
                                            <g id="icon/close-circle-copy">
                                                <g transform="translate(154.000000, 8.000000)">
                                                    <circle id="Oval" fill="#666666" cx="7" cy="7" r="7"></circle>
                                                    <g id="Group" transform="translate(4.000000, 4.000000)" stroke="#FFFFFF"
                                                        stroke-linecap="round">
                                                        <path d="M0.5,0.5 L5.5,5.5" id="Line"></path>
                                                        <path d="M0.5,5.5 L5.5,0.5" id="Line"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                            <p>The KrisFlyer membership number/email address and/or password you’ve entered isn’t valid. 
                            Please try again.</p>
                        </div>
                        <div class="smii_existing_account">
                            <button class="modal-default-button tool-tip-content_close">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
                                    <title>icon/info-dark</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs>
                                        <path d="M0,6.999 C0,10.866 3.134,14 7,14 C10.866,14 14,10.866 14,6.999 C14,3.134 10.866,0 7,0 C3.134,0 0,3.134 0,6.999 Z" id="path-1"></path>
                                        <path d="M0.165,0.939 C0.165,1.376 0.518,1.729 0.954,1.729 C1.389,1.729 1.743,1.376 1.743,0.939 C1.743,0.503 1.389,0.15 0.954,0.15 C0.518,0.15 0.165,0.503 0.165,0.939 Z" id="path-3"></path>
                                        <path d="M0.294,5.15 C0.294,5.536 0.608,5.85 0.994,5.85 C1.381,5.85 1.695,5.536 1.695,5.15 L1.695,1.213 C1.695,0.826 1.381,0.513 0.994,0.513 C0.608,0.513 0.294,0.826 0.294,1.213 L0.294,5.15 Z" id="path-5"></path>
                                    </defs>
                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Passenger/tile/active" transform="translate(-208.000000, -13.000000)">
                                            <g id="Profile1" transform="translate(15.000000, 5.000000)">
                                                <g id="icon/info-dark" transform="translate(193.000000, 8.000000)">
                                                    <g id="Page-1">
                                                        <g id="Group-3">
                                                            <mask id="mask-2" fill="white">
                                                                <use xlink:href="#path-1"></use>
                                                            </mask>
                                                            <g id="Clip-2"></g>
                                                            <polygon id="Fill-1" fill="#999999" mask="url(#mask-2)" points="-5 19 19 19 19 -5 -5 -5"></polygon>
                                                        </g>
                                                        <g id="Group-6" transform="translate(6.000000, 3.000000)">
                                                            <mask id="mask-4" fill="white">
                                                                <use xlink:href="#path-3"></use>
                                                            </mask>
                                                            <g id="Clip-5"></g>
                                                            <polygon id="Fill-4" fill="#FFFFFF" mask="url(#mask-4)" points="-4.835 6.729 6.744 6.729 6.744 -4.85 -4.835 -4.85"></polygon>
                                                        </g>
                                                        <g id="Group-10" transform="translate(6.000000, 5.000000)">
                                                            <mask id="mask-6" fill="white">
                                                                <use xlink:href="#path-5"></use>
                                                            </mask>
                                                            <g id="Clip-9"></g>
                                                            <polygon id="Fill-8" fill="#FFFFFF" mask="url(#mask-6)" points="-4.705 10.85 6.695 10.85 6.695 -4.487 -4.705 -4.487"></polygon>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                            <span>
                                <span>Your email address is found</span>
                                <p>The email address that is associated with your social media account matches an existing account. Log in with your credentials to link this social media account.</p>
                            </span>
                        </div>
                        <div class="btn-social">
                            <button type="submit" class="btn btn-primary btn-facebook"><em class="icon_facebook"></em>FACEBOOK</button>
                            <button type="submit" class="btn btn-primary btn-google"><em class="icon_google"></em>GOOGLE</button>
                            <button type="submit" class="btn btn-primary btn-linkedin"><em class="icon_linkedin"></em>LINKEDIN</button>
                        </div>
                        <div class="separator">
                            <hr>
                            <span>OR</span>
                        </div>
                    </div>
                </div>
            </div>
            <form action="#manage_booking_form_reference" class="form" method="POST" @submit.prevent="checkForm($event)" autocomplete="off">
                    <div class="form_fields_container">
                        <div class="form_field_wrapper">
                            <div ref="bookingContainerRefBR" class="form_control has-float-label">
                                <div class="booking-selection">
                                    <div ref="bookingReferenceRefBR" class="input_wrapper">
                                        <input type="text" name="bookingReferenceBR" id="bookingReferenceFieldBR" placeholder=" " class="form_field form_input--text">
                                        <label for="bookingReferenceBR" ref="bookingLabelRefBR" class="form_label">KrisFlyer number / Email address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_field_wrapper">
                            <div ref="bookingContainerRefBR" class="form_control has-float-label">
                                <div class="booking-selection">
                                    <div ref="bookingReferenceRefBR" class="input_wrapper">
                                        <input type="text" name="bookingReferenceBR" id="bookingReferenceFieldBR" placeholder=" " class="form_field form_input--text">
                                        <label for="bookingReferenceBR" ref="bookingLabelRefBR" class="form_label">Membership number</label>
                                        <small ref="bookingErrorRefBR" class="validation_container hidden">
                                            <span class="error">Enter a valid 10-digit KrisFlyer membership number.</span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_field_wrapper">
                            <div ref="lastFamilyNameContainerRefBR" class="form_control has-float-label">
                                <div class="booking-selection">
                                    <div ref="lastFamilyNameRefBR" class="input_wrapper">
                                        <input type="text" name="last_familyNameBR"
                                            id="last_familyNameFieldBR" placeholder=" " class="form_field form_input--text">
                                        <label for="last_familyNameBR" ref="lastFamilyNameLabelRefBR" class="form_label">
                                            Password</label>
                                        <small ref="lastFamilyNameErrorRefBR" class="validation_container hidden">
                                            <span class="error">Enter a valid 6-digit PIN.</span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_field_wrapper">
                            <div class="form-checkbox">
                                <input value="false" type="checkbox" id="remember-me"> 
                                <label for="remember-me" class="form-label">Remember me</label>
                            </div>
                            <a href="#" class="help-loggin">Need help loggin in?</a>
                        </div>
                        <div class="form_field_wrapper">
                            <div class="form_control">
                                <button type="submit" class="btn btn-primary">LOG IN</button>
                            </div>
                        </div>
                        <a href="" class="not-member">Not a KrisFlyer member? Join now</a>
                    </div>
                </form>
        </div>
    </aside>
</div>