
/*------ for book trip ------*/

.aside-wrapper .container-center {
    width: 100%;
}


.arrow-blue {
    background: url(/assets/images/svg/icons/chevron-blue.svg) center center transparent no-repeat;
    width: 6px;
    height: 6px;
    display: inline-block;
    transform: rotate(180deg);
    top: -3px;
}


.back-btn {
    font-family: "proxima-nova","Open Sans","Arial","Helvetica",sans-serif;
    font-size: 0.6875rem;
    font-weight: 600;
    display: block;
    margin: 20px 16px 30px;
}

.card_heading_booktrip {
    margin: 0 16px;
}

.card_heading_booktrip .page_title {
    color: #00266B;
    font-size: 1.625rem;
    font-weight: 500;
}

.card_heading_booktrip .page_header {    
    color: #00266B;
    font-size: 1.125rem;
    font-weight: 400;
}

.tabs-component_tab-item.active {
    border-top: 4px solid #FF9F00;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid transparent;
    z-index: 2;
    font-weight: 600;
}

.tabs-component_tab-item {
    width: 100%;
    position: relative;
    z-index: 0;
    background: #FFFFFF;
    padding: 17px 0;
    min-height: 4.375rem;
    color: #666666;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 0.0625rem solid #edebeb;
    border-top: 0.25rem solid #D3DBE8;
    margin: 0rem;
}

.tabs-component_tab-item:last-child {
    border-top-right-radius: 4px;
}

.tabs-component_tab-item.active:first-child:before {
    content: '';
    display: block;
    height: 66px;
    width: 0.625rem;
    z-index: 1;
    background: white;
    position: absolute;
    right: 0;
    top: 0;
}

.tabs-component_tab-item.active:first-child:after {
    content: '';
    display: block;
    height: 3.9375rem;
    width: 8px;
    z-index: 0;
    filter: blur(4px);
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    right: -4px;
    top: 0;
}

.tabs-component_tab-item.active:last-child:before {
    content: '';
    display: block;
    height: 66px;
    width: 0.625rem;
    z-index: 1;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
}

.tabs-component_tab-item.active:last-child:after {
    content: '';
    display: block;
    height: 3.9375rem;
    width: 8px;
    z-index: 0;
    filter: blur(4px);
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    left: -4px;
    top: 0;
}

.tabs-component_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.aside-wrapper .tab-content {
    padding: 2.1875rem 0.9375rem;
}


.booking_actions-1 .form_controls {
    display: block;
}

.booking_actions--main-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.booktrip_search_history {
    margin-bottom: 1.875rem;
}

.booktrip_search_history .flight_search_item {
    font-size: 0.875rem;
}

.booking_actions--main-1 .form_control .v-popover {
    position: absolute;
    right: 1.25rem;
}

.booking_actions--main-1 .form_control .v-popover .flights_only {
    position: absolute;
    right: 3.375rem;
}

.booking_actions--main-1 .form_control .v-popover .flights_hotel {
    position: absolute;
    right: 2.3125rem;
}


.sia-holidays {
    margin-top: 20px;
    background: url(/assets/images/sia-holidays.png) center center transparent no-repeat;
    display: block;
    width: 100px;
    height: 44px;
}

.booktrip_search_history .flight_search_history .flight_search_item {
    width: 14rem;
}

.flight_iterinary-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100%), 1fr));
    grid-column-gap: 0.9rem;
}


.flight_iterinary-1 .flight_od .control_group {
    display: block;

}

.flight_iterinary-1 .flight_od .control_group .form_control {
    width: 100%;
    margin-bottom: 0.625rem;
}

.flight_iterinary-1 .flight_date .control_group {
    display: block;
}

.flight_iterinary-1 .flight_date .control_group .form_control:first-child {
    margin-bottom: 0.625rem;
}

.flight_boarding_details-1 .passenger-selection {
    margin-bottom: 0.625rem;
}

.flight_boarding_details-1 .form_field_wrapper .btn {
    width: 100%;
}

.tab-content-1 .booktrip_suggestions {
    width: 100%;
    border: none;
    box-shadow: none;
}

.booktrip_suggestions .class-title {
    font-family: "proxima-nova","Open Sans","Arial","Helvetica",sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    color: #00266B;
    margin-bottom: 0.625rem;
}


.booktrip_suggestions .booking-suggest-item {
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 1.125rem;
    padding-top: 1.25rem;

    &:last-child {
        border-bottom: none;
        
    }

}

.booking-suggest-item.selected {
    background: url(/assets/images/icons/icon-tick-orange.png) center center transparent no-repeat;
    background-position: 95% center;
}

.booktrip_actions-secondary {
    display: block;
}

.booktrip_actions-secondary .form_control:first-child {
    margin: 0 0 1.25rem;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 1.25rem;
}

.booktrip_actions-secondary .form_control:last-child:before {
    border-left: none;
}

.smii_error {
    display: grid;
    grid-template-columns: 1fr 12fr;
    background-color: #FFF1F0;
    border-radius: 5px;
    padding: 0.625rem 0.9375rem;
    margin-top: 1.25rem;
}

.smii_error p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 0.875rem;
}

.smii_error button {
    background-color: transparent;
    align-self: start;
    position: relative;
    left: -5px;

    svg circle {
        fill: red;
    }
    
}

.smii_error button svg {
    width: 1.25rem;
    height: 1.25rem;
}
/*------ end of book trip ------*/


/*------ for manage booking ------*/
.card_heading_manage_booking {
    margin: 0 1rem;
}

.card_heading_manage_booking .page_title {
    color: #00266B;
    font-size: 1.625rem;
    font-weight: 500;
}

.card_heading_manage_booking .page_header {    
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #222222;
    font-size: 1rem;
    font-weight: 400;
}

.manage_booking {
    background: transparent;
}

.manage_booking .manage_booking_details {
    display: grid;
    grid-template-columns: auto;
}

.manage_booking .manage_booking_details .btn {
    width: 100%;
}

.manage_booking_details .form_field_wrapper {
    margin-bottom: 0.9375rem;
}

.booktrip_actions-secondary {
    margin-top: 0.625rem;
}

.booktrip_form .form_fields_container {
    margin-bottom: 0;
}

.flight_iterinary-1 .flight_date .control_group .form_control:last-child {
    margin-bottom: 0.625rem;
}
    
.flight_search_history_wrapper {
    display: flex;
    overflow: auto;
}

.flight_search_history_wrapper::-webkit-scrollbar {
    display: none;
}

.manage_booking .upcoming_flights_wrapper {
    background: #fff;
}

.manage_booking .upcoming_flights_details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.manage_booking .upcoming_flights_wrapper .flights-details {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.booking-options {
    margin: 1.875rem 0 0;
}

.booking-options span {
    display: block;

    &:first-child {
        border-bottom: 1px solid #D8D8D8;
        padding: 0 0 1.25rem;
        margin: 0 0 1.25rem;
    }
}
/*------ end of manage booking ------*/


/*------ for check in ------*/
.checkIn {
    background-color: transparent;
}

.card_heading_check_in {
    margin: 0 1rem;
}

.card_heading_check_in .page_title {
    color: #00266B;
    font-size: 1.625rem;
    font-weight: 500;
}

.card_heading_check_in .page_header {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;    
    color: #222222;
    font-size: 1rem;
    font-weight: 400;
}

.checkIn_details .form_field_wrapper {
    margin-bottom: 10px;
}

.checkIn_details .btn {
    width: 100%;
}

.checkIn_details .upcoming_flights_details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.checkIn .upcoming_flights_details .upcoming_flights_wrapper .flights-details {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/*------ end for check in ------*/


/*------ for Home log-in ------*/
.login-content {
    padding: 0 0.9375rem;
    background-color: #fff;
}

.login-content .back-btn {
    margin: 0;
    padding: 20px 0 0;
}

.login-content h1 {
    font-size: 1.625rem;
    font-weight: 400;
    color: #00266B;
}

.login-content .booking_actions--main {
    display: inline;
}
.btn-social {
    margin-top: 1.25rem;
}

.btn-social .btn {
    display: block;
    width: 100%;
    margin-bottom: 0.9375rem;
}

.btn-social .btn-facebook {
    background-color: #4267B2;
}

.btn-social .btn-google {
    background-color: #D34836;
}

.btn-social .btn-linkedin {
    background-color: #0077B5;
}

.separator {
    text-align: center;
}

.separator hr {
    border: 1px solid #D8D8D8;
}

.separator span {
    position: relative;
    top: -1.25rem;
    background: #fff;
    letter-spacing: 2px;
    color: #666666;
    padding: 0 0.625rem;
}

.login-content .form_field_wrapper:first-child {
    margin-bottom: 15px;
}

.login-content .form_field_container {
    display: inline-block;
}

.icon_facebook {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(/assets/images/svg/icons/logo-facebook.svg) center center transparent no-repeat;
    margin-right: 15px;
    position: relative;
    top: 5px;
}

.icon_google {
    display: inline-block;
    height: 20px;
    width: 25px;
    background: url(/assets/images/svg/icons/logo-google.svg) center center transparent no-repeat;
    margin-right: 15px;
    position: relative;
    top: 5px;
}

.icon_linkedin {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(/assets/images/svg/icons/logo-linkedin.svg) center center transparent no-repeat;
    margin-right: 15px;
    position: relative;
    top: 5px;
}

.login-content .btn-primary:hover {
    border: none;
}

.login-content .form_field_wrapper .btn {
    width: 100%;
}

.login-content .form_field_wrapper:nth-child(2) {
    margin-bottom: 0.9375rem;
}

.login-content .form_field_wrapper:nth-child(4) {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    font-size: 0.875rem;
}

.form_field_wrapper .form-checkbox {
    display: inline-block;
}

.form_field_wrapper .help-loggin {
    display: inline-block;
    float: right;
}

.login-content .not-member {
    padding: 1.4375rem 0 0;
    font-size: 0.875rem;
    display: block;
    margin: auto;
    width: 62%;
}

.smii_existing_account {
    display: grid;
    grid-template-columns: 1fr 12fr;
    background-color: #E5E9F0;
    border-radius: 5px;
    padding: 0.625rem 0.9375rem;
    margin-top: 1.25rem;
}

.smii_existing_account p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 0.875rem;
}

.smii_existing_account button {
    background-color: transparent;
    align-self: start;
    position: relative;
    left: -5px;

    svg #Fill-1 {
        fill: #00266B;
    }
    
}

.smii_existing_account button svg {
    width: 1.25rem;
    height: 1.25rem;
}


/*------ end for Home log-in ------*/