/*PAYMENT METHOD*/
.payment-tab-container{
    margin-bottom: 20px;
}

.detail-method {
    color: #222222;
    font-size: 14px;
    font-weight: normal;
}

.pay-method-content {
    padding: 0 10px 30px;

    label, p, span, input, select {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: normal;
        font-size: 14px;
        color: #222;
    }

    input[type=text], select {
        color: #000;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-weight: 400;
        border: 1px solid #cecece;
        position: relative;
        -webkit-font-smoothing: antialiased;
        background-color: #fff;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        padding: 7px 20px 7px 13px;
        margin-top: 5px;
    }
    
    .payment-save-card {
        display: flex;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }

    .saved-cards {
        display: inline-block;
        width: 30%;
        margin-right: 2%;

        .input_wrapper {
            background-color: #FFFFFF;
            background-image: url(/assets/images/icons/icon-chevron.png) !important;
            background-position: 95% center;
            background-repeat: no-repeat;
            border: 1px solid #CCCCCC;
            display: block;
            min-width: 100px;
            width: 100%;
            
            &:hover {
                outline: 0;
                border-color: #2275D3;
                box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
                cursor: pointer;
            }        
        }

        .input_wrapper.open {
            background-image: url(/assets/images/icons/icon-chevron-up.png) !important;
            outline: 0;
            border-color: #2275D3;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
            cursor: pointer;
        }

        #saved-credit-debit {
            display: flex;
            height: 40px;
            width: 100%;
            outline: 0;
            border: none;
            box-shadow: none;
            font-size: 14px;
            padding: 10px 15px 10px;
            font-family: proxima-nova;
            text-transform: capitalize;
            margin-top: 0;
            background: transparent;
        }

        .card-list {
            border: 1px solid #CCCCCC;
            position: absolute;
            background: #FFFFFF;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
            z-index: 2;
            overflow-y: scroll;
            height: 250px;
            width: 265px;
        }

    }

    .saved-cards p {
        margin: 14px 0 10px 0;
        font-size: 16px;
        color: #222222;
    }
        

    .pay-with-card {
        display: inline-block;
        width: 67%;
        vertical-align: middle;

        p {
            margin-bottom: 10px;
        }

        a {
            position: relative;
            top: 55px;
            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
            font-weight: normal;
            font-size: 14px;
            cursor: pointer;
        }

        .ico-another-card {
            font-family: "sia";
            font-style: normal;
            width: 1em;
            vertical-align: middle;
            margin-left: 0.2em;
            font-size: 15px;
            margin-right: 10px;

            &:before {
                content: "\e914";
            }
        }
    }

    .is-collapsed {

        .credit-debit-info {
            display: flex;
        }

        .pay-with-other-card {
            display: none;
        }
        
    }

    .credit-debit-info {
        display: none;

        div {
            display: inline-block;
            width: 24%;
        }

        .cvv-info {

            p {
                margin-bottom: 0;
            }

            .cvv-form {
                
                input[type="text"] {
                    padding: 7px 30px 7px 13px;
                    position: relative;
                    left: -5px;
                }
            }

            div {
                display: inline-block;
                width: 40%;
                vertical-align: middle;
            }
        }
    }

    .pay-with-other-card {
        .grid-row {
            display: flex;
            margin-bottom: 10px;
        }

        .grid-col {
            display: inline-block;
        }

        .card-name {
            width: 49%;
            margin-right: 1%;
        }

        label {
            margin-bottom: 5px;
        }

        .credit-debit-number {
            width: 50%;
        }

        .expiry-date {
            width: 20%;
            margin-right: 10px;

            label {
                display: block;
            }

            .expiry-month {
                display: inline-block;
                width: 48%;
                margin-right: 1%;
                
            }

            .expiry-year {
                display: inline-block;
                width: 47%;
            }
        }

        .cvv {
            width: 79%;

            div {
                display: inline-block;
                width: 15%;
                margin-right: 1%;
            }

            ul {
                display: inline-block;
                width: 47%;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }

            .ico-info-round-fill {
                font-size: 15px;
                margin-top: -3px;


                &:before {
                    content: "\e62b";
                    font-family: "sia";
                    font-style: normal;
                    font-weight: normal;
                    width: 1em;
                    margin-right: 0.2em;
                    vertical-align: middle;
                    line-height: 1em;
                    margin-left: 0.2em;
                    color: #ccc;
                    cursor: pointer;
                }
            }
        }
    }

    .billing {
        margin-top: 20px;

        label {
            font-weight: bold;
        }

        .krisflyer-account {
            label {
                padding: 19px 0 7px 0;
            }

            .grid-col {
                border-top: 1px solid #ccc;
                padding-top: 5px;
            }

            .custom-checkbox {
                padding: 0 0 7px 0;
                position: relative;

                input {
                    position: absolute;
                    top: 19px;
                    opacity: 0;
                    cursor: pointer;
                    width: 14px;
                    height: 14px;
                    margin: 0;
                    z-index: 1;

                    &:checked + label:after {
                        display:  block;
                    }
                }

                label {
                    display: inline-block;
                    padding-left: 23px;
                    margin-right: 10px;
                    line-height: 16px;
                    cursor: pointer;
                    color: #666;
                    font-weight: 400;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        border: 1px solid #ccc;
                        left: 0;
                        background-color: #fff;
                    }

                    &:after {
                        content: '\e610';
                        position: absolute;
                        top: 18px;
                        font-family: 'sia';
                        font-weight: bold;
                        color: #ef9a1a;
                        left: 2px;
                        display: none;
                        font-size: 14px;
                    }
                }
            }

        }

        .address {
            display: flex;

            .grid-col {
                display: inline-block;
            }

            .address-name {
                width: 55%;
                margin-right: 5%;
            }

            .country-city {
                width: 20%;
                margin-right: 20px;
            }

            .country .input_wrapper {
                margin-bottom: 10px;
                margin-top: 5px;

                input {
                    margin-bottom: 0;
                }   
            }

            .country-list {
                border: 1px solid #CCCCCC;
                position: absolute;
                background: #FFFFFF;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
                z-index: 2;
                overflow-y: scroll;
                height: 250px;
                margin-top: -10px;
            }

            .postal-state {
                width: 20%;
            }

            input {
                margin-bottom: 10px;
            }

            .add-address {
                margin-top: 10px;
                font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
                font-size: 14px;
            }
        }
    }

    .payment-currency {
        padding: 30px 20px;
        background-color: #e5e9f0;
        margin: 20px 0;

        .custom-checkbox {

            label {
                font-size: 18px;
                color: #666;
                font-weight: 300;
                display: inline-block;
                padding-left: 23px;
                margin-right: 10px;
                line-height: 16px;
                cursor: pointer;

                &:before {
                    content: '';
                    width: 14px;
                    height: 14px;
                    border: 1px solid #ccc;
                    position: absolute;
                    top: 3px;
                    left: 0;
                    background-color: #fff;
                }

                &:after {
                    content: '\e610';
                    position: absolute;
                    top: 3px;
                    font-family: 'sia';
                    font-weight: bold;
                    color: #ef9a1a;
                    left: 2px;
                    display: none;
                    font-size: 14px;
                }
            }

            input {
                position: absolute;
                top: 3px;
                opacity: 0;
                cursor: pointer;
                width: 14px;
                height: 14px;

                &:checked + label:after {
                    display:  block;
                }
            }
        }

        ul {
            margin: 20px 0;
        }

        li {
            font-size: 14px;
        }

        .wrap-payment-convert {
            display: flex;

            .is-disabled {
                input, .input_wrapper {
                    background-color: #efefef;
                    color: #999;
                } 
            }
        }

        .form-inline {
            display: inline-block;
            width: 30%;

            input {
                display: inline-block;
                width: 90%;
            }

            span {
                display: inline-block;
                width: 5%;
                padding: 2px;
                color: #666;
                font-size: 13px;
            }
        }


        .input_wrapper {
            margin-top: 5px;
            margin-left: 10px;
            width: 90%;
            height: 40px;

            input {
                width: 100% !important;
            }
        }

        .currency-list {
            border: 1px solid #CCCCCC;
            position: absolute;
            background: #FFFFFF;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
            z-index: 2;
            width: 230px;
            overflow-y: scroll;
            height: 120px;
            margin-left: 10px;

            .dropdown-entry.selected {
                span {
                    color: #fff;
                }
            }
        }

        
    }

}

.input_wrapper {
    background-color: #FFFFFF;
    background-image: url(/assets/images/icons/icon-chevron.png) !important;
    background-position: 90% center;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    display: block;
    width: 100%;
    
    &:hover {
        outline: 0;
        border-color: #2275D3;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }        
}

.input_wrapper.open {
    background-image: url(/assets/images/icons/icon-chevron-up.png) !important;
    outline: 0;
    border-color: #2275D3;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.input_wrapper input {
    display: flex;
    height: 40px;
    width: 100%;
    outline: 0;
    border: none !important;
    box-shadow: none;
    font-size: 14px;
    padding: 10px 15px 10px;
    font-family: proxima-nova;
    text-transform: capitalize;
    margin-top: 0 !important;
    background: transparent !important;
}

.dropdown-entry {
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    height: 42px;
    padding-left: 13px;
    padding-right: 13px;
    border-top: 1px solid #e2e2e2;
    color: #000;
    font-size: 14px;
    line-height: 42px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    img {
        vertical-align: middle;
    }

    &:hover {
        background-color: #00266b;

        span {
            color: #fff;
        }
    }
}

.dropdown-entry.selected {
    background-color: #00266b;

    span {
        color: #fff;
    }
}

.month-list, .year-list {
    border: 1px solid #CCCCCC;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 85px;
    overflow-y: scroll;
    height: 250px;
}


/*END OF PAYMENT METHOD*/

/*CVV LIGHTBOX*/
.cvv-lightbox {
    .grid-row {
        display: flex;
    }

    .grid-col {
        display: inline-block;
        width: 50%;

        p {
            font-weight: bold;
            color: #000;
        }
    }

    .modal-body {
        max-width: 640px;
        width: 100%;
    }

}

/*END OF CVV LIGHTBOX*/