<section class="payment-method-container">
    <!-- PAYMENT METHOD COMPONENT -->
    <payment-tab-component class="payment-tab-container" :bookinginfo="bookinginfo" :tabs="paymentinfo.paymentDetails.length" :active="1">
        <template v-for="payment,index in paymentinfo.paymentDetails">
        <div class="pay-method-title" :slot="'title-'+(index+1)">
            <div class="pay-title-inner">
                <span class="type-card-pay">{{payment.paymentGroup}}</span>
                <ul class="list-cards">
                    <li v-for="card in payment.paymentType">
                        <img :src="card.image" :alt="card.cardType" longdesc="img-desc.html">
                    </li>                    
                </ul>
                <p class="desc-credit">+(((SGD 10))) service fee for payment by credit card. No fees for debit cards.</p>   
            </div>
        </div>
        <div :slot="'content-'+(index+1)" class="pay-method-content" v-if="payment.paymentGroup == 'Credit / Debit card'">
            <div class="payment-save-card">
                <div class="saved-cards" v-on-clickaway="closeState">
                    <p>Your saved credit / debit card</p>

                    <div class="input_wrapper" :class="{open: state}">
                        <input readonly type="text" name="save-credit-debit" id="saved-credit-debit" class="form_field" @focus="openState" value="Select Card" />
                    </div>
                    <div class="card-list" v-if="state" v-on:change="changeSelectedCard()">
                        <div class="dropdown-entry selected">
                            <span class="card-type">Select Card</span>
                        </div>
                        <div class="dropdown-entry" v-for="card,index in cardinfo.digitalWalletVO.digitalWalletCardVO" :value="index" :class="card.expiryStatus == 'expired' ? 'has-disabled disabled-card':''" :disabled="card.expiryStatus == 'expired' ? true:false">
                            <img src="../../../assets/images/vi.png" alt="credit card">
                            <span class="card-type">{{card.cardTokenNumber}} {{card.defaultCard == 'true' ? '(Default)':''}}{{card.expiryStatus == 'expired' ? '(Expired)':''}}</span>
                        </div>
                    </div>
                </div>
                <div class="pay-with-card">
                    <a v-on:click=" collapsed = false">
                      <em class="ico-another-card"></em>Pay with another card
                    </a>
                </div>
            </div>

            <div class="pay-with-card-text">
                <p>In some instances, credit/debit card verification may be required.</p>
                <p><strong>A <a href="#">non-refundable service free</a> will be added to bookings made with a credit card.</strong></p>
                <p>Please complete all fields marked with*.</p>
            </div>

            <div class="credit-container" v-bind:class="{'is-collapsed' : collapsed }">

                <div class="credit-debit-info">
                    <div class="name">
                        <p>Name on credit / debit card*</p>
                        <p>{{selectedCard.cardHolderName}}</p>
                    </div>
                    <div class="credit-number">
                        <p>Credit / Debit card number*</p>
                        <p>{{selectedCard.cardTokenNumber}}</p>
                    </div>
                    <div class="expiry-date">
                        <p>Expiry Date*</p>
                        <p>
                            <span>{{selectedCard.expiryMonth}}</span>
                            <span>{{selectedCard.expiryYear}}</span>
                        </p>
                    </div>
                    <div class="cvv-info">
                        <p>CVV*</p>
                        <div class="cvv-form">
                            <input type="text" name="input-cvv" value="">
                        </div>
                        <div class="credit-image">
                          <img src="../../../assets/images/card-credit-6.png">
                        </div>
                    </div>
                </div>

                <div class="pay-with-other-card">
                    <div class="form-group">
                        <div class="grid-row">
                            <div class="grid-col card-name">
                                <label>Name on credit / debit card*</label>
                                <input type="text" value="">
                            </div>
                            <div class="grid-col credit-debit-number">
                                <label>Credit / Debit card number*</label>
                                <input type="text" value="">
                            </div>
                        </div>
                        <div class="grid-row">
                            <div class="grid-col expiry-date">
                                <label>Expiry date*</label>
                                <div class="expiry-month" v-on-clickaway="closeMonth">
                                    <div class="input_wrapper" :class="{open: month}">
                                        <input readonly type="text" name="month" class="form_field" @focus="openMonth" value="" />
                                    </div>
                                    <div class="month-list" v-if="month">
                                        <div class="dropdown-entry"><span>MM</span></div>
                                        <div class="dropdown-entry"><span>01</span></div>
                                        <div class="dropdown-entry"><span>02</span></div>
                                        <div class="dropdown-entry selected"><span>03</span></div>
                                        <div class="dropdown-entry"><span>04</span></div>
                                        <div class="dropdown-entry"><span>05</span></div>
                                        <div class="dropdown-entry"><span>05</span></div>
                                        <div class="dropdown-entry"><span>07</span></div>
                                        <div class="dropdown-entry"><span>08</span></div>
                                        <div class="dropdown-entry"><span>09</span></div>
                                        <div class="dropdown-entry"><span>10</span></div>
                                        <div class="dropdown-entry"><span>11</span></div>
                                        <div class="dropdown-entry"><span>12</span></div>
                                    </div>
                                </div>
                                <div class="expiry-year" v-on-clickaway="closeYear">
                                    <div class="input_wrapper" :class="{open: year}">
                                        <input readonly type="text" name="year" class="form_field" @focus="openYear" value="" />
                                    </div>
                                    <div class="year-list" v-if="year">
                                        <div class="dropdown-entry"><span>YYYY</span></div>
                                        <div class="dropdown-entry selected"><span>2018</span></div>
                                        <div class="dropdown-entry"><span>2019</span></div>
                                        <div class="dropdown-entry"><span>2020</span></div>
                                        <div class="dropdown-entry"><span>2021</span></div>
                                        <div class="dropdown-entry"><span>2022</span></div>
                                        <div class="dropdown-entry"><span>2023</span></div>
                                        <div class="dropdown-entry"><span>2024</span></div>
                                        <div class="dropdown-entry"><span>2025</span></div>
                                        <div class="dropdown-entry"><span>2026</span></div>
                                        <div class="dropdown-entry"><span>2027</span></div>
                                        <div class="dropdown-entry"><span>2028</span></div>
                                        <div class="dropdown-entry"><span>2029</span></div>
                                        <div class="dropdown-entry"><span>2030</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col cvv">
                                <div class="form">
                                    <label>CVV*
                                        <a href="#" @click.stop.prevent="openModal('6')">
                                            <em class="ico-info-round-fill"></em>
                                        </a>
                                    </label>
                                    <input type="text" value="">
                                </div>
                                <ul>
                                  <li>
                                    <img src="../../../assets/images/card-credit-6.png" alt="" />
                                  </li>
                                  <li>
                                    <img src="../../../assets/images/card-credit-7.png" alt="" />
                                  </li>
                                  <li>
                                    <img src="../../../assets/images/card-credit-8.png" alt="" />
                                  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            

            <!-- CVV LIGHTBOX -->
            <light-box-component class="cvv-lightbox" :id="'6'" :active="showCVV" v-on:lightbox-closed="closeModal()">
                <div slot="body" @click.stop="">
                    <button class="close-btn icon-round-close" type="button" @click="showCVV = '0'"></button>
                    <h1 class="page_header">CVV code</h1>
                    <div class="grid-row">
                        <div class="grid-col">
                            <p>Visa / MasterCard / Diners Club / JCB</p>
                            <img src="../../../assets/images/ccv-popup-1.png" alt="MasterCard">
                        </div>
                        <div class="grid-col">
                            <p>American Express</p>
                            <img src="../../../assets/images/ccv-popup-2.png" alt="American Express">
                        </div>
                    </div>

                </div>
            </light-box-component>

            <!-- END OF CVV LIGHTBOX -->

            <div class="payment-currency">
                <div class="form-group custom-checkbox">
                    <input v-on:click=" disabled = !disabled" name="change-payment-currency" id="change-payment-currency" type="checkbox">
                    <label for="change-payment-currency">Change payment currency</label>
                </div>

                <ul>
                    <li>If your credit card is billed in one of the major currencies available, you're welcome to pay for your booking in that currency.</li>
                    <li>The total amount will be converted based on the most competitive rate from our financial partners.</li>
                    <li>You may change the payment currency for your flight booking and preferred seat selection(s), but not for add-ons such as hotel bookings, car rentals and insurance.</li>
                </ul>
                <div class="wrap-payment-convert">
                    <div class="form-inline" v-bind:class="{'is-disabled' : disabled }">
                        <input type="text" name="price-input" placeholder="0.00">
                        <span>to</span>
                    </div>
                    <div class="form-inline disabled" v-on-clickaway="closeCurrency">
                        <div class="input_wrapper" :class="{open: currency}">
                            <input readonly type="text" name="currency" class="form_field" @focus="openCurrency" value="" placeholder="Select currency" />
                        </div>
                        <div class="currency-list" v-if="currency">
                            <div class="dropdown-entry"><span>Select currency</span></div>
                            <div class="dropdown-entry selected"><span>GBP</span></div>
                            <div class="dropdown-entry"><span>USD</span></div>
                        </div>
                    </div>
                    <div class="form-inline" v-bind:class="{'is-disabled' : disabled }">
                        <input type="text" name="calculated-value" placeholder="0.00">
                    </div>
                </div>
            </div>

            <div class="billing">
                <div class="form-group grid-row krisflyer-account">
                    <label>Billing address</label>
                    <div class="grid-col custom-checkbox">
                        <input name="same-as-krisflyer" id="same-as-krisflyer" type="checkbox">
                        <label for="same-as-krisflyer" class="checkbox-text">Same as KrisFlyer account</label>
                    </div>
                </div>
                <div class="form-group grid-row address">
                    <div class="grid-col address-name">
                        <label>Address*</label>
                        <input type="text" class="address-line-1" placeholder="Address line 1" value="">
                        <input type="text" class="address-line-2" placeholder="Address line 2" value="">
                        <a href="#" class="add-address">+ Add address line</a>       
                    </div>
                    <div class="grid-col country-city">
                        <div class="country" v-on-clickaway="closeCountry">
                            <label>Country / Region*</label>
                            <div class="input_wrapper" :class="{open: country}">
                                <input type="text" name="country-field" class="form_field" @focus="openCountry" value="" placeholder="Select country"/>
                            </div>
                            <div class="country-list" v-if="country">
                                <div class="dropdown-entry"><span>Afghanistan</span></div>
                                <div class="dropdown-entry selected"><span>Albania</span></div>
                                <div class="dropdown-entry"><span>Algeria</span></div>
                                <div class="dropdown-entry"><span>American Samoa</span></div>
                                <div class="dropdown-entry"><span>Andorra</span></div>
                                <div class="dropdown-entry"><span>Angola</span></div>
                                <div class="dropdown-entry"><span>Artigua and Barbuda</span></div>
                                <div class="dropdown-entry"><span>Argentina</span></div>
                                <div class="dropdown-entry"><span>Armenia</span></div>
                                <div class="dropdown-entry"><span>Aruba</span></div>
                                <div class="dropdown-entry"><span>Australia</span></div>
                                <div class="dropdown-entry"><span>Austria</span></div>
                            </div>
                        </div>
                        <div class="city">
                            <label>City / Town*</label>
                            <input type="text" value="">
                        </div>
                    </div>
                    <div class="grid-col postal-state">
                        <div class="postal-code">
                            <label>Postal code</label>
                            <input type="text" value="">
                        </div>
                        <div class="state">
                            <label>State / Province*</label>
                            <input type="text" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div :slot="'content-'+(index+1)" class="pay-method-content" v-else>
            <div class="detail-method">
                {{payment.paymentType[0].content}}
            </div>
        </div>
        </template>
        <!-- <div class="pay-method-title" slot="title-2">
            <div class="pay-title-inner">
                <ul class="list-cards">
                    <li>
                        <img src="../../../assets/images/paypal.png" alt="Paypal" longdesc="img-desc.html">
                    </li>
                </ul>
            </div>
        </div>
        <div slot="content-2" class="pay-method-content">
            <div class="detail-method">
                By choosing to pay with PayPal, you'll be directed to PayPal website to complete your payment. Once payment is accepted, you'll automatically return to singaporeair.com.
            </div>
        </div>
        <div class="pay-method-title" slot="title-3">
            <div class="pay-title-inner">
                <ul class="list-cards hidden-mb-small">
                    <li>
                        <img src="../../../assets/images/masterpass.png" alt="Masterpass" longdesc="img-desc.html">
                    </li>
                </ul>
                <p class="desc-credit">+(((SGD 10))) service fee for payment by credit card. No fees for debit cards.</p>
            </div>
        </div>
        <div slot="content-3" class="pay-method-content">
            <div class="detail-method">
                By choosing to pay with Masterpass, you'll be directed to Masterpass website to complete your payment. Once payment is accepted, you'll automatically return to singaporeair.com.
            </div>
        </div> -->
    </payment-tab-component>
    <!-- PAYMENT METHOD COMPONENT -->
</section>