<div class="lightbox">
	<transition name="modal">
		<div v-if="active == id" class="modal-mask">
			<div class="modal-wrapper" @click="onLightboxOutClick($event)">
				<div class="modal-container">
					<div class="modal-body">
						<slot name="body"></slot>
					</div>
				</div>
			</div>
		</div>
	</transition>
</div>
