@import "../../assets/styles/atoms/import/_breakpoints";

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.modal-container {
	min-width: 20rem; // max-width: 61.75rem;
	margin: 0px auto;
	padding: 20px 30px; // background-color: #fff;
	border-radius: 2px;
	// box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	// font-family: Helvetica, Arial, sans-serif;
	padding-right: 17px;
	/* Increase/decrease this value for cross-browser compatibility */
	// box-sizing: content-box;
	/* So the width will be 100% + 17px */
	// height: 100%; // height: 50%;
	overflow-y: scroll;
}

.modal-header h3 {
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	margin: 0 auto;
	// width: 700px;
	background: white;
	padding: 30px;
  border-radius: 2px;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.modal-default-button {
	float: right;
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

// .modal-enter {
// 	opacity: 0;
// }

// .modal-leave-active {
// 	opacity: 0;
// }



.no-scroller {
	padding-right: 16px;
	overflow-y: hidden;
}

.no-scroller-without-padding {
	padding-right: 0px;
	overflow-y: hidden;
}

.with-scroller {
	overflow-y: auto;
}

.full-height { // Used for modal scroller and vertical centering fix
	height: 100%;
}

// Extra Small devices (portrait phones, max 576px)
@media (max-width: $breakpoint-small-devices) {
	.modal-container {
		padding: 0;
		padding-right: 0;

		.modal-body {
			width: auto;
		}
	}

	.modal-enter .modal-container,
	.modal-leave-active .modal-container {
		-webkit-transform: translateX(20px);
		transform: translateX(50px);
		opacity: 0;
	}

	.mobile-lightbox {
		overflow: scroll;
		z-index: 9999;
	
		.modal-container {
			min-height: 40rem;
		}
		
		.modal-container {
			padding: 0;
	
			.modal-body {
				// width: auto;
				padding: 20px 0 0 0;
				min-height: 46rem;
			}
		}
		// .modal-body {
		// 	width: auto;
		// 	padding: 0;
		// 	min-height: 46rem;
		// }
		.change-seat-container{
			padding: 20px;
			margin: 0;
			background: #fff;
		}
		.cs-selected-deal{
			padding: 20px 20px 50px 20px;
			margin: 0;
			background: #fafafa;
		}
	
		// .tool-tip-content_content--control {
		// 	padding-bottom: 1.5625rem;
		// }
	
		.change-seat-head-wrap {
			margin: 0;
			background: #fff;
		}
		.change-seat-heading {
			text-align: left;
			border-bottom: 0.0625rem solid #E5E9F0;
			padding-bottom: 20px;
		}
		.change-seat-passenger {
			font-size: 18px;
			font-weight: 600;
			font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
			margin-bottom: 0;
			margin-top: 15px;
			color: #000;
			display: inline-block;
		}
		.silver-elite {
			padding: 7px 7px;
			color: #666;
			font-size: 8px;
			font-weight: bold;
			text-transform: uppercase;
			background-color: #C6C6C6;
			border-radius: 2px;
			vertical-align: top;
			display: inline-block;
			line-height: 1;
			margin-left: 10px;
			letter-spacing: 2px;
			text-shadow: none;
			text-decoration: none;
			transform: translatey(17px);
		}
	
		.change-seat-selected {
			text-align: left;
			padding-top: 20px;
			margin: 0;
	
			a {
				display: block;
				font-size: 12px;
				// margin: 15px 0 30px 0;
				margin: 15px 0 23px 0;
				outline: none;
				border: none;
				text-decoration: none;
			}
		}
	
		.change-seat-selected__seat-price {
			font-size: 14px;
		}
	
		.change-seat-seat-number{
			display: block;
			font-size: 14px;
		}
		.cs-selected-country {
			font-size: 14px;
		}
	
		.change-seat-selected-seat {
			margin-bottom: 20px;
		}
		.primary-btn-mod {
			display: block;
			// width: 81%;
			width: 100%;
			position: relative;
			margin-top: 14px;
			font-size: 12px;
			border-radius: 2px;
			
		}
		.currency {
			font-size: 18px;
		}
		.cs-forward-seat {
			font-size: 12px;
			line-height: 1.5em;
			display: inline-block;
			margin-top: 0;
		}
		.tool-tip-content_footer-col-1 {
			background-color: #ECEFF4;
			text-align: left;
			padding: 10px 20px;
		}
		.tool-tip-content_footer__deals-description {
			color: #00266b;
			font-size: 0.625rem;
			text-transform: uppercase;
			font-weight: 700;
			padding-left: 0.75rem;
			line-height: 2;
			letter-spacing: 2px;
		}
		.ico-bundle {
			display: inline-block;
			transform: translateY(5px);
		}
		.tool-tip-content_content {
			text-align: left;
			padding: 20px;
			font-size: 14px;
	
			&.tool-tip-content_content--control {
				padding: 0 0 1.5625rem 0;
			}
		}
		.cs-btn-container {
			position: relative;
			margin: 0;
	
			// .primary-btn-mod {
			// 	width: 100%;
			// }
		}
		.chs-content {
			margin-bottom: 20px;
		}
		.passenger-name,.tool-tip-content_footer {
			margin-top: 0;
		}
		.cs-terms-and-condition{
			display: block;
			text-decoration: none;
			margin-top: 0;
			// font-size: 0.6875rem;
			font-size: 12px;
			line-height: 15px;
		}
		.flight-details-content {
			background: #fff;
			border: 1px solid #e5e9f0;
			position: relative;
		}
		.flight-deals_info {
			border-bottom: 0.0625rem solid #E5E9F0;
			margin: 0;
			padding:20px 20px 15px 20px;
			text-align: left;
		}
		.discount {
			position: absolute;
			top: 0;
			margin: 0;
			right: 0;
			background: orange;
			padding: 5px;
			border-bottom-left-radius: 5px;
			color: #fff;
			font-size: 14px;
		}
		.deal {
			display: block;
			font-size: 10px;
		}
		.discounted-price{
			color: #afafaf;
			font-size: 14px;
			margin-left: 5px;
			font-weight: 600;
		}
		.remove-deal-btn,.select-deal-btn {
			padding: 13px 20px;
			border: solid 1px #00266B;
			background: transparent;
			// width: 85%;
			width: 95%;
			font-weight: 600;
			font-size: 12px;
			border-radius: 2px;
			letter-spacing: 1px;
		}
		.ico-seat{
			display: inline-block;
			width: 21px;
			height: 30px;
			background-size: 20px;
			transform: translate(4px, -2px);
		}
		.foward-seat,
		.flight-info {
			display: block;
			margin: 0;
			text-align: left;
		}
		.add-baggage {
			display: block;
		}
		.baggage-weight, .baggage-city-code {
			display: inline-block;
		}
		.seat-baggage,.flight-baggage {
			display: grid;
			grid-template-columns:  15% 85%;
			margin: 0;
		}
		.flight-seat-baggage {
			padding-bottom: 20px;
			margin: 0;
		}
		.baggage-content {
			margin: 0;
			padding: 15px;
			font-size: 14px;
			text-align: left;
		}
		.baggage-icon {
			padding: 15px;
	
			.ico-baggage {
				display: inline-block;
				width: 21px;
				height: 30px;
				background-size: 20px;
				transform: translate(7px, -3px);
			}
		}
		.cs-btn-remove {
			position: relative;
			padding: 0 15px;
			margin: 0;
		}
		.cs-flight-details {
			border: 1px solid #e5e9f0;
			position: relative;
			background: #fff;
		}
		.baggage-weight {
			color: #1c5d49;
			margin-right: 5px;
		}
		.bulllet {
			margin-right: 5px;
		}
		.seat-number {
			margin-right: 5px;
		}
		.flight-detail-container,.tool-tip-content_content_description-bottom {
			margin: 0;
			text-decoration: none !important;
		}
		.baggage {
			display: block;
			background: url(/assets/images/svg/icons/baggage.svg) center center no-repeat transparent;
			height: 22px;
			width: 26px;
			transform: translate(4px);
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices)  and (max-width: 767px){ 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) and (max-width: $breakpoint-large-devices) { 
	.modal-mask {
		min-height: 64rem;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) { 
	.modal-container {
		padding: 0;
		padding-right: 0;

		.modal-body {
			width: 700px;
		}
	}

	.modal-enter .modal-container,
	.modal-leave-active .modal-container {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		opacity: 0;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) { 

}


