<tab-view-component class="tab-view-container container-center" :tabs="5" :active="defaultTab">
    <div class="tab-title-content" slot="title-1">
        <span>Book Trip</span>
    </div>
    <div slot="content-1" class="tab-content-1">
        <booking-component class="booking-container" :userData="userSummaryPanelData.userData"></booking-component>
    </div>

    <div slot="title-2">
        <div class="tab-title-content">
            <span>Manage Booking</span>
            <span class="tab-badge" v-if="pageData.pnrList">{{pageData.pnrList.length}}</span>
        </div>
    </div>
    <div slot="content-2">
        <div class="tab-content-2">
            <!-- Component Start -->
            <manage-booking-component v-model="userSummaryPanelData" :pnrList="pageData.pnrList"></manage-booking-component>
            <!-- Component End -->
        </div>
    </div>

    <div slot="title-3">
        <div class="tab-title-content">
            <span>Check In</span>
            <span class="tab-badge" v-if="checkedInPax != 0">{{checkedInPax}}</span>
        </div>
    </div>
    <div slot="content-3">
        <div class="tab-content-3">
            <div class="card booking_widget">
                <div class="tab-content-head">
                    <h1 class="page_header">Enter the details below to check in from 48 to 1.5 hours before your flight</h1>
                </div>
                <hr class="separator">
                <div v-if="pageData.pnrList" class="form_fields_container upcoming_flights_details">
                    <div class="upcoming_flights_wrapper" v-if="pnr.isCheckin" v-for="pnr in pageData.pnrList">
                        <div class="flights-details">
                            <span class="booking_reference_name">{{ pnr.referenceNumber }}</span>
                            <span class="manage-info"><a href="#">Check in</a></span>
                            <span class="flights_departure_destination">
                                <span class="flgihts_departure">{{ pnr.origin.name }}</span> to
                                <span class="flights_destination">{{ pnr.destination.name }}</span>
                            </span>
                            <span class="date_month_year">
                                <span class="date_month-1">{{ toDateObject(pnr.departureDate).date }} {{ toDateObject(pnr.departureDate).month
                                    }}
                                </span>
                                <span>{{ toDateObject(pnr.departureDate).year }}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div v-if="!showManualBooking && pageData.pnrList" class="retrieve_booking_manual">
                    <span><a href="#" @click.prevent="showManualBooking = true">Retrieve a booking manually</a></span>
                </div>

                <div v-if="showManualBooking || !pageData.pnrList" class="form_fields_container booking_actions">
                    <div class="form_control field__radiobox">
                        <input v-model="checkedInSelection" value="bookingReference" type="radio" name="flight-radio" id="bookFlights" class="input__radio">
                        <label for="bookFlights" class="form__label form__label-mod ">SQ / MI booking reference</label>
                        <div class="v-popover">
                            <span aria-describedby="popover_usf8pdwykx" tabindex="-1" class="trigger" style="display: inline-block;">
                            </span>
                        </div>
                    </div>
                    <div class="form_control field__radiobox">
                        <input v-model="checkedInSelection" value="eticketNumber" type="radio" name="flight-radio" id="redeemFlights" class="input__radio">
                        <label for="redeemFlights" class="form__label form__label-mod">E-ticket number</label>
                        <div class="v-popover"><span aria-describedby="popover_0s4ghahppt" tabindex="-1" class="trigger"
                                style="display: inline-block;">
                            </span>
                        </div>
                    </div>
                </div>

                <div v-if="showManualBooking || !pageData.pnrList">
                    <form action="#form1" method="POST" class="form" @submit.prevent="checkForm($event)" autocomplete="off" v-if="checkedInSelection == 'bookingReference'">
                        <div class="form_fields_container manage_booking_details">
                            <div class="form_field_wrapper">
                                <div class="form_control has-float-label">
                                    <div class="booking-selection">
                                        <div class="input_wrapper">
                                            <input v-model="bookingReferenceSQMI" v-required-model="bookingReferenceSQMI" @blur="onValidationBlur($event)" type="text"
                                                name="bookingReferenceSQMI" id="bookingReferenceFieldSQMI" placeholder=" " class="form_field form_input--text validate pristine">
                                            <label for="bookingReferenceSQMI" class="form_label form_label-mod">SQ / MI booking
                                                reference
                                            </label>
                                            <small ref="bookingErrorRef" class="validation_container hidden">
                                                <span class="error">Please enter a Booking Reference.</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_field_wrapper">
                                <div class="form_control has-float-label">
                                    <div class="booking-selection">
                                        <div class="input_wrapper">
                                            <input v-model="last_familyNameSQMI" v-required-model="last_familyNameSQMI" @blur="onValidationBlur($event)" type="text"
                                                name="last_familyNameSQMI" id="last_familyNameFieldSQMI" placeholder=" " class="form_field form_input--text validate pristine">
                                            <label for="last_familyNameSQMI" class="form_label">Last / Family name (As in
                                                passport)
                                            </label>
                                            <small class="validation_container hidden">
                                                <span class="error">Last / family name does not match booking</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_field_wrapper">
                                <div class="form_control">
                                    <button type="submit" class="btn btn-primary btn-primary-mod ">CHECK IN</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="#form2" method="POST" class="form" @submit.prevent="checkForm($event)" autocomplete="off" v-if="checkedInSelection == 'eticketNumber'">
                        <div class="form_fields_container manage_booking_details">
                            <div class="form_field_wrapper">
                                <div class="form_control has-float-label">
                                    <div class="booking-selection">
                                        <div class="input_wrapper">
                                            <input v-model="bookingReferenceEticket" v-required-model="bookingReferenceEticket" @blur="onValidationBlur($event)" type="text"
                                                name="bookingReferenceEticket" id="bookingReferenceFieldEticket" placeholder=" "
                                                class="form_field form_input--text validate pristine">
                                            <label for="bookingReferenceEticket" class="form_label form_label-mod">E-ticket
                                                number
                                            </label>
                                            <small ref="bookingErrorRef" class="validation_container hidden">
                                                <span class="error">Please enter a Ticket Number.</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_field_wrapper">
                                <div class="form_control has-float-label">
                                    <div class="booking-selection">
                                        <div class="input_wrapper">
                                            <input v-model="last_familyNameEticket" v-required-model="last_familyNameEticket" @blur="onValidationBlur($event)" type="text"
                                                name="last_familyNameEticket" id="last_familyNameFieldEticket" placeholder=" "
                                                class="form_field form_input--text validate pristine">
                                            <label for="last_familyNameEticket" class="form_label">Last / Family name (As
                                                in passport)</label>
                                            <small class="validation_container hidden">
                                                <span class="error">Last / family name does not match booking</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_field_wrapper">
                                <div class="form_control">
                                    <button type="submit" class="btn btn-primary btn-primary-mod ">CHECK IN</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div slot="title-4">
        <div class="tab-title-content">
            <span>Flight Status</span>
        </div>
    </div>
    <div slot="content-4">
        <div class="tab-content-4">
            <!-- Component Start -->
            <form action="" class="form" method="POST" @submit.prevent="checkForm" autocomplete="off">
                <section class="booking_wrapper">
                    <div class="card booking_widget">
                        <div class="card_heading">
                            <h1 class="page_header">Get flight status updates</h1>
                        </div>
                        <hr class="separator">
                        <div class="card_body">

                            <!-- <div class="flight__update_selection by--route"> or <div class="flight__update_selection by--flight-number"> -->
                            <!-- Flight update selection STATIC start -->
                            <div v-bind:class="{ 'by--route': flightStatusType == FLIGHT_STATUS_TYPE_ROUTE, 'by--flight-number': flightStatusType == FLIGHT_STATUS_TYPE_FLIGHT_NUMBER  }"
                                class="flight__update_selection">
                                <div class="flight_status__route">
                                    <div class="form_fields_container booking_actions">
                                        <div class="form_field_wrapper">
                                            <div class="form_controls">
                                                <div class="booking_actions--main by_route">
                                                    <div class="form_control field__radiobox">
                                                        <input @change="onFlightStatusTypeChanged()" v-model="flightStatusType" value="route" type="radio" name="flight-status-radio"
                                                            id="flightStatusByRoute" class="input__radio">
                                                        <label for="flightStatusByRoute" class="form__label">By route</label>
                                                        <a href="#" class="tooltip--inline">
                                                            <span class="icon icon-info"></span>
                                                        </a>
                                                    </div>
                                                    <div class="form_control field__radiobox">
                                                        <input @change="onFlightStatusTypeChanged()" v-model="flightStatusType" value="flightNumber" type="radio" name="flight-status-radio"
                                                            id="flightStatusByNumber" class="input__radio">
                                                        <label for="flightStatusByNumber" class="form__label">By flight number</label>
                                                        <a href="#" class="tooltip--inline">
                                                            <span class="icon icon-info"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form_field_wrapper flight--route flight_od">
                                        <div class="form_controls has-float-label">

                                            <!-- By route [OD field] -->
                                            <div class="form_control flight__route--type">
                                                <div class="vue-simple-suggest designed">
                                                    <div class="input_wrapper">
                                                        <select name="flightOption" id="flightOption" placeholder=" " class="form_field form_input--text ref--searchinput">
                                                            <option value="SQ">SQ</option>
                                                            <option value="MI">MI</option>
                                                        </select>
                                                        <a>
                                                            <span class="icon icon--chevron-down"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form_control flight__route--number">
                                                <div class="vue-simple-suggest designed">
                                                    <div class="input_wrapper">
                                                        <input v-model="flightNumber" v-required-model="flightNumber" @blur="onValidationBlur($event)" type="text" name="flightNumber"
                                                            id="flightNumber" class="form_field form_input--text ref--searchinput validate pristine"
                                                            placeholder=" ">
                                                        <label for="childAge" class="form_label">Flight Number</label>
                                                        <a href="#">
                                                            <span class="icon icon--chevron-down"></span>
                                                        </a>
                                                        <small class="validation_container hidden">
                                                            <span class="error">Please add flight number</span>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- By flight number [OD field] -->
                                            <div class="control_group flight__od" v-if="flightStatusType == 'route'">
                                                <div class="form_control">
                                                    <v-autocomplete-booking v-model="flightStatusQueryData.from" display-attribute="label" value-attribute="airportCode" :items="originCountriesBook">
                                                        <template slot="autocomplete-field" slot-scope="{item}">
                                                            <input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightStatusOriginField" id="flightStatusOriginField"
                                                                placeholder=" " class="form_field form_input--text ref--searchinput writeable validate pristine"
                                                                v-model="item.value" v-on:focus="$event.target.select()">
                                                            <label for="flightStatusOriginField" class="form_label">From</label>
                                                            <div class="flight__ticker" v-if="item.value != ''">
                                                                <span class="flight__origin_Text">{{ item.cityName }}</span>
                                                                <span class="country__ticker">{{ item.airportCode }}</span>
                                                            </div>
                                                            <span class="icon icon--location"></span>
                                                            <span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
                                                            <span class="icon icon--plane od_field__icon"></span>

                                                            <small class="validation_container hidden">
                                                                <span class="error">Please select city</span>
                                                            </small>
                                                        </template>
                                                        <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                            <div class="suggestion__entry">
                                                                <div class="suggestion__city">
                                                                    {{ suggestion.cityName }}
                                                                    <span class="suggestion__country">
                                                                        , {{ suggestion.countryName }}
                                                                    </span>
                                                                </div>
                                                                <div class="small-1 suggestion__airport">{{ suggestion.airportName
                                                                    }}
                                                                </div>
                                                                <div class="suggestion__city_code">{{ suggestion.cityCode
                                                                    }}
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </v-autocomplete-booking>
                                                </div>
                                                <div class="form_control">
                                                    <v-autocomplete v-model="flightStatusQueryData.to" display-attribute="label" value-attribute="airportCode" :items="destinationCountriesBook">
                                                        <template slot="autocomplete-field" slot-scope="{item}">
                                                            <input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightDestination" id="flightDestinationField"
                                                                placeholder=" " class="form_field form_input--text ref--searchinput writeable validate pristine"
                                                                v-model="item.value" v-on:focus="$event.target.select()">

                                                            <label for="flightDestination" class="form_label">To</label>
                                                            <div class="flight__ticker" v-if="item.value != ''">
                                                                <span class="flight__origin_Text">{{ item.cityName }}</span>
                                                                <span class="country__ticker">{{ item.airportCode }}</span>
                                                            </div>

                                                            <span class="icon icon--location"></span>
                                                            <span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
                                                            <small class="validation_container hidden">
                                                                <span class="error">Please select city</span>
                                                            </small>
                                                        </template>
                                                        <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                            <div class="suggestion__entry">
                                                                <div class="suggestion__city">
                                                                    {{ suggestion.cityName }}
                                                                    <span class="suggestion__country">
                                                                        , {{ suggestion.countryName }}
                                                                    </span>
                                                                </div>
                                                                <div class="small-1 suggestion__airport">{{ suggestion.airportName
                                                                    }}
                                                                </div>
                                                                <div class="suggestion__city_code">{{ suggestion.cityCode
                                                                    }}
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </v-autocomplete>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="flight_update__schedule">

                                    <div class="form_fields_container">
                                        <div class="form_controls">
                                            <div class="toggle__switch">
                                                <button v-bind:class="{ 'toggle__switch_state--selected': isFlightStatusDeparting }" class="toggle__switch_state button__travel_type"
                                                    @click="onFlightStatusDeparting($event)">Depart</button>
                                                <button v-bind:class="{ 'toggle__switch_state--selected': isFlightStatusArriving }" class="toggle__switch_state button__travel_type"
                                                    @click="onFlightStatusArriving($event)">Arrive</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form_field_wrapper flight_date flight_od">
                                        <div class="form_controls has-float-label">
                                            <div v-if="isFlightStatusDeparting && flightStatusType == FLIGHT_STATUS_TYPE_FLIGHT_NUMBER" class="form_control flight__od">
                                                <v-autocomplete-booking v-model="flightStatusQueryData.from" display-attribute="label" value-attribute="airportCode" :items="originCountriesBook">
                                                    <template slot="autocomplete-field" slot-scope="{item}">
                                                        <input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightStatusOriginFieldByNumber"
                                                            id="flightStatusOriginFieldByNumber" placeholder=" " class="form_field form_input--text ref--searchinput writeable validate pristine"
                                                            v-model="item.value" v-on:focus="$event.target.select()">
                                                        <label for="flightStatusOriginFieldByNumber" class="form_label">From</label>
                                                        <div class="flight__ticker" v-if="item.value != ''">
                                                            <span class="flight__origin_Text">{{ item.cityName }}</span>
                                                            <span class="country__ticker">{{ item.airportCode }}</span>
                                                        </div>
                                                        <span class="icon icon--location"></span>
                                                        <span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>

                                                        <small class="validation_container hidden">
                                                            <span class="error">Please select city</span>
                                                        </small>
                                                    </template>
                                                    <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                        <div class="suggestion__entry">
                                                            <div class="suggestion__city">
                                                                {{ suggestion.cityName }}
                                                                <span class="suggestion__country">
                                                                    , {{ suggestion.countryName }}
                                                                </span>
                                                            </div>
                                                            <div class="small-1 suggestion__airport">{{ suggestion.airportName
                                                                }}
                                                            </div>
                                                            <div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
                                                        </div>
                                                    </template>
                                                </v-autocomplete-booking>
                                            </div>
                                            <div v-if="isFlightStatusArriving  && flightStatusType == FLIGHT_STATUS_TYPE_FLIGHT_NUMBER" class="form_control flight__od">
                                                <v-autocomplete v-model="flightStatusQueryData.to" display-attribute="label" value-attribute="airportCode" :items="destinationCountriesBook">
                                                    <template slot="autocomplete-field" slot-scope="{item}">
                                                        <input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightDestination" id="flightDestinationField"
                                                            placeholder=" " class="form_field form_input--text ref--searchinput writeable validate pristine"
                                                            v-model="item.value" v-on:focus="$event.target.select()">

                                                        <label for="flightDestination" class="form_label">To</label>
                                                        <div class="flight__ticker" v-if="item.value != ''">
                                                            <span class="flight__origin_Text">{{ item.cityName }}</span>
                                                            <span class="country__ticker">{{ item.airportCode }}</span>
                                                        </div>

                                                        <span class="icon icon--location"></span>
                                                        <span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
                                                        <small class="validation_container hidden">
                                                            <span class="error">Please select city</span>
                                                        </small>
                                                    </template>
                                                    <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                        <div class="suggestion__entry">
                                                            <div class="suggestion__city">
                                                                {{ suggestion.cityName }}
                                                                <span class="suggestion__country">
                                                                    , {{ suggestion.countryName }}
                                                                </span>
                                                            </div>
                                                            <div class="small-1 suggestion__airport">{{ suggestion.airportName
                                                                }}
                                                            </div>
                                                            <div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
                                                        </div>
                                                    </template>
                                                </v-autocomplete>
                                            </div>

                                            <div class="calendar-root flight__arrival_date">
                                                <div class="form_control">
                                                    <v-autocomplete v-if="isFlightStatusDeparting" v-model="flightStatusDepartDate.value" display-attribute="label" value-attribute="value"
                                                        :items="flightPossibleDates">
                                                        <template slot="autocomplete-field" slot-scope="{item}">
                                                            <input v-required-model="flightStatusDepartDate.value" @blur="onValidationBlur($event)" type="text" name="flightStatusDepartDate"
                                                                id="flightStatusDepartDate" placeholder=" " class="form_field form_input--text ref--searchinput validate pristine"
                                                                :value="flightStatusReadableDepartDate">

                                                            <label for="flightDestination" class="form_label">Departure Date</label>
                                                            <!-- <div class="flight__ticker" v-if="item.value != ''">
                                                                        <span class="flight__origin_Text">{{ item.cityName }}</span>
                                                                        <span class="country__ticker">{{ item.airportCode }}</span>
                                                                    </div> -->

                                                            <span class="icon icon--calendar"></span>
                                                            <small class="validation_container hidden">
                                                                <span class="error">Please select depart date</span>
                                                            </small>
                                                        </template>
                                                        <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                            <div class="suggestion__entry">
                                                                <div class="suggestion__city">
                                                                    {{ getReadableDate(suggestion) }}
                                                                    <!-- <span class="suggestion__country">
                                                                                , {{ suggestion }}
                                                                            </span> -->
                                                                </div>
                                                                <!-- <div class="small-1 suggestion__airport">{{ suggestion }}</div> -->
                                                                <!-- <div class="suggestion__city_code">{{ suggestion }}</div> -->
                                                            </div>
                                                        </template>
                                                    </v-autocomplete>
                                                    <v-autocomplete v-if="isFlightStatusArriving" v-model="flightStatusArriveDate.value" display-attribute="label" value-attribute="value"
                                                        :items="flightPossibleDates">
                                                        <template slot="autocomplete-field" slot-scope="{item}">
                                                            <input v-required-model="flightStatusArriveDate.value" @blur="onValidationBlur($event)" type="text" name="flightStatusArriveDate"
                                                                id="flightStatusArriveDate" placeholder=" " class="form_field form_input--text ref--searchinput validate pristine"
                                                                :value="flightStatusReadableArriveDate">

                                                            <label for="flightDestination" class="form_label">Arrive Date</label>
                                                            <!-- <div class="flight__ticker" v-if="item.value != ''">
                                                                        <span class="flight__origin_Text">{{ item.cityName }}</span>
                                                                        <span class="country__ticker">{{ item.airportCode }}</span>
                                                                    </div> -->

                                                            <span class="icon icon--calendar"></span>
                                                            <small class="validation_container hidden">
                                                                <span class="error">Please select arrive date</span>
                                                            </small>
                                                        </template>
                                                        <template slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                            <div class="suggestion__entry">
                                                                <div class="suggestion__city">
                                                                    {{ getReadableDate(suggestion) }}
                                                                    <!-- <span class="suggestion__country">
                                                                                , {{ suggestion }}
                                                                            </span> -->
                                                                </div>
                                                                <!-- <div class="small-1 suggestion__airport">{{ suggestion }}</div> -->
                                                                <!-- <div class="suggestion__city_code">{{ suggestion }}</div> -->
                                                            </div>
                                                        </template>
                                                    </v-autocomplete>
                                                </div>
                                            </div>
                                            <div class="form_control">
                                                <button type="submit" class="btn btn-primary">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Flight update selection end  -->


                            <div class="banner__notification banner--image-left">
                                <div class="banner__image_container"><img src="assets/images/flight-notification.png" alt="Get flight notifications"
                                        class="banner__image img banner__image--flight-updates"></div>
                                <div class="banner__notification_copy">
                                    <h4 class="banner__notification_heading">Get flight notifications on your phone</h4>
                                    <p class="banner__notification_text">Stay updated with flight notifications on WhatsApp.
                                        <a href="#">Connect with us
                                        </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
            <!-- Component Start -->
        </div>
    </div>

    <div slot="title-5">
        <div class="tab-title-content">
            <span>Flight Schedule</span>
        </div>
    </div>
    <div slot="content-5">
        <!-- Flight Schedule Tab Start -->
        <div class="tab-content-5">
            <section class="booking_wrapper">
                <div class="card booking_widget">
                    <div class="card_heading">
                        <h1 class="page_header">Check flight schedules</h1>
                    </div>
                    <hr class="separator">
                    <form action="#form1" class="form" method="POST" @submit.prevent="checkForm" autocomplete="off">
                        <div class="form_fields_container flight_iterinary">
                            <div class="form_field_wrapper flight_od">
                                <div class="form_controls">
                                    <div class="control_group">
                                        <div class="form_control has-float-label">
                                            <v-autocomplete-booking v-model="bookFlightData.from" display-attribute="label" value-attribute="airportCode" :items="originCountriesBook">
                                                <template slot="autocomplete-field" slot-scope="{item}">
                                                    <input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightOrigin" id="flightOriginField"
                                                        placeholder=" " class="form_field form_input--text ref--searchinput validate pristine"
                                                        v-model="item.value" v-on:focus="$event.target.select()">
                                                    <label for="flightOrigin" class="form_label">From</label>
                                                    <div class="flight__ticker" v-if="item.value != ''">
                                                        <span class="flight__origin_Text">{{ item.cityName }}</span>
                                                        <span class="country__ticker">{{ item.airportCode }}</span>
                                                    </div>
                                                    <span class="icon icon--location"></span>
                                                    <span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
                                                    <span class="icon icon--plane od_field__icon"></span>

                                                    <small class="validation_container hidden">
                                                        <span class="error">Please select city</span>
                                                    </small>
                                                </template>
                                                <div slot="autocomplete-suggestion" class="suggestion__entry" slot-scope="{suggestion}">
                                                    <div class="suggestion__city">
                                                        {{ suggestion.cityName }}
                                                        <span class="suggestion__country">
                                                            , {{ suggestion.countryName }}
                                                        </span>
                                                    </div>
                                                    <div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
                                                    <div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
                                                </div>
                                            </v-autocomplete-booking>
                                        </div>

                                        <div class="form_control has-float-label">
                                            <v-autocomplete v-model="bookFlightData.to" display-attribute="label" value-attribute="airportCode" :items="destinationCountriesBook">
                                                <template slot="autocomplete-field" slot-scope="{item}">
                                                    <input v-required-model="item.value" @blur="onValidationBlur($event)" type="text" name="flightDestination" id="flightDestinationField"
                                                        placeholder=" " class="form_field form_input--text ref--searchinput validate pristine"
                                                        v-model="item.value" v-on:focus="$event.target.select()">

                                                    <label for="flightDestination" class="form_label">To</label>
                                                    <div class="flight__ticker" v-if="item.value != ''">
                                                        <span class="flight__origin_Text">{{ item.cityName }}</span>
                                                        <span class="country__ticker">{{ item.airportCode }}</span>
                                                    </div>

                                                    <span class="icon icon--location"></span>
                                                    <span class="icon icon--close" v-if="item.value != ''" v-on:click="item.value = ''"></span>
                                                    <small class="validation_container hidden">
                                                        <span class="error">Please select city</span>
                                                    </small>
                                                </template>
                                                <div class="suggestion__entry" slot="autocomplete-suggestion" slot-scope="{suggestion}">
                                                    <div class="suggestion__city">
                                                        {{ suggestion.cityName }}
                                                        <span class="suggestion__country">
                                                            , {{ suggestion.countryName }}
                                                        </span>
                                                    </div>
                                                    <div class="small-1 suggestion__airport">{{ suggestion.airportName }}</div>
                                                    <div class="suggestion__city_code">{{ suggestion.cityCode }}</div>
                                                </div>
                                            </v-autocomplete>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_fields_container flight_boarding_details_flight_schedule">
                            <div class="form_field_wrapper flight_date">
                                <div class="form_controls">
                                    <div class="control_group has-float-label">
                                        <v-datepicker v-model="flightStatusQueryData.schedule" i18n="EN">
                                            <template slot="depart-input" slot-scope="{openCalendar, blurFocus, startDate}">
                                                <div class="input_wrapper">
                                                    <input v-required-model="startDate" v-required-model.calendar type="text" name="departDate" id="departDateField" placeholder=" "
                                                        class="form_field form_input--text ref--start validate pristine" @blur="blurFocus"
                                                        @focus="openCalendar('start', $event)" v-model="startDate">

                                                    <label for="departDate" class="form_label">Depart Date</label>
                                                    <span class="icon icon--calendar"></span>

                                                    <small class="validation_container hidden">
                                                        <span class="error">Please select dates</span>
                                                    </small>
                                                </div>
                                            </template>
                                            <template slot="arrival-input" slot-scope="{openCalendar, blurFocus, endDate}">
                                                <div class="input_wrapper">
                                                    <input v-required-model="endDate" v-required-model.calendar type="text" name="returnDate" id="returnDateField" placeholder=" "
                                                        class="form_field form_input--text ref--end validate pristine" @blur="blurFocus"
                                                        @focus="openCalendar('start', $event)" v-model="endDate">

                                                    <label for="returnDate" class="form_label">Return Date(optional)</label>
                                                    <span class="icon icon--calendar"></span>
                                                </div>
                                            </template>
                                        </v-datepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="form_field_wrapper">
                                <div class="form_control">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <!-- Flight Schedule Tab End -->
    </div>
</tab-view-component>