<section class="hp-section popular-links">
  <div class="hp-container">
    <div class="popular-links__header">
      <h2 class="popular-links__title">Popular links</h2>
    </div>

    <div class="popular-links__row">
      <div v-for="item in popularLinks" class="popular-links__col">
        <a :href="item.link" class="popular-links__button">
          <span>{{item.text}}</span>
        </a>
      </div>
    </div>

    <div class="popular-links__clear"></div>
  </div>
</section>
