$gutter: 10px;
// screen break points
$break-point-mobile: 576px;
$break-point-tablet: 768px;
$break-point-desktop: 992px;
$break-point-desktop-large: 1200px;

$media-screen-smallest: '(max-width: #{$break-point-mobile - 1})';
$media-screen-mobile: '(max-width: #{$break-point-tablet - 1})';
$media-screen-tablet: '(min-width: #{$break-point-tablet}) and (max-width: #{$break-point-desktop - 1})';
$media-screen-desktop: '(min-width: #{$break-point-desktop})';
$media-screen-desktop-large: '(min-width: #{$break-point-desktop-large})';

.popular-links {
  background-color: #FAFAFA;
  padding-bottom: 60px !important;

  &__row {
    margin-left: -$gutter;
    margin-right: -$gutter;

    &:before,
    &:after {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }
  }

  &__col {
    width: 33.333333%;
    padding-left: $gutter;
    padding-right: $gutter;
    float: left;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    display: inline;
    color: #00266B;
    font-size: 26px;
    font-weight: 400;
    font-family: "sigvar", Helvetica, Arial, sans-serif;

    &:before {
      content: "";
      width: 3px;
      height: 20px;
      background-color: #FF9F00;
      display: inline-block;
      margin-right: 10px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
    border-left: 3px solid #E5E9F0;
    border-radius: 4px;

    & span {
      font-size: 12px;
      color: #00266B;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      position: relative;
      display: block;
      width: 100%;
      font-weight: 600;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 5px;
        width: 6px;
        height: 10px;
        background-image: url("/assets/images/arrow-right.png");
        background-size: cover;
      }
    }
  }

  &__arrow-right {
    width: 6px;
    height: 10px;
  }

  &__clear {
    clear: both;
  }

  @media #{$media-screen-smallest} {
    background-color: #FFF;
  }

  @media #{$media-screen-mobile} {
    background-color: #FFF;
    padding-bottom: 30px !important;

    &__col {
      width: 100%;
      padding-right: 0;

      &:last-child {
        & .popular-links__button {
          border-bottom: none;
        }
      }
    }

    &__button {
      border-bottom: 1px solid #E5E9F0;
      padding: 0 10px 0 0;
      border-left: none;
      box-shadow: none;
      border-radius: 0;
    }
  }

  @media #{$media-screen-tablet} {
    &__col {
      width: 33.333333%;
    }

    &__viewmore {
      &-link {
        &::before,
        &::after {
          width: 28%;
        }
      }
    }

    &__guide {
      &-item {
        width: 297px;
      }
    }

    &__button {
      margin-bottom: 20px;
    }
  }
}
