// Utility Colors
// --------------------

$util-positive                          : #05B410 !default;
$util-error                             : #FF0000 !default;

$util-positive--subtle                  : #F2FBF3 !default;
$util-error--subtle                     : #FFF1F0 !default;

$util-neutral-1                         : #FFF5E5 !default;
$util-neutral-2                         : #E5E9F0 !default;

// Overlay
// --------------------

$hero-dark--overlay                     : rgba(0, 0, 0, .7) !default;
$image-dark--overlay                    : rgba(0, 0, 0, .5) !default;

// SIA Customer Class Colors
// --------------------

// $economy-class
// $premium-economy-class
// $business-class
// $first-class
// $suites-class