/* Color palette

"Without colors life would be colorless" - anon
All colors in the platform should be declared here

*/

// Primary Colors
// --------------------
$primary-color                          : #00266b !default;
$primary-violet                         : $primary-color;
$primary-orange                         : #FF9F00 !default;
$primary-darkgray                       : #222222 !default;


// Secondary Colors
// --------------------
$secondary-blue                         : #2275D3 !default;
$secondary-cocowhite                    : #E5E9F0 !default;


// Grey and Gandalf
// --------------------
$gray-default                           : #666666 !default;
$gray-gray                              : #AFAFAF !default;
$gray-light                             : #CCCCCC !default;

$bg-dirtywhite                          : #FAFAFA !default;
$gandalf                                : #FFFFFF !default;