@import './mixins/_form.scss';
@import './mixins/_icon.scss';
@import './import/_color_palette';

/**
 * z-index number chart
 * 
 * -1	- do not use
 * 0 	- default element
 * 20	- dropdown select list and calendar
 * 50 	- overlay icons for input element
 * 100	- tooltips
 * 200	- modal overlays or overlays
 * 500	- modals
 */
.form {
    display: flex;
    flex-direction: column;
}

// reset input
input {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 0.9rem;
    background: none;
	border: 0;
	
	::placeholder {
		color: #222;
		font-weight: 400;
		text-transform: capitalize;
		font-family: 'proxima-nova';
	}
}

/* Float Label pure css implementation
* Has default styling
* https://github.com/tonystar/float-label-css/blob/master/scss/float-label.scss
*/
.has-float-label {

	@include float-label-container;
	
	@include float-label;
	
input {

	@include float-label-input;
	font-size: inherit;
	padding-top: 1em;
		margin-bottom: 2px;
		
	@include float-label-scaled {
		top: 1em;
		color: #222;
		letter-spacing: 0;
		}
		
	&:focus {
		outline: none;
	}
}
} /* Float label end */

/** Base form control
 * 
 */

.form_control {

    position: relative;

    &.has-float-label{
        &.has-error{
            margin-bottom: 20px;
            .validation_container_error{
                border: 1px solid #e20000;
            }
            .validation_form_label_error{
                color: #e20000;
            }
        }
    }

	.input_wrapper {
        background-color: $gandalf;
        /* Set the input height here */
        height: 50px;
        border-radius: 2px;
        border: 1px solid #CCCCCC;
        // padding: 5px 15px 10px;
        display: block;
        min-width: 100px;
        width: 100%;

        &.open {
            .form_field {
                padding: 20px 15px 10px;
            }
        }

        .form_label {

            left: 16px;
            top: 10px;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 1px;
            opacity: 1;
            font-family: proxima-nova;
            color:  $gray-default;
        
        }
		.form_field {
            display: flex;
            font-weight: bold;
            width: 100%;
            outline: 0;
            border: none;
            box-shadow: none;
            font-size: 1rem;
            height: 50px;
            padding: 20px 15px 10px;
            font-family: proxima-nova;
            text-transform: capitalize;
            margin-top: 0;

			&:focus,
			&.focus {
				outline: 0;
			}
		}
    }
    
    &.field__radiobox {
        font-size: 0.875rem;
    
        input[type="radio"] {
            position: absolute;
            top: 0;
            opacity: 0;
            z-index: 4;
            cursor: pointer;
    
            & + label {
                padding-left: 1.5rem;
                position: relative;
                
                font-size: 1em;
                line-height: 0.875rem;
    
                &:before {
                    content: '';
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
    
                    width: 14px;
                    height: 14px;
                    
                    border: solid 1px #cccccc;
                    background: #fff;
                }
    
                &:after {
                    content: '';
                    display: none;
                    width: 8px;
                    height: 8px;
    
                    position: absolute;
                    top: 50%;
                    left: 3px;
                    transform: translateY(-50%);
    
                    border-radius: 50%;
    
                    background-color: #FF9F00;
                }
            }
    
            &:checked, .checked {
                & + label {
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }

    .v-popover{
        box-sizing: unset;
        display: block;
        /* width: 1.063rem; */
        position: absolute;
        /* margin-left: 0.750rem; */
        top: 0;
        right: -22px;
        padding: 12px 8px;
        .icon-info{
            position: absolute;
            top: 3px;
            right: 2px;
        }
    }
}



/* Group inputs base structure
 * 
 */


.control_group, 
.form__group_fields {

	display: flex;
    flex-direction: row;
    flex-flow: row;

    &.has-float-label{
        .has-error{
            .validation_container_error{
                border: 1px solid #e20000;
            }
            .validation_form_label_error{
                color: #e20000;
            }
        }
    }

    // Replace color icon-in-between on hover
    &:hover .icon.od_field__icon, .input_wrapper.open .icon.od_field__icon
    {
        @include render-icon('icon-flight-hovered');
        transition: all ease-in-out 0.3s;
    }

	.form_control {

        &:first-child{
            margin-right: 0;
        }

		width: 50%;
        margin-right: 15px;

        /* For double inputs only 
         * Properly style the border radius
         */
        // Left input border
        &:first-child .input_wrapper {
            border-radius: 2px 0 0 2px;
        }
        
        // Right input border
        &:last-child .input_wrapper {
            border-radius: 0 2px 2px 0;
        }

	}
}


/* Dropdown styles 
 *
 */

%dropdown_base_container {
    border: 1px solid $gray-light;
    position: relative;
    background: $gandalf;
    /* TODO: Shadow can be done on mixin */
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10);
}

/* Passenger Component
 * 
 */

.passenger__count {
    padding: 20px 15px;
    
    @extend %dropdown_base_container;

        
    .dropdown__entry {
        padding-left: 15px;
        display: flex;
        padding-bottom: 10px;

            * {
            display: flex;
            flex: 1;
        }

    }

    .dropdown__entry 
    .dropdown__label {flex-direction: column;padding-top: 5px;}

    .room__accommodation_count--adult-count {
        justify-content: stretch;
    }


    .room__accommodation {
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        padding-bottom: 20px;
    }

    .dropdown__entry.room__accommodation--children {
        flex-flow: column;
    }

    .dropdown__entry.room__accommodation--children .room__accommodation--child-count {
        flex-flow: column;
    }

    .room__accommodation .heading-4 {
        margin: 5px 0;
    }

    span.room__accommodation--age-range {
        font-size: 0.85em;
    }

    .dropdown__controls--footer-action > * {flex: 1;display: flex;flex-direction: row;}

    .dropdown__controls--footer-action {
        display: flex;
    }

    .secondary_action {
        flex: 4;
    }

    .primary_action {
        flex: 2;
    }

    .dropdown__label {
        flex: 4;
    }

    .dropdown__control.room__accommodation--number-ticker,
    .dropdown__control.room__accommodation--select-age {
        flex: 2;
    }


    .primary_action > .btn, .primary_action > .btn-primary {width: 100%;}

    .input__number--ticker-minus, .input__number--ticker-plus {
        outline: 0;
    }
    
    .input__number--ticker-number {
        justify-content: center;
        align-self: center;
        line-height: 2.4;
        font-weight: 600;
    }

    .input__number--ticker-minus, .input__number--ticker-plus {
        position: relative;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
    }

    .input__number--ticker-plus .icon, .input__number--ticker-minus .icon {
        top: 10px;
        right: 5px;
    }

    .input__number--ticker-minus {
        @include render-icon('btn-minus-circle');

        &[disabled="disabled"]  {
            @include render-icon('btn-minus-circle-gray');
        }
    }

    .input__number--ticker-plus {
        &[disabled="disabled"]{
            @include render-icon('btn-plus-circle-gray');
        }
        @include render-icon('btn-plus-circle');
    }

    .room__accommodation--child-count .dropdown__entry {
        padding-top: 10px;
    }
    
    /* Field styling when input is in a dropdown entry */
    .dropdown__entry .form_control {
        .input_wrapper {
            height: 35px;
            padding: 5px;

            .form_label {
                left: 10px;
                top: 9px;
                text-transform: capitalize;
                font-size: 0.8em;
                font-weight: 600;
                color: black;
                letter-spacing: 0;
            }

            .form_field {
                padding: 0;
                height: 100%;
                margin: 0;
                width: 100%;
            }

            .icon {
                top: 7px;
                right: 7px;
                @include render-icon('icon-chevron');
                border-radius: 0;
                width: 24px;
            }
        }
    }

}
 /* Passenger Component end*/

/* Suggestion Component
 * 
 */

/* Specific override */
.vue-simple-suggest.designed .suggestions {
    border-radius: 0 0 2px 2px;
}

.control_group .form_control:last-child .suggestions {
    width: 200%;
    left: calc(0px - 100%);
}

.suggestions {
    
    width: 200%;

    @extend %dropdown_base_container;

    .suggestion__city {
        display: flex;
    }
    
    .suggestion__entry {
    	padding: 10px 15px;
    	&:hover {
    		background: $util-neutral-2;
        }
    }

    .suggestion__airport {
        color: $gray-default;  
    }

    .suggestion__city_code {
        /* TODO: Redo this on flex */
        color: $gandalf;
        text-transform: uppercase;
        background: #444;
        float: right;
        border-radius: 2px;
        font-weight: 600;
        position: relative;
        top: -35px;
        width: 40px;
        text-align: center;
        font-size: 0.85em;
        padding: 1px;
    }

    .predictive__search_key--tagged {
        font-weight: 800;
    }
} 
/* Suggestion Component end*/

//TODO: Use flex gap
.form_fields_container {
	margin-bottom: 15px;

	&.form_field_wrapper:nth-last-child(1) {
		padding-right: 0;
	}
	
}

.input_wrapper:hover, .input_wrapper.open {
    outline: 0;
    border-color: $secondary-blue;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

// Fixme: only the first child lights up
.input_wrapper.open .icon.od_field__icon
    {
        @include render-icon('icon-flight-hovered');
        transition: all ease-in-out 0.3s;
    }


/* Flight text ticker */
.flight__ticker {
    display: none;
    pointer-events: none;
    position: absolute;
    top: 19px;
    left: 16px;
    background-color: white;
}

/* Field tickers */

.country_ticker {
    display: inline-block;
    background: #666;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    padding: 1px 5px;
    font-size: 0.8em;
    letter-spacing: 1px;
}
/* Field tickers end */

/* Toggle Swith start */

.toggle__switch {
    border-radius: 1.25rem;
    background-color: #E5E9F0;
    display: inline-flex;
    padding: 5px;

.toggle__switch_state {
    color: #222;
    padding: 0.1875rem 0;
    font-size: 0.625rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    width: 90px;
    text-align: center;
    cursor: pointer;
    border-radius: 1.25rem;
    box-sizing: border-box;
    transition: all ease-in-out 0.4s;
    background-color: transparent;

    &--selected {
        background-color: #00266B;
        color: #fff;
        &:hover {
            box-shadow: 0 0 0 1px #fff;
        }
    }

    &:hover {
        // box-shadow: 0 0 0 1px #ccc;
    }

}
}
/* Toggle switch end */