@mixin clearfix($before: false) {
    zoom: 1;
    @if ($before) {
      &:before {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
      }
    }
    &:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    }
  }
  
  @mixin linear-gradient($direction, $start, $stop) {
    background-image: -webkit-linear-gradient($direction, $start, $stop);
    background-image: -moz-linear-gradient($direction, $start, $stop);
    background-image: -o-linear-gradient($direction, $start, $stop);
    background-image: -ms-linear-gradient($direction, $start, $stop);
    background-image: linear-gradient(to $direction, $start, $stop);
  }
  
  // Drop shadows
  @mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
  }
  
  @mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    @if $old-browser {
      $opacity-ie: ($opacity * 100);
      filter: #{alpha(opacity=$opacity-ie)};
    }
  }
  
  @mixin opacity-safari($opacity) {
    opacity: $opacity;
    // Netscape
    -moz-opacity: $opacity;
    // Safari 1.x
    -khtml-opacity: $opacity ;
  }
  
  @mixin border-radius($radius) {
    @include border-top-radius($radius);
    @include border-bottom-radius($radius);
  }
  
  // Shadow line
  // @mixin shadow-line() {
  //   &:before {
  //     content: "";
  //     width: 100%;
  //     height: 6px;
  //     @include box-shadow(0 4px 6px rgba(0, 0, 0, .5));
  //     @include position(absolute, 1px 10px 0 10px);
  //     @include opacity(.2);
  //     z-index: -1;
  //     @include border-top-radius(100%);
  //     @include border-bottom-radius(100%);
  //     @include border-left-radius(100%);
  //     @include border-right-radius(100%);
  //   }
  // }
  
  // Background sprite for IE
  @mixin background-sprite-ie($position-x, $position-y) {
    background: url("#{$img}ico-sprite-ie#{$darkSite}#{$betaSite}.png") no-repeat $position-x $position-y transparent;
  }
  
  @mixin background-sprite-ie-hover($position-x, $position-y){
    background: url("#{$img}ico-sprite-ie-hover#{$darkSite}#{$betaSite}.png") no-repeat $position-x $position-y transparent;
  }
  @mixin height-limit($max-height){
    max-height : $max-height;
    overflow: hidden;
  }
  
  @mixin fare-family-style($name, $color){
    .bgd-#{$name} {
      background-color: $color;
      .flights__info--group .flights__info &.flights__info--price.active {
        border-color: $color;
      }
      .package--name {
        background-color: $color;
      }
      .fare-label {
        color: $color;
      }
    }
    .bgd-active-#{$name} {
      .flights__table--1__inner {
        tr td.active {
          border-color: $color;
          // border-left: 1px solid $color;
        }
      }
      .flights__table .flights__table--1__inner td.active {
        .flights__active-border, .flights__tooltip-background {
          border-color: $color;
        }
      }
    }
  }
  @mixin transition($transition) {
   -webkit-transition: $transition;
      -moz-transition: $transition;
        -o-transition: $transition;
          transition: $transition;
  }
  @mixin transform($transform) {
   -webkit-transform: $transform;
       -moz-transform: $transform;
         -o-transform: $transform;
            transform: $transform;
  }
  