$font-barker:                 "Barker";
$font-proxima:                "proxima-nova";
$font-size-base:              14px;
$font-size-number:            $font-size-base/1px;
$border-radius-base:          2px;

$transition-time:             400ms;
$page-width:              988px !default;
$sans-serif: false !default;
$old-browser: false !default;

// Color
$color-darker:            #000;
$color:                   #666;
$color-light:             #ccc;
$color-lighter:           #fff;
$color-gray-darker:       #999;
$color-gray:              #6c6c68;
$color-gray-light:        #c2c2c2;
$color-gray-lightbase:    #c6c6c6;
$color-gray-lighter:      #f2f2f2;
$color-gray-superlight:   #f5f5f5;
$color-orange:            #ef9a1a;
$color-orange-lighter:    #ff9f00;
$color-green:             #23bd2d;
$color-mandalay:          #b19661;
$color-azure:             #3b5998;
$color-link-dis : #a7a7a7;

// Economy Color
$color-green-1:           #0b664b;
$color-green-2:           #176e54;
$color-green-3:           #24765d;
$color-green-4:           #2f7d66;
$color-green-5:           #075B3F;
$color-green-6:           #3D8970;
$color-green-7:           #4D937A;

$color-economy-1:           #4D937A;
$color-economy-2:           #3D8970;
$color-economy-3:           #2f7d66;
$color-economy-4:           #24765d;
$color-economy-5:           #176e54;
$color-economy-6:           #0b664b;
$color-economy-7:           #075B3F;

$color-green-grey:        #687878;
$border-table:            #e5e5e5;
$even-bgd-color:          #f7f7f7;
$even-border-color:       #ececec;
$light-blue-color:        #9aa9c3;
$orange-color:            #ff9f00;
$color-gray-light-1:      #e4e4e4;
$bgd-hover-color:         #fafafa;
$bgd-language-bar:        #001b4a;
$bgd-language-bar-1:      #021234;
$border-gey-1:            #a1a1a1;
$border-gey-2:            #999;

//Premium Colors
$color-pey-1: #1A637B;
$color-pey-2: #10576E;
$color-pey-3: #0B5066;
$color-pey-4: #08495E;

// Business Color
$color-business:          #053a76;
$color-business-1:        #2a578a;
$color-business-2:        #1E4E84;
$color-business-3:        #12447D;
$color-business-4:        #053A76;

//First
$color-first-1: #AA5440;
$color-first-2: #99432F;
$color-first-3: #92311B;
$color-first-4: #87220B;

//Suites
$color-suites-1: #CAB289;
$color-suites-2: #C6A97F;
$color-suites-3: #C1A474;
$color-suites-4: #AF8F62;

// Confirmation
$color-yellow-light:      #fff5e5;

// Rating
$color-star:              #fde7cb;
$color-star-rated:        #f79e31;

$color-text:              $color;
$color-blue-light:        #002261;
$color-blue-focus:        #2e77fd;
$color-yellow-lighter:    #c2a570;
$border-gray:             #e2e2e2;
$color-brown-lighter:     #f7f7f7;
$color-link-hover:        #00266b;
// link
$color-yellow:            #c1a474;
$color-yellow-hover:      #f5e2bf;
$color-blue-lighter:      #2e77fd;
$color-blue:              #00266b;
$color-text-blue:         #00266b;
$color-blue-1:            #02266b;
$color-blue-3:            #02266b;
$color-dark-gray:         #666;
$color-dark:              #333;
$color-nav-menu:          #c1c1c1;
$color-submenu-hover:     $color-blue-1;
$color-search-hover:      #1a3c7a;

// Form
$color-normal-background:  #fff;
$color-normal-text:        #666;
$color-normal-border:      #ccc;
$color-light-border:       #b2b2b2;
$color-active-text:        #000;
$color-active-border:      #2e77fd;
$color-disable-background: #efefef;
$color-disable-text:       #b2b2b2;
$color-input-disable:      #b2b2b2; // will remove
$color-error:              #ff0000;
$color-label:              #666;
$color-red:                #ff0000;
// radio
$color-disable-label:     #999;
$bg-disable-checked :     #d7d7d7;
$bg-disable:              rgba(4,34,57,0);
$border-disable:          #bdbdbd;

// button
$color-button-normal:           #fff;
$color-button-disble-text:      #ddd;
$color-button-primary:          #00266b;
$color-button-primary-hover:    #2e77fd;
$color-button-secondary:        #a0afb3;
$color-button-secondary-hover:  #666;
$color-button-disable:          #999;
$color-button-4:          #778aad;
$color-button-4-hover:    #b3c0d8;
$color-button-signup: #566a8f;

//color table lightbox
$color-header-table:            #00266b;
$color-body-table:              #d3d3d3;
$color-even-table:              #e8e8e8;
$color-odd-table:               #fff;
$color-even-table-disabled:     #f7f7f7;
$color-border-table:            #e1e1e1;
$color-text-gray:               #999;
$color-highlight:               #010101;

// Bg
$body-bg:                 #f7f7f7;
$bullet-bg:               #ef9a1a;
$bullet-hover-bg:         #6c6a67;
$seat:                    #fe9500;
$alert-block-bg:          #fff5e5;
$info-box-bg:             #e5eaef;
$error-alert-bg:          #fff1f0;

$btn-blue-bg:             #002262;
$btn-blue-hover-bg:       #003494;
$silver:                  #bbb;
$silver-1:                #c3c3c3;
$silver-2:                #cdcdcd;
$silver-3:                #bcbcbc;
$tree-poppy:              #f99f1c;
$bg-tab-item:             #e3e3e3;
$tab-wrapper:             #f1f1f0;
$radio-tooltips:          #fff;

//path
/* $icons: "../icons/";
$fonts: "../fonts/";
$img: "../images/";
$img-upload: "../images/uploads/";
$img-plugins: "../images/plugins/";
 */

$orange-peel: #ff9900;
$mystic: #e5e9f0;
$boulder: #777;
$mercury: #e7e7e7;
$gallery: #ededed;
$heather: #b6c0d1;
$cadet-blue: #a8b1c1;
$geyser: #dbe0e8;
$color-alto: #d4d4d4;
$gallery-approx: #f0f0f0;
// Grid line
$grid-number: 12;
// Width inner content
$inner-width: 988px;
// Border
$border-info-booking: #f2f2f2;
$border-bottom-booking: #d4d4d4;
$border-info-booking-1: #ccc;
$boder-main-menu: #1a3970;


// KF border
$border-gey: #c8c8c8;
$color-mystic: #dae1eb;

// Background image default
$bgd-img-default : #a7a7a7;
// Background table flight search ORB
$midnight-blue: #00266b;
$midnight-blue-1: #00286D;
$catalina-blue: #053a76;
$st-tropaz: #2a578a;
$st-tropaz-1: #1E4E84;
$st-tropaz-2: #12447D;
$totem-pole: #87220b;
$mule-fawn: #99432f;
$brown-rust: #aa5440;
$kenyan-copper: #83230A;
$bgd-alert: #fef5f4;
$bgd-success-alert: #cdf0cf;
$bgd-notice: #ffe9c7;
$color-alert: #cc0000;
$color-success-alert: #06b512;
// color ORB of flight schedule
$blue-calendar: #02266b;
// Preloader
$full-size: 90px;
$medium-size: 60px;
$medium-size-2: 32px;
$small-size: 16px;
$loading-full-border-size: 7px;
$loading-full-size: $full-size - ($loading-full-border-size * 2);
$loading-medium-border-size: 4px;
$loading-medium-size: $medium-size - ($loading-medium-border-size * 2);
$loading-medium-border-size-2: 2px;
$loading-medium-size-2: $medium-size-2 - ($loading-medium-border-size-2 * 2);
$loading-small-border-size: 2px;
$loading-small-size: $small-size - ($loading-small-border-size * 2);

//varibales for seatmap
$color-seat-text: #333333;
$color-seat-text-light: #666;
$color-seat-blue: #00266b;
$color-seat-blue-hover: #001e52;
$color-seat-white: #fff;
$color-seat-gray: #ccc;
$color-seat-orange: #fe9500;
$color-seat-light-gray: #dedede;
$color-seat-green: #00cc0a;
$color-seat-blue-click: #002261;
$color-seat-gray-light: #aaa;

$bg-wings: $body-bg;
$bg-seat-white: #fff;
$bg-shadow: rgba(0,0,0,0.2);
$bg-shadow-1: rgba(0,0,0,0.1);
$bg-shadow-2: rgba(0,0,0,0.3);
$bg-reloader: rgba(255,255,255,0.95);
$bg-shadow-ie: rgb(99,99,99);

$seat-size-economy: 35;
$seat-space-economy: 5;

$seat-size-business: 60;
$seat-space-business: 10;

$seat-size-first: 68;
$seat-space-first: 10;

// variables for seatmap mobile
$seat-size-small: 22;
$seat-space-small: 2;

$seat-size-business-small: 30;
$seat-space-business-small: 5;

$seat-size-first-small: 32;
$seat-space-first-small: 5;

$seat-space: $seat-space-business-small + px;
$color-grey-1: #2f7d66;
$color-grey-2: #0b664b;

//booking-nav
$bn-text-active: #e47305;
$bn-border-active: #cfcfcf;
$bn-bgd-active: #fff;

$bn-text-static: #666;
$bn-bgd-static: #ededed;

$bn-text-passed: #666;

$tabs-bg-active: #fff;
$tabs-text-active: #e47305;

$tabs-text-static: #a8a8a8;

$tabs-border: #ccc;

// variables for manage booking
$booking--style-3-spacing: 20px;
$booking--style-3-wrapper-color: $color-lighter;
$booking--style-3-inner-color: #f5f5f5;
$booking--style-3-border-color: #d4d4d4;
$booking--style-3-col-border-color: #e5e5e5;
$booking--style-3-color-gray: $color;
$booking--style-3-color-orange: #ff9f00;
$booking--style-3-color-black: $color-darker;
// For booking-review--2
$booking-review--2-col-custom-width: 130px;
$booking-review--2-col-1-width: 65px;
$booking-review--2-col-2-width: 80px;

// add baggage control
$mb-add-baggage-control: #a9a9a9;

// Border table cost manage booking
$border-mb-table-cost: $color-light;

// For mn-selects-flights
$bg-mb-flights-info-group: $color-even-table-disabled;

// For mb-waitlist PNR
$booking-status-background: #f2f2f2;
$booking-status-border-color: #e1e1e1;
$confirmed-state: #23bd2d;
$unconfirmed-state: #ff9f00;
$waitlist-state: #666;

// For mb-review-cancel
$review-cancel-background: #fff;
$review-list-background: #f7f7f7;
$review-title-color: #333;
$review-icon-color: #00266b;

// For mb-select-meals form
$color-yellow-background: #fffdcc;
$color-light-yellow-background: #fffdee;
// For flight search
$color-text-operated: #e47305;


// For masthead SQC
$masthead-1-arrow-color: #f7f7f7;

// For SQC dashboard
$summary-background-color: #fff;
$summary-background-color-2: #f7f7f7;
$sqc-dashboard-text-color: #000;
$sqc-dashboard-text-color-2: #666;
$sqc-dashboard-border-color: #ccc;
$sqc-dashboard-border-color-2: #e5e5e5;
$sqc-dashboard-border-color-3: #dedede;
$sqc-notice-color: #999;
$sqc-point-sale-bg: #efefef;

// Table flight status
$border-color-light: #f0f0f0;
$border-color-dark: #999;
// Flight schedule
$bg-header-even: #0f3173;
$border-color-gray: #999;
$color-link-orange: #e8800f;
$color-link-border: #ccc;
// Datepicker
$border-color-datepicker: #e5e5e5;
//autocomplete
$bg-light-group: #f5f4f1;

//background popup__close popup Bondi Beach
$bg-popup__close: rgba(255, 255, 255, 0.89);
$bg-popup__close-cookie: rgba(0, 38, 107, 0.89);
$bg-popup__close-travel: rgba(247, 247, 247, 0.89);


//- Destination City Guide
$des-border-info: #e1e1e1;

//- Static Component
$static-border-color: #e1e1e1;

//SSH
$bgd-ssh-reservations: #f0f0f0;
$spacing: 20px;
$fix-line-height-text: 4px;

$bgd-preview-video: #efefef;
$bgd-intro-lightbox: $border-color-datepicker;

$ui-state-default-color: #0090ff;

// Variable for multi-language changed
$fare-deal-link-font-size: 23px !default;
$fare-deal-num-font-size: 28px !default;
$fare-deal-num-margin: -5px 0 !default;
// $promotion-item-font-size: 28px !default;
$promotion-item-font-size: 24px !default;
$text-intro-beta: #4a4a4a;
$bgd-intro-beta: #ffcf7f;
$border-color-beta: #fda102;
$dots-color: #7c7c7c;
$dots-color-active: #f5f5f4;
$border-popup-beta: #fe9f34;
$icon-popup-beta: #828282;
$bg-beta-footer: #fffaf2;
// Variable for search auto suggest
$color-suggest-normal: #000000;
$color-suggest-highlight: $color-darker;
$color-blue-search: #2e77fd;
$color-grey-post: #9e9e9e;
$bgd-form-search-mb: rgba(255, 255, 255, 0.1);
// Chat widget
$boder-chat-btn : #cad1e0;
$bgd-note-chat: #eaeaea;
$shadow-get-chat: #d2d2d2;
$shadow-sent-chat: #acacac;
$bgd-input-chat: #e5e9f0;
$bgd-sent-chat: #e0ebff;
$bgd-history-access: #f6f6f6;
$color-history-access: #6d6d6d;
$color-dark-gray-1: #010101;
$color-text-small: #bdbdbd;

// Help and FAQs
$faqs-active-color: #e47200;
$jump-highlight: #fefddf;

// Menu
$color-btn-close: #6b6b6b;
$border-sub-menu: #eaeae9;

// Booking widgets
$bgd-booking-widget: #f2efe6;


// Attachment
$color-icon-thumbnail: #3c588c;


// Attachment
$popup-background-color: #f2efe7;

// Milestones rewards
$color-progress-gray: #d0d0d0;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

// Select Flight
$bgd-economy-gray: #5e6c6c;
$bgd-economy-gray-1: #505e5f;
