.container-center {
    width: 100%;
	margin: 0 auto;
}

@media (min-width: $breakpoint-small-devices) {
	.container-center {
		width: 540px;
	}
}

@media (min-width: $breakpoint-medium-devices) {
	.container-center {
		width: 720px;
	}

	.seatmap-main {
		width: 45rem;
	}
	.bsp-main_details-wrap.collapse {
		max-height: 7.7rem;
		.bsp-main_details_content-flight_inner {
			height: 96px;
		}
	}
}

@media (min-width: $breakpoint-large-devices) {
	.container-center {
		width: 920px;
	}
}
@media (min-width: $breakpoint-extra-large-devices) {
	.container-center {
		width: 1080px;
	}
}

.main {
	margin-bottom: 70px;
}
