@import './import/_button';

button, .btn {
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    @extend %btn-primary;
}

/* Button variant for image or anchor link that should act as a button */
.btn--image_icon {
    background-color: transparent;
    cursor: pointer;
}

.btn-primary--disabled {
    @extend %disabled;
}

.button-kf-login {
    @extend %btn-text;

    color: #fff;
    background-color: #2275d3;
    padding: 6px 20px;
    border-radius: 30px;
    letter-spacing: 1.5px;
}
