/* Containers

*/

// %base-container-styles {
//     display: flex;
//     margin: 0;
//     padding: 20px;
// }

.container {

    //@extend %base-container-styles;

    display: flex;
    margin: 0;
    padding: 20px;
    
    // [Main container width] TODO: put this somewhere easily configurable
    &_main--fixed-width {
        width: 61.75rem;
        position: relative;
        padding: 20px;
    }

    &_main--responsive {
        padding: 20px;
        width: 100%;
    }

    &_card {
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 15px;

        &--no-pad {
            padding: 0;
        }      

    }

}