html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	font-size: $global-font-size;
	font-size: 100%;
}

body {
	font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;

	background-color: #FAFAFA;
}

// Set flow system
main *+* {
	margin-top: 1.5rem;
}

li,
dt,
dd,
br,
th,
td {
	margin-top: 0;
}

.container {
	padding: 1.5rem;
}

.containerp {
	margin-top: 1.5rem;
}

*+h2,
*+h3 {
	margin-top: 1.5em;
}

// main *+*:not(p) {
// 	margin: 3em 0;
// }

main:empty {
	display: none;
}

// external links
[href^="http"]:not([href*="singaporeair.com"])::after {
	display: inline-block;
	widows: 1em;
	height: 1em; // background-image: url()
}

// skip to main link
[href="#main"]:not([class="header-main_logo"]) {
	position: absolute;
	top: 0;
    right: 100%;
    height: 0;
    overflow: hidden;
}

[href="#main"]:focus {
    right: auto;
	height: auto;
	z-index: 1000;
}

.custom-checkbox {
	&  + label {
		
		&:before {
			content: '';
			width: 12px;
			height: 12px;
			border: 1px solid #ccc;
			position: absolute;
			top: 6px;
			left: 0;
			background-color: #fff;
		}

		&::after {
			content: '\E610';
			font-family: 'sia';
			font-weight: bold;
			color: #ef9a1a;
			position: absolute;
			top: 5px;
			left: 2px;
			display: none;
			font-size: 14px;
		}
	}
}
