.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.no-transition {
	transition: none !important;
}

.all-transition {
    transition: all 400ms ease-in-out;
}

.disable-scroll {
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}