%link {
	font-size: 0.68rem;
    font-weight: 700;
    color: #0254EC;

    &:hover {
        text-decoration: underline;
    }
}

%link_chevron {
    color: #0254EC;
    display: block;
    width: 4px;
    height: 6px;
    background: url(/assets/images/svg/icons/chevron-blue.svg) center center transparent no-repeat;

    position: absolute;
    margin: 0;
}


