/* Spacer

<div class="spacer"></div>
<div class="spacer--medium"></div>
<span class="spacer--large"></span>

*/

.spacer {

    height: 1.6em;
    display: block;
    width: auto;

    &--medium {
        height: 2em;
    }

    &--large {
        height: 2.1em;
    }

}

.separator {
    background-color: #F3F5F8;
    height: 1px;
    width: 100%;
    border: none;
}