/*ADD ON SUMMARY*/
.trip-title {
    margin-bottom: 20px;

    h5 {
        color: #222222;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }
}


.travel-insurance {
    .trip-details-group {
        display: block;
        width: 100%;

        .trip-detail {
            .trip-label {
                width: 30%;
            }

            .trip-text {
                width: 60%;
            }
        }
    }
}

.trip-details-group {
    width: 70%;
    display:  inline-block;
    vertical-align: top;

    .trip-details-row {
        display:  block;

        .trip-detail {
            width: 45%;
        }
    }

    .trip-details-col {
        display:  inline-block;
        vertical-align: top;
        width: 45%;

        .trip-detail {
            width: 100%;
        }
    }

    .trip-detail {
        display:  inline-block;
        vertical-align: top;
        margin-bottom: 10px;

        .trip-label {
            color: #666666;
            font-size: 14px;
            font-weight: normal;
            display:  inline-block;
            vertical-align:  top;
            width: 39%;
        }

        .trip-text {
            color: #222222;
            font-size: 14px;
            font-weight: normal;
            display:  inline-block;
            vertical-align: top;
            width: 50%;
        }
    }

    .trip-details-title {
        margin-bottom:  10px;

        h5 {
            color: #222222;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 10px;
        }

        span {
            color: #666666;
            font-size: 14px;
            font-weight: normal;
        }
    }

}


.trip-logo {
        position:  absolute;
    right:  0;
    top: 0;
    padding:  20px;

    img {
        max-height: 40px;
    }
}

.trip-pic {
    display:  inline-block;
    vertical-align: top;
    width: 29%;

    img {
        width: 100%;
        max-width: 222px;
        border: 1px solid #ccc;
    }
}

.addons-title {
    display:  block;
    margin-bottom:  10px;
    font-weight:  bold;
    font-size:  16px;
    color:  #222222;

    h5 {
        margin: 0;
        display:  inline-block;
    }

    .aud-title {
        float: right;
        font-weight: bold;
    }
}

.accordion-item .accordion-body .add-ons-content .accordion-content {
    padding: 20px 50px 20px 30px;
}

.addon-details {
    margin-bottom:  10px;
    font-size:  14px;
    color:  #222222;

    .addon-travel {
        display:  inline-block;
        vertical-align: baseline;
        width: 20%;
    }

    .change-addon {
        display: inline-block;
        vertical-align: baseline;
        width: 30%;
    }

    .addon-travel-amount {
        position:  relative;
        display:  inline-block;
        vertical-align: baseline;
        width:  49%;
        text-align: right;

        .remove-addon {
            width: 16px;
            height: 16px;
            position: absolute;
            right: -30px;
            top: 50%;
            margin-top: -8px;

            .ico-delete {
                display: block;

                &:before {
                    content: "\e617";
                    font-family: 'sia';
                    font-weight: bold;
                    color: #555555;
                    font-style: normal;
                }
            }
        }
    }
}

.addon-subtotal {
    font-weight: bold;
    font-size:  14px;

    .addon-subtotal-title {
        display:  inline-block;
    }

    .addon-subtotal-amount {
        float: right;
    }
}

/*END OF ADD ON SUMMARY*/

/*REMOVE ADD ONS LIGHTBOX*/
.remove-addon-lightbox {
    color: #222222;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: normal;
    display: block;

    p {
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    }

    .btn {
        display: block;
        width: 100%;
        margin: 20px 0 0 auto;
        text-align: right;

        .remove-btn {
            margin-right: 10px;
        }

        .btn-primary {
            width: 140px;
            font-weight: normal;
        }
    }

}

/*END OF REMOVE ADD ONS LIGHTBOX*/