<section class="trip-addons-container">
    <!-- TRIP ADDONS COMPONENT -->
    <div class="trip-addons-item travel-insurance" v-if="tripaddoninfo.bookingSummary.commonAddons.insuranceAddOn.length > 0">
        <div class="accordion-content">
            <div class="trip-title">
                <h5>Travel insurance</h5>
            </div>
            <div class="trip-details-group">
                <div class="trip-details-row">
                    <div class="trip-detail">
                        <span class="trip-label">Person covered: </span>
                        <span class="trip-text">
                            <template  v-for="summary in tripaddoninfo.bookingSummary.passengerFlightAddOns">
                                {{summary.passengerName}}<br/>
                            </template>
                        </span>
                    </div>
                    <div class="trip-detail">
                        <span class="trip-label">Travel location: </span>
                        <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.insuranceAddOn.travelLocation}}</span>
                    </div>
                </div>
                <div class="trip-details-row">
                    <div class="trip-detail">
                        <span class="trip-label">Date range: </span>
                        <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.insuranceAddOn.description}}</span>
                    </div>
                </div>
            </div>
            <div class="trip-logo">
                <img src="../../../assets/images/aig-logo.png" alt="AIG">
            </div>
        </div>
    </div>
    <div class="trip-addons-item hotel-accom">
        <div class="accordion-content">
            <div class="trip-title">
                <h5>Hotel</h5>
            </div>
            <div class="trip-info">
                <div class="trip-pic">
                    <img v-bind:src="tripaddoninfo.bookingSummary.commonAddons.hotelAddOn.image" alt="Hotel">
                </div>
                <div class="trip-details-group">
                    <div class="trip-details-title">
                        <h5>{{tripaddoninfo.bookingSummary.commonAddons.hotelAddOn.description}}</h5>
                        <span v-if="tripaddoninfo.bookingSummary.commonAddons.hotelAddOn.address">{{tripaddoninfo.bookingSummary.commonAddons.hotelAddOn.address.addressLine1}}</span>
                    </div>
                    <div class="trip-details-row">
                        <div class="trip-detail">
                            <span class="trip-label">Check-in date:</span>
                            <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.hotelAddOn.checkInDate}}</span>
                        </div>
                        <div class="trip-detail">
                            <span class="trip-label">Check-out date:</span>
                            <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.hotelAddOn.checkOutDate}}</span>
                        </div>
                    </div>
                    <div class="trip-details-row">
                        <div class="trip-detail">
                            <span class="trip-label">Guests: </span>
                            <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.hotelAddOn.guest}}</span>
                        </div>
                        <div class="trip-detail">
                            <span class="trip-label">Room types:</span>
                            
                                <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.hotelAddOn.rooms[0].roomType}}</span>                                    
                            
                            
                        </div>
                    </div>
                    <div class="trip-details-row">
                        <div class="trip-detail">
                            <span class="trip-label">No. of nights:</span>
                            <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.hotelAddOn.rooms[0].numberOfNights}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trip-logo">
                <img src="../../../assets/images/addon-agoda-logo.png" alt="Agoda">
            </div>
        </div>
    </div>
    <div class="trip-addons-item car-rental">
        <div class="accordion-content">
            <div class="trip-title">
                <h5>Car rental</h5>
            </div>
            <div class="trip-info">
                <div class="trip-pic">
                    <img v-bind:src="tripaddoninfo.bookingSummary.commonAddons.carAddOn.image" alt="Car">
                </div>
                <div class="trip-details-group">
                    <div class="trip-details-title">
                        <h5>{{tripaddoninfo.bookingSummary.commonAddons.carAddOn.vehicleDetails.vehicleName}}</h5>
                    </div>
                    <div class="trip-details-col">
                        <div class="trip-detail">
                            <span class="trip-label">Pick up: </span>
                            <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.carAddOn.pickup.dateAndTime}}</span>
                        </div>
                        <div class="trip-detail">
                            <span class="trip-label">Location: </span>
                            <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.carAddOn.pickup.locationName}}</span>
                        </div>
                    </div>
                    <div class="trip-details-col">
                        <div class="trip-detail">
                            <span class="trip-label">Drop off: </span>
                            <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.carAddOn.dropoff.dateAndTime}}</span>
                        </div>
                        <div class="trip-detail">
                            <span class="trip-label">Location: </span>
                            <span class="trip-text">{{tripaddoninfo.bookingSummary.commonAddons.carAddOn.dropoff.locationName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trip-logo">
                <img src="../../../assets/images/addon-rentalcars-logo.png" alt="Agoda">
            </div>
        </div>
    </div>
    <div class="add-ons-content">
        <div class="accordion-content">
            <div class="addons-title">
                <h5>ADD-ONS</h5>
                <span class="aud-title">NZD</span>
            </div>
            <div class="addon-details" v-if="tripaddoninfo.bookingSummary.commonAddons.insuranceAddOn">
                <span class="addon-travel">Travel Insurance</span>
                <a href="" class="change-addon">Change</a>
                <span class="addon-travel-amount">
                     {{tripaddoninfo.bookingSummary.commonAddons.insuranceAddOn.amount.toLocaleString()}}
                    <a class="remove-addon" href="#" @click.stop.prevent="openModal('5')"><em class="ico-delete"></em></a>
                </span>
            </div>
            <div class="addon-details" v-if="tripaddoninfo.bookingSummary.commonAddons.carAddOn">
                <span class="addon-travel">Car Rental</span>
                <a href="" class="change-addon">Change</a>
                <span class="addon-travel-amount">
                    {{tripaddoninfo.bookingSummary.commonAddons.carAddOn.amount.toLocaleString()}}
                    <a class="remove-addon" href="#" @click.stop.prevent="openModal('5')"><em class="ico-delete"></em></a>
                </span>
            </div>
            <div class="addon-details" v-if="tripaddoninfo.bookingSummary.commonAddons.hotelAddOn">
                <span class="addon-travel">Hotel</span>
                <a href="" class="change-addon">Change</a>
                <span class="addon-travel-amount">
                    {{tripaddoninfo.bookingSummary.commonAddons.hotelAddOn.amount.toLocaleString()}}
                    <a class="remove-addon" href="#" @click.stop.prevent="openModal('5')"><em class="ico-delete"></em></a>
                </span>
            </div>
            <div class="addon-subtotal">
                <span class="addon-subtotal-title">Sub-total</span>
                <span class="addon-subtotal-amount">{{tripaddoninfo.bookingSummary.tripAddonTotal.toLocaleString()}}</span>
            </div>
        </div>
    </div>
    <!-- END OF TRIP ADDONS COMPONENT -->

    <!-- REMOVE ADD ONS LIGHTBOX -->
    <light-box-component class="remove-addon-lightbox" :id="'5'" :active="showRemoveAddOns" v-on:lightbox-closed="closeModal()">
    <div slot="body" @click.stop="">
        <button class="close-btn icon-round-close" type="button" @click="showRemoveAddOns = '0'"></button>
        <h1 class="page_header">Remove Add Ons</h1>
        <p>Are you sure you want to remove <span class="add-on">Travel Insurance</span>?</p>

        <div class="btn">
            <input type="submit" value="Remove" class="btn-primary remove-btn">
            <input type="submit" value="Do not remove" class="btn-primary close-button" @click="showRemoveAddOns = '0'">
        </div>

    </div>
</light-box-component>

<!-- END OF REMOVE ADD ONS LIGHTBOX -->
</section>