$gutter: 10px;
$max-width-large: 920px;
$max-width-extra-large: 1080px;

// screen break points
$break-point-mobile: 576px;
$break-point-tablet: 768px;
$break-point-desktop: 992px;
$break-point-desktop-large: 1200px;

$media-screen-extra-small: '(max-width: #{$break-point-mobile - 1})';
$media-screen-small: '(min-width: #{$break-point-mobile})';
$media-screen-medium: '(min-width: #{$break-point-tablet})';
$media-screen-large: '(min-width: #{$break-point-desktop})';
$media-screen-extra-large: '(min-width: #{$break-point-desktop-large})';

$media-screen-mobile: '(max-width: #{$break-point-tablet - 1})';
$media-screen-tablet: '(min-width: #{$break-point-tablet}) and (max-width: #{$break-point-desktop - 1})';
$media-screen-desktop: '(min-width: #{$break-point-desktop})';
$media-screen-desktop-large: '(min-width: #{$break-point-desktop-large})';

.hp-section {
  padding: 30px 0;
}

.hp-container {
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;

  @media #{$media-screen-small} {
    max-width: 540px;
  }

  @media #{$media-screen-medium} {
    max-width: 720px;
  }

  @media #{$media-screen-large} {
    max-width: $max-width-large + 2 * $gutter;
  }

  @media #{$media-screen-extra-large} {
    max-width: $max-width-extra-large + 2 * $gutter;
  }
}
