<div>
    <div class="tab-title-container">
        <button v-for="(tab, tabIndex) in tabs" class="tab-title" :class="{'tab-active': getActiveTab(tabIndex + 1)}">
            <slot :name="'title-' + (tabIndex + 1)"></slot>
        </button>
    </div>
    <div class="tab-content-container">
        <div v-for="(tab, tabIndex) in tabs" v-if="getActiveTab(tabIndex + 1)" class="tab-content">
            <slot :name="'content-' + (tabIndex + 1)"></slot>
        </div>
    </div>
</div>