.tab-title-container {
    display: grid;
    grid-template-columns: repeat(5, 20%); 
}

.tab-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    background-color: rgba(0,0,0,0.7);
    color: #fff;

    &.tab-active {
        background-color: #00266b;
    }
}

.tab-content {
    display: block;
    width: 100%;
    padding: 1.875rem 2.5rem;
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
}

.tab-content-container {
    background-color: #fff;
    position: relative;
}

.flight_od .vue-simple-suggest .suggestions .misc-item {
    padding: 10px 0 30px 15px;
    color: #666666;
    font-weight: bold;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
}