<footer class="footer">
    <button class="toggle-to-top__mobile" @click="scrollToTop()"></button>
    <div class="footer_content">
        <div class="footer_wrap container-center">
            <div class="footer_inner-top_block-1 hidden-dt">
                <div class="footer_inner-top_block-1_wrap">
                    <h3 class="footer_inner-top_block_inner_heading">Sign up for our newsletter</h3>
                    <div class="footer_inner-top_email-input-wrap">
                        <input type="text" placeholder="Enter your email" name="" id="" class="footer_inner-top_email-input">
                        <div class="footer_inner-top_block_ico-svg-chevron">
                        </div>
                    </div>

                    <aside class="footer_inner-top_block-1_subscribe" hidden>
                        <div class="footer_inner-top_block-1_subscribe_wrap">
                            <div class="footer_inner-top_block-1_subscribe_ico-wrap"><em class="ico-success"></em></div>
                            <div class="footer_inner-top_block-1_subscribe_text-wrap">
                                <!-- <div class="selected-container--2"> -->
                                <p class="footer_inner-top_block-1_subscribe_text">You have subscribes to our newsletter
                                    on <strong>johntan@gmail.com</strong> please check your inbox to confirm your
                                    subscription.</p>
                                <!-- </div> -->
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="footer_inner">
                <div v-for="(footer,index) in footerdata.footer" class="footer_inner-top">
                    <div class="footer_inner-top_block">
                        <div class="footer_inner-top_block_inner">
                            <h3 class="footer_inner-top_block_inner_heading">{{footer.firstLevelLinkLabel}}</h3>
                            <ul class="footer_inner-top_ul">
                                <li class="footer_inner-top_list" v-for="secondLevel in footer.secondLevelFooterNavigation">
                                    <a :target="secondLevel.linkTypeContainer.targetType" :href="secondLevel.linkTypeContainer.link || '#'">{{secondLevel.secondLevelLinkLabel}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_inner-top_block-1 media-rule" v-if="index == footerdata.footer.length - 1">
                        <div class="footer_inner-top_block-1_wrap">
                            <h3 class="footer_inner-top_block_inner_heading">Sign up for our newsletter</h3>
                            <div class="footer_inner-top_email-input-wrap">
                                <input type="text" placeholder="Enter your email" name="" id="" class="footer_inner-top_email-input">
                                <div class="footer_inner-top_block_ico-svg-chevron">
                                </div>
                            </div>

                            <aside class="footer_inner-top_block-1_subscribe" hidden>
                                <div class="footer_inner-top_block-1_subscribe_wrap">
                                    <div class="footer_inner-top_block-1_subscribe_ico-wrap"><em class="ico-success"></em></div>
                                    <div class="footer_inner-top_block-1_subscribe_text-wrap">
                                        <!-- <div class="selected-container--2"> -->
                                        <p class="footer_inner-top_block-1_subscribe_text">You have subscribes to our newsletter
                                            on <strong>johntan@gmail.com</strong> please check your inbox to confirm your
                                            subscription.</p>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_inner-social">
                <div class="footer_inner-social_images-content">
                    <div class="footer_inner-social_images-content_wrap">
                        <img class="footer_inner-social_images-content_img" src="/assets/images/logo-best-airline-black-2017.png" alt="">
                        <img class="footer_inner-social_images-content_img" src="/assets/images/logo-best-airline-black-2016.png" alt="">
                    </div>
                    <div class="footer_inner-social_images-content_wrap-2 hidden-dt hidden-tb">
                        <img src="/assets/images/alliance-2.png" class="footer_inner-bottom_singapore-air-group_image">
                    </div>
                </div>
                <div class="footer_inner-social_icons">
                    <span class="footer-social-followup-text">{{footerdata.socialfollowupsection.socialFollowupText}}</span>
                    <ul class="footer_inner_ul">
                        <li class="footer_inner_list" v-for="socialFollow in footerdata.socialfollowupsection.socialWidgetSection">
                            <!-- <a :href="socialFollow.linkTypeContainer.link.replace(/\s/g,'')" :target="socialFollow.linkTypeContainer.targetType">{{socialFollow.socialIconName}}</a> -->
                            <a :href="socialFollow.linkTypeContainer.link.replace(/\s/g,'')" :target="socialFollow.linkTypeContainer.targetType">
                                <img :src="socialFollow.socialIconName" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer_inner-star-alliance hidden-dt hidden-mb">
                    <a href="http://www.staralliance.com" target="_blank"><img src="/assets/images/alliance-2.png" class="footer_inner-bottom_singapore-air-group_image"></a>
                </div>
            </div>
        </div>
        <div class="footer_inner-bottom">
            <div class="footer_inner-bottom_wrap  container-center">
                <div class="footer_inner-bottom_singapore-air-group">
                    <p class="footer_inner-bottom_singapore-air-group_text">Singapore airlines group</p>
                    <a :href="member.linkTypeContainer.link.replace(/\s/g,'')" :target="member.linkTypeContainer.targetType" v-for="member in footerdata.membershipSection">
                        <img class="footer_inner-bottom_singapore-air-group_image" :src="member.image" />
                    </a>
                </div>
                <div class="footer_inner-bottom_airline-groups-mobile">
                    <p>Singapore airlines group</p>
                    <a href="http://www.singaporeair.com/" target="_blank">
                        <img src="/assets/images/sia-icon.png" class="footer_inner-bottom_singapore-air-group_image">
                    </a>
                    <a href="http://www.silkair.com/" target="_blank">
                        <img src="/assets/images/silkair-icon.png" class="footer_inner-bottom_singapore-air-group_image">
                    </a>
                    <a href="https://www.flyscoot.com/en" target="_blank">
                        <img src="/assets/images/scoot.png" class="footer_inner-bottom_singapore-air-group_image">
                    </a>
                </div>
                <p class="footer_bottom-copyright" v-html="footerdata.copyrightSection.CopyrgtText"></p>
            </div>
        </div>
    </div>
</footer>