.pay-title-container {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7.5px 20px;
}

.pay-tab-title {
    text-align: center;
    font-size: 12px;
    background: #fff;
    color: #222222;
    opacity: 0.4;
    display: inline-block;
    vertical-align: top;
    width: 31.8%;
    position: relative;
    border: 1px solid #ccc;
    min-height: 147px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0.735% 15px;

    &.tab-active {
        opacity: 1;
        border-color: #00266b;
    }

    /*&:first-child {
        margin-left:  0;
    }*/
}

.pay-method-title {
    height: 100%;
    padding:  20px;
    min-height: 170px;

    &:before {
        content:  '';
        display:  inline-block;
        vertical-align:  middle;
        width:  0;
        height:  100%;
    }

    .pay-title-inner {
        display:  inline-block;
        vertical-align:  middle;
        width:  100%;
    }

    .type-card-pay {
        color: #222222;
        font-size: 12px;
        font-weight: bold;
        margin-bottom:  30px;
        display:  block;
    }

    .desc-credit {
        color: #666666;
        font-size: 11px;
        font-weight: normal;
        max-width:  230px;
        margin: 10px auto;
    }

    .list-cards {
        list-style:  none;
        margin: 0;
        padding:  0;
        text-align:  center;

        li {
            display:  inline-block;
            margin: 0 5px;
        }
    }
}


.total-payment-block {
    padding: 20px;
    background-color: #e5e9f0;
    font-size: 0;

    .title {
        font-weight: 600;
        font-size: 16px;
        color: #00266b;
        display:  inline-block;
        vertical-align:  middle;
        width: 50%;
    }

    .total-price-paid {
        width: 50%;
        text-align: right;
        display:  inline-block;
        vertical-align:  middle;

        .unit {
            font-size: 22px;
            color: #00266B;
            font-weight: normal;
            display:  block;
            line-height:  1;
        }

        .fare-note {
            font-size: 12px;
            color: #222222;
            font-weight: normal;
        }
    }
}

.pay-tab-content {
    display: block;
    width: 100%;
    padding: 20px 40px;
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
}

