<section>
    <div class="pay-title-container">
        <div v-for="(tab, tabIndex) in tabs" class="pay-tab-title" :class="{'tab-active': getActiveTab(tabIndex + 1)}">
            <slot :name="'title-' + (tabIndex + 1)"></slot>
        </div>
    </div>
    <div class="pay-content-container">
        <div class="total-payment-block">
            <span class="title">Total to be paid now</span>
            <div class="total-price-paid">
                <span class="unit">{{bookinginfo.bookingSummary.currency}} {{toCurrency(bookinginfo.bookingSummary.grandTotal)}}</span>
                <span class="fare-note">Includes discounts, tax and surcharges</span>
            </div>
        </div>
        <div v-for="(tab, tabIndex) in tabs" v-if="getActiveTab(tabIndex + 1)" class="pay-tab-content">
            <slot :name="'content-' + (tabIndex + 1)"></slot>
        </div>
    </div>
</section>