@import "../../assets/styles/atoms/import/_breakpoints";

.seatmap-info-content {
    border-radius: 0.125rem;
    border: 0.0625rem solid #E5E9F0;
}

.seatmap-info-wrap {
    padding: 1.25rem 1.875rem;
    max-height: 18.75rem;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.seatmap-info-row-1 {
    display: flex;
    margin-bottom: 1.5625rem;

    max-height: 3rem;
    overflow: hidden;
    transition: max-height 0.3s ease, margin 0.3s ease;
}

.seatmap-info-ico-check {
    border-left: 0.0625rem solid #FF9F00;
    font-size: 0.6875rem;
    margin: 0 1.25rem;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 1.1875rem;
}

.seatmap-info-row-1_title {
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 0;
    align-self: center;
}

.seatmap-info-row-1_description {
    position: relative;
    margin-top: 0;
    display: flex;

    margin-left: 1.5rem;
    padding-left: 1.5rem;

    &:before {
        content: '';
        border-left: solid 1px #FF9F00;
        display: block;
        width: 1px;
        height: 1.125rem;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.seatmap-info-content__lightbox {
    margin: 0;

    .modal-body {
        width: 800px;
    }
}

.ico-round-check--blue {
    display: inline-block;
    height: 18px;
    align-self: center;
    margin-right: 0.625rem;
}

.seatmap-info-row-1_description_text {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 0;
    line-height: 1.2;
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.premiumeconomy {

    .seatmap-legend_seat-type {

        &.P {
            &:before {
                background: #FFCE00;
            }
        }

        &.S {
            &:before {
                background: #246E89;
            }
        }
    }
}

.seatmap-legend_seat-type {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    
    position: relative;
    z-index: 0;
    
    background: transparent;

    transition: width 0.3s ease;

    &:before {
        content:'';
        display: block;
        width: 100%;
        height: 2.375rem;

        background-color: #EEEEEE;
        box-shadow: 0 2px 0 0 #EBEBEB;
        border-radius: 4px;

        position: absolute;
        top:0;
        left: 0;
        z-index: -1;

        transition: height 0.3s ease;
    }

    &.P {
        &:before {
            background: #FF9F00;
        }
    }

    &.F {
        &:before {
            background: #084935;
        }
    }

    &.S {
        &:before {
            background: #cee5d7;
        }
    }

    &.NA {
        &:before {
            background: #ddd;
        }
    }

    &.SE {
        &:before {
            background: #00266B;
            border: 3px solid #4A90E2;
            box-shadow: 0 2px 2px 0 rgba(0,38,107,0.40);
            border-radius: 4px;
        }
    }
}

.seatmap-info-row-2_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
    padding-bottom: 1.4375rem;
    justify-content: start;
    
    margin-top: 0;

    &.business {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.seatmap-info-row-2 {
    margin-top: 0;
}

.seatmap-info-row-2_col-1 {
    margin-top: 0;

    display: grid;
    grid-template-columns: 3.125rem auto;

    transition: all 0.3s ease;
}

.seatmap-info-row-2_col-1_wrap {
    margin-top: 0;
    display: grid;
    line-height: 1;
}

.seatmap-info-row-2_col-1_wrap *{
    margin-top: 0;
}

.seatmap-info-row-2_col-1_text-1 {
    font-size: 0.8125rem;
    display: -webkit-box;
    -webkit-box-align: center;
}

.seatmap-info-row-2_col-1_text-2 {
    font-size: 0.8125rem;
}

.seatmap-info-row-2_col-1_text-3 {
    font-size: 0.75rem;
    color: #0254ec;
}

.seatmap-info-row-3 {
    margin-top: 0;
    margin-bottom: 1.375rem;
    padding-bottom: 1.4375rem;
    border-bottom: 0.0625rem solid #E5E9F0;
}

.seatmap-info-row-3_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    * {
        margin-top: 0;
    }
}

.seatmap-info-row-3_col {
    position: relative;
    margin-right: 2.5rem;

    &.seatmap-info-row-3_col--amenities {
        margin-right: 1.25rem;

        .seatmap-info-row-3_col_icon {
            margin-right: 0.625rem;
        }
    }

    .ico-seat {
        width: 21px;
        height: 14px;
        background: url(/assets/images/svg/icons/full-flat-bed.svg) center center transparent no-repeat;
    }
}

.seatmap-info-row-3_col_text {
    color: #333;
    font-size: 0.812rem;

    display: inline-block;
    vertical-align: middle;
}

.seatmap-info-row-3_col_icon {
    display: inline-block;
    vertical-align: middle;

    margin-right: 1.25rem;
}

.seatmap-info-row-4 {
    margin-top: 0;
    overflow: hidden;
}

.seatmap-info-row-4_wrap {
    font-size: 0.875rem;
    position: relative;

    .ico-chevron--blue {
        background: url(http://localhost:8080/assets/images/svg/icons/chevron-blue.svg) no-repeat transparent center center;
        display: block;
        width: 8px;
        height: 8px;
        background-size: contain;
        position: absolute;
        top: 54%;
        // left: 170px;
        left: 177px;
        transform: translateY(-50%) rotate(0deg);
    }
}

.seatmap-info-row-4_col-3 {
    // padding-right: 1.6rem;
    padding-right: 1.0625rem;
}

.seatmap-info-row-4_col-4 {
    color: #0254ec;
}

.modal-container{
    
    .modal-body {
        position: relative;
    }
    .page_header {
        margin: 0;
    }
    .cabin-wrapper {
        display: grid;
        grid-template-columns: 50% 40%;
        grid-column-gap: 30px;

        font-size: 1rem;
        line-height: 1em;

        .cabin-photo img {
            width: 100%;
            height: 100%;
        }
        
        .cabin-content {
            margin: 0;
            // margin-top: 25px;
            margin-top: 20px;

            .cabin-content_description {
                // margin: 1.25em 0 0;
                margin: 0.9375rem 0 0;
                font-weight: 300;
            }
        }
    }
}

.top-sticky {
    background: white;
    margin-top: 0;
    .seatmap-info-row-1 {
        max-height: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .seatmap-info-wrap {
        padding: 0.8875rem 2.1875rem;
        max-height: 4rem;
    }

    .seatmap-legend_seat-type {
        width: 1.875rem;
        &:before {
            height: 1.875rem;
        }
    }

    .seatmap-info-row-2_col-1_text-1 {
        font-size: 0.6875rem;
    }

    .seatmap-info-row-2_col-1 {
        grid-template-columns: 2.5rem auto;
    }

    .seatmap-info-row-2_wrap {
        padding-bottom: 0;
    }

    .seatmap-info-row-3 {
        margin-top: 1rem;
    }

    .lightbox {
        margin: 0;
    }
}

.seatmap-info_view-seat-wrap {
    display: none;
}

// Extra Small devices (portrait phones, max 576px)
@media (max-width: $breakpoint-small-devices) {
    .page_header_skip-link_label-text {
        display: none;
    }

    .seatmap-info-row-1 {
		display: none;
    }
    
    .seatmap-info-row-2_wrap {
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 0.7375rem;
    }

    .seatmap-info-wrap {
        display: block;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        transition: all 0.5s;
        border-bottom: 0.0625rem solid #E5E9F0;

        &.seatmap-info-wrap--show {
            padding-top: 1.875rem;
            padding-bottom: 1.875rem;
        }
    }

    .seatmap-info-wrap--show {
        max-height: 30rem;
    }

    .seatmap-info-row-3 {
        border-bottom: none;
    }

    .seatmap-info_view-seat-wrap {
        display: block;
        text-align: center;
        margin-top: 0;
        height: 2.5rem;

        &.seatmap-info_view-seat-wrap--toggle {
            .ico-chevron--blue {
                transform: translateY(-50%) rotate(-90deg);
                transition: all 400ms ease 0s;
            }
        }

        .ico-chevron--blue {
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            background-size: contain;
            transform: translateY(-50%) rotate(90deg);
            transition: all 400ms ease 0s;
            margin-top: 0;
            vertical-align: sub;
        }

        .seatmap-info-row-4_col-4 {
            position: relative;
            top: 0.4375rem;
        }
    }

    .lightbox {
        margin-top: 0;
    }

    .seatmap-info-row-4_col-4_text {
        font-size: 0.625rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    .seatmap-info-row-4 {
        display: none;
    }

    .seatmap-flight-details-mobile {
        display: block;
        text-align: center;
        padding: 1.875rem 0;

        .seatmap-info-row-4_wrap {
            margin-top: 0;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) and (max-width: 991px) { 
    .seatmap-info-row-2_col-1_text-1 {
        font-size: 10px;
    }

    .seatmap-info-row-2_col-1_text-2 {
        font-size: 12px;
    }

    .seatmap-info-row-2_col-1_text-3 {
        font-size: 10px;
    }

    .seatmap-info-content__lightbox {
        margin: 0;
    
        .modal-body {
            width: 700px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) { 

}