<div class="seatmap-info-content">
    <div class="seatmap-info-wrap" :class="{'seatmap-info-wrap--show': isShowLegend}">
        <div class="seatmap-info-row-1">
            <h3 class="seatmap-info-row-1_title">LEGEND</h3>
            <div class="seatmap-info-row-1_description" v-if="value.flight.updatedPassengerData[value.selectedId] && value.flight.updatedPassengerData[value.selectedId].legendInfo && value.flight.updatedPassengerData[value.selectedId].legendInfo.length > 0">
                <em class="ico-round-check--blue">
                    <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Round blue check</title>
                        <desc>{{value.flight.updatedPassengerData[value.selectedId].legendInfo}}</desc>
                        <defs></defs>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Seat-map/Legend_pax1" transform="translate(-129.000000, -22.000000)">
                                <g id="Legend">
                                    <g id="Group-3" transform="translate(29.000000, 16.000000)">
                                        <g id="promo-code-applied" transform="translate(79.000000, 0.000000)">
                                            <g id="Group-4" transform="translate(21.000000, 0.000000)">
                                                <g id="Group-5">
                                                    <g transform="translate(0.000000, 6.000000)">
                                                        <circle id="Oval" fill="#4A90E2" cx="9" cy="9" r="9"></circle>
                                                        <path d="M8.31886352,12.72723 C8.07901936,12.9681163 7.68595394,12.9681163 7.44610978,12.72723 L4.69622678,9.96517195 C4.45638262,9.7242856 4.43298319,9.35256136 4.64492802,9.13992153 C4.85664787,8.9272817 5.22653886,8.95100878 5.46638301,9.19189513 L7.59505615,11.3713969 C7.83467531,11.6122832 7.89879875,11.6122832 8.13864291,11.3713969 L12.5339108,6.94686147 C12.77398,6.70597512 13.143871,6.68292596 13.3553658,6.89556579 C13.5666357,7.10843158 13.5439112,7.47902597 13.3038421,7.72013829 L8.31886352,12.72723 Z"
                                                            id="Fill-1" fill="#FFFFFF"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </em>
                <p class="seatmap-info-row-1_description_text">{{value.flight.updatedPassengerData[value.selectedId].legendInfo}}</p>
            </div>
        </div>
        <div class="seatmap-info-row-2_wrap" :class="getCabinClass(value.flight.flightInfo.flightNumber)">
            <div v-if="displayLegend(key)" class="seatmap-info-row-2" v-for="(value, key) in dictionary.seatType">
                <div class="seatmap-info-row-2_col-1">
                    <div class="seatmap-legend_seat-wrap">
                        <em class="seatmap-legend_seat-type" :class="key"></em>
                    </div>
                    <div class="seatmap-info-row-2_col-1_wrap">
                        <span class="seatmap-info-row-2_col-1_text-1 seatmap-info-row-2_col-1_text--1">{{getSeatType(key)}} Seat</span>
                        <strong class="seatmap-info-row-2_col-1_text-2" v-if="getSeatData(key)">{{getSeatData(key).currency+" "+getSeatData(key).amount}}</strong>
                        <a href="#" class="seatmap-info-row-2_col-1_text-3">More info</a>
                    </div>
                    <!-- <em class="seatmap-legend_seat-type"></em>
                    <span class="seatmap-info-row-2_col-1_text-1">{{getSeatType(seatPricingLegend.type)}} Seat</span>
                    <strong class="seatmap-info-row-2_col-1_text-2">AUD {{seatPricingLegend.amount}}</strong>
                    <a class="seatmap-info-row-2_col-1_text-3">More info</a> -->
                </div>
            </div>
            <div class="seatmap-info-row-2">
                <div class="seatmap-info-row-2_col-1 all-transition">
                    <div class="seatmap-legend_seat-wrap">
                        <em class="seatmap-legend_seat-type SE all-transition"></em>
                    </div>
                    <div class="seatmap-info-row-2_col-1_wrap">
                        <span class="seatmap-info-row-2_col-1_text-1">Selected Seat</span>
                        <!-- <strong class="seatmap-info-row-2_col-1_text-2">AUD {{seatPricingLegend.amount}}</strong> -->
                        <!-- <a href="#" class="seatmap-info-row-2_col-1_text-3">More info</a> -->
                    </div>
                </div>
            </div>
            <div class="seatmap-info-row-2 all-transition">
                <div class="seatmap-info-row-2_col-1">
                    <div class="seatmap-legend_seat-wrap">
                        <em class="seatmap-legend_seat-type NA all-transition"></em>
                    </div>
                    <div class="seatmap-info-row-2_col-1_wrap">
                        <span class="seatmap-info-row-2_col-1_text-1">Not available</span>
                        <!-- <strong class="seatmap-info-row-2_col-1_text-2">AUD {{seatPricingLegend.amount}}</strong> -->
                        <!-- <a href="#" class="seatmap-info-row-2_col-1_text-3">More info</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="seatmap-info-row-2" v-for="seatPricingLegend in (value.flight.updatedPassengerData.length ? value.flight.updatedPassengerData[value.selectedId].seatPricing: [])">
            <div class="seatmap-info-row-2_col-1">
                <div class="">
                    <em class="seatmap-legend_seat-type"></em>
                </div>
                <div class="">
                    <span class="seatmap-info-row-2_col-1_text-1">{{getSeatType(seatPricingLegend.type)}} Seat</span>
                    <strong class="seatmap-info-row-2_col-1_text-2">AUD {{seatPricingLegend.amount}}</strong>
                    <a class="seatmap-info-row-2_col-1_text-3">More info</a>
                </div>
            </div>
        </div> -->
        <div class="seatmap-info-row-3">
            <div class="seatmap-info-row-3_wrap">
                <div class="seatmap-info-row-3_col">
                    <em class="seatmap-info-row-3_col_icon ico-bassinet"></em>
                    <span class="seatmap-info-row-3_col_text">Bassinet</span>
                </div>
                <div class="seatmap-info-row-3_col">
                    <em class="seatmap-info-row-3_col_icon ico-windowless"></em>
                    <span class="seatmap-info-row-3_col_text">Windowless Seat</span>
                </div>
                <div v-if="flight.cabinAmenities" class="seatmap-info-row-3_col seatmap-info-row-3_col--amenities">
                    <span class="seatmap-info-row-3_col_text">All seats are equipped with:</span>
                </div>
                <div class="seatmap-info-row-3_col seatmap-info-row-3_col--amenities" v-for="(value,key) in flight.cabinAmenities">
                    <em class="seatmap-info-row-3_col_icon" :class="'ico-'+key"></em>
                    <span class="seatmap-info-row-3_col_text">{{value}}</span>
                </div>
            </div>
        </div>
        <div class="seatmap-info-row-4">
            <div class="seatmap-info-row-4_wrap">
                <strong class="seatmap-info-row-4_col-1">{{value.flight.flightInfo.carrierCode+" "+value.flight.flightInfo.flightNumber}}</strong>
                <span class="seatmap-info-row-4_col-2"> • </span>
                <span class="seatmap-info-row-4_col-3">{{dictionary.aircraft[Object.keys(dictionary.aircraft)[0]]}}</span>
                <a href="#" @click.stop.prevent="openModal('4')" class="seatmap-info-row-4_col-4">
                    <span class="ico-chevron--blue"></span>
                    <span class="seatmap-info-row-4_col-4_text">View cabin highlights</span>
                </a>

            </div>
        </div>
    </div>
    <div @click="showLegend" class="seatmap-info_view-seat-wrap" :class="{'seatmap-info_view-seat-wrap--toggle': isShowLegend}">
        <a class="seatmap-info-row-4_col-4">
            <span class="seatmap-info-row-4_col-4_text">{{isShowLegend ? 'Hide Seat Legend' : 'View Seat legend'}}</span>
            <span class="ico-chevron--blue"></span>
        </a>
    </div>
    <light-box-component :id="'4'" :active="showCabinHighlights" v-on:lightbox-closed="closeModal()" class="seatmap-info-content__lightbox" :style="{'top': '-48px'}">
        <div class="modal-container__wrap" slot="body" @click.stop="">
            <button class="close-btn icon-round-close" type="button" @click="showCabinHighlights = '0'"></button>
            <h1 class="page_header">Cabin highlights</h1>
            <div class="cabin-container">
                <div class="cabin-wrapper">
                    <div class="cabin-photo">
                        <img src="/assets/images/cabin-seat.png">
                    </div>
                    <div class="cabin-content">
                        <strong>Sit back, all the way back</strong>
                        <p class="cabin-content_description">Handstitched full grain leather by Poltrona Frau. A seat that seamlessly reclines into a bed. And sculpted wings that support you while lounging, then flatten for the perfect night’s rest. So you can go from boardroom to bedroom at the push of a button.</p>
                    </div>
                </div>
                <div class="cabin-wrapper">
                    <div class="cabin-photo">
                        <img src="/assets/images/cabin-seats.png">
                    </div>
                    <div class="cabin-content">
                        <strong>Sit back, all the way back</strong>
                        <p class="cabin-content_description">Centre seats come with a personal divider that spans the entire length of the seat. Raise it all the way to enjoy some private me-time. Bring it to the mid-level to chat with a friend or lower it completely to create a double bed. A space of your own. Or for two.</p>
                    </div>
                </div>
            </div>
        </div>
    </light-box-component>
</div>
