<section id="itinerary">
    <template v-for="segment in bookinginfodata.bookingSummary.segments">
        <div class="accordion-content">
            <div class="itinerary-top">
                <h4 class="flight-info-title">{{segment.originCityName}} to {{segment.destinationCityName}}</h4>
                <span class="flight-type">Economy (N)</span>
            </div>
            <div class="itinerary-inner">
                <span class="stop-time">{{segment.noOfStops}} stop{{segment.noOfStops > 1 ? 's':''}} • {{segment.totalTravelTime}}</span>
                <template v-for="leg in segment.legs">
                    <div class="flight-station-info">
                        <div class="flight-start">
                            <span class="flight-hour">{{leg.origin.airportCode}} {{leg.origin.time}}</span>
                            <span class="flight-country">{{leg.origin.cityName}}</span>
                            <span class="flight-date">{{leg.origin.date}}</span>
                            <span class="flight-place">{{leg.origin.airportName}} {{leg.origin.terminalNumber != 0 ? "Terminal " + leg.origin.terminalNumber : ''}}</span>
                        </div>
                        <div class="flight-stop">
                        <span class="flight-stop-detail">
                            <em class="ico-flight"></em>
                            <hr>
                            <span class="flight-duration">{{leg.origin.flyingTime}}</span>
                        </span>
                        </div>
                        <div class="flight-return">
                            <span class="flight-hour">{{leg.destination.airportCode}} {{leg.destination.time}}</span>
                            <span class="flight-country">{{leg.destination.cityName}}</span>
                            <span class="flight-date">{{leg.destination.date}}</span>
                            <span class="flight-place">{{leg.destination.airportName}} {{leg.destination.terminalNumber != 0 ? "Terminal " + leg.destination.terminalNumber : ''}}</span>
                        </div>
                        <div class="airline-info">
                        <span class="airline-detail singapore-logo ">
                            <img src="../../../assets/images/svg/sq.svg" alt="sq Logo" longdesc="img-desc.html">
                            <span class="name">
                                <strong>{{leg.flightDetails.operatingAirlineName}} •</strong>
                                <span>{{leg.flightDetails.operatingAirlineCode}} {{leg.flightDetails.flightNumber}}</span>
                            </span>
                        </span>
                            <span class="name-plane">{{leg.flightDetails.airCraftType}}</span>
                            <span class="economy">{{leg.flightDetails.cabinClass}}</span>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </template>
</section>