<div id="seatmap" class="wrapper-app">
	<component-loader ref="header" :components="headerComponent"></component-loader>
    <progress-bar-component :items="pageData.progressData"></progress-bar-component>
    <bsp-component></bsp-component>
    <main id="main" class="main">
        <div class="page_header--wrap seatmap__page-header-wrap container-center">
            <h1 class="page_header" v-if="globalFilteredData.flight.flightInfo.departureCity">Select your seats<span class="page_header_flight-info-city"> from {{ globalFilteredData.flight.flightInfo.departureCity }} to {{ globalFilteredData.flight.flightInfo.arrivalCity }}</span></h1>
            <a class="page_header_skip-link" href="#">
                <span class="page_header_skip-link_label">Skip <span class="page_header_skip-link_label-text">seat selection</span></span>
                <span class="ico-chevron"></span>
            </a>
        </div>
        <form method="post" ref="submitForm">
            <multi-tab-component class="seat-map-content" v-model="pageData.seatmapData.seatMapDetails">
                <div slot="tab-navigator" class="multi-tab-navigator">
                    <a href="" class="multi-tab-navigator__link">
                        <span class="ico-chevron--blue"></span>
                        <span class="multi-tab-navigator__link__text">Previous flights</span>
                    </a>
                    <a href="" class="multi-tab-navigator__link">
                        <span class="multi-tab-navigator__link__text">Next flights</span>
                        <span class="ico-chevron--blue"></span>
                    </a>
                </div>
                <div class="tabs-component__control" slot="tab-data" v-if="getTabCount() > 1">
                    <a href="#" @click="onSelectTab(flight)" class="flight-tab-item-button flight-tab-item-button--prev" hidden>
                        <span class="ico-chevron"></span>
                    </a>
                    <button type="button" class="tabs-component_tab-item"   @click="onSelectTab(flight)" :class="{'active': flight.selected}" v-for="(flight, index, key1) in pageData.seatmapData.seatMapDetails.allFlightSegmentDetails"
                            :key="key1">
                        <div class="tabs-flight-info">
                            <span class="tabs-flight-info_title">{{getFlightStatus(flight.departureCityCode,flight.arrivalCityCode)}}</span>
                            <div class="tabs-flight-info_destinations">
                                <strong class="tabs-flight-info_item tabs-flight-info_airport-code">{{ flight.departureCityCode }}</strong>
                                <em class="tabs-flight-info_item ico-flight"></em>
                                <strong class="tabs-flight-info_item tabs-flight-info_airport-code">{{ flight.arrivalCityCode }}</strong>
                            </div>
                            <strong class="tabs-flight-info_cabin" :data-cabin-class="pageData.seatmapData.seatMapDetails.data.flight.cabinDescription.toLowerCase()">{{ pageData.seatmapData.seatMapDetails.data.flight.cabinDescription }}</strong>
                        </div>
                    </button>
                    <a href="#" @click="onSelectTab(flight)" class="flight-tab-item-button flight-tab-item-button--next">
                        <span class="ico-chevron"></span>
                    </a>
                </div>
                
                <div slot="tab-data" v-if="getTabCount() == 1">
                    <button type="button" class="tabs-component_tab-item"  @click="onSelectTab(pageData.seatmapData.seatMapDetails.allFlightSegmentDetails[0])">
                        <div class="tabs-flight-info">
                            <span class="tabs-info">One way</span>
                            <div class="tabs-flight-info_destinations">
                                <strong class="tabs-flight-info_item tabs-flight-info_airport-code">{{pageData.seatmapData.seatMapDetails.allFlightSegmentDetails[0].departureCityCode}}</strong>
                                <em class="tabs-flight-info_item ico-flight"></em>
                                <strong class="tabs-flight-info_item tabs-flight-info_airport-code">{{pageData.seatmapData.seatMapDetails.allFlightSegmentDetails[0].arrivalCityCode}}</strong>
                            </div>
                            <strong class="tabs-flight-info_cabin" :data-cabin-class="pageData.seatmapData.seatMapDetails.data.flight.cabinDescription.toLowerCase()">{{pageData.seatmapData.seatMapDetails.data.flight.cabinDescription}}</strong>
                        </div>
                    </button>
                </div>
                
                
                <div class="tabs-component_block--content" slot="tab-content" sticky-container>
                    <!-- <input name="jsonData" v-model="filteredData"> -->
                    <div class="seatmap-flight-details-mobile">
                        <strong class="">{{ globalFilteredData.flight.flightInfo.departureCity }} to {{ globalFilteredData.flight.flightInfo.arrivalCity }}</strong>
                        <div class="seatmap-info-row-4_wrap">
                        <strong class="seatmap-info-row-4_col-1">SQ 242</strong>
                        <span class="seatmap-info-row-4_col-2"> • </span>
                        <span class="seatmap-info-row-4_col-3">Boeing 777-300ER</span>
                        </div>
                    </div>
                    <!-- <span>{{isSticky}}</span> -->
                    <passenger-tab-component v-sticky="isSticky" sticky-side="top" v-model="globalFilteredData">
                        <legend-component v-model="globalFilteredData" :allFlightSegmentDetails="pageData.seatmapData.seatMapDetails.allFlightSegmentDetails" :dictionary="pageData.seatmapData.seatMapDetails.dictionary" :flight="pageData.seatmapData.seatMapDetails.data.flight"
                            slot="legendSlot"></legend-component>
                    </passenger-tab-component>
                    <!-- <input tabindex="-1" name="jsonData" v-model="filteredData"> -->
                    <!-- <div v-sticky sticky-side="top" ref="stickyPlaceholderRef">
                        <passenger-tab-component v-model="globalFilteredData">
                            <legend-component v-model="globalFilteredData" :allFlightSegmentDetails="pageData.seatmapData.seatMapDetails.allFlightSegmentDetails" :dictionary="pageData.seatmapData.seatMapDetails.dictionary" :flight="pageData.seatmapData.seatMapDetails.data.flight"
                                slot="legendSlot"></legend-component>
                        </passenger-tab-component>
                    </div> -->
                    <seatmap-component v-model="globalFilteredData" :seatmapdata="pageData.seatmapData.seatMapDetails.data" :dictionary="pageData.seatmapData.seatMapDetails.dictionary"></seatmap-component>

                    <div class="seatmap_submit" >
                        <input type="button" @click="onSelectTab(flight)" value="Next Flight" class="btn-primary">
                    </div>
                </div>
            </multi-tab-component>
            <div class="seatmap_submit--mobile" v-sticky="globalFilteredData.selectedSeats.length > 0" sticky-side="bottom">
                <input type="button" @click="onSelectTab(flight)" value="Next Flight" class="btn-primary">
            </div>
            <input tabindex="-1" name="jsonData" v-model="filteredData">
        </form>
    </main>
    <footer-component :footerdata="pageData.footerData"></footer-component>
</div>
