$gutter: 10px;
// screen break points
$break-point-mobile: 576px;
$break-point-tablet: 768px;
$break-point-desktop: 992px;
$break-point-desktop-large: 1200px;

$media-screen-smallest: '(max-width: #{$break-point-mobile - 1})';
$media-screen-mobile: '(max-width: #{$break-point-tablet - 1})';
$media-screen-tablet: '(min-width: #{$break-point-tablet}) and (max-width: #{$break-point-desktop - 1})';
$media-screen-desktop: '(min-width: #{$break-point-desktop})';
$media-screen-desktop-large: '(min-width: #{$break-point-desktop-large})';

.fare-deal {
  background-color: #FAFAFA;

  .visible-xs {
    display: none;
  }

  &__row {
    margin-left: -$gutter;
    margin-right: -$gutter;

    &:before,
    &:after {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }
  }

  &__col {
    width: 33.333333%;
    padding-left: $gutter;
    padding-right: $gutter;
    float: left;

    &-offset {
      margin-left: 16.666667%;
    }

    &-md-8 {
      width: 66.666667%;
    }
  }

  &__header {
    font-size: 26px;
    color: #00266B;
    border-left: 3px solid #FF9F00;
    padding-left: $gutter;
    line-height: 20px;

    &-text {
      font-family: 'sigvar', Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 26px;
      display: inline-block;
      word-wrap: break-word;
      line-height: 22px;
      margin: 0;
    }
  }

  &__dropdown {
    position: relative;
    display: inline-block;
    font-family: 'sigvar', Helvetica, Arial, sans-serif;
    font-size: 26px;

    &.active {
      .fare-deal__dropdown-content {
        display: block;
      }
    }

    &.arrow {
      padding-right: 20px;

      &:hover {
        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 6px;
        right: 0;
        top: 10px;
        background-image: url('/assets/images/icons/arrow-down.png');
        background-size: cover;
        display: inline-block;
        transition: all linear 0.3s;
      }

      &.active {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &-content {
      display: none;
      position: absolute;
      min-width: 160px;
      margin-top: 15px;
      z-index: 1;
      background-color: #FAFAFA;
      border: 1px solid rgba($color: #222, $alpha: 0.05);
      box-shadow: 0 2px 2px rgba($color: #222, $alpha: 0.1);
    }

    &-input {
      margin: 15px;
      border: 1px solid #D8D8D8;
      height: 35px;
      padding-left: 5px;
      font-family: 'sigvar';

      &:focus {
        border: 1px solid #D8D8D8;
      }
    }

    &-item {
      background-color: #FFFFFF;
      color: #00266B;
      padding: 10px 15px;
      font-family: 'sigvar';
      margin: 0;
      font-weight: 400;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: #00266B;
        color: #FFFFFF;
      }
    }

    &-selected {
      font-family: 'sigvar', sans-serif;
      display: inline-block;
      text-decoration: underline;
    }
  }

  &__content {
    margin-top: 20px;
  }

  &__item {
    display: block;
    overflow: hidden;
    height: 288px;
    width: 100%;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 20px 20px 25px 20px;
    position: relative;
    box-shadow: 2px 4px 4px rgba($color: #000000, $alpha: 0.1);

    &--pull-right {
      float: right;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: url(http://localhost:8080/assets/images/bg-gradient.png) no-repeat bottom center;
      background-size: cover;
    }
  }

  &__description {
    &--wrapper {
      position: absolute;
      bottom: 25px;
      left: 20px;
      right: 20px;
      color: #FFFFFF;
      border-bottom: 1px solid rgba($color: #D8D8D8, $alpha: 0.2);
      letter-spacing: 1.2px;
    }

    &-country {
      text-transform: uppercase;
      font-size: 11px;
      border-left: 2px solid #FF9F00;
      padding-left: 5px;
      line-height: 12px;
      letter-spacing: 1px;
    }

    &-city {
      font-size: 30px;
      line-height: 40px;
    }

    &-price {
      font-size: 16px;
      padding-bottom: $gutter;
    }
  }

  &__viewmore {
    width: 100%;
    text-align: center;
    position: relative;

    &-link {
      display: inline-block;
      background-color: #2275D3;
      border-radius: 4px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1.5px;
      width: 297px;
      height: 50px;
      line-height: 50px;
      margin-bottom: 20px;

      &::before {
        content: "";
        width: 33.333333%;
        background-color: #E5E9F0;
        height: 2px;
        position: absolute;
        top: 25px;
        left: 0;
      }

      &::after {
        content: "";
        width: 33.333333%;
        background-color: #E5E9F0;
        height: 2px;
        position: absolute;
        top: 25px;
        right: 0;
      }
    }
  }

  &__guide {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: $gutter;

    &-item {
      display: flex;
      position: relative;
      align-items: center;
      width: 316px;
      height: 70px;
      float: left;
      border-radius: 4px;
      border: 1px solid #E5E9F0;
      background-color: #FFFFFF;
      margin-right: 20px;

      & img {
        margin-left: 50px;
        margin-right: 15px;
      }

      & span {
        font-size: 12px;
        color: #00266B;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        line-height: 17px;
      }
    }
  }

  &__excluesive {
    color: #FFFFFF;
    font-size: 9px;
    display: inline-block;
    text-align: right;
    line-height: 10px;
    letter-spacing: 0.56px;

    &-image {
      width: 10px;

      &--tag {
        width: 14px;
      }
    }
  }

  @media #{$media-screen-smallest} {
    padding: 15px 0;

    .hidden-xs {
      display: none;
    }

    .visible-xs {
      display: block;
    }

    &__header {
      &-text {
        line-height: 22px;
      }
    }
  }

  @media #{$media-screen-mobile} {
    padding: 15px 0;

    .hidden-sm {
      display: none;
    }

    .visible-sm {
      display: block;
    }

    &__col {
      width: 50%;

      &-offset {
        margin-left: 0;
      }
    }

    &-mobile {
      margin-top: 20px;

      &__row {
        display: flex;
        margin-left: -$gutter;
        margin-right: -$gutter;
      }

      &__col-xs-4 {
        width: 95px;
        padding: 0px $gutter;
        float: left;
      }

      &__col-xs-8 {
        width: 100%;
        padding: 0px $gutter;
      }

      &__item {
        display: block;

        &--wrapper {
          margin-bottom: 20px;
        }

        &-image {
          display: block;
          float: left;
          width: 80px;
          height: 80px;
          border-radius: 4px;
          background-size: cover;
          position: relative;
        }

        &-star {
          position: absolute;
          left: 10px;
          bottom: 10px;
          width: 20px;
          height: 20px;
        }
      }

      &__country {
        font-size: 10px;
        color: #666666;
        text-transform: uppercase;
        margin-top: 10px;
      }

      &__city {
        color: #00266B;
        font-weight: 600;
        line-height: 20px;
        font-size: 16px;
      }

      &__price {
        color: #222222;
        font-size: 14px;
        border-bottom: 1px solid rgba($color: #D8D8D8, $alpha: 0.6);
        padding-bottom: 15px;
      }
    }

    &__excluesive {
      color: #00266B;
      letter-spacing: 0.44px;
      font-size: 7px;
    }

    &__viewmore {
      &-link {
        width: 100%;
        margin-bottom: 0;

        &::before,
        &::after {
          display: none;
        }
      }
    }

    &__guide {
      &-item {
        display: none;
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }

  @media #{$media-screen-tablet} {

    &__col {
      &-offset {
        margin-left: 8.333333%;
      }

      &-sm-10 {
        width: 83.333333%;
      }
    }

    &__item {
      height: 221px;
    }

    &__viewmore {
      &-link {
        &::before,
        &::after {
          width: 28%;
        }
      }
    }

    &__description {
      &-price {
        font-size: 14px;
      }
    }

    &__guide {
      &-item {
        width: 280px;
      }
    }
  }

  @media #{$media-screen-desktop} {
    &__guide {
      &-item {
        width: 285px;
      }
    }
  }

  @media #{$media-screen-desktop-large} {
    &__item {
      height: 342px;
    }

    &__guide {
      margin-left: 50px;
    }
  }
}
