<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <% if (mode === 'production') { %>
    <link rel="stylesheet" href="/assets/style/bundle.min.css">
    <% } %>
</head>
<body>
    <a href="#main" class="skip-to-next">Skip to main content</a>
    <div id="app">
        <app-content></app-content>
    </div>
    <% if (embeddedJson) { %><script>
        var pageData = {};
        pageData = <%= JSON.stringify(embeddedJson) %>
    </script><% } %>
    <script src="/script/vendor.js"></script>
</body>
</html>