<div class="home-component">

	<component-loader ref="header" :components="headerComponent"></component-loader>

	<masthead-component></masthead-component>

	<div class="contents_wrapper">
		<div class="user-summary-panel-container container-center">
			<div class="kf-log-in-container" v-if="pageData.userData.userType == 'guest'">
				<img src="/assets/images/svg/profile.svg" class="logo_img">
				<span class="kf-log-in-container__span">Log in to enjoy reward flights, upgrades, exclusive benefits and a better booking
					experience.
				</span>
				<button class="kf-log-in-container__button button-kf-login" v-on:click="showLogin">LOG IN</button>
			</div>
			<div class="accordion__wrap membership_wrapper" :class="{'collapse':toOpenCollapse == ''}" v-else>
				<div class="user-data-container" @click="showMoreDetails('user')">
					<em class="ppsclub"></em>
					<span class="card_info">
						<span class="currentTier">{{ pageData.userData.currentTier }}</span> {{ pageData.userData.kfNumber }} |
						<span class="ffpMiles">{{ pageData.userData.ffpMiles | numberWithCommas }}</span> Krisflyer miles available
					</span>
					<a href="#" class="tooltip--inline">
						<span class="icon icon-info"></span>
					</a>
					<a href="#" class="chevron--inline">
						<em class="ico-chevron"></em>
					</a>
				</div>
				<div class="membership_content" v-if="toOpenCollapseContainer == 'user'">
					<div class="membership_content_details">
						<div class="content-wrapper">
							<span clas="membership-value">PPS Value ({{ pageData.userData.ppsValue.currency }})</span>
							<div class="bar_contents">
								<div class="slider slider--2">
									<div class="slider__inner">
										<div class="ui-slider-back">
											<div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
												<div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" :style="`width: ${percentageValue}%;`">
												</div>
												<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 65.0017%;" role="slider" tabindex="0">
													<aside class="tooltip tooltip-4 tooltip--info-1" style="display: none;">
														<em class="tooltip__arrow">
														</em><div class="tooltip__content">
															<p class="tooltip__text-2">Maximum payable with miles</p>
														</div>
													</aside>
		
												</a>
											</div>
										</div>
										<span class="line-bottom"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="membership_amount_content">
							<span class="value_amount">{{ pageData.userData.ppsValue.currentValue | numberWithCommas }}</span>
							<span class="amount_to">
								<span class="amount_info"><span class="amount">{{ pageData.userData.ppsValue.requalifyValue | numberWithCommas }}</span>
									to Solitare PPS club</span>
								<span class="by_date">BY <span class="date">{{ pageData.userData.ppsValue.requalifyDate | dateFormat }}</span></span>
							</span>
						</div>
					</div>
		
					<div class="additional_membership_info">
						<span class="additional_info">Additional
							<span class="amount">{{ pageData.userData.ppsValue.currency }} {{ pageData.userData.ppsValue.requalifyValue | numberWithCommas
								}}</span> required by
							<span class="date">{{ pageData.userData.ppsValue.requiredDate | completeDateFormat }}</span> to requalify as {{ pageData.userData.currentTier
							}}.
						</span>
						<a href="#" class="myAccount">
							<span class="profile-icon">
								<svg width="14px" height="15px" viewBox="0 0 14 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
									<title>icon/profile</title>
									<desc>Created with Sketch.</desc>
									<defs>
										<path d="M0,15 C0,11.6858599 2.92277487,9 5.58671466,9 L8.41328534,9 C11.0776069,9 14,11.6858599 14,15 L0,15 Z M7,8 C4.790861,8 3,6.209139 3,4 C3,1.790861 4.790861,0 7,0 C9.209139,0 11,1.790861 11,4 C11,6.209139 9.209139,8 7,8 Z"
											id="path-1"></path>
									</defs>
									<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="KF-PPS-Panel/default" transform="translate(-20.000000, -19.000000)">
											<g id="KF_PPS-Panel">
												<g id="icon/profile" transform="translate(20.000000, 19.000000)">
													<g id="color/lightgrey">
														<mask id="mask-2" fill="white">
															<use xlink:href="#path-1"></use>
														</mask>
														<use id="Mask" fill="#CCCCCC" fill-rule="nonzero" xlink:href="#path-1"></use>
														<g id="color/almostblack" mask="url(#mask-2)" fill="#222222">
															<rect id="Rectangle-3" x="0" y="0" width="15" height="15"></rect>
														</g>
													</g>
												</g>
											</g>
										</g>
									</g>
								</svg>
							</span>
							<span>Go to my account</span>
						</a>
					</div>
		
				</div>
			</div>
		</div>

		<component-loader :components="components"></component-loader>
	</div>
	
	<component-loader :components="asideComponents"></component-loader>

	<home-sections-component></home-sections-component>
	
	<footer-component :footerdata="pageData.footerData"></footer-component>
</div>
