@import "./src/assets/styles/atoms/import/_breakpoints";
@import "../../../assets/styles/components/accordion";
@import "../home-sections-baseline1/home-sections-baseline1.component";

.home-component {
    // & .contents_wrapper,
    // & .header-main,
    // & .footer {
    //     & .container-center {
    //         @extend .hp-container;
    //     }
    // }

    & .contents_wrapper {
        & .user-summary-panel-container {
            background-color: unset;
        }

        & .container-center {
            @extend .hp-container;
        }
    }

    & .user-summary-panel-container {
        background-color: rgba(255, 255, 255, 0.93); 
        border-radius: 2px;
    }

    & .kf-log-in-container {
        background-color: rgba(255, 255, 255, 0.93);
        border-radius: 2px;
    }

    & .tab-view-container {
        margin-bottom: calc(-10.6rem + 30px);
    }

    & .header_wrapper .masthead_wrapper {
        width: 100%;
        position: relative;
    }
}

.tab-view-container {
    transform: translateY(-10.6rem);
    position: relative;
    // Add z-index to fix calendar overlapz-index: 1;
}

.tab-title-container {
    cursor: pointer;
    // button {
    //     background:transparent;
    // }
    .tab-tittle {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.booking-container {
    position: relative;
    width: 100%;
}

.tab-title-content {
    padding: 15px;
    background: transparent;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.user-summary-panel-container {
    background-color: rgba(255,255,255,0.93);
    transform: translateY(-11.5rem);
    position: relative;
    border-radius: 2px;
}

.kf-log-in-container {
    padding: 12px 20px;
    .logo_img {
        float: left;
        margin-top: 6px;
        width: 14px;
        height: 15px;
    }
    .kf-log-in-container__span {
        font-size: 14px;
        margin-left: 20px;
    }
    .kf-log-in-container__button {
        float: right;
        margin-top: -2px;
    }
}

.membership_wrapper {
    max-height: 14.687rem;
}
.membership_wrapper.collapse {
    max-height: 3.25rem;

    .ico-chevron {
        transform: rotate(0deg)
    }
}
.form__label--e-ticket {
    &:after {
        left: 0.2em;
    }
}

.flight__update_selection {
    display: flex;
    .form_control .input_wrapper {
        // overlap input fix//margin-bottom: 10px;
        height: 54px;
    }
    .form_control .input_wrapper .form_field {
        // overlap input fixheight: 45px;
    }
}

.flight__update_selection .form_controls {
    display: flex;
}

.flight__update_selection > * {
    display: flex;
    flex-direction: column;
}

.banner__notification {
    margin: 4.25rem 0 0;
}

.flight_status__route .booking_actions {
    margin-top: 10px;
}

.banner__notification_copy {
    margin-left: 15px;
}

.flight_update__schedule .toggle__switch {
    margin-top: -4px;
}

.banner__image--flight-updates.banner__image {
    width: 42px;
    height: 39px;
}

.form_field_wrapper.flight_date .form_control {
    width: 100%;
}

.form_field_wrapper.flight_date .btn {
    margin-left: 15px;
}

.flight__update_selection .btn {
    height: 100%;
}

.flight_status__route {
    flex: 1 60%;
}

.form_field_wrapper.flight_od .control_group {
    width: 100%;
}

.flight__update_selection .form_fields_container.booking_actions {
    display: flex;
}

.form_field_wrapper.flight_od .form_controls {
    display: grid;
    grid-column-gap: 0.9em;
}

.flight__update_selection .flight--route .form_control {
    display: flex;
    margin-left: 0px;
}

.flight--route .form_control .input_wrapper {
    min-width: fit-content;
}

.flight__update_selection {
    display: grid;
    grid-template-columns: 16.5rem 1fr;
    grid-column-gap: 2.5rem;
}

.flight__update_selection > * {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flight__update_selection .form_field_wrapper.flight_date .form_controls {
    display: grid;
    grid-template-columns: 35% 35% 25%;
    grid-column-gap: 0.9rem;
}

.form_field_wrapper.flight_date .btn {
    margin: 0;
    width: 100%;
}

.flight__update_selection.by--flight-number .flight--route {
    grid-template-columns: 5.5em 1fr;
}

.flight__update_selection.by--flight-number .flight--route {
    display: flex;
}

.flight__update_selection.by--flight-number.control_group.flight__od {
    display: none;
}

.flight__update_selection.by--flight-number .flight--route .form_controls {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 0.9em;
}

.flight__update_selection.by--route .flight--route {
    grid-template-columns: 1fr;
}

.flight__update_selection.by--route .flight--route .flight__route--type, .flight__update_selection.by--route .flight--route .flight__route--number {
    display: none;
}

.flight__update_selection.by--route {
    grid-template-columns: 1.5fr 1fr;
}

.flight__update_selection.by--route .form_field_wrapper.flight_date .form_controls {
    grid-template-columns: 1.5fr 1fr;
}

.flight__update_selection.by--route .flight__od {
    width: 100%;
}

.flight__update_selection.by--route.flight_date .flight__od {
    display: none;
}

.form_control .input_wrapper select.form_field {
    padding: 13px 10px;
    font-weight: normal;
    outline: none;
    border: none;
}

.ppsclub {
    display: inline-block;
    vertical-align: middle;
    background: url(/assets/images/PPSClub.png) center center transparent no-repeat;
    width: 45px;
    height: 28px;
}

.user-data-container {
    padding: 11px 20px;
    
    .card_info {
        margin-left: 10px;
        vertical-align: middle;
    }
    .tooltip--inline {
        display: inline-block;
        vertical-align: middle;
        .icon {
            display: block;
            margin-left: 0;
        }
    }
    .chevron--inline {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .ico-chevron {
        display: block;
        background-size: 12px;
        width: 12px;
        height: 12px;
        transition: transform 0.4s;
        transform: rotate(180deg);
    }
}

.currentTier {
  font-size: 14px;
  font-weight: 600;
}

.ffpMiles {
  font-size: 14px;
  font-weight: 600;
}

.membership_content {
    background-color: #f1f1f1;
    padding: 20px;
    .membership_content_details {
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 20px;
        margin-bottom: 20px;
        .content-wrapper {
            display: grid;
            grid-template-columns: 1.5fr 10fr;
        }
        .membership_amount_content {
            display: grid;
            grid-template-columns: 2.5fr 1fr 1fr;
            margin-top: 10px;
            .value_amount {
                font-weight: 700;
                grid-column: 2;
                grid-row: 1;
            }
            .amount_to {
                grid-column: 3;
                grid-row: 1;
                .amount_info {
                    display: block;
                    font-weight: 700;
                }
                .by_date {
                    display: block;
                    float: right;
                    margin-right: 10px;
                }
            }
        }
    }
    .membership-value {
        grid-column: 1;
        grid-row: 1;
    }
    .bar_contents {
        .slider--2 {
            position: relative;
            top: 10px;
        }
        .slider .slider__inner {
            position: relative;
            padding-left: 10px;
            padding-right: 10px;
        }
        .ui-slider-back {
            border: 1px solid #ccc;
            border-radius: 20px;
            position: relative;
            top: -6px;
        }
        .slider--2 .ui-slider {
            background-color: #b6c0d1;
            border: none;
            border-radius: 20px;
            height: 12px;
        }
        .ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min {
            width: 65.0017%;
        }
        .slider .ui-slider-range {
            height: 12px;
            display: block;
            position: absolute;
            background-color: #00266b;
            z-index: 1;
            border-radius: 20px;
        }
    }
    .additional_membership_info {
        display: grid;
        grid-template-columns: 5fr 1fr;
        .additional_info {
            grid-column: 1;
            grid-row: 1;
            .amount {
                font-weight: 700;
            }
            .date {
                font-weight: 700;
            }
        }
        .myAccount {
            .profile-icon {
                margin-right: 5px;
                svg {
                    rect {
                        fill: #0254EC;
                    }
                }
            }
        }
    }
}

.upcoming_flights {
    .card_heading {
        display: grid;
        grid-template-columns: auto;
        .page_header {
            font-size: 1.25rem;
            -webkit-margin-before: 0em;
        }
        .view_bookings {
            grid-column: 2;
            grid-row: 1;
            text-align: right;
            -webkit-margin-before: 0em;
        }
    }
    .separator {
        height: 2px;
        margin-bottom: 1.25rem;
    }
}



.upcoming_flights_details {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 1em;
    .upcoming_flights_wrapper {
        border: 1px solid #ccc;
        border-radius: 4px;
        .flights-details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 21px 15px 25px 0;
            .booking_reference_name {
                grid-column: 1;
                grid-row: 1;
                border-left: 3px solid #FF9F00;
                font-family: "proxima-nova","Open Sans","Arial","Helvetica",sans-serif;
                font-weight: bold;
                font-size: 0.875rem;
                color: #00266B;
                padding-left: 15px;
                margin-bottom: 10px;
            }
            .manage-info {
                grid-column: 2;
                grid-row: 1;
                text-align: right;
                font-family: "proxima-nova","Open Sans","Arial","Helvetica",sans-serif;
                font-size: 0.875rem;
            }
            .flights_departure_destination {
                display: block;
                font-family: "proxima-nova","Open Sans","Arial","Helvetica",sans-serif;
                font-size: 1.125rem;
                font-weight: 550;
                color: #222222;
                padding-left: 19px;
                margin-bottom: 10px;
            }
            .date_month_year {
                grid-column: 1;
                grid-row: 3;
                font-family: "proxima-nova","Open Sans","Arial","Helvetica",sans-serif;
                font-size: 0.6875rem;
                color: #222222;
                padding-left: 19px;
                margin-bottom: 10px;
            }
            .status {
                grid-column: 1;
                grid-row: 4;
                .waitlisted {
                    font-family: "proxima-nova","Open Sans","Arial","Helvetica",sans-serif;
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: #DF0000;
                    padding-left: 19px;
                }
            }
            .status {
                grid-column: 1;
                grid-row: 4;
                .reserved {
                    font-family: "proxima-nova","Open Sans","Arial","Helvetica",sans-serif;
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: #03760B;
                    padding-left: 19px;
                }
            }
            .status {
                grid-column: 1;
                grid-row: 4;
                .available_confirmation {
                    font-family: "proxima-nova","Open Sans","Arial","Helvetica",sans-serif;
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: #BA5400;
                    padding-left: 19px;
                }
            }
        }
    }

    .retrieve_booking_manual {
        margin-top: 25px;
    }
}

.manage_booking_details {
    display: grid;
    grid-template-columns: 23rem 23rem 9.75rem;
    grid-column-gap: 0.9rem;
    .form_field_wrapper {
        .form_control {
            .booking-selection {
                .input_wrapper {
                    label {
                        top: 0.90em;
                    }
                }
            }
        }
    }
    .form_field_wrapper {
        button {
            padding: 1rem;
        }
    }
}

.flight_location {
  margin-bottom: 20px;
}

.control_group .flight-destination {
  margin-right: 0px;
}

.flight_date .control_group .search_button {
  width: 50%;
}

.search_button .btn {
  padding: 16px;
}

.field__radiobox {
    display: inline-block;
}

.btn-primary-mod {
    min-width: 155px;
}

.form_fields_container {
    .form__label-mod {
        margin-right: 30px;
    }
}

.tab-badge {
    background-color: #2275d3;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    margin-left: 10px;
}

.form_fields_container {
    .form_control.has-float-label {
        margin-right: 0;
    }
}

.form_fields_container.flight_boarding_details_flight_schedule {
    display: grid;
    grid-template-columns: 4fr 1.1fr;
    grid-column-gap: 0.9rem;

    .btn-primary {
        width: 100%;
        height: 3.125rem;
        float: right;
    }
}


/*-----Flight Status (Depart/Arrive)-----*/

.flight_update__schedule .form_controls .toggle__switch {
  margin-top: 0;
}

.flight__arrival_date .designed .input_wrapper {
    height: 53px;
}
/*-----end of Flight Status (Depart/Arrive)-----*/


/*-----Flight Schedule Calendar-----*/

.flight_boarding_details_flight_schedule .calendar {
    left: 0 !important;
    width: 100% !important;
}

.contents_wrapper {
  position: relative;
  z-index: 1;
}

.footer .footer_content {
    position: relative;
    z-index: 0;
}
/*-----Flight Schedule Calendar-----*/

/*-----Book Trip icon-info-----*/
.form_control .v-popover .icon-info {
    position: absolute;
    top: 0px;
    right: 2px;
}
/*-----end of Book Trip icon-info-----*/


/*-----for bus and rail icon-----*/
.bus {
  background: url(/assets/images/svg/bus.svg) center center transparent no-repeat;
  width: 21.82px;
  height: 19.95px;
  display: inline-block;
  transform: translatey(-5px);
  margin-right: 10px;
}

.rail {
  background: url(/assets/images/svg/rail.svg) center center transparent no-repeat;
  width: 21.82px;
  height: 19.95px;
  display: inline-block;
  transform: translatey(-5px);
  margin-right: 10px;

}

.suggestion-wrapper {
  display: inline-block;
}


.suggestions .suggestion__entry .from_city_code {
    color: #FFFFFF;
    text-transform: uppercase;
    background: #444;
    float: right;
    border-radius: 2px;
    font-weight: 600;
    position: relative;
    top: 0;
    width: 40px;
    text-align: center;
    font-size: 0.85em;
    padding: 1px;
}

    .manage_booking_details {
        display: grid;
        grid-template-columns: 38.5% 38.5% 20%;
        grid-column-gap: 0.9rem;
    }


/*-----end of bus and rail icon-----*/


.bg-gradient {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    background-position: center center;
    height: 100%;
    background-size: cover;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0px;
}

.masthead_copy {
    position: relative;
    z-index: 2;
}




// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices) and (max-width:767px) {
    .manage_booking_details .form_field_wrapper .form_control .booking-selection .input_wrapper label{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 60%;
    }
    
    .header_wrapper .masthead_wrapper {
        width: 100%;
        
    }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) and (max-width: 991px) {
    .kf-log-in-container__button.button-kf-login{
        margin-top: -24px;
        transform: translate(10px);
    }
    .manage_booking_details .form_field_wrapper .form_control .booking-selection .input_wrapper label{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 60%;
    } 
    .header_wrapper .masthead_wrapper {
        width: 100%;
    }
    .booking_actions--main .form_control {
        margin-right: 22px;
    }

    .kf-log-in-container__button.button-kf-login {
        margin-top: -2px;
    }
    .home-component .kf-log-in-container {
        margin: 0 20px;
    }
    .home-component .contents_wrapper .container-center, 
    .home-component .footer .container-center {
        max-width: 100%;
    } 
    .home-component .contents_wrapper .container-center {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
        background: transparent;
    } 
    .kf-log-in-container .kf-log-in-container__span {
        margin-left: 12px;
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) and (max-width: 1199px) {
.kf-log-in-container .kf-log-in-container__button {
        float: right;
        // margin-top: -2px;
        margin-right: -10px;
    }
    .home-component .contents_wrapper .container-center {
        background: transparent;
    }

    .booking_actions--secondary {
            display: block;
        .form_control:last-child {
            margin-right: 0;
            position: relative;

            &:before {
                border-left: none;
            }
        }
    }
    .user-data-container {
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.93);
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) {
   .tab-view-container.container-center {
        max-width: 67.5rem;
    }
    .user-summary-panel-container.container-center {
        max-width: 67.5rem;
    }
}
