<div class="home-baseline1-component">

	<!-- <component-loader ref="header" :components="headerComponent"></component-loader> -->

  <fare-deal-baseline1-component></fare-deal-baseline1-component>

  <promotions-component></promotions-component>

  <experience-baseline1-component></experience-baseline1-component>

  <trip-card-component></trip-card-component>

  <news-baseline1-component></news-baseline1-component>

  <popular-links-component></popular-links-component>

  <sign-up-component></sign-up-component>

  <!-- <footer-component :footerdata="pageData.footerData"></footer-component> -->
</div>
