$gutter: 10px;
// screen break points
$break-point-mobile: 576px;
$break-point-tablet: 768px;
$break-point-desktop: 992px;
$break-point-desktop-large: 1200px;

$media-screen-smallest: '(max-width: #{$break-point-mobile - 1})';
$media-screen-mobile: '(max-width: #{$break-point-tablet - 1})';
$media-screen-tablet: '(min-width: #{$break-point-tablet}) and (max-width: #{$break-point-desktop - 1})';
$media-screen-desktop: '(min-width: #{$break-point-desktop})';
$media-screen-desktop-large: '(min-width: #{$break-point-desktop-large})';

.news-b1 {
  overflow: hidden;
  background-color: #FAFAFA;

  &__col {
    width: 50%;
    padding-left: $gutter;
    padding-right: $gutter;
    float: left;
  }

  &__row {
    margin-right: -$gutter;
    margin-left: -$gutter;

    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  &__header {
    border-left: 3px solid #FF9F00;
    display: flex;

    &-text {
      font-family: 'sigvar', Helvetica, Arial, sans-serif;
      font-size: 26px;
      color: #00266B;
      font-weight: 400;
      line-height: 20px;
      padding-left: $gutter;
      margin: 0;
      width: 50%;
    }
  }

  &__read-all {
    text-align: right;
    font-size: 14px;
    width: 50%;
    position: relative;
    padding-right: 10px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 6px;
      width: 7px;
      height: 9px;
      background-image: url("/assets/images/arrow-right-blue.png");
      background-size: cover;
    }
  }

  &__content {
    margin-top: 20px;
  }

  &__item {
    border-top: 1px solid #00266B;
    padding: 20px 0;

    &-title {
      color: #222222;
      display: block;
      font-size: 24px;
      margin-top: 5px;
      margin-bottom: 15px;
      line-height: 32px;
    }

    &-date {
      display: block;
      font-size: 11px;
      line-height: 15px;
      color: #666666;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &-description {
      font-size: 14px;
      line-height: 20px;
      color:#222222;
      margin-top: 6px;
      display: block;
    }
  }

  &__read-more {
    font-size: 14px;
    line-height: 19px;
    color: #0254EC;
    display: block;
    margin-top: -5px;
    margin-bottom: 20px;
  }

  @media #{$media-screen-mobile} {
    &__col {
      width: 100%;
    }

    .hidden-xs {
      display: none;
    }
  }

  @media #{$media-screen-tablet} {
    .hidden-md {
      display: none;
    }

    &__col {
      width: 100%;

      &-6 {
        width: 50%;
        float: left;
        padding-right: 10px;
        padding-left: 10px;
      }
    }

    &__row {
      &--tablet {
        margin-right: -$gutter;
        margin-left: -$gutter;
      }
    }
  }
}
