<section class="hp-section news-b1">
  <div class="hp-container" v-if="data">
    <div class="news-b1__header">
      <h3 class="news-b1__header-text">{{ data.header }}</h3>
      <a :href="data.readAlllink" class="news-b1__read-all link hidden-md hidden-xs">{{ data.readAlllinkDescription }}
      </a>
    </div>

    <div class="news-b1__content">
      <div class="news-b1__row">
        <div class="news-b1__col">
          <div class="news-b1__item" v-for="item in data.news" v-if="item.isFavorite">
            <a :href="item.link">
              <span class="news-b1__item-date">{{ item.date }}</span>
              <span class="news-b1__item-title">{{ item.heading }}</span>
              <span class="news-b1__item-description" v-html="item.desc"></span>
            </a>
          </div>
          <a :href="data.readMoreLink" class="news-b1__read-more">{{ data.readMoreDescription }}
          </a>
        </div>
        <div class="news-b1__col">
          <div class="news-b1__row--tablet">
            <div class="news-b1__col-6" v-for="item in data.news" v-if="!item.isFavorite">
              <div class="news-b1__item">
                <a :href="item.link" class="news-b1__item">
                  <span class="news-b1__item-date">{{ item.date }}</span>
                  <span class="news-b1__item-description" v-html="item.heading"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
