<div class="wrapper-app">

	<component-loader ref="header" :components="headerComponent"></component-loader>
	 
	<progress-bar-component :items="pageData.progressData"></progress-bar-component>
	
	<div class="main">
		<div class="cib-fare-calendar">
			<div class="container-center">
				<div class="page_header--wrap">
					<h1 class="page_header">Select alternative date(s)</h1>
				</div>
				<div class="fare-calendar-header">
					<h2 class="fc-title">{{ fareDetails.originCityName }} to {{ fareDetails.destinationCityName }} – {{ fareDetails.tripType
						=== 'R' ? 'Return' : '' }}</h2>
					<div class="fc-paragraph">
						<p class="fc-paragraph_content">There may be no flights and/or seats for the journey you've selected. To proceed, select
							alternative date(s).
						</p>
						<p class="fc-paragraph_content">Each fare shown here is the lowest available for the date, and for the entire journey,
							selected fare type, and one adult only.
						</p>
					</div>
				</div>
				<div class="fare-calendar-legend">
					<ul>
						<li>
							<span class="fc-legend fc-legend_secleted"></span>Selected</li>
						<li>
							<span class="fc-legend fc-legend_lowest-fare">
								<span class="status-label"></span>
							</span>Lowest fare</li>
					</ul>
				</div>
				<section class="flight-calendar-content">
					<form action="" class="flight-calendar-content-calendar">
						<fieldset class="">
							<div class="fc-side-horizontal">
								<a href="" class="fc-side-horizontal_prev">
									<span>
										<span class="ico-chevron ico-chevron--size ico-chevorn--rotation-left"></span>
										Prev
										<span class="number">7</span>
										days
									</span>
								</a>
								<a href="" class="fc-side-horizontal_next">
									<span>Next
										<span class="number">7</span>
										days
										<span class="ico-chevron ico-chevron--size"></span>
									</span>
								</a>
							</div>
							<div class="fc-side-vertical">
								<a href="" class="fc-side-vertical_prev">
									<span>
										<span class="ico-chevron ico-chevron--size ico-chevron--block ico-chevorn--rotation-top"></span> Prev
										<span class="number">7</span>
										days
									</span>
								</a>
								<a href="" class="fc-side-vertical_next">
									<span>
										Next
										<span class="number">7</span>
										days
										<span class="ico-chevron ico-chevron--size ico-chevron--block ico-chevorn--rotation-down"></span>
									</span>
								</a>
							</div>
							<table class="fc-calendar-table">
								<tr>
									<th></th>
									<th v-for="ret in calendarReturnDate" class="fc-date-table-header hidden-tb hidden-dp" v-bind:class="{active : checkReturnDate(ret)}">
										Return
										<br>
										<span>{{ret}}</span>
									</th>
								</tr>
								<tr v-for="date in calendar">
									<th class="fc-date-table-header hidden-tb hidden-dp" v-bind:class="{active : date.isActive}">
										Depart
										<br>
										<span>{{date.departureDate}}</span>
									</th>
									<td v-on:click="calendarOnClick(ret, date)" v-for="ret in date.return" class="fc-date-table-price hidden-tb hidden-dp" v-bind:class="{active: ret.isActive}">
										<div class="fc-date-table-price_content">
											<input type="radio" v-model="ret.isActive" class="custom-checkbox-1">
											<label for="">
												<span class="label-price">{{ fareDetails.currency.code }} {{ ret.fare.toString().replace(/\B(?=(\d{3})+(?!\d))/g,
													",") }}</span>
											</label>
										</div>
										<span v-if="ret.isLowestFare === 'true'" class="fc-available-lowest-fare"></span>
										<div class="fc-date-date-table-hover"></div>
									</td>
								</tr>
							</table>
						</fieldset>
						<div class="btn-submit--position">
							<input type="submit" class="btn btn-primary" :disabled="buttonNextActive == 0" v-bind:class="{'btn-disabled' : !buttonNextActive}" value="Next">
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>

	<footer-component :footerdata="pageData.footerData"></footer-component>

</div>
