.calendar-root.mobile {
    .calendar {
        overflow: inherit;
        height: auto;
    }
    
    .calendar-wrap {
        min-height: 100%;
        height: inherit;
    }
    
    .calendar-wrap, .calendar_month_left {
        display: block;
    }
}