<div class="calendar-root mobile">
    <div class="one_way_wrapper">
        <div class="one_way_link">
            <input v-model="oneWay" value="false" type="checkbox" id="oneway_id" @click="onOneWay">
            <label for="oneway_id" class="form-label">One-way</label>
        </div>
        <div class="reset">
            <a @click="resetDate"><em class="reset-icon"></em>Reset</a>
        </div>
    </div>
    <div class="control_group">
        <div class="form_control">
            <slot name="depart-input" :openCalendar="openCalendar" :blurFocus="blurFocus" :startDate="startDate">
                <input readonly type='text' @focus="openCalendar('start', $event)" @blur="blurFocus" v-model="startDate" />
            </slot>
        </div>
        <div class="form_control" v-if="!oneWay">
            <slot name="arrival-input" :openCalendar="openCalendar" :blurFocus="blurFocus" :endDate="endDate">
                <input readonly type='text' @focus="openCalendar('end', $event)" @blur="blurFocus" v-model="endDate" />
            </slot>
        </div>
    </div>
    <div class="calendar-wrap">
        <div class="calendar_month_left">
            <ul :class="s.daysWeeks">
                <li v-for="item in shortDaysLocale" :key="item">{{item.charAt(0)}}</li>
            </ul>
        </div>
    </div>

    <div class="calendar">
        <div class="calendar-wrap" v-for="(num, monthIdx) in showMonthsNumber">
            <div class="calendar_month_left">
                <div class="months-text">
                    {{monthsLocale[activeMonthStart$(activeMonthStart, monthIdx)] +' '+ activeYearStart$(activeMonthStart, activeYearStart, monthIdx)}}</div>
                <ul v-for="r in 6" :class="[s.days]" :key="r">
                    <li :ref="`calendarDay_${activeMonthStart$(activeMonthStart, monthIdx)}_${activeYearStart$(activeMonthStart, activeYearStart, monthIdx)}_${r}_${i}`" 
                        :class="[{
                            [s.daysSelected]: isDateSelected(r, i, activeMonthStart$(activeMonthStart, monthIdx), activeYearStart$(activeMonthStart, activeYearStart, monthIdx)),
                            [s.daysInRange]: isDateInRange(r, i, activeMonthStart$(activeMonthStart, monthIdx), activeYearStart$(activeMonthStart, activeYearStart, monthIdx))
                        },
                        ...isDateDisabled(r, i, startMonthDay$(monthIdx), endMonthDate$(monthIdx), activeMonthStart$(activeMonthStart, monthIdx), activeYearStart$(activeMonthStart, activeYearStart, monthIdx))]"
                        v-for="i in numOfDays" 
                        :key="i" 
                        v-html="getDayCellOverride(getDayCell, r, i, startMonthDay$(monthIdx), endMonthDate$(monthIdx), isDateDisabled, activeMonthStart$(activeMonthStart, monthIdx), activeYearStart$(activeMonthStart, activeYearStart, monthIdx))"
                        @click="selectFirstItem$(r, i, startMonthDay$(monthIdx), activeMonthStart$(activeMonthStart, monthIdx), activeYearStart$(activeMonthStart, activeYearStart, monthIdx))">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>