@import "./src/assets/styles/atoms/import/_color_palette";
@import "./src/assets/styles/atoms/typography/_typography_variables";
@import "./src/assets/styles/atoms/typography/_typography";
@import "./src/assets/styles/atoms/import/_breakpoints";


.masthead {
    
    /* width: $global-content-width; */
    width: 61.75em;
    margin: 0 auto;
    
    &_wrapper {
        background-image: url(/assets/images/masthead-background.png);
        background-position: center center;
        height: 27em;
        background-size: cover;
    }

    &_copy {

        padding-top: 5.313em;
        color: $gandalf;

        .masthead_intro_copy {
            /*  @extend .small; */
            letter-spacing: 2px;
            font-weight: 200;
            font-size: 1.115em;
        }
        
        .masthead_heading {
            /* @extend .page_header; */
            font-family: 'sigvar', sans-serif;
            font-size: 3.56em;
            color: inherit;
            padding: 0;
            margin: 5px 0 10px;
            font-weight: 200;

        }

        .masthead_price_copy {
            color: $gandalf;
            
            margin: 0;
            font-size: 1.2em;
            color: inherit;
            font-weight: 200;   

            .masthead_ticket_price {
                text-decoration: none;
                text-shadow: none;
                color: inherit;
            }

            .icon.icon--chevron_left:before {
                content: ">";
                font-style: normal;
                font-weight: 100;
            }
    
        }
        
    }
    
}

.header_wrapper {
    width: 100%;
.masthead_wrapper {
    width: 101%;
}

}


// Extra Small devices (320px up)
@media (min-width: $breakpoint-extra-small-devices) and (max-width: 575px){
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-small-devices) and (max-width:767px){ 
    .masthead{
        width:100%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $breakpoint-medium-devices) and (max-width: 991px) {
    .masthead{
        width: 100%;
    }
    .masthead_copy {
        margin: 0 38px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: $breakpoint-large-devices) and (max-width: 1199px){
    .masthead{
        width: 57.5rem;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $breakpoint-extra-large-devices) {

}

