<div class="header_wrapper">
	<div class="masthead_wrapper">
		<div class="component_masthead masthead">
			<div class="masthead_copy">

				<span class="masthead_intro_copy heading_intro_copy">
				EXPLORE THE CITYSCAPES
				</span>
				<h1 class="masthead_heading heading_1">San Francisco</h1>
				<p class="masthead_price_copy">
					Economy return from
					<!-- <a class="masthead_ticket_price" href="#"> -->
						<strong>
							<span class="currency_unit">SGD</span>
							<span class="ticket_price">1,299</span>
							<!-- <i class="icon icon--chevron_left"></i> -->
						</strong>
					<!-- </a> -->
				</p>
			</div>

		</div>
		<div class="bg-gradient"></div>
	</div>
</div>